.timeline {
    border-top: 4px solid #022169;
    position: relative;
    margin: 30px 0 0;

    ul {
        display: flex;
        padding: 0;
        margin: 0 0 0;

        li {
            list-style: none;
            font-size: 15px;
            font-weight: 700;
            padding-top: 10px;
            flex: 0 0 25%;
            max-width: 25%;
            position: relative;
            white-space: nowrap;

            &:last-child {
                margin-left: -12px;
            }

            &.active {
                &:before {
                    background: #022169;
                }

                &:after {
                    display: block;
                }
            }

            &:before {
                content: "";
                width: 16px;
                height: 16px;
                border: 3px solid #022169;
                border-radius: 50%;
                position: absolute;
                top: -10px;
                left: -3px;
                background: #fff;
            }
            &:last-child {
                span.txt {
                    position: absolute;
                    right:90%;
                }
            }
        }
    }

    &.feel_time {
        ul {
            li {
                &:after {
                    content: "Current Feeling";
                    position: absolute;
                    top: -32px;
                    left: -18%;
                    font-size: 12px;
                    font-weight: 400;
                    display: none;
                    font-style: italic;
                }

                &:first-child {
                    &:after {
                        left: -5px;
                    }
                }

                &.active {
                    &:after {
                        display: block;
                    }
                }
            }
        }
    }
}

.academic {
    .class {
        margin-left: -1px;
        margin-bottom: 0;
    }

    .timeline {
        margin-top: 25px;
    }
}

.observation_table table td {
    white-space: normal;

    &.content_set {
        @media (max-width: 1450px) {
            p {
                width: 300px;
            }
        }
    }

    .view_btn {
        width: auto;
        display: flex;
        align-items: center;
        i {
            padding-right: 5px;
        }
    }
}

.iep_table {
    .type {
        text-transform: capitalize;
    }
}

// .login_btn {
//     max-width: 180px;
// }

.attendence_record {
    padding-top: 15px;

    .inner {
        display: flex;

        .type {
            padding-right: 15px;
            text-transform: capitalize;
        }
    }
}

.flex-inner {
    align-items: flex-end;

    .login_btn {
        height: 38px;
        margin-left: 15px;
    }
}

.no_result {
    color: red;
}

.attendance_card {
    @media (max-width: 567px) {
        .flex-inner {
            flex-direction: column;
            align-items: flex-start;
        }

        .month_select {
            padding-left: 0 !important;
            padding-top: 10px;
            width: 100%;
        }
        .login_btn {
            margin-left: 0;
            margin-top: 10px;
        }
    }
}
.p_m_0 {
    p {
        margin: 0;
    }
}
.custom-select {
    option:first-child {
        display: block !important;
    }
}
.errorSet {
    position: relative;
    .validation {
        position: absolute;
        bottom: -22px;
        left: 0;
        display: block;
        font-size: 12px;
        color: red;
    }
}
.month_select {
    .validation {
        left: 1rem;
    }
}
#noteModal {
    .date {
        font-size: 12px;
        color: #022169;
    }
}
.observation_table {
    .table-responsive {
        max-height: 620px;
        overflow-y: auto;
    }
}
.iep_table{
    max-height: 350px;
    overflow-y: auto;
    table{
        tr{
            td{
                vertical-align: baseline;
            }
        }
    }
   
}
.staff-data{
    overflow-y: auto;
}
.assign-btn{
    width: 100px;
}
.subject-content{
    white-space:inherit;
    word-break: break-all;
    
}
#staff-info{
    tr{
     
           &:first-child{
               td{
                border-top:unset;
               }
        }
    }
}

#academic{
    .academic-detail{
        .para-border{
            border-top:1px solid #e8e8e8;
            padding-top: 25px;
        }
        &:first-child,&:nth-child(2){
            .para-border{
                border-top:unset;
                padding-top: 0;
            }
        }
       
    }
}
#noteModal{
    .modal-body{
        overflow-y: auto;
        height: 100%;
        max-height: 400px;
        .border-line{
            p{
                border-top:1px solid #e8e8e8;
                padding-top: 25px;
            }
           &:first-child{
               p{
                border-top:unset;
                padding-top:0;
               }
                
            }
        }
    }
}
.date{
    font-size: 12px;
    color: #022169;
    font-weight:500;
    padding-top: 10px;
    margin-bottom:0;
}