<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item" *ngIf="breadcrumb_student">
                                            <a [routerLink]="['/student-list']">Student List</a>
                                        </li>
                                        <li class="breadcrumb-item" *ngIf="breadcrumb_class">
                                            <a [routerLink]="['/class-view', class_id]">Class View</a>
                                        </li>
                                        <li class="breadcrumb-item active">Student View</li>
                                    </ol>
                                </div>
                                <h4 class="page-title"> <span>
                                    <svg id="Layer_1" enable-background="new 0 0 512 512" height="512"
                                    viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
                                    <g>
                                        <path
                                            d="m307.393 300.861c21.199-12.383 37.564-32.175 45.514-55.802.352.009.704.027 1.056.027 21.554 0 39.09-17.536 39.09-39.09 0-20.118-15.279-36.73-34.841-38.855v-16.951c7.172-7.223 24.637-29.412 21.09-71.552-1.438-17.09-7.749-30.412-18.759-39.597-14.114-11.775-31.87-13.029-39.427-13.011-9.321-8.71-42.93-35.781-88.365-22.363-8.786 2.596-17.188 5.987-25.683 10.368-3.689 1.903-5.137 6.434-3.235 10.122 1.903 3.688 6.434 5.137 10.122 3.235 7.644-3.942 15.185-6.989 23.052-9.312 43.537-12.861 74.366 19.332 75.644 20.696 1.583 1.704 3.893 2.577 6.204 2.37.186-.019 18.973-1.559 32.149 9.511 7.755 6.515 12.237 16.354 13.321 29.243 2.721 32.335-8.474 50.18-14.563 57.339-14.983-11.636-28.53-35.748-28.677-36.013-2.622-5.143-10.703-5.055-13.221.163-10.992 20.965-31.191 29.292-42.743 32.449-1.24-16.068-11.486-28.817-12.014-29.463-2.781-3.58-8.639-3.659-11.509-.156-31.659 36.693-72.973 36.738-77.572 36.631-.926-.023-1.854-.176-2.758-.452-13.076-4.003-26.035-15.496-34.501-24.295 28.068-4.837 38.368-24.237 38.86-25.196 2.689-4.851-1.393-11.285-6.912-10.94-12.182.377-20.802-4.117-26.332-13.714-1.385-2.403-2.403-4.852-3.148-7.088 26.947 1.332 43.469-7.084 59.235-16.663 3.547-2.155 4.675-6.777 2.52-10.323-2.154-3.547-6.776-4.675-10.323-2.52-15.914 9.67-31.407 17.372-59.926 13.652-4.543-.708-8.887 3.37-8.469 7.948.03.455.808 11.27 6.777 21.943 4.276 7.648 11.777 16.304 24.622 19.993-8.468 6.327-19.329 9.333-32.314 8.929-6.125-.387-10.088 7.311-6.207 12.067.966 1.268 23.122 30.016 48.638 39.519v13.433c-19.562 2.125-34.841 18.737-34.841 38.855 0 21.554 17.536 39.09 39.09 39.09.352 0 .704-.018 1.056-.027 7.949 23.627 24.314 43.419 45.514 55.802-60.573 8.216-107.415 60.264-107.415 123.054v15.61c0 4.15 3.364 7.514 7.514 7.514s7.514-3.364 7.514-7.514v-15.61c0-29.3 11.606-55.938 30.458-75.566l96.64 106.337c8.48 9.747 24.885 9.747 33.364 0l31.585-34.754c2.791-3.071 2.564-7.823-.507-10.614-3.07-2.792-7.823-2.564-10.614.507l-31.585 34.754c-2.822 3.259-8.3 3.259-11.121 0l-96.636-106.333c4.375-3.459 9.021-6.587 13.899-9.353l82.738 91.04c2.826 3.251 8.296 3.25 11.121 0l82.738-91.04c4.878 2.767 9.524 5.895 13.899 9.353l-44.827 49.326c-2.791 3.071-2.564 7.823.507 10.614 3.062 2.785 7.817 2.571 10.614-.507l44.83-49.329c18.853 19.628 30.458 46.266 30.458 75.566v73.057h-44.741v-58.633c0-4.15-3.364-7.514-7.514-7.514s-7.514 3.364-7.514 7.514v58.633h-168.023v-58.633c0-4.15-3.364-7.514-7.514-7.514s-7.514 3.364-7.514 7.514v58.633h-44.741v-27.391c0-4.15-3.364-7.514-7.514-7.514s-7.514 3.364-7.514 7.514v34.905c0 4.15 3.364 7.514 7.514 7.514h302.589c4.15 0 7.514-3.364 7.514-7.514v-80.571c-.001-62.793-46.843-114.841-107.416-123.057zm-39.847 32.78h-23.092l-4.264-18.889h31.62zm110.478-127.645c0 12.331-9.325 22.52-21.293 23.898.969-5.642 1.48-11.438 1.48-17.353v-30.224c11.248 2.014 19.813 11.861 19.813 23.679zm-244.048 0c0-11.817 8.566-21.665 19.813-23.679v30.224c0 5.914.511 11.711 1.48 17.353-11.968-1.379-21.293-11.567-21.293-23.898zm34.84 6.545v-56.769c13.328-.687 47.859-5.381 77.288-34.389 2.658 5.316 5.186 12.789 3.652 20.214-.482 2.334.172 4.759 1.763 6.535 1.591 1.775 3.93 2.683 6.303 2.466 1.588-.15 35.383-3.68 56.597-31.594 6.438 9.703 17.022 23.79 28.764 32.007v61.53c0 48.073-39.111 87.183-87.184 87.183s-87.183-39.11-87.183-87.183zm52.566 102.211h3.401l5.996 26.562-5.264 28.85-43.635-48.013c12.257-4.774 25.578-7.399 39.502-7.399zm34.618 88.954-17.761-19.544 6.476-35.494h22.571l6.476 35.494zm30.484-33.542-5.264-28.85 5.996-26.562h3.401c13.924 0 27.245 2.625 39.501 7.399z" />
                                        <path
                                            d="m256 260.779c26.662 0 34.723-18.737 35.074-19.588.001-.002.002-.004.003-.006 2.124-4.773-1.652-10.532-6.913-10.414-3.125 0-5.802 1.913-6.929 4.631-.379.803-5.247 10.377-21.235 10.377-15.983 0-20.853-9.57-21.235-10.377-1.127-2.718-3.804-4.631-6.929-4.631-5.261-.118-9.036 5.642-6.912 10.414.001.001.002.004.003.006.35.851 8.411 19.588 35.073 19.588z" />
                                        <path
                                            d="m210.199 176.049c-4.142 0-7.5 3.358-7.5 7.5v21.19c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-21.19c0-4.142-3.358-7.5-7.5-7.5z" />
                                        <path
                                            d="m301.801 212.24c4.142 0 7.5-3.358 7.5-7.5v-21.19c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v21.19c0 4.142 3.358 7.5 7.5 7.5z" />
                                    </g>
                                </svg>
                                        Student </span> - {{ studentModel.name }}<br>
                                </h4>
                            </div>
                            <div class="content_area">
                                 <!-- Success msg html -->
                                 <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                                    {{ successMessage }}
                                </div>
                                <!-- Error msg html -->
                                <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                                    {{ errorMessage }}
                                </div>
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h6>Main Information</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Name:</b> <br><span>{{ studentModel.name }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Username:</b> <br><span>{{ studentModel.username }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Email:</b> <br><span>{{ studentModel.email }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Grade:</b>
                                                    <br><span>{{ (studentModel.primaryGrade != '')? studentModel.primaryGrade : '--' }}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h6>Contact Information</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Home Phone:</b> <br><span>{{ studentModel.home_phone }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Work Phone:</b> <br><span>{{ studentModel.work_phone }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>SMS:</b> <br><span>{{ studentModel.sms }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Preferred Contact:</b>
                                                    <br><span>{{ (studentModel.preferred_contact_method != '')? studentModel.preferred_contact_method : '--' }}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h6>Additional Information</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Birth Date:</b> <br><span>{{ studentModel.birthDate }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Gender:</b> <br><span>{{ studentModel.sex }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Place of Birth:</b>
                                                    <br><span>{{ studentModel.cityOfBirth+', '+studentModel.stateOfBirthAbbreviation+', '+studentModel.countryOfBirthCode }}</span>
                                                </p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Parent Name:</b> <br><span>{{ (studentModel.parentName != '')? studentModel.parentName : '--' }}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">  
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>American Indian / Alaska Native :</b> <br><span>{{ (studentModel.americanIndianOrAlaskaNative != '')? studentModel.americanIndianOrAlaskaNative : '--' }}</span>
                                                </p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Asian :</b> <br><span>{{ (studentModel.asian != '')? studentModel.asian : '--' }}</span>
                                                </p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>White:</b> <br><span>{{ (studentModel.white != '')? studentModel.white : '--' }}</span>
                                                </p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Black Or African American :</b> <br><span>{{ (studentModel.blackOrAfricanAmerican != '') ? studentModel.blackOrAfricanAmerican : '--' }}</span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Hispanic Or Latino Ethnicity :</b> <br><span>{{ (studentModel.hispanicOrLatinoEthnicity != '')? studentModel.hispanicOrLatinoEthnicity : '--' }}</span>
                                                </p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Native Hawaiian Or Other Pacific Islander :</b> <br><span>{{ (studentModel.nativeHawaiianOrOtherPacificIslander != '')? studentModel.nativeHawaiianOrOtherPacificIslander : '--' }}</span>
                                                </p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Language :</b> <br><span>{{ (studentModel.preferred_language != '')? studentModel.preferred_language : '--' }}</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3" *ngIf='!menushow'>
                                    <div class="card-header">
                                        <h6>Assign Staff Members</h6>
                                    </div>
                                    <div class="card-body staff-data">
                                        <div class="row border-top border-bottom py-2 mb-3"> 
                                            <div class="col-3" >
                                                <p class="mb-0"><b>Name</b></p>
                                            </div>
                                            <div class="col-3" >
                                                <p class="mb-0"><b>Email</b></p>
                                            </div>
                                            <div class="col-3" >
                                                <p class="mb-0"><b>Username</b></p>
                                            </div>
                                            <div class="col-3" >
                                                <p class="mb-0"><b>Action</b></p>
                                            </div>
                                        </div>    
                                        <div >
                                            <div class="row align-items-center p_m_0 pb-3" *ngFor="let item of members; let i = index;">
                                                <div class="col-3" >
                                                    <p><span>{{ item.name }}</span></p>
                                                </div>
                                                <div class="col-3">
                                                    <p><span>{{ item.email }}</span></p>
                                                </div>
                                                <div class="col-3">
                                                    <p><span>{{ item.username }}</span></p>
                                                </div>  
                                                <div class="col-3">
                                                    <p><span><button class="btn btn-primary assign-btn" (click)='assignStaffMember(item.id)'>{{ (item.status == 1)? 'Assigned' : 'Assign' }}</button></span></p>
                                                </div>                          
                                            </div>                     
                                        </div>
                                    </div>
                                </div>
                                <!-- Student feeling  -->
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h6>Today's Feeling</h6>
                                    </div>
                                    <div class="card-body pos-r">
                                        <span *ngIf="feelingShowLoader">
                                            <app-loader></app-loader>
                                        </span>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-6" *ngFor="let item of feeling; let i = index;">
                                                <!-- <p><b><a>{{ item.feeling}}</a></b></p> -->
                                                <div class="timeline feel_time">
                                                    <ul>
                                                        <li [className]="item.feeling == 1? 'active' : '' "> <span class="txt">Not feeling</span>
                                                            it</li>
                                                        <li [className]="item.feeling == 2? 'active' : '' "></li>
                                                        <li [className]="item.feeling == 3? 'active' : '' "></li>
                                                        <li [className]="item.feeling == 4? 'active' : '' "></li>
                                                        <li [className]="item.feeling == 5? 'active' : '' "><span class="txt">I got this</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <span *ngIf="feelingShow" style="color: red; text-align: center;" class="text-center">
                                                    No feeling today
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3 academic">
                                    <div class="card-header">
                                        <h6>Academic Behaviour Performance</h6>
                                    </div>
                                    <div class="card-body pos-r" id="academic">
                                        <span *ngIf="academicShowLoader">
                                            <app-loader></app-loader>
                                        </span>
                                        <div class="row">
                                            <div class="col-md-6 academic-detail"
                                                *ngFor="let item of academic; let i = index;">
                                                <p class="class para-border mt-2"><a>{{ item.className}}</a></p>
                                                <!-- <p><b><a>{{ item.performance}}</a></b></p> -->
                                                <div class="timeline">
                                                    <ul>
                                                        <li [className]="item.performance == 1? 'active' : '' ">
                                                            Concerning</li>
                                                        <li [className]="item.performance == 2? 'active' : '' "></li>
                                                        <li [className]="item.performance == 3? 'active' : '' ">Neutral
                                                        </li>
                                                        <li [className]="item.performance == 4? 'active' : '' "></li>
                                                        <li [className]="item.performance == 5? 'active' : '' ">
                                                            <span class="txt">Excellent</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                       <div class="row">
                                           <div class="col-md-12 text-center">
                                            <span *ngIf="!academicShow" style="color: red; text-align: center;" class="text-center">
                                                No records found
                                            </span>
                                           </div>
                                       </div>
                                    </div>
                                </div>
                                <div class="card mb-3" >
                                    <div class="card-header">
                                        <h6>Observations</h6>
                                    </div>
                                    <div class="card-body pos-r">
                                        <span *ngIf="observationShowLoader">
                                            <app-loader></app-loader>
                                        </span>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="observation_table">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width: 15%;">Category</th>
                                                                    <th style="width: 10%;">Sub-Category</th>
                                                                    <th style="width: 15%;">Sub-Sub-Category</th>
                                                                    <th style="width: 33%;">Interventions</th>
                                                                    <th style="width: 5%;">Rating</th>
                                                                    <th style="width: 5%;">Parent Status</th>
                                                                    <th style="width: 10%;">Name</th>
                                                                    <th style="width: 10%;">Type</th>
                                                                    <th style="width: 12%;">Note</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let item of observations; let i = index;">
                                                                    <td>{{ item.category_name}}</td>
                                                                    <td>{{ item.subCategory}}</td>
                                                                    <td>{{ item.subSubCategory}}</td>
                                                                    <td class="content_set">
                                                                        <p>{{ item.strategyName}}</p>
                                                                    </td>
                                                                    <td>{{ item.rating}}</td>
                                                                    <td>{{ (item.parent_status =='1')? 'Yes': 'No' }}
                                                                    </td>
                                                                    <td>{{ item.name}}</td>
                                                                    <td>Teacher</td>
                                                                    <td><button
                                                                            (click)="getObservationNotesByID(item.id)"
                                                                            class="btn btn-primary view_btn"
                                                                            data-toggle="modal" data-target="#noteModal"
                                                                            title="View Notes"><i
                                                                                class="fa fa-sticky-note"
                                                                                aria-hidden="true"></i> View</button>
                                                                    </td>
                                                                </tr>
                                                                <tr *ngFor="let item of observationStaff; let i = index;">
                                                                    <td>{{ item.category_name}}</td>
                                                                    <td>{{ item.subCategory}}</td>
                                                                    <td>{{ item.subSubCategory}}</td>
                                                                    <td class="content_set">
                                                                        <p>{{ item.strategyName}}</p>
                                                                    </td>
                                                                    <td>{{ item.rating}}</td>
                                                                    <td>{{ (item.parent_status =='1')? 'Yes': 'No' }}
                                                                    </td>
                                                                    <td>{{ item.name}}</td>
                                                                    <td>Staff</td>
                                                                    <td><button
                                                                            (click)="getObservationNotesByID(item.id)"
                                                                            class="btn btn-primary view_btn"
                                                                            data-toggle="modal" data-target="#noteModal"
                                                                            title="View Notes"><i
                                                                                class="fa fa-sticky-note"
                                                                                aria-hidden="true"></i> View</button>
                                                                    </td>
                                                                </tr>
                                                                <!-- <tr><span *ngIf='observationShow' class="no_result">
                                                                    No records found
                                                                </span></tr> -->
                                                                <tr *ngIf='observationShow' style="color:red"> <td colspan="20" class="text-center">No records found</td></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3" >
                                    <div class="card-header">
                                        <h6>IEP's</h6>
                                    </div>
                                    <div class="card-body pos-r">
                                        <span *ngIf="IEPShowLoader">
                                            <app-loader></app-loader>
                                        </span>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="iep_table">
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width:10%;">Title</th>
                                                                    <th style="width:30%;">Frequency</th>
                                                                    <th style="width:30%;">Content</th>
                                                                    <th style="width:30%;">Subjects</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let item of IEPs; let i = index;">
                                                                    <td class="type">{{ item.type}}</td>
                                                                    <td class="subject-content">{{ item.frequency}}</td>
                                                                    <td class="subject-content">{{ item.name}}</td>
                                                                    <td class="subject-content"><p>{{ item.subjects}}</p></td>
                                                                </tr>
                                                                <tr *ngIf='IEPShow' style="width:55%; color:red"> <td colspan="20" class="text-center">No records found</td></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3"  *ngIf="!menushow">
                                    <div class="card-header">
                                        <h6>Additional Info - Teachers/Admin/counsellor</h6>
                                    </div>
                                    <div class="card-body pos-r">
                                        <span *ngIf="infoLoader">
                                            <app-loader></app-loader>
                                        </span>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="iep_table">
                                                    <div class="table-responsive">
                                                        <table class="table" id="staff-info">                                                
                                                            <tbody>
                                                                <tr *ngFor="let item of infos; let i = index;">
                                                                    <td class="type subject-content">
                                                                        {{ (item.selected_type == 1) ? item.info : '' }}
                                                                        <p class="date">{{ item.created_at }}</p>
                                                                     </td>
                                                                </tr>
                                                                <tr *ngIf='!noInfoShow' style="color:red"> <td colspan="20" class="text-center">No records found</td></tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3 attendance_card">
                                    <div class="card-header">
                                        <h6>Student Attendance</h6>
                                    </div>
                                    <div class="card-body pos-r">
                                        <span class="loader_inner" *ngIf="attendenceShowLoader">
                                            <app-loader></app-loader>
                                        </span>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form name="studentAttendence" class="form-vertical" action=""
                                                    (ngSubmit)="getStudentAttendenceByMonth()">
                                                    <div class="d-flex flex-inner">
                                                        <div class="class_slect errorSet col-md-4 col-sm-4 pl-md-0  px-0 pr-md-2">
                                                            <select name="class_id" [(ngModel)]="studentModel.class_id"
                                                                class="custom-select">
                                                                <option value="" selected>Select class</option>
                                                                <option *ngFor="let item of classes; let i = index;"
                                                                    [value]="item.sourcedId">{{ item.title}}</option>
                                                            </select>
                                                            <span class="validation" *ngIf="classValidationError">Please select class</span>
                                                        </div>
                                                        <div class="month_select pl-3 errorSet col-md-4 col-sm-4 pl-md-3 pr-md-1 px-0"> 
                                                            <select name="month" [(ngModel)]="studentModel.month"
                                                                class="custom-select">
                                                                <option value="" [selected] ="true">Select month</option>
                                                                <option value="1">Jan</option>
                                                                <option value="2">Feb</option>
                                                                <option value="3">Mar</option>
                                                                <option value="4">Apr</option>
                                                                <option value="5">May</option>
                                                                <option value="6">Jun</option>
                                                                <option value="7">Jul</option>
                                                                <option value="8">Aug</option>
                                                                <option value="9">Sept</option>
                                                                <option value="10">Oct</option>
                                                                <option value="11">Nov</option>
                                                                <option value="12">Dec</option>
                                                            </select>
                                                            <span class="validation" *ngIf="monthValidationError">Please select month</span>
                                                        </div>
                                                        <button class="login_btn" type="submit">Search</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="row attendence_record">
                                            <div class="col-md-12">
                                                <div class="row pt-3">
                                                    <div class="col-lg-4 col-md-6 col-sm-6"
                                                        *ngFor="let item of attendence; let i = index;">
                                                        <div class="inner">
                                                            <p class="type"><b>{{ item.attendence_status}}: </b></p>
                                                            <p><b>{{ item.created_at | formatdate }}</b></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="attendenceShow" class="no_result text-center">
                                                    No records found
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h6>Classes({{ classes_count }})</h6>
                                    </div>
                                    <div class="card-body pos-r">
                                        <span *ngIf="noRecords">
                                            <app-loader></app-loader>
                                        </span>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3" *ngFor="let item of classes; let i = index;">
                                                <p><b><a [routerLink]="['/class-view/', item.sourcedId]">{{ item.title}}</a></b>
                                                </p>
                                            </div>
                                            <div *ngIf="noRecordsClasses" class="no_result text-center w-100">  No records found</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>


<div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 border-line " *ngFor="let item of observationNotes; let i = index;">
                        <p>{{ item.notes }} <br><b class="date">{{ item.created_at }}</b></p>                       
                    </div>
                    <div *ngIf="NoObservationNotes" class="w-100 text-center text-danger">No notes found</div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>