<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item" *ngIf="breadcrumb_teacher">
                                            <a [routerLink]="['/teacher-view', class_Id]">Teacher View</a>
                                        </li>
                                        <li class="breadcrumb-item" *ngIf="breadcrumb_student">
                                            <a [routerLink]="['/student-view', class_Id]">Student View</a>
                                        </li>
                                        <li class="breadcrumb-item" *ngIf="breadcrumb_class">
                                            <a [routerLink]="['/class-list', class_Id]">Classes listing</a>
                                        </li>
                                        <li class="breadcrumb-item active">Class View </li>
                                    </ol> 
                                </div>
                                <h4 class="page-title"> <span>
                                    <img src="assets/images/blue-class.svg" alt="" class="dashboard-icon">
                                Class </span> - {{ classModel.name }}<br>
                                    <!-- <small> Rutherford High School District </small> -->
                                </h4>
                            </div>
                            <div class="content_area">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h6>Main Information</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Name:</b> <br><span>{{ classModel.name }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Class Code:</b> <br><span>{{ classModel.classCode }}</span></p>
                                            </div>                                          
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Room:</b> <br><span>{{ classModel.classRoom }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Type:</b> <br><span>{{ classModel.classType }}</span></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Subject Name:</b> <br><span>{{ classModel.subjectName }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Subject Code:</b> <br><span>{{ classModel.subjectCode }}</span></p>
                                            </div>                                          
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Periods:</b> <br><span>{{ classModel.periods }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Grades:</b> <br><span>{{ classModel.grades }}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h6>Teachers ({{ teacher_count }})</h6>
                                    </div>
                                    <div class="card-body pos-r"> 
                                        <span *ngIf="noRecordsTeachers">                                        
                                            <app-loader class="tab_loader"></app-loader>
                                        </span> 
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3" *ngFor="let item of teachers; let i = index;">
                                                <p><b><a [routerLink]="['/teacher-view/', item.sourcedId]">{{ item.givenName+' '+item.middleName+' '+item.familyName}}</a></b></p>
                                            </div>
                                            <div *ngIf="noRecordsTeachers" class="w-100 text-center text-danger"> No teachers found</div>
                                        </div>                                       
                                    </div>
                                </div>
                             
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h6>Students ({{ student_count }})</h6>
                                    </div>
                                    <div class="card-body pos-r"> 
                                        <span *ngIf="noRecords">                                        
                                            <app-loader class="tab_loader"></app-loader>
                                        </span> 
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3" *ngFor="let item of students; let i = index;">
                                                <p><b><a [routerLink]="['/student-view/', item.sourcedId]">{{ item.givenName+' '+item.middleName+' '+item.familyName}}</a></b></p>
                                            </div>
                                            <div *ngIf="noRecords" class="w-100 text-center text-danger"> No students found</div>
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>