.login_admin {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbfbfb;
    padding: 2rem;
}

.link_set {
    display: flex;
    justify-content: space-between;
    list-style: none;
    input {
        height: auto !important;
        transform: scale(1.5);
    }
    .form-check {
        padding-left: 25px;
    }
    // label {
    //     padding-left: 8px;
    // }
}

.card {
    box-shadow: 0px 2px 10px #00000040;
    .logo_area {
        background: #f9f9f9;
        text-align: center;
        padding: 39px 0;
        img {
            max-width: 150px;
            width: 100%;
        }
    }
    .card-body {
        padding: 1rem;
        @media (min-width: 768px) {
            padding: 25px 40px 15px;
        }
    }
    @media (min-width: 1280px) {
        width: 500px;
    }}

.remember {
    padding-left: 16px;
}

h4 {
    font-size: 24px;
    padding-bottom: 5px;
}

.fields {
    padding-top: 20px;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
    @media (min-width: 1600px) {
        margin-bottom: 22px;
    }
    input {
        background: #F9F9F9;
        height: 40px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 6px;
        padding-left: 50px;
        border: 1px solid #f9f9f9;
        @media (min-width: 1600px) {
            height: 50px;
            font-size: 18px;
        }
    }
    span.icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.sub_btn {
    padding-top: 30px;
    text-align: center;
    button {
        width: 60%;
        height: 45px;
    }
}

.form_area {
    .errormsg {
        border: 1px solid red;
    }
}

.forget-pwd {
    font-size: 12px;
    font-weight: 600;
    color: #D0021B;
    margin-left: 20px;
}

.form-check-input {
    width: 9px;
    height: 9px !important;
}