<div class="login_admin">
  <div class="form_area">
    <div class="card">
      <div class="logo_area">
        <img src="/register/assets/img/logo.png" alt="">
      </div>
      <div class="card-body">
        <div class="text-center">
          <h4>Login</h4>
        <p>Enter your details to continue</p>
        </div>
        <div class="alert alert-danger sub_msg mb-0 mt-1" *ngIf="errMsg">{{message}}</div>
        <div class="fields">
          <div class="form-group">
            <span class="icon"><img src="assets/img/icons/mail.png" alt=""></span>
            <input type="text" class="form-control " placeholder="E-mail" (keyup)="validationcheck()" name="admin_email" [(ngModel)]="adminModel.admin_email" [ngClass]="{'errormsg': emailvalidation===true}" >
          </div>
          <div class="form-group">
            <span class="icon"><img src="assets/img/icons/lock.png" alt=""></span>
            <input type="password" class="form-control" placeholder="Password" (keyup)="validationcheck()" name="admin_password" [(ngModel)]="adminModel.admin_password" [ngClass]="{'errormsg': passwordvalidation===true}">
          </div>
          <div class="form-group">
            <ul class="link_set">
              <li class="remember">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="remember_check" [(ngModel)]="ischecked" (change)="toggleVisibility($event)">
                  <label class="form-check-label" for="remember_check">
                    Remember me
                  </label>
                </div>
              </li>
              <li><a href="#" class="forget-pwd">Forget Password</a></li>
            </ul>
            <div class="sub_btn">
              <button class="btn btn-primary" (click)="loginadmin()">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
