.logo {
    width: 100%;
    max-width: 90px;
}

.wrapper-page {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    .card {
        width: 400px;
    }
}

@media (max-width:576px) {
    .card-body {
        padding: 20px 0px 10px;
    }
    .card-body .m-b-15 {
        margin-bottom: 10px;
    }
    .card-body .m-t-20 {
        margin-top: 12px;
    }
}