<div class="accountbg"></div>
<div class="wrapper-page">

    <div class="card">
        <div class="card-body">

            <h3 class="text-center mt-0 m-b-15">
                <a href="index.html" class="logo logo-admin"><img src="./assets/images/headlogo.png" class="logo" alt="logo"></a>
            </h3>

            <div class="p-3">
                <form class="form-horizontal m-t-20" [formGroup]="forgotPasswordForm">

                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control" type="text" required="" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group text-center row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">Submit</button>
                        </div>
                    </div>
                    <div class="bck-btn text-right">
                        <a [routerLink]="['']"> <i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Login</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>