<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item active">Update Content</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Update Content</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->
                    <!-- Success msg html -->
                    <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                        {{ successMessage }}
                    </div>
                    <!-- Error msg html -->
                    <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                        {{ errorMessage }}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body add_lesson">
                                    <form class="form-horizontal m-t-20" action="" name="contentUpdate" #f="ngForm" (ngSubmit)="onSubmitUpdate()" novalidate enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Title*</label>                                                
                                                    <input type="text" class="form-control" [(ngModel)]="loginModel.title"  name="title">
                                                    <span *ngIf="addValidationError.title" class="error-validation">{{addValidationError.title }}</span>
                                                </div>
                                            </div>                                           
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="">Content*</label>
                                                    <!-- <ckeditor [editor]="Editor" name="content" [(ngModel)]="loginModel.content"></ckeditor> -->
                                                    <ejs-richtexteditor id="editor"  name="lesson" [(ngModel)]="loginModel.content" [toolbarSettings]='tools'  [insertImageSettings]='{saveFormat: "Base64"}'></ejs-richtexteditor >
                                                   <span *ngIf="addValidationError.content" class="error-validation">{{addValidationError.content }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <input type="hidden" name="content_id" [(ngModel)]="loginModel.content_id">
                                                <button class="btn btn-primary" buttonDisable>Update</button>
                                            </div>
                                        </div>
                                        
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- container -->
            </div> <!-- Page content Wrapper -->
        </div>
        <app-footer></app-footer>
    </div>
</div>