<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/view-company-list']">Edit Company List</a></li>
                                        <li class="breadcrumb-item active">Edit Company Name</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Edit Car Company Name</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                                        {{ successMessage }}
                                        </div>
                                        <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                                        {{ errorMessage }}
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <form method="post" name="contactForm" action="">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="name">Company Name*</label>
                                                                <select name="company_id" [(ngModel)]="loginModel.company_id" class="custom-select" (change)="getValues($event)">
                                                                    <!-- <option value="" >Select company name</option> -->
                                                                    <option [value]="item._id+'?'+item.name+'?'+i" *ngFor="let item of companyNames; let i = index;" >{{ item.name }}</option>
                                                                </select>
                                                            <span class="alert-msg" *ngIf="addValidationError.company_name">{{addValidationError.company_name}}</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Model Name*</label>
                                                                <select name="model_id" [(ngModel)]="loginModel.model_id" class="custom-select" (change)="getValuesModel($event)">
                                                                    <!-- <option value="" selected>Select model name</option> -->
                                                                    <option [value]="item._id+'?'+item.model_name" *ngFor="let item of models; let i = index;">{{ item.model_name }}</option>
                                                                </select>
                                                            <span class="alert-msg" *ngIf="addValidationError.model_name">{{addValidationError.model_name}}</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Car Name*</label>
                                                                <input type="name" class="form-control" [(ngModel)]="loginModel.car_name" id="car_name"
                                                                    placeholder="Enter Car Name" name="car_name" required="">
                                                            <span class="alert-msg" *ngIf="addValidationError.car_name">{{addValidationError.car_name }}</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Link*</label>
                                                                <input type="name" class="form-control" [(ngModel)]="loginModel.link" id="link"
                                                                    placeholder="Enter Company Name" name="link" required="">
                                                            <span class="alert-msg" *ngIf="addValidationError.link">{{addValidationError.link }}</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="name">Image</label>
                                                                <input type="file" class="form-control" [(ngModel)]="loginModel.part_image" id="part_image"  name="part_image"  (change)="onFileSelect($event)" required="">
            
                                                             <!-- <span class="alert-msg" *ngIf="addValidationError.part_image_error">{{addValidationError.part_image_error}}</span>  -->
                                                            </div>
                                                            <div class="form-group">
                                                                <img [src]=partImagePath alt="" class="uploaded-img">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="name">Description*</label>
                                                                <textarea id="txtid" name="description" class="form-control"  [(ngModel)]="loginModel.description" id="description" rows="4" cols="50" maxlength="200">
                                                                  
                                                                    </textarea>
                                                            <span class="alert-msg" *ngIf="addValidationError.description">{{addValidationError.description }}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <!-- <button type="button" (click)="add_company()" class="btn-danger w-50 add-btn">Add</button> -->
                                                            <input type="hidden" name="part_img" [(ngModel)]="loginModel.part_img">
                                                            <button class="btn btn-primary w-25" (click)="edit_part()" type="button">Update Part
                                                                </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                                                    {{ successMessage }}
                                                    </div>
                                                    <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                                                    {{ errorMessage }}
                                                    </div>
                                                <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                      <tr>
                                                        <th scope="col">S.R. NO</th>
                                                        <th scope="col">Company Name</th>
                                                        <th scope="col">Model Name</th>
                                                        <th scope="col">Action</th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let obj of toDoList; let i=index;">
                                                        <th scope="row">{{i+1}}</th>
                                                        <td *ngIf='obj.company_name != ""'>{{obj.company_name}}</td>
                                                        <td *ngIf='obj.company_name == ""'>N/A</td>
                                                        <td *ngIf='obj.model_name != ""'>{{obj.model_name}}</td>
                                                        <td *ngIf='obj.model_name == ""'>N/A</td>
                                                        <td><a  class="btn-danger p-1"  (click)="delete(obj._id)"><i class="fa fa-times"
                                                            aria-hidden="true"></i>
                                                    </a></td>
                                                      </tr>
                                                    </tbody>
                                                  </table>
                                                </div>
                                            </div>
        
                                        </div>
                                    
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <app-loader></app-loader> -->                    
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>