.choose{
    border: 1px solid black;
    padding: .3rem.5rem;
}
.main-table{
    margin-top: 1rem;
    .head{
        border: 3px solid grey;
        padding: .3rem;
        h4{
            font-size: 14px;
            margin: 0;
            &:nth-child(2){
                width: 44%;
            }
            &:last-child{
                width: 33%;
            }
            @media (min-width:1024px) {
                font-size: 15px;
            }
        }
    }
    .head-list{
        border: 1px solid grey;
        border-top: 0;
        padding: .5rem;
        height: 100px;
        overflow-y: scroll;
        .content{
            margin-bottom: 1rem;
            p{
                margin-bottom: 0;
                @media (min-width:1024px) {
                    font-size: 14px;
                }
            }
            input{
                width: 15px;
            @media (min-width:1024px) {
                height: 20px;
            }
            }
            .name{
                width: 44%;
            }
            .id{
                width: 30%;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}