<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item"><a [routerLink]="['/antecedent-category']">Antecedent Category</a>
                                        </li>
                                        <li class="breadcrumb-item active">Antecedent List </li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Antecedent List</h4>                                
                            </div>
                            <div class="content_area">
                                <div class="card mb-2">
                                    <div class="card-body d-lg-flex  justify-content-lg-between  align-items-lg-center">
                                        <div class="total-count">Total Antecedents: {{ total }}</div>
                                        <div class="search-box">
                                            <form #f="ngForm" novalidate>
                                                <input name="search" [(ngModel)]="schoolModel.searchKey"
                                                    placeholder="Category name" class="form-control">
                                                <button type="button" (click)="searchFunction(currentPage)" class="btn btn-primary">Search</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                               <div class="card">
                                    <div class="card-body">
                                        <!-- Success msg html -->
                                        <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                                            {{ successMessage }}
                                        </div>
                                        <!-- Error msg html -->
                                     
                                        <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                                            {{ errorMessage }}
                                        </div>
                                        <div class="bread-crumb d-sm-flex justify-content-between align-items-center mb-3">
                                            <a class="btn btn-primary mb-2 mb-sm-0" data-toggle="modal"
                                        data-target="#add_cate" (click)="add_btn()">+ Add Antecedent</a>
                                        <p class="mb-0"><b> {{ observation_name }}</b></p>
                                        </div>
                                        
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center" style="width:5%">S.No</th>
                                                        <th style="width:25%" (click)="sortFunction('subCategory')" class="sort_menu text-center">
                                                            Antecedent Name
                                                            <span class="fa fa-exchange sort-icon" *ngIf="key =='subCategory'"
                                                                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                        </th>
                                                        <th class="text-center" style="width:10%">Unique Id</th>
                                                        <th class="text-center" style="width:10%">Number Of Interventions</th>
                                                        <th class="text-center" style="width:10%">Status</th>
                                                        <th class="text-center" style="width:16%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <div class="loader_area">
                                                        <span *ngIf="loaderShow">                                        
                                                            <app-loader class="table_loader"></app-loader>
                                                        </span> 
                                                    </div>
                                                    <tr *ngFor="let item of ObCategories; let i = index;">
                                                        <td class="text-center">{{ (currentPage-1)*10+i+1 }}</td>
                                                        <td class="text-center">{{ item.subCategory }}</td>
                                                        <td class="text-center">{{ (item.categoryUniqueId != '')? item.categoryUniqueId : 'N/A' }}</td>
                                                        <td class="text-center">{{ item.interventionCount }}</td>
                                                        <td *ngIf="item.status == 1"><span (click)="changeStatusOBSubCategory(item.id, item.status)"><i class="fa fa-circle active-status" aria-hidden="true"></i></span></td>
                                                        <td *ngIf="item.status == 0" ><span (click)="changeStatusOBSubCategory(item.id, item.status)"><i class="fa fa-circle deactive-status" aria-hidden="true"></i></span></td>
                                                        <td>
                                                            <div class="btn_area">
                                                                <button class="btn btn-primary mr-2" type="button"
                                                                    data-toggle="modal" data-target="#link_interventions" (click)="link(item.subCategory, item.categoryUniqueId, item.id)">Link Interventions
                                                                </button>
                                                                <a>
                                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                                    data-target="#edit_cate" (click)="update_btn(item.subCategory, item.categoryUniqueId, item.status, item.id)">Edit
                                                                    </button>
                                                                </a>
                                                                <button class="btn btn-primary ml-2" type="button"
                                                                    data-toggle="modal" data-target="#"
                                                                    (click)="deleteOBSubCategory(item.id)">Delete
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf='noRecordsSubCategory' style="color:red"> <td colspan="20" class="text-center">No records found</td></tr>                                                 
                                                </tbody>
                                            </table>
                                            <nav aria-label="Page navigation" class="mt-3">
                                                <ul class="pagination">
                                                    <li class="page-item disabled_back" *ngIf="currentPage==1"><a
                                                            class="page-link">Previous</a>
                                                    <li class="page-item" *ngIf="currentPage!=1"
                                                        (click)="pageChange(currentPage-1)"><a
                                                            class="page-link">Previous</a>
                                                    </li>
                                                    <li class="page-item"
                                                        *ngFor='let in of counter(totalPages) ;let m = index'>
                                                        <a class="page-link active" *ngIf="((m+1)==currentPage )">{{m+1}}</a>
                                                        <a class="page-link"
                                                            *ngIf="(m+1)!==currentPage && (m+1)>=(currentPage-2) && (m+1)<=(currentPage+2)"
                                                            (click)="pageChange(m+1)">{{m+1}}</a>
                                                    </li>

                                                    <li class="page-item disabled_back" *ngIf="totalPages==currentPage">
                                                        <a class="page-link">Next</a></li>
                                                    <li class="page-item active" *ngIf="totalPages!==currentPage"
                                                        (click)="pageChange(currentPage+1)">
                                                        <a class="page-link">Next</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>

<!-- add start -->
<div class="modal fade" id="add_cate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Antecedent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-20" action="" name="CategoryAdd" #f="ngForm" (ngSubmit)="saveFunction()" novalidate>
                    <div class="form-group">
                        <label for="#"> Antecedent Name* :</label>
                        <input type="text" class="form-control" [(ngModel)]="schoolModel.subCat_name"  name="subCat_name">
                        <span *ngIf="addValidationError.subCat_name" class="validation">{{addValidationError.subCat_name }}</span>
                    </div>
                    <div class="form-group">
                        <label for="#"> Antecedent Unique Id :</label>
                        <input type="text" class="form-control" [(ngModel)]="schoolModel.unique_id"  name="unique_id">
                    </div>
                    <div class="form-group">
                        <label for="#"> Status :</label>
                        <input type="radio" name="status" [(ngModel)]="schoolModel.status" value="1" checked="true">Active
                        <input type="radio" name="status" [(ngModel)]="schoolModel.status" value="0">Inactive                        
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- edit start -->
 <div class="modal fade " id="edit_cate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Antecedent</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-20" action="" name="SELCategoryEdit" #f="ngForm" (ngSubmit)="updateFunction()" novalidate>
                    <div class="form-group">
                        <label for="#">Antecedent Name :</label>
                        <input type="text" [(ngModel)]="schoolModel.subCat_name"  name="subCat_name" class="form-control">
                        <span *ngIf="addValidationError.subCat_name" class="validation">{{addValidationError.category_name}}</span>
                    </div>   
                    <div class="form-group">
                        <label for="#">Antecedent Unique Id :</label>
                        <input type="text" [(ngModel)]="schoolModel.unique_id"  name="unique_id" class="form-control">
                    </div>                  
                    <div class="form-group">
                        <label for="#"> Status :</label>
                        <input type="radio" name="status" [(ngModel)]="schoolModel.status"  [value]="1" [attr.checked]="checkStatus1"> Active
                        <input type="radio" name="status" [(ngModel)]="schoolModel.status" [value]="0" [attr.checked]="checkStatus0"> Inactive                           
                    </div>
                    <div class="d-flex justify-content-between">
                        <input type="hidden" [(ngModel)]="schoolModel.obSubCat_id" name="obSubCat_id" class="form-control">
                        <input type="hidden" [(ngModel)]="schoolModel.obCat_id" name="obCat_id" class="form-control">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" model_class >Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 
<!-- Link Intervenstions -->
<div class="modal fade" id="link_interventions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Link Interventions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-20" action="" name="CategoryAdd" #f="ngForm" (ngSubmit)="saveFunction()" novalidate>
                    <div class="form-group d-flex">
                        <label for="#"> Antecedent Name* :</label>
                        <p>{{antedentName}}</p>
                    </div>
                    <div class="form-group d-flex">
                        <label for="#" > Antecedent Unique Id :</label>
                        <p>{{(antedentUniqueId=='')? 'N/A':antedentUniqueId}}</p>
                    </div>
                    <!-- <div class="form-group">
                        <ng-multiselect-dropdown name='countrySelect' [placeholder]="'custom placeholder'" [settings]="dropdownSettings" [data]="dropdownList" [(ngModel)]="selectedItems"  (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)" >
                            </ng-multiselect-dropdown>
                        </div> -->
                        <div class="form-group">
                            <div class="choose d-flex justify-content-between align-items-center">
                                <p class="mb-0">Choose Interventions</p>
                                <img src="./assets/images/down.png" alt="">
                            </div>
                            <div class="main-table">
                                <div class="head d-flex justify-content-between">
                                    <h4></h4>
                                    <h4>Interventions Name</h4>
                                    <h4>Interventions ID</h4>
                                </div>
                                <div class="head-list d-flex flex-column">
                                    <div class="content d-flex justify-content-between" *ngFor="let intervention of interventionsList">
                                        <input type="checkbox" [checked]="intervention.linkInterventions.length>0" value={{intervention.Id}} (change)="checkedIteams($event)" *ngIf="intervention.id==intervention.id">
                                         <p class="name">{{intervention.strategyName}}</p>
                                        <p class="id">{{(intervention.strategyId=='')? 'N/a':intervention.strategyId}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" (click)="saveInterventionsList()">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>