.post_details_card {
  height: initial !important;
  margin: 20px 0px;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  box-shadow: 1px 0px 20px rgb(0 0 0 / 37%);
  img.card-img-top {
    width: 125px;
    text-align: center;
  }
}

#myTab {
  li {
    margin: 0px 5px;
    @media (min-width: 576px) {
      margin-right: 10px;
    }

    a.nav-link {
      border: 1px solid #00649b;
      color: #00649b;
      padding: 5px 15px;
      font-size: 14px;
      @media (min-width: 576px) {
        padding: 8px 20px;
        font-size: 15px;
      }
    }
    a.nav-link.active {
      background-color: #00649b;
      color: #fff;
    }
  }
}

#myTabContent {
  h5 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #00649b;
    @media (min-width: 576px) {
      margin-bottom: 15px;
      font-size: 19px;
    }
  }
}

.details-view {
  margin: 25px 0px 10px;

  @media (min-width: 768px) {
    display: flex;
 
  }

  .details-img {
    @media (min-width: 768px) {
      text-align: center;
    }
    img.show-img {
      width: 160px;
      margin-bottom: 20px;
    }
    .add-btn {
      width: 100%;
      max-width: 160px;
    }
  }
  .details_content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: 768px) {
      margin-left: 40px;
      margin-top: 00px;
    }

    p {
      width: 50%;
      flex: 0 0 50%;
      display: flex;
      span {
        margin-right: 10px;
        font-weight: 500;
        flex: 0 0 40%;
        width: 40%;
      }
    }
  }
}

.modal {
  .modal-header{

  button{
    color: #00649b;
    opacity: 1;
  }
}
  .modal-body {
    padding: 50px 0;
    i{
      font-size: 100px;
      color: #00649b;
    }
    h5 {
      text-align: center;
      font-size: 21px;
      span{
        color: #00649b;

      }
    }
  }
  .modal-footer {
    background: #00649b;
    justify-content: center;
  }
}
.show-avg{
  display:flex;
  align-items: center;
  justify-content: space-between;
  i{
    font-size: 20px;
  }
}
.half-matched{
  color: orange;
}
.not-matched{
  color: red;
}
.matched{
  color: green;
}


.lang-work {
  flex-direction: row;
  display: flex;
  width: 50%;
}
span.bld-span {
  font-weight: 500;
  width: 42%;
  
}