<!-- <app-header></app-header> -->
<section class="login_in">
    <div class="container">
        <img class="main-logo" src="./assets/img/logo.png" alt="">
        <div class="con_inner">
            <div class="box">
                <div class="upper">
                    <div class="txt_area">
                        <!-- <h2>HIRE DIGITAL TALENT</h2> -->
                        <h3 class="font-weight-bold">Sign In</h3>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="tabs_area">
                            <div class="alert alert-danger sub_msg" *ngIf="errMsg">{{message}}</div>
                            <div class="form-group">
                                <span class="icon"><img src="./assets/img/icons/mail.png" alt=""></span>
                                <input type="text" class="form-control" placeholder="E-mail" formControlName="email" [ngClass]="{'errormsg': submitted && f.email.errors}">
                            </div>
                            <div class="form-group">
                                <span class="icon"><img src="./assets/img/icons/lock.png" alt=""></span>
                                <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{'errormsg': submitted && f.password.errors}">
                            </div>
                            <div class="form-group">
                                <div class="checkbx">
                                    <div class="left"><input type="checkbox" formControlName="checked">
                                        <label>Remember me</label>
                                    </div>
                                    <div class="right">
                                        <a href="#" class="font-weight-bold">Forgot Password</a>
                                    </div>
                                </div>
                            </div>
                            <div class="btn_area">
                                <button class="btn btn-primary hover_effect">
                        <span class="bg"></span>
                        <span class="txt" >Sign In</span>
                        </button>
                                <p>Create Account <a [routerLink]="['/employer']">Sign up</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>