.form-area {
    background-color: #eff3f6;
    padding: 50px 40px 10px;
    margin-top: 70px;
    position: relative;
  
    .form-group {
      margin-bottom: 22px;
  
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
  
      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }
  
      .alert-msg {
        font-size: 13px;
        color: #e21b1b;
        position: absolute;
      }
    }
  
  }
  
  .admin-img {
    span.showonhover {
      .show-img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        position: absolute;
        top: -60px;
        left: 0;
        margin: auto;
        right: 0;
      }
  
      i {
        color: #fff;
        font-size: 17px;
        position: absolute;
        left: 57%;
        top: 12px;
        background: #00649b;
        border-radius: 50%;
        padding: 8px;
      }
    }
  }
  
  .content-page {
    .content {
      margin-bottom: 95px;
    }
  }
  
  .pass_field {
    position: relative;
  
    input {
      padding-right: 50px;
    }
  
    .eye_btn {
      position: absolute;
      right: 0;
      top: 0;
  
      button {
        &:focus {
          outline: none;
          box-shadow: none;
        }
  
        &:hover {
          color: #00649b;
        }
      }
    }
  }
  
  .err {
    border: 1px solid red;
  }
  
  .user-selected-img,
  .user-profile_img {
    display: none;
  }

  .invalid-feedback {
    display: block;
    width: 100%;
    font-size: 80%;
    color: #dc3545;
    position: absolute;
    // margin-left: 15px;
    /* margin-top: 35px; */

}

.red-clr {
    color: red
}
  