<div id="wrapper">
  <!-- <app-sidebar></app-sidebar> -->
  <div class="content-page">
    <div class="content">
      <!-- <app-header></app-header> -->
      <div class="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="btn-group float-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">The Pragmatic</a></li>
                    <li class="breadcrumb-item active">Add Reciever</li>
                  </ol>
                </div>
                <h4 class="page-title">Add Reciever</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-md-8 col-xl-6">
                      <div class="form-area">
                        <form [formGroup]="addCareReceiverForm" (ngSubmit)="onSubmit()">
                          <div class="admin-img">
                            <span class="showonhover">
                              <img [src]="displayImage" class="show-img" *ngIf="displayImage">
                              <img src="./assets/images/profile.png" alt="" class="show-img" *ngIf="!displayImage">
                              <i class="fa fa-camera" aria-hidden="true" (click)="file.click()"></i></span>
                            <input id="selectfile" type="file" accept="image/png,image/jpeg"   (change)="getImage($event)" name="" style="display: none;" #file>
                          </div>
                          <div class="form-group">
                            <label for="name">Name <span class="red-clr">*</span></label>
                            <input type="text" class="form-control" id="name" placeholder="Enter Full Name" name="name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" >
                            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                              <div *ngIf="f.name.errors.required">Name is required</div>
                            </div>
                          </div>

                          <div class="form-group">
                            <label for="name">Email <span class="red-clr">*</span></label>
                            <input class="form-control" type="text"  placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="Phone">Phone <span class="red-clr">*</span></label>
                            <input type="tel" class="form-control" id="phone" placeholder="9876543210"  formControlName="phoneno" [ngClass]="{ 'is-invalid': submitted && f.phoneno.errors }">
                            <div *ngIf="submitted && f.phoneno.errors" class="invalid-feedback">
                              <div *ngIf="f.phoneno.errors.required">Phone is required</div>
                              <div *ngIf="f.phoneno.errors.pattern">Please, Enter 10 digit Mobile Number.</div>

                            </div>
                          </div>
                          <div class="form-group">
                            <label class="control-label">Password <span class="red-clr">*</span></label>
                            <div class="pass_field">
                              <input type="{{passworedType}}" class="form-control" placeholder="Password"  formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                              <span class="eye_btn">
                                <button class="btn" type="button" (click)="hideShowPass()">
                                  <span *ngIf="passworedType == 'password'"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                  <span  *ngIf="passworedType == 'text'"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                </button>
                              </span>

                              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                              </div>
                            </div>
                          </div>
                          <div class="row mb-3 align-items-center">
                            <div class="col-6">
                                <button class="btn-primary add-btn">Create</button>
                            </div>
                            <div class="col-6 text-right">
                                <a [routerLink]="['/care-reciever-management']" class="back_btn"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</a>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <app-footer></app-footer> -->
    </div>
  </div>
</div>
