<div class="left side-menu">
    <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
    <i class="fa fa-times cross" aria-hidden="true"></i>
  </button>

    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a [routerLink]="['/admin/dashboard']" class="logo"><img src="/register/assets/img/white-logo.png"  alt="logo"></a>
        </div>
    </div>

    <div class="sidebar-inner slimscrollleft">

        <div id="sidebar-menu">
            <ul>
                <li>
                    <a [routerLink]="['/admin/dashboard']" class="waves-effect">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                        <span> Dashboard<!--<span class="badge badge-pill badge-primary float-right">7</span>--></span>
                    </a>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-bars" aria-hidden="true"></i> <span>Candidate Details
            </span> <span class="float-right"><i class="mdi mdi-chevron-right rotate"></i></span></a>
                    <ul class="list-unstyled" [ngStyle]="{'display': Candidate ? 'block' : 'none'}">
                        <li><a [routerLink]="['/admin/candidates/new']"><i class="fa fa-tag" aria-hidden="true"></i>New Request </a></li>
                        <li><a [routerLink]="['/admin/candidates/all']"><i class="fa fa-tag" aria-hidden="true"></i>All Candidate </a></li>
                        <li><a [routerLink]="['/admin/candidates/approved']"><i class="fa fa-tag" aria-hidden="true"></i>Approved </a></li>
                        <li><a [routerLink]="['/admin/candidates/rejected']"><i class="fa fa-tag" aria-hidden="true"></i>Rejected </a></li>

                    </ul>
                </li>

                
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="fa fa-users" aria-hidden="true"></i> <span>Employer Details<span class="float-right"><i class="mdi mdi-chevron-right rotate"></i></span></span>
          </a>
                    <ul class="list-unstyled" [ngStyle]="{'display': Employer ? 'block' : 'none'}">
                        <li><a [routerLink]="['/admin/employers/new']"> <i class="fa fa-user" aria-hidden="true"></i>New Request</a></li>
                        <li><a [routerLink]="['/admin/employers/all']"> <i class="fa fa-user" aria-hidden="true"></i>All Employer</a></li>
                        <li><a [routerLink]="['/admin/employers/approved']"> <i class="fa fa-user" aria-hidden="true"></i>Approved</a></li>
                        <li><a [routerLink]="['/admin/employers/rejected']"> <i class="fa fa-user" aria-hidden="true"></i>Rejected</a></li>
                    </ul>
                </li>

                <li>

                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-clipboard-outline"></i><span> Subscription
            </span> <!--<span class="badge badge-pill badge-primary float-right">8</span>--></a>
                        <ul class="list-unstyled">
                            <li><a [routerLink]="['/admin/show_package']"><i class="fa fa-user" aria-hidden="true"></i>Show Package</a></li>
                        </ul>
                    </li>
                    <li class="has_sub">
                        <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-trash-alt"></i><span>Trash<span class="float-right"><i class="mdi mdi-chevron-right rotate"></i></span></span>
          </a>
                        <ul class="list-unstyled">
                            <li><a [routerLink]="['/location']"><i class="fa fa-user" aria-hidden="true"></i>Candidate</a></li>
                            <li><a [routerLink]="['/events']"><i class="fa fa-user" aria-hidden="true"></i>Employer </a></li>

                        </ul>
                    </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- end sidebarinner -->
</div>