.open{
    .waves-effect{
        .rotate{
            transform: rotate(90deg);
            transition: all .2s ease .1s;
        }
    }
}
.cross{
    font-size: 24px;
}
.topbar-left{
background-color: #000;
.logo{
    img{
        width: 100%;
        max-width: 179px;
        height: auto;
    }
}
}