<div id="wrapper">
  <!-- <app-sidebar></app-sidebar> -->
  <div class="content-page">
    <div class="content">
      <!-- <app-header></app-header> -->
      <div class="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="btn-group float-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">The Pragmatic</a></li>
                    <li class="breadcrumb-item active">Progress</li>
                  </ol>
                </div>
                <h4 class="page-title">Progress</h4>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-between">
            <div class="col-sm-12 col-md-6">
              <div class="table_heading d-flex align-items-center justify-content-between">
                <h6><span> {{count}}</span> Total Progress</h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive mt-md-0 mt-4" id="table">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>
                            <div class="text-center" style="width: 110px;">Reciever Name</div>
                          </th>
                          <th class="text-center">Phone</th>
                          <th class="text-center">Minimum Rate</th>
                          <th class="text-center">CW Name</th>
                          <th class="text-center">CW Religion</th>
                          <th class="text-center">Hair &amp; Grooming</th>
                          <th class="text-center">
                            <div class="text-center">Action</div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let progress of ProgressRequestArray | paginate : {
                          itemsPerPage: pageSize,
                          currentPage: page,
                          totalItems: count
                        }; let i = index ">
                          <th class="text-center" scope="row">{{ i + 1 }}</th>
                          <td class="text-center">{{progress?.receiverName != '' ? progress?.receiverName : 'N/A'}}</td>
                          <td class="text-center">{{progress?.receiverMobileno != '' ? progress?.receiverMobileno : 'N/A'}}</td>
                          <td class="text-center">${{progress?.rate != '' ? progress?.rate : 0}}</td>
                          <td class="text-center">{{progress?.workerName != '' ? progress?.workerName : 'N/A'}}</td>
                          <td class="text-center">{{progress?.ethnicorigins != '' ? progress?.ethnicorigins : 'N/A'}}</td>
                          <td class="text-center">{{progress?.hair != '' ? progress?.hair : 'N/A'}}</td>
                          <td class="text-center">
                            <ul class="d-flex justify-content-center">
                              <li (click)="pickCancel(progress, i)">
                                <a href="javascript:void(0)"
                                  data-toggle="modal" data-target="#exampleModal" title="Cancel the Receiver Post"
                                  class="table_btn btn-primary p-1">Cancel</a>
                              </li>
                              <li (click)="pickCancel(progress, i)">
                                <a  href="javascript:void(0)" data-toggle="modal"  data-target="#completeModel"  class="table_btn btn-success mx-2 p-1">Complete</a>
                              </li>
                            </ul>
                          </td>
                        </tr>

                        <tr>
                          <td *ngIf="ProgressRequestArray.length == 0" class="no-data" colspan="8">No Post In Progress Yet.</td>
                        </tr>
                        
                      </tbody>
                    </table>
                  </div>
                  <nav aria-label="Page navigation example">
                    <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <app-footer></app-footer> -->
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        <h5>Are you sure you want to cancel this post ?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelPost(4)">Yes, Keep it!</button>
        <button type="button" class="btn bg-danger text-white" data-dismiss="modal">Cancel it!</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="completeModel" tabindex="-1" aria-labelledby="completeModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        <h5>Are you sure you want to complete this post ?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="completePost(1)">Yes, Complete!</button>
        <button type="button" class="btn bg-danger text-white" data-dismiss="modal">Cancel it!</button>
      </div>
    </div>
  </div>
</div>
