<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Manage Content</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Manage Content</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                            <div class="card"> 
                                
                                <div class="card-header">
                                    <!-- Success msg html -->
                <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                    {{ successMessage }}
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                    {{ errorMessage }}
                    </div>
                                    <h4> Update About Us </h4>
                                </div>
                                <div class="card-body">
                                      <div class="row">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" [(ngModel)]="loginModel.title" id="title"
                                            placeholder="Enter Title" name="title" required="">  
                                            <span class="err_msg" *ngIf="addValidationError.title">{{addValidationError.title}}</span>      
                                <angular-editor   type="text" name="content"   [placeholder]="'Enter text here...'" [(ngModel)]="loginModel.content" required="" > </angular-editor> 
                                <span class="err_msg" *ngIf="addValidationError.content">{{addValidationError.content}}</span>
                                </div>
                                    </div> 
                                </div>
                                <button class="btn a_update_btn btn-primary mt-2" (click)="update_about_us()">Update</button>
                            </div> 
                        </form>   
                        </div>
                    </div> 
            

                    <!-- <app-loader></app-loader> -->
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>