<!-- <app-header></app-header> -->
<div>
<div class="title_bar">
    <div class="container">
      <div class="inner">
        <h2>Post Details</h2>
        <div class="profile">
          <div class="detail">
            <h5>profile</h5>
            <a [routerLink]="['/employer-dashboard']" class="edit">Edit Profile <span class="icon"><i class="far fa-edit"></i></span></a>
          </div>
          <div class="pro_img">
            <img src="/assets/img/pro_img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
</div>
<div class="card mb-3">
<div class="page-content-wrapper ">
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-md-12">
         <div>
          <div class="card mb-3" >
            <div class="card-title">
              <h5>Post Details</h5>
            </div>
            <div class="card-body  ">
                <!-- <div style="color: #D0021B;">Post Details</div><br> -->
                    <div class="d-flex flex-wrap view-post-data">
                        <p ><strong>Post Name:</strong>  {{campaigndetailstabdata.post}}</p>
                        <p ><strong>Job Type: </strong> {{campaigndetailstabdata.job_type}}</p>
                        <p ><strong>Office Address:</strong>  {{campaigndetailstabdata.office_address}}</p>
                        <p ><strong>Salary Range: </strong> {{campaigndetailstabdata.e_currencylist[0]}}{{campaigndetailstabdata.salary[0]}} to {{campaigndetailstabdata.e_currencylist[0]}}{{campaigndetailstabdata.salary[1]}}</p>
                        <p ><strong>Experience Required(years):</strong>  {{campaigndetailstabdata.experience_level}}</p>
                      <!-- <p ><strong>Job Sector:</strong>  {{skillsneedtabdata[0].job_sector}}</p>
                      <p ><strong>Skills:</strong>  {{skillsneedtabdata[0].e_specialism}}</p>
                        <p ><strong>Website: </strong>  {{companyroledesctabdata[0].website}}</p>
                      <p ><strong>Company Description: </strong>  {{companyroledesctabdata[0].company_desc}}</p>
                      <p ><strong>Role Description: </strong>  {{companyroledesctabdata[0].role_desc}}</p>
                    <p ><strong>Post Question:</strong>  {{campaignquestabdata[0].ques}}</p> -->
                   

          
      
                </div>
            </div>
          </div>

          <div class="card mb-3" >
            <div class="card-title">
              <h5>Skills Needed</h5>
            </div>
            <div class="card-body  ">
                <!-- <div style="color: #D0021B;">Post Details</div><br> -->
                    <div class="d-flex flex-wrap view-post-data">
       
                      <p ><strong>Job Sector:</strong>  {{skillsneedtabdata[0].job_sector}}</p>
                      <p ><strong>Skills:</strong>  {{skillsneedtabdata[0].e_specialism}}</p>
                       
                </div>
            </div>
          </div>

          <div class="card mb-3" >
            <div class="card-title">
              <h5>Company and Role Description</h5>
            </div>
            <div class="card-body  ">
                <!-- <div style="color: #D0021B;">Post Details</div><br> -->
                    <div class="d-flex flex-wrap view-post-data">               
                     
                        <p ><strong>Website: </strong>  {{companyroledesctabdata[0].website}}</p>
                      <p ><strong>Company Description: </strong>  {{companyroledesctabdata[0].company_desc}}</p>
                      <p ><strong>Role Description: </strong>  {{companyroledesctabdata[0].role_desc}}</p>
                                          

                      
                </div>
            </div>
          </div>

          <div class="card mb-3" >
            <div class="card-title">
              <h5>Post Related Questions</h5>
            </div>
            <div class="card-body  ">
                <!-- <div style="color: #D0021B;">Post Details</div><br> -->
                    <div class="d-flex flex-wrap view-post-data">
       
                    <p ><strong>Post Question:</strong>  {{campaignquestabdata[0].ques}}</p>
                                                   
                </div>
            </div>
          </div>

        </div>
            <!-- new -->
           

            <!-- new --> 

            <!---->         
            <!-- <div  *ngIf="showbtn" class="row" >
              <div class="col-md-12">
                  <div class="card m-b-30">
                      <div class="card-body" >
                          <div class="table_area">
                              
                              <div class="table-responsive">
                                  <table class="table table-striped ">
                                      <thead>
                                          <tr>
                                              <th style="width: 60px;">S No.</th>
                                              <th>Name</th>
                                                <th>Looking for</th>
                                                 <th>skills</th> 
                                              
                                              <th style="width:150px">Action</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                           <tr *ngFor="let matchedCandidates of matchedCandidate;let i = index"> 
                                               <th>{{i+1}}</th> 
                                              
                                              <td>{{matchedCandidates.name}}</td>
                                              <td>{{matchedCandidates.idealjob[0].t_job_title}}</td>
                                              
                                               <td>{{matchedCandidates.idealskill.skills}}
                                              
                                              
                                              <td>
                                                  <div class="btn_area d-flex">                                                             
                                                                                                                                                                                      
                                                      <button class="btn btn-danger" >Send</button>
                                                  </div>
                                              </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                             
                          </div>
                      </div>
                  </div>
              </div>
          </div> -->

         

            <!---->
         
        </div>
      </div>
    </div>
  </div>
</div>








