<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content" id="profile-page">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item active">Profile </li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Profile</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="profile-box-img">
                                <img  [src]=ImagePath alt="">
                                <div class="p-image" *ngIf="superAdmin">
                                    <i class="fa fa-camera upload-button" (click)="fileInput.click()"></i>
                                     <input class="file-upload" #fileInput type="file" accept="image/*" (change)="onFileChange($event)"/>                                    
                                  </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="card">
                                <div class="card-body profile-form">
                                    <!-- Success msg html -->
                                    <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                                        {{ successMessage }}
                                    </div>
                                    <!-- Error msg html -->
                                    <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                                        {{ errorMessage }}
                                    </div>

                                    <h2>About </h2> 
                                    <button (click)="showEdit()" *ngIf="(superAdmin)? isShownEdit : '' " class="btn btn-primary pull-right">Edit Profile</button>
                                    <button (click)="showEdit()" *ngIf="(superAdmin)? !isShownEdit : ''" class="btn btn-primary pull-right">View Profile</button>
                                    <div class="loader_area profile-loader">
                                        <span *ngIf="loaderShow">                                        
                                            <app-loader class="table_loader"></app-loader>
                                        </span> 
                                    </div>
                                    <div *ngIf="(superAdmin)? isShownEdit: !isShownEdit">
                                        <!-- Show Profile Info here -->
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="">Name :</label>
                                            </div>
                                            <div class="input">
                                                <div class='detail'>
                                                    <p>{{ loginModel.name | titlecase }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="">Username :</label>
                                            </div>
                                            <div class="input">
                                                <div class='detail'>
                                                    <p>{{ loginModel.username }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="">Email :</label>
                                            </div>
                                            <div class="input">
                                                <div class='detail'>
                                                    <p>{{ loginModel.email }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" *ngIf="!menuShow">
                                            <div class="label">
                                                <label for="">School Name :</label>
                                            </div>
                                            <div class="input">
                                                <div class='detail'>
                                                    <p>{{ loginModel.school_name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="form-group">
                                            <div class="label">
                                                <label for="">Gender :</label>
                                            </div>
                                            <div class="input">
                                                <div class='detail'>
                                                    <p>{{ loginModel.sex }}</p>
                                                </div>
                                            </div>
                                        </div>   -->
                                        <div class="form-group">
                                            <div class="label">
                                                <label for="">Birth Place :</label>
                                            </div>
                                            <div class="input">
                                                <div class='detail'>
                                                    <p>{{ loginModel.cityOfBirth+', '+loginModel.stateOfBirthAbbreviation+', '+loginModel.countryOfBirthCode }}</p>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <!-- Edit Profile html here -->
                                    <div *ngIf="(superAdmin)? !isShownEdit: isShownEdit">
                                        <form action="" name="editProfileForm" (ngSubmit)="editProfile()">    
                                            <div class="form-group">
                                                <div class="label">
                                                    <label for=""> Name :</label>
                                                </div>
                                                <div class="input">                                                   
                                                    <div class="edit-input">
                                                        <input type="text" class="form-control" name="name" [(ngModel)]='loginModel.name'>
                                                        <span *ngIf="addValidationError.name">{{addValidationError.name}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="label">
                                                    <label for="">Username :</label>
                                                </div>
                                                <div class="input">
                                                    <div class="edit-input">
                                                        <input type="text" name="username" [(ngModel)]='loginModel.username' class="form-control">
                                                        <span *ngIf="addValidationError.username">{{addValidationError.username}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="label">
                                                    <label for="">Email :</label>
                                                </div>
                                                <div class="input">                                                  
                                                    <div class="edit-input">
                                                        <input type="email" class="form-control" name="email" [(ngModel)]='loginModel.email' readonly>
                                                        <span *ngIf="addValidationError.email">{{addValidationError.email}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="label">
                                                    <label for="">Password :</label>
                                                </div>
                                                <div class="input">                                                  
                                                    <div class="edit-input">
                                                        <input type="password" class="form-control" name="password" [(ngModel)]='loginModel.password'>
                                                        <span *ngIf="addValidationError.password">{{addValidationError.password}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="label">
                                                    <label for="">Confirm Password :</label>
                                                </div>
                                                <div class="input">                                                  
                                                    <div class="edit-input">
                                                        <input type="password" class="form-control" name="cpassword" [(ngModel)]='loginModel.cpassword'>
                                                        <span *ngIf="addValidationError.cpassword">{{addValidationError.cpassword}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="main_btn">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- container -->
            </div> <!-- Page content Wrapper -->
        </div>
        <app-footer></app-footer>
    </div>
</div>
