.profile-box-img {
  width: 100%;
  max-width: 262px;
  height: 262px;
  border: 5px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
          box-shadow: 0 0 10px #ddd;
  border-radius: 100%;
  margin: 0 auto 20px;
}

.profile-box-img img {
  position: relative;
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.profile-box-img .file-upload {
  display: none;
}

.profile-box-img .p-image {
  position: absolute;
  top: 50%;
  right: 40px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: translateY(140%);
          transform: translateY(140%);
  background-color: #000;
  padding: 5px 5px;
  border-radius: 10px;
}

.profile-box-img .p-image:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.profile-box-img .p-image .upload-button {
  font-size: 1.2em;
}

.profile-box-img .p-image .upload-button:hover {
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #999;
}

.profile-form h2 {
  margin-bottom: 30px;
}

.profile-form .form-group {
  display: block;
}

@media (min-width: 768px) {
  .profile-form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.profile-form .form-group .label {
  width: 150px;
}

@media (max-width: 768px) {
  .profile-form .form-group .input {
    width: 100%;
  }
}

.profile-form .form-group .input .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.profile-form .form-group .input .detail button {
  margin-left: 10px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.profile-form .form-group .input .edit-input span {
  font-size: 13px;
  color: #d02f2f;
}

#status {
  left: 62% !important;
}
/*# sourceMappingURL=profile.component.css.map */