.profile-box-img {
  width: 100%;
  max-width: 262px;
  height: 262px;
  border: 5px solid #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px #ddd;
  border-radius: 100%;
  margin: 0 auto 20px;

  img {
    position: relative;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
  }

  .file-upload {
    display: none;
  }

  .p-image {
    position: absolute;
    top: 50%;
    right: 40px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateY(140%);
    background-color: #000;
    padding: 5px 5px;
    border-radius: 10px;

    &:hover {
      transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
    }


    .upload-button {
      font-size: 1.2em;


      &:hover {
        transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
        color: #999;
      }
    }
  }
}

.profile-form {
  h2 {
    margin-bottom: 30px;
  }

  .form-group {
    display: block;

    @media (min-width:768px) {
      display: flex;
      align-items: baseline;
    }

    .label {
      width: 150px;
    }

    .input {
      @media (max-width:768px) {
        width: 100%;
      }

      .detail {
        display: flex;
        align-items: baseline;

        button {
          margin-left: 10px;
          background-color: transparent;
          border: 0;
          cursor: pointer;
        }
      }

      .edit-input {
        span {
          font-size: 13px;
          color: #d02f2f;
        }
      }
    }
  }
}

