<app-header></app-header>
<div class="title_bar">
    <div class="container">
      <div class="inner">
        <h2>Work is in progress...</h2>
        <div class="profile">
          <div class="detail">
            <h5>Profile name</h5>
            <a href="#" class="edit">Edit Profile <span class="icon"><i class="far fa-edit"></i></span></a>
          </div>
          <div class="pro_img">
            <img src="/assets/img/pro_img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
<!-- <section class="candidate_list">
    <div class="container">
        <div class="row">
            <div class="col-md-12 m-auto">
                <div class="row align-items-center">
                    <div class="col-sm-4">
                        <div class="page_title">
                            <h4>Candidate</h4>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="rt-content d-flex align-items-center justify-content-end">
                            <div class="profile-content pr-3">
                                <h4>John Morrison</h4>
                                <h5>Edit Profile
                                    <span>
                                        <img src="/assets/img/edit.png" alt="">
                                    </span>
                                </h5>
                            </div>
                            <div class="profile_img">
                                <a href="#">
                                    <img src="assets/img/profile.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- <div style="text-align: center;"><h4> Work is in progress!</h4></div> -->

<!-- <section class="candidate_tabs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="applied-tab" data-toggle="tab" href="#applied" role="tab" aria-controls="applied" aria-selected="true">Applied</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="process-tab" data-toggle="tab" href="#process" role="tab" aria-controls="process" aria-selected="false">Under Process</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="hired-tab" data-toggle="tab" href="#hired" role="tab" aria-controls="hired" aria-selected="false">Hired</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="reject-tab" data-toggle="tab" href="#reject" role="tab" aria-controls="reject" aria-selected="false">Rejected</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="applied" role="tabpanel" aria-labelledby="applied-tab">
                        <div class="table-responsive-lg">
                            <table class="table  table-borderless">
                                <thead>
                                    <tr>
                                        <th style="width:300px">Description</th>
                                        <th style="width:300px">Skills</th>
                                        <th style="width:160px">Experience</th>
                                        <th style="width:200px">Date</th>
                                        <th style="width:200px">Type</th>
                                        <th style="width:200px">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="candi_detail">
                                                <img src="assets/img/ic_p1.png" alt="" class="img-fluid"> John Morrison
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_post">
                                                <p>Frontend Developer</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_year">
                                                <p>4 Years</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_date">
                                                <p>22-12-2020</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_status">
                                                <p>Applied</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <a class="dropdown-item" href="#">Schedule meeting</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">Reject</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="candi_detail">
                                                <img src="assets/img/ic_p1.png" alt="" class="img-fluid"> John Morrison
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_post">
                                                <p>Frontend Developer</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_year">
                                                <p>4 Years</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_date">
                                                <p>22-12-2020</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_status">
                                                <p>Applied</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <a class="dropdown-item" href="#">Schedule meeting</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">Reject</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="process" role="tabpanel" aria-labelledby="process-tab">
                        <div class="table-responsive-sm">
                            <table class="table  table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Description</th>
                                        <th scope="col">Skills</th>
                                        <th scope="col">Experience</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="candi_detail">
                                                <img src="assets/img/ic_p1.png" alt="" class="img-fluid"> John Morrison
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_post">
                                                <p>Frontend Developer</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_year">
                                                <p>4 Years</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_date">
                                                <p>22-12-2020</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_status">
                                                <p>Applied</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <a class="dropdown-item" href="#">Schedule meeting</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">Reject</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="candi_detail">
                                                <img src="assets/img/ic_p1.png" alt="" class="img-fluid"> John Morrison
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_post">
                                                <p>Frontend Developer</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_year">
                                                <p>4 Years</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_date">
                                                <p>22-12-2020</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_status">
                                                <p>Applied</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <ul class="list-unstyled">
                                                        <li>
                                                            <a class="dropdown-item" href="#">Schedule meeting</a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="#">Reject</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="hired" role="tabpanel" aria-labelledby="hired-tab">
                        <div class="table-responsive-sm">
                            <table class="table  table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Description</th>
                                        <th scope="col">Skills</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Hired Date</th>
                                        <th scope="col">Salary</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="candi_detail">
                                                <img src="assets/img/ic_p1.png" alt="" class="img-fluid"> John Morrison
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_post">
                                                <p>Frontend Developer</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_year">
                                                <p>Unpaid</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_date">
                                                <p>
                                                    22-12-2020
                                                </p>
                                            </div>
                                        </td>
                                        <td>$35,000</td>
                                        <td>
                                            <a href="#" class="btn btn-primary py-1 px-3">Pay</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="candi_detail">
                                                <img src="assets/img/ic_p1.png" alt="" class="img-fluid"> John Morrison
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_post">
                                                <p>Frontend Developer</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_year">
                                                <p>Unpaid</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_date">
                                                <p>
                                                    22-12-2020
                                                </p>
                                            </div>
                                        </td>
                                        <td>$35,000</td>
                                        <td>
                                            <a href="#" class="btn btn-primary py-1 px-3">Pay</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="reject" role="tabpanel" aria-labelledby="reject-tab">
                        <div class="table-responsive-sm">
                            <table class="table  table-borderless">
                                <thead>
                                    <tr>
                                        <th scope="col">Description</th>
                                        <th scope="col">Skills</th>
                                        <th scope="col">Experience</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="candi_detail">
                                                <img src="assets/img/ic_p1.png" alt="" class="img-fluid"> John Morrison
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_post">
                                                <p>IOS Developer</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_year">
                                                <p>1 Years</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_date">
                                                <p>22-12-2020</p>
                                            </div>
                                        </td>
                                        <td>Rejected</td>
                                        <td>
                                            <div class="candi_schedule">
                                                <a href="#" class="btn btn-primary py-1 px-3">Schedule</a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="candi_detail">
                                                <img src="assets/img/ic_p1.png" alt="" class="img-fluid"> John Morrison
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_post">
                                                <p>IOS Developer</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_year">
                                                <p>1 Years</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="candi_date">
                                                <p>22-12-2020</p>
                                            </div>
                                        </td>
                                        <td>Rejected</td>
                                        <td>
                                            <div class="candi_schedule">
                                                <a href="#" class="btn btn-primary py-1 px-3">Schedule</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->