.page_title {
    padding: 0px 0 0px 100px;
    @media (min-width: 1600px) {
        padding-top: 30px;
        padding-bottom: 45px;
    }
    h4 {
        font-size: 20px;
        font-weight: 600;
        color: #000;
    }
}

.rt-content {
    padding: 7px 0;
    .profile-content {
        h4 {
            font-size: 18px;
            font-weight: 600;
            color: #D0021B;
            ;
        }
        h5 {
            font-size: 16px;
            font-weight: 500;
            color: #000;
            text-align: right;
        }
    }
}

.candidate_tabs {
    background: #fff;
    padding: 34px 0;
    table {
        border-spacing: 0px 10px !important;
        border-collapse: separate;
    }
    .nav {
        .nav-item {
            &.active {
                .nav-link {
                    background-color: #D0021B;
                    opacity: 1;
                    color: #fff;
                }
            }
            .nav-link {
                padding: 7px 20px;
                border-radius: 15px;
                background-color: rgb(0 0 0 / .05);
                color: #000;
                font-size: 16px;
                font-weight: 500;
                margin-right: 20px;
                &.active {
                    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
                    background-color: #D0021B;
                    opacity: 1;
                    color: #fff;
                }
                @media (max-width:768px) {
                    padding: 7px 10px;
                    font-size: 14px;
                    margin-right: 10px;
                }
            }
            &:last-child {
                .nav-link {
                    background-color: rgb(249 151 70 / .1);
                    &.active {
                        background-color: rgb(249 151 70 / 1);
                    }
                }
            }
        }
    }
    .tab-content {
        padding: 20px 0 0;
        table {
            thead {
                tr {
                    th {
                        opacity: 0.4;
                        font-size: 14px;
                        font-weight: 500;
                        color: #000000;
                        @media (min-width: 768px) {
                            font-size: 16px;
                        }
                    }
                }
            }
            tbody {
                tr {
                    border-radius: 15px;
                    box-shadow: 0px 0px 7px 0 rgb(206 207 208 / 42%);
                    background-color: rgb(0 114 186 / .05);
                    margin-bottom: 20px;
                    td {
                        font-size: 13px;
                        font-weight: 500;
                        color: #000;
                        padding: 10px 12px;
                        @media (min-width: 992px) {
                            font-size: 16px;
                        }
                        img {
                            padding-right: 22px;
                        }
                        .dropdown {
                            a {
                                i {
                                    color: #D0021B;
                                    font-size: 22px;
                                }
                            }
                            .dropdown-menu {
                                ul {
                                    li {
                                        a {
                                            text-align: center;
                                            &:hover {
                                                background-color: #D0021B;
                                                padding: 10px;
                                                color: #fff;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #reject {
            table {
                tbody {
                    tr {
                        background-color: rgb(249 151 70 / .1);
                        ;
                    }
                }
            }
        }
    }
    .candi_detail {
        width: 200px;
    }
    .candi_post {
        width: 190px;
    }
    .candi_year {
        width: 100px;
    }
    .candi_date {
        width: 100px;
    }
    .candi_schedule {
        width: 125px;
    }
}

.title_bar {
    background: #FEF7F7;
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .profile {
        display: flex;
        align-items: center;
        h5 {
            font-size: 15px;
            font-weight: 600;
            color: #D0021B;
            padding-bottom: 3px;
        }
        a.edit {
            font-size: 14px;
            font-weight: 500;
            color: #000;
            text-decoration: none;
            span.icon {
                padding-left: 5px;
                position: relative;
                top: -2px;
            }
            &:hover {
                color: #D0021B;
            }
        }
        .pro_img {
            padding-left: 12px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 12px;
                object-fit: cover;
            }
        }
    }
    h2 {
        font-size: 20px;
        font-weight: 600;
        color: #000;
    }
}