<div class="accountbg"></div>
<div class="wrapper-page">

  <div class="card">
    <div class="card-body">
      <h3 class="text-center mt-0 m-b-15">
        <a href="index.html" class="logo logo-admin"><img src="assets/images/headlogo.png" alt="logo"></a>
      </h3>
      <div class="p-3">
        <form class="form-horizontal m-t-20" action="#">
          <div class="form-group row">
            <div class="col-12">
              <input class="form-control" name="email" [(ngModel)]="Login_model.email" type="text"
                placeholder="email">
                <span class="err_msg" *ngIf="Validation_model.email">{{Validation_model.email}}</span>
            </div>
           
          </div>
          <div class="form-group row">
            <div class="col-12">
              <input class="form-control" type="password" name="password" [(ngModel)]="Login_model.password"
                placeholder="Password">
                <span class="err_msg" *ngIf="Validation_model.password">{{Validation_model.password}}</span>
            </div>
            
          </div>
          <div class="form-group text-center row m-t-20">
            <div class="col-12">
              
           <button class="login_btn" (click)="loginAdmin()" type="button">Log In</button>
           <span class="err_msg" class="errMsg" *ngIf="errMsg">{{ errMsg }}</span>
              <!-- <button class="btn btn-danger btn-block waves-effect waves-light" click="loginAdmin()" type="button">Log
                                In</button> -->
              <!-- <span class="err_msg" class="errMsg" *ngIf="errMsg">{{ errMsg }}</span> -->
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
