<div id="wrapper">
    <!-- <app-sidebar></app-sidebar> -->
    <div class="content-page">
      <div class="content">
        <!-- <app-header></app-header> -->
        <div class="page-content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="page-title-box">
                  <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                      <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">The Pragmatic</a></li>
                      <li class="breadcrumb-item active">Add Post</li>
                    </ol>
                  </div>
                  <h4 class="page-title">Add Post</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row align-items-center justify-content-center">
                      <div class="col-md-8 col-xl-6">                                         
                        <div class="form-area">
                          <form method="post" name="contactForm" novalidate="novalidate">
                              <div class="admin-img">
                               <span class="showonhover">
                                    <img src="./assets/images/profile.png" alt="" class="show-img">
                                     <i class="fa fa-camera" aria-hidden="true"></i></span>
                                  <input id="selectfile" type="file" name="" style="display: none;">
                              </div>
                             <div class="form-group">
                                  <label for="name">Name*</label>
                                  <input type="text" class="form-control" id="name" placeholder="Enter Full Name" name="name">
                              </div>
                              <div class="form-group">
                                  <label for="name">Email*</label>
                                  <input type="email" class="form-control" id="" placeholder="Enter Email" name="name">
                              </div>
                              <div class="form-group">
                                  <label for="Phone">Phone*</label>
                                  <input type="number" class="form-control" id="phone" placeholder="Enter Phone Number" name="name">
                              </div>
                              <div class="form-group">
                                  <label class="control-label">Password</label>
                                  <div class="pass_field">
                                    <input type="password" class="form-control" name="password">
                                    <span class="eye_btn">
                                      <button class="btn" type="button">
                                        <span><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                        <span><i class="fa fa-eye" aria-hidden="true"></i></span>
                                      </button>
                                    </span>
                                  </div>
                              </div>
                              <div class="row mb-3 align-items-center">
                                <div class="col-6">
                                    <button type="button" class="btn-primary add-btn">Create</button>
                                </div>
                                <div class="col-6 text-right">
                                    <a [routerLink]="['/care-reciever-management/post-list']" class="back_btn"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back</a>
                                </div>
                              </div>
                          </form>
                        </div>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <app-footer></app-footer> -->
      </div>
    </div>
  </div>
  