section.choose_plan {
    background: #fff;
}

.page_title {
    padding-top: 35px;
    padding-bottom: 35px;
    text-align: center;
    @media (min-width: 1600px) {
        padding-top: 30px;
        padding-bottom: 45px;
    }
    h4 {
        font-size: 20px;
        font-weight: 600;
        color: #000;
    }
}

.card {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    padding: 20px 24px;
    border-radius: 10px;
    margin-top: 21px;
    @media (min-width: 899px) {
        padding: 34px 24px;
        margin-top: 0px;
    }
    .card-body {
        padding: 0;
        h2 {
            font-size: 24px;
            font-weight: 600;
            padding: 5px 0 10px;
            span {
                font-size: 16px;
                font-weight: 500;
                color: rgb(0 0 0 / .5);
                @media (min-width: 992px) {
                    font-size: 18px;
                }
            }
        }
        h5 {
            font-size: 14px;
            font-weight: 600;
            color: #000;
            margin: 0;
        }
        .listing {
            li {
                font-size: 14px;
                font-weight: 600;
                color: #000;
                &:before {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background: rgba(0, 0, 0, 0.05);
                    display: block;
                    margin: 12px 0;
                }
                &:last-child {
                    &:after {
                        content: "";
                        width: 100%;
                        height: 2px;
                        background: rgba(0, 0, 0, 0.05);
                        display: block;
                        margin: 12px 0 20px;
                    }
                }
            }
        }
        p {
            font-size: 12px;
            color: #000;
            line-height: 1.19;
            padding-bottom: 10px;
            margin: 16px 0;
            line-height: 22px;
            @media (min-width: 768px) {
                font-size: 14px;
            }
            @media (min-width:899px) {
                font-size: 12px;
            }
            @media (min-width:992px) {
                font-size: 16px;
            }
        }
        .blue-btn {
            border-radius: 27px;
            background-color: #D0021B;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            @media (min-width: 1145px) {
                width: 240px;
                height: 39px;
            }
        }
        .btn-primary.hover_effect .txt {
            position: absolute;
            z-index: 9;
            left: 0;
            top: 0;
            right: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.bg-blue {
    background: #D0021B;
    .card-body {
        h2 {
            color: #fff;
            span {
                color: rgb(255, 255, 255 / .5);
            }
        }
        h5 {
            color: #fff;
        }
        .listing {
            li {
                color: #fff;
            }
        }
        p {
            color: #fff;
        }
        hr {
            border: solid 1px rgba(255, 255, 255, 0.2);
        }
        .btn-primary {
            background-color: #fff;
            border-radius: 25px;
            color: #0072BA!important;
           &.hover_effect {
                position: relative;
                overflow: hidden;
                .bg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 0;
                    width: 0;
                    height: 0;
                    background-color: #D0021B;
                    border-radius: 50%;
                    opacity: .9;
                    transform: translate(-50%, -50%);
                    transition: 425ms cubic-bezier(.5, 0, .07, 1);
                }
                .txt {
                    position: absolute;
                    z-index: 9;
                    left: 0;
                    top: 0;
                    right: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &:hover {
                    transition: color .55s cubic-bezier(.5, 0, .07, 1);
                    color: #fff!important;
                    background: #fff;
                    border-color: #fff;
                    .bg {
                        width: 108%;
                        height: 0;
                        padding-top: 108%;
                        opacity: 1;
                        transition: .55s cubic-bezier(.5, 0, .07, 1);
                    }
                }
            }
        }
    }
}