<app-header></app-header>
<section class="choose_plan top-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="page_title">
                    <h4>Choose Plan</h4>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="row justify-content-center pb-5 pb-md-0">
                    <div class="col-md-4 col-sm-6 ">
                        <div class="card border-light">
                            <div class="card-body">
                                <h5 class="card-title">{{packesdetails[0].plan_name}}</h5>
                                <h2>€{{packesdetails[0].plan_amount}} <span>/ {{packesdetails[0].plan_time}}</span></h2>
                                <p class="card-text">{{packesdetails[0].plan_description}}</p>
                                <ul class="list-unstyled listing">
                                    <li>{{packesdetails[0].access_fee}}</li>
                                    <li>{{packesdetails[0].success_fee}}% Success fee per hire</li>
                                    <li>{{packesdetails[0].plan_time}}</li>
                                    <li>Standard platform support</li>
                                </ul>
                                <div class="btn-area text-center">
                                    <button class="blue-btn btn-primary hover_effect" (click)="getPlanname($event)">
                                <span class="bg"></span>
                                <span  class="txt" id="Standard" name="Standard">Choose Plan</span>
                            </button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="card border-light bg-blue">
                            <div class="card-body">
                                <h5 class="card-title">{{packesdetails[1].plan_name}}</h5>
                                <h2>€{{packesdetails[1].plan_amount}} <span>/ {{packesdetails[1].plan_time}}</span></h2>
                                <p class="card-text">{{packesdetails[1].plan_description}}</p>
                                <ul class="list-unstyled listing">
                                    <li>{{packesdetails[1].access_fee}}</li>
                                    <li>{{packesdetails[1].success_fee}}% Success fee per hire</li>
                                    <li>{{packesdetails[1].plan_time}}</li>
                                    <li>Standard platform support</li>
                                </ul>
                                <div class="btn-area text-center">
                                    <button class="blue-btn btn-primary hover_effect" (click)="getPlanname($event)">
                              <span class="bg"></span>
                              <span  class="txt" id="Premium" name="Premium">Choose Plan</span></button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 ">
                        <div class="card border-light">
                            <div class="card-body">
                                <h5 class="card-title">{{packesdetails[2].plan_name}}</h5>
                                <h2>€{{packesdetails[2].plan_amount}} <span>/ {{packesdetails[2].plan_time}}</span></h2>
                                <p class="card-text">{{packesdetails[2].plan_description}}</p>
                                <ul class="list-unstyled listing">
                                    <li>{{packesdetails[2].access_fee}}</li>
                                    <li>{{packesdetails[2].success_fee}}% Success fee per hire</li>
                                    <li>{{packesdetails[2].plan_time}}</li>
                                    <li>Standard platform support</li>
                                </ul>

                                <div class="btn-area text-center">
                                    <button class="blue-btn btn-primary hover_effect" (click)="getPlanname($event)">
                              <span class="bg"></span>
                              <span  class="txt" id="Customised" name="Customised">Choose Plan</span></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>