/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.page_title {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    @media (min-width: 1600px) {
        padding-top: 30px;
        padding-bottom: 45px;
    }
    h4 {
        font-size: 20px;
        font-weight: 600;
        color: #000;
        text-transform: uppercase;
    }
    p {
        font-size: 16px;
        color: #a3a3a3;
    }
}

.about_candidate {
    .choose-options {
        display: flex;
        .radiobtns {
            display: block;
            position: relative;
            padding: 0 30px;
            cursor: pointer;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            @media (min-width: 768px) {
                font-size: 14px;
            }
        }
        .radiobtns input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: #eee;
            border-radius: 50%;
            @media (min-width: 768px) {
                height: 21px;
                width: 21px;
            }
        }
        .radiobtns input:checked~.checkmark {
            background-color: #D0021B;
        }
        .radiobtns input~.checkmark {
            background-color: #666666;
        }
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        .radiobtns input:checked~.checkmark:after {
            display: block;
        }
        .radiobtns input~.checkmark:after {
            display: block;
        }
        .radiobtns .checkmark:after {
            top: 5px;
            left: 5px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
            @media (min-width: 768px) {
                top: 6px;
                left: 6px;
                width: 9px;
                height: 9px;
            }
        }
    }
    input {
        background-color: #F9F9F9;
        border: 1px solid #f9f9f9;
        &:placeholder {
            font-size: 12px;
            @media (min-width: 768px) {
                font-size: 14px;
            }
        }
        &:focus {
            box-shadow: none;
            border-color: #D0021B;
        }
        &.errormsg {
            border-color: red;
        }
    }
    .ng-select-container {
        background-color: #F9F9F9 !important;
        border: transparent !important;
    }
    &.errormsg {
        border-color: red;
    }
}

span.showonhover {
    border: 2px dashed #979797;
    background: #F9F9F9;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 200px;
    min-height: 100px;
    text-align: center;
    justify-content: center;
    i {
        color: #D0021B;
        font-size: 30px;
        padding-bottom: 5px;
    }
}

.accordion_area {
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    .accor_btn {
        background: #D0021B;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        padding: 0 20px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        border-radius: 7px;
        @media (min-width: 1600px) {
            height: 50px;
            padding: 0 20px;
            font-size: 20px;
        }
        &.collapsed {
            background: #d0021b1a;
            color: #000;
        }
    }
    .card {
        border: none;
        padding-bottom: 20px;
        &:last-child {
            padding-bottom: 0px;
        }
        .card-body {
            padding: .5rem;
            width: 100%;
            @media(min-width: 768px) {
                padding: 32px 50px 0;
            }
            .btn_area {
                text-align: right;
                .btn.btn-primary {
                    width: 100px;
                    height: 40px;
                    font-size: 16px;
                    font-weight: 600;
                    @media (min-width: 1600px) {
                        width: 150px;
                        height: 50px;
                        font-size: 20px;
                    }
                }
                .btn.back_btn {
                    font-size: 16px;
                    font-weight: 600;
                    color: #949494;
                    width: 120px;
                    @media (min-width: 1600px) {
                        width: 150px;
                        font-size: 20px;
                    }
                }
                .btn {
                    height: 40px;
                    @media (min-width: 1600px) {
                        height: 50px;
                    }
                    &.add_btn {
                        font-size: 14px;
                        width: 160px;
                        border: 1px solid #000;
                        color: #000;
                        border-radius: 25px;
                        @media (min-width: 1600px) {
                            font-size: 18px;
                            width: 200px;
                        }
                    }
                }
                &.mulitple {
                    ul {
                        display: flex;
                        list-style: none;
                        justify-content: flex-end;
                        align-items: center;
                        li {
                            padding-left: 15px;
                        }
                    }
                }
            }
        }
    }
    .form-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 24px;
        .label-area {
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: 18px;
            @media (min-width: 768px) {
                flex: 0 0 25%;
                max-width: 25%;
                text-align: right;
            }
            label {
                margin: 0;
                font-size: 14px;
                font-weight: 500;
                color: #000;
                line-height: 1.3;
                @media (min-width: 1600px) {
                    font-size: 16px;
                    line-height: 1.4;
                }
            }
        }
        .field_area {
            flex: 0 0 100%;
            max-width: 100%;
            flex-wrap: wrap;
            .radiobtns {
                margin-top: 7px !important;
                @media (min-width: 768px) {
                    margin-top: 0 !important;
                }
            }
            @media (min-width: 768px) {
                flex: 0 0 75%;
                max-width: 75%;
                flex-wrap: nowrap;
            }
            input {
                height: 100%;
            }
            ng-select {
                flex: 0 0 100%;
                max-width: 100%;
            }
            &.job_time {
                label {
                    flex: none;
                    max-width: none;
                    color: #868686;
                    padding-right: 12px;
                }
            }
        }
    }
}

#time_date {
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}

.uload_file {
    .dropzone {
        background: rgba(0, 114, 186, 0.05);
        max-width: 464px;
        height: 224px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        color: #000;
        flex-direction: column;
    }
    input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

ng-select {
    flex: 0 0 75%;
    max-width: 75%;
}

.accordion>.card {
    overflow: visible;
    box-shadow: unset;
}

.checkbx {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    padding-right: 35px !important;
    user-select: none;
    margin-left: auto !important;
}


/* Hide the browser's default checkbox */

.checkbx input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: -3px;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}


/* On mouse-over, add a grey background color */

.checkbx:hover input~.checkmark {
    background-color: #ccc;
}


/* When the checkbox is checked, add a blue background */

.checkbx input:checked~.checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.checkbx input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.checkbx .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.job_type {
    padding-bottom: 24px;
    ul {
        list-style: none;
        display: flex;
        max-width: 75%;
        margin-left: auto;
        li {
            padding-right: 20px;
            &:last-child {
                padding-right: 20px;
            }
            button {
                height: 40px;
                background: rgba(0, 114, 186, 0.05);
                font-size: 16px;
                padding: 5px 20px;
                color: #848484;
                border-radius: 25px;
                &.selected {
                    color: #fff;
                    background: rgba(0, 114, 186, 1);
                }
                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
}

#collapseFour {
    .card-body {
        padding-top: 24px !important;
    }
}

.add_btn {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    white-space: nowrap;
    margin-left: 15px;
    color: #D0021B;
}

.quali_bx {
    position: relative;
    .close_btn {
        position: absolute;
        top: 50%;
        right: -66px;
        padding: 0;
        font-size: 22px;
        color: #949494;
        &:hover {
            color: #000;
        }
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }
}

.radio_btn {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio_btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio_btn .checkmark {
    position: absolute;
    top: -3px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #666666;
    border-radius: 50%;
}

.radio_btn:hover input~.checkmark {
    background-color: #8a8a8a;
}

.radio_btn input:checked~.checkmark {
    background-color: #D0021B;
}

.radio_btn input:checked~.checkmark {
    display: block;
}

.radio_btn .checkmark:after {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
    display: block;
}

.radio_btn_area {
    label.radio_btn {
        flex: none !important;
        max-width: none !important;
        text-align: left !important;
    }
}

.radio_btn_area {
    input {
        height: auto !important;
    }
}

.files-list {
    ngx-dropzone {
        flex-direction: column-reverse;
        justify-content: center;
        max-width: 464px;
        height: 220px;
        margin: 0 auto;
        background: rgba(0, 114, 186, 0.05);
        border-radius: 25px;
        border: none;
    }
    ngx-dropzone-label {
        font-size: 15px;
        font-weight: 500;
        color: #000;
        p {
            font-size: 12px;
            color: #000;
        }
    }
    h6 {
        text-align: center;
        color: #000;
        font-size: 15px;
        padding-top: 15px;
    }
}

.number_input {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
}

.time_icon {
    position: relative;
    .icon {
        position: absolute;
        right: 5px;
        top: 0;
        height: 100%;
        padding: 8px;
    }
}

.upload_bx {
    border: 2px dashed #979797;
    background: #F9F9F9;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-height: 100px;
    text-align: center;
    justify-content: center;
    position: relative;
    h4 {
        font-size: 16px;
        color: #000;
    }
    p {
        font-size: 12px;
        color: #000;
        word-break: break-all;
        padding: 10px;
    }
    .icon {
        i {
            color: #D0021B;
            font-size: 30px;
            padding-bottom: 5px;
        }
    }
    input.file_upload {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        bottom: 0;
    }
    .file {
        text-align: center;
        width: 195px;
        height: 114px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        background: #fff;
        button.remove_file {
            position: absolute;
            right: -12px;
            top: -14px;
            color: red;
            padding: 0;
            width: 25px;
            height: 25px;
            font-size: 20px;
            border-radius: 50%;
            background: #fff;
        }
    }
}

.backbtn {
    font-size: 16px;
    font-weight: 600;
    color: #949494;
}

.close_btn {
    i {
        color: #d0021b;
        font-size: 22px;
    }
}

.errormsg {
    border-color: red;
}

.successmsg {
    border-color: rgb(4, 63, 19);
}

.validation-msg {
    color: #D0021B;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    display: block!important;
}

.valid-error {
    display: none;
}

.comment-area {
    .validation-msg {
        bottom: 0;
    }
}

.ng-select.disable-arrow .ng-arrow-wrapper .ng-arrow {
    display: none;
}

.ng-select.disable-dropdown ng-dropdown-panel {
    display: none;
}

.ng-select.disable-clear-all .ng-clear-wrapper {
    display: none;
}

.date-section {
    display: flex;
    justify-content: space-around;
}

.outer-div {
    display: flex;
    width: 21%;
}

.dot {
    width: 10;
    position: absolute;
    width: 10px;
}

.error-line {
    transform: translate(48px, -21px);
}