<app-header></app-header>

<section class="about_candidate">
    <div class="container">
        <div class="row">
            <div class="col-md-11 m-auto">
                <div class="page_title">
                    <h4>Build Your Profile</h4>
                    <p>Don't hold back, we want to know the real you!</p>
                </div>
                <div class="accordion_area">
                    <div class="accordion" id="detailAccordion">
                        <div class="card">
                            <div id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left accor_btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" [attr.disabled]="lets?true:null" *ngIf=!getId>
                    <span class="txt">You</span>
                    <span class="icon"><i class="fas fa-angle-down"></i></span>
                  </button>
                                    <button class="btn btn-link btn-block text-left accor_btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" *ngIf=getId>
                    <span class="txt">You</span>
                    <span class="icon"><i class="fas fa-angle-down"></i></span>
                  </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" [ngClass]="{'show': lets===false}" aria-labelledby="headingOne" data-parent="#detailAccordion">
                                <div class="card-body">
                                    <div class="alert alert-danger sub_msg" *ngIf="errMsg">{{message}}</div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Email Id *</label>
                                        </div>
                                        <div class="field_area">
                                            <input type="email" class="form-control" [(ngModel)]="loginModel.email" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Right to work in the UK *</label>
                                        </div>
                                        <div class="field_area">
                                            <input type="text" class="form-control">
                                            <span class="valid-error">*Please enter your right to work in the UK</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label for="currentjob-title">Current Job Title *</label>
                                        </div>
                                        <div class="field_area">
                                            <input type="text" [ngClass]="{'errormsg': validationcurrentjobtitle===true}" (keypress)="currentjobtitlevalidation()" class="form-control" name="current_job_title" [(ngModel)]="loginModel.current_job_title" maxlength="40">
                                            <span class="valid-error" [ngClass]="{'validation-msg': validationcurrentjobtitle===true}">*Please
                        enter your current job title</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label for="forwho">For who? *</label>
                                        </div>
                                        <div class="field_area ">
                                            <input type="text" [ngClass]="{'errormsg': validationforwho===true}" (keypress)="forwhovalidation()" class="form-control" name="for_who" [(ngModel)]="loginModel.for_who" maxlength="40">
                                            <span class="valid-error" [ngClass]="{'validation-msg': validationforwho===true}">*Please enter
                        this field</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label for="job-type">Employment Type *</label>
                                        </div>
                                        <div>
                                            <div class="field_area choose-options">
                                                <label for="permanent" class="radiobtns m-0">Permanent
                          <input type="radio" value="permanent" name="radio3" id="permanent"
                            (change)='onJobtypeChange("permanent")' [(ngModel)]="loginModel.job_type">
                          <span class="checkmark"></span>
                        </label>
                                                <label class="radiobtns m-0" for="contract">Contract
                          <input type="radio" name="radio3" value="contract" id="contract"
                            (change)='onJobtypeChange("contract")' [(ngModel)]="loginModel.job_type">
                          <span class="checkmark"></span>
                        </label>
                                                <label class="radiobtns m-0" for="freelance">Freelance
                          <input type="radio" name="radio3" value="freelance" id="freelance"
                            (change)='onJobtypeChange("freelance")' [(ngModel)]="loginModel.job_type">
                          <span class="checkmark"></span>
                        </label>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                    <div class="label-area">
                      <label>Employment Type</label>
                    </div>
                    <div class="field_area">
                      <ng-select [items]="employmenttypes" bindLabel="name" placeholder="Select Your Employment Type" name="employment_type"
                      [(ngModel)]="loginModel.sector">
                    </ng-select>
                    </div>
                  </div> -->
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Sector *</label>
                                        </div>
                                        <div class="field_area ">
                                            <ng-select [items]="sectorlists" [searchable]="false" [ngClass]="{'errormsg': validationsector===true}" (keypress)="sectorvalidation()" bindLabel="name" bindValue="name" placeholder="Select Your Sector" [(ngModel)]="loginModel.sector[0]" (change)="filterskillswithsector($event)">
                                            </ng-select>
                                            <span class="valid-error" [ngClass]="{'validation-msg': validationsector===true}">*Please select
                        sector</span>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Skills *</label>
                                        </div>
                                        <div class="field_area">
                                            <ng-select [items]="skillswithsector" [searchable]="true" [ngClass]="{'errormsg': validationskills===true}" (keypress)="skillsvalidation()" bindLabel="name" placeholder="Select Your Skills" appendTo="body" [hideSelected]="true" [multiple]="true" name="skills"
                                                [(ngModel)]="loginModel.skills">
                                            </ng-select>
                                            <span class="valid-error" [ngClass]="{'validation-msg': validationskills===true}">*Please select
                        skills</span>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Experience *</label>
                                        </div>
                                        <div class="field_area">
                                            <ng-select [items]="experiencelist" [ngClass]="{'errormsg': validationexperience===true}" (keypress)="experiencevalidation()" bindLabel="name" placeholder="Select Your Experience" name="experience" [(ngModel)]="loginModel.experience[0]">
                                            </ng-select>
                                            <span class="valid-error" [ngClass]="{'validation-msg': validationexperience===true}">*Please
                        select experience</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Actively Looking* </label>
                                        </div>
                                        <div class="field_area">
                                            <ng-select [items]="currentStatuslist" [ngClass]="{'errormsg': validationlooking===true}" (keypress)="lookingvalidation()" bindLabel="name" placeholder="Select Your Current Status" name="languaage" [(ngModel)]="loginModel.current_status">
                                            </ng-select>
                                            <span class="valid-error" [ngClass]="{'validation-msg': validationlooking===true}">*Please select
                        actively looking for</span>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                    <div class="label-area">
                      <label>Specific Project Experience</label>
                    </div>
                    <div class="field_area">
                      <input type="text" class="form-control" name="specific_project_experience" [(ngModel)]="loginModel.specific_project_experience">
                    </div>
                  </div> -->

                                    <!-- <div class="form-group">
                    <div class="label-area">
                      <label>First Language</label>
                    </div>
                    <div class="field_area">
                      <ng-select [items]="language" bindLabel="name" placeholder="English" name="first_language"
                        [(ngModel)]="loginModel.first_language">
                      </ng-select>
                    </div>
                  </div> -->

                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>GitHub Link </label>
                                        </div>
                                        <div class="field_area">
                                            <input type="text" [ngClass]="{'errormsg': validationgithub===true}" class="form-control" name="link_github" [(ngModel)]="loginModel.link_github" maxlength="70">
                                            <span class="valid-error" [ngClass]="{'validation-msg': validationgithub===true}">*Please enter
                        the github link correctly (IF ANY) eg- www.github.com/yourprofile/</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Linkedin Link</label>
                                        </div>
                                        <div class="field_area">
                                            <input type="text" class="form-control" name="">
                                            <span class="valid-error">*Please enter
                        the linkedin link correctly (IF ANY) eg- www.linkedin.com/in/yourprofile/</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Skype ID / Zoom ID </label>
                                        </div>
                                        <div class="field_area">
                                            <input type="text" class="form-control" name="">
                                            <span class="valid-error">*Please enter the
                        Skype ID / Zoom ID correctly (IF ANY) eg- https://join.skype.com/yQRcJDxgABC</span>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                    <div class="label-area">
                      <label>Your Personal Website(If any)</label>
                    </div>
                    <div class="field_area">
                      <input type="text" class="form-control" name="your_website" [(ngModel)]="loginModel.your_website">
                    </div>
                  </div>  -->
                                    <!-- <div class="form-group" *ngFor='let in of counts(s); let j=index;'>
                    <div class="label-area">
                    <label *ngIf="j==0">Relevant Project work links</label>
                    <label *ngIf="j>0">Work link {{j}}</label>
                    </div>
                    <div class="field_area d-flex">
                      <input type="text" class="form-control" name="relevent_project_work_links" [(ngModel)]="this.loginModel.relevent_project_work_links[j]">
                      <button class="btn add_btn" type="button" (click)="addWork()" *ngIf="j==0">Add more +</button>
                      <button class="btn close_btn" *ngIf="s==j+1 && j>0" type="button" (click)="removeWork()"><i
                          class="fas fa-times-circle"></i></button>
                    </div>
                  </div>  -->
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>CV / Portfolio upload </label>
                                        </div>
                                        <div class="field_area">
                                            <div class="files-list">
                                                <div class="upload_bx" (keyup)="checkvalidation()" [ngClass]="{'errormsg': validationcvupload===true}">
                                                    <div class="text-center" *ngIf="w==0">
                                                        <div class="icon">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </div>
                                                        <h4>Upload</h4>
                                                    </div>
                                                    <input #fileInput type="file" accept="application/pdf,application/msword,
                          application/vnd.openxmlformats-officedocument.wordprocessingml.document" class="file_upload" name="cvUpload" (change)=selectcvImage($event)>
                                                    <div class="file" *ngIf="w==1">
                                                        <p>{{filename1}}</p>
                                                        <button class="btn remove_file" (click)="removecvfile(fileInput, i)"><i
                                class="fas fa-times-circle"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="label-area" *ngIf="getId">
                                            <label>Uploaded File:</label>
                                        </div>
                                        <div class="field_area" *ngIf="getId">
                                            {{loginModel.cv_upload}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Personal Website/Relevant Projects Upload</label>
                                        </div>
                                        <div class="field_area">
                                            <div class="files-list">
                                                <div class="upload_bx" (keyup)="checkvalidation()" [ngClass]="{'errormsg': validationwebsiteupload===true}">
                                                    <div class="text-center" *ngIf="x==0">
                                                        <div class="icon">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </div>
                                                        <h4>Upload</h4>
                                                    </div>
                                                    <input #fileInput accept="application/pdf,application/msword,
                          application/vnd.openxmlformats-officedocument.wordprocessingml.document" type="file" name="skills" class="file_upload" (change)=selectSkillsImage($event)>
                                                    <div class="file" *ngIf="x==1">
                                                        <p>{{filename2}}</p>
                                                        <button class="btn remove_file" (click)="removeskillsfile(fileInput, i)"><i
                                class="fas fa-times-circle"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="label-area" *ngIf="getId">
                                            <label>Uploaded File:</label>
                                        </div>
                                        <div class="field_area" *ngIf="getId">
                                            {{loginModel.skill_assessment_upload}}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Reference Upload</label>
                                        </div>
                                        <div class="field_area">
                                            <div class="files-list">
                                                <div class="upload_bx" (keyup)="checkvalidation()" [ngClass]="{'errormsg': validationrefupload===true}">
                                                    <div class="text-center" *ngIf="y==0">
                                                        <div class="icon">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </div>
                                                        <h4>Upload</h4>
                                                    </div>

                                                    <input #fileInput type="file" accept="application/pdf,application/msword,
                          application/vnd.openxmlformats-officedocument.wordprocessingml.document" name="referance" class="file_upload" (change)=selectReferenceImage($event)>
                                                    <div class="file" *ngIf="y==1">
                                                        <p>{{filename3}}</p>
                                                        <button class="btn remove_file" (click)="removereferencefile(fileInput, i)"><i
                                class="fas fa-times-circle"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="label-area" *ngIf="getId">
                                            <label>Uploaded File:</label>
                                        </div>
                                        <div class="field_area" *ngIf="getId">
                                            {{loginModel.reference_upload}}
                                        </div>
                                    </div>
                                    <div class="btn_area">
                                        <button class="btn btn-primary hover_effect" (click)="letgotabdatasave()" *ngIf="!getId">
                      <span class="bg"></span>
                      <span class="txt">Next</span>
                    </button>
                                        <button class="btn-primary hover_effect blue-btn" (click)="updateletgotabdatasave()" *ngIf="getId">
                      <span class="bg"></span>
                      <span class="txt" id="Customised" name="Customised">Update</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left accor_btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" [attr.disabled]="degree?'true':null" *ngIf=!getId>
                    <span class="txt">Academia</span>
                    <span class="icon"><i class="fas fa-angle-down"></i></span>
                  </button>
                                    <button class="btn btn-link btn-block text-left accor_btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" *ngIf=getId>
                    <span class="txt">Academia</span>
                    <span class="icon"><i class="fas fa-angle-down"></i></span>
                  </button>
                                </h2>
                            </div>

                            <div id="collapseTwo" class="collapse" [ngClass]="{'show': degree===false}" aria-labelledby="headingTwo" data-parent="#detailAccordion">
                                <div class="card-body">
                                    <div class="alert alert-danger sub_msg" *ngIf="errMsg">{{message}}</div>
                                    <!-- Add Second Degree And Qualifications -->
                                    <div class="quali_bx form shadow p-4 mb-4" *ngFor='let in of countes(r); let k=index;'>

                                        <div class="form-group">
                                            <div class="label-area">
                                                <label>Qualification *</label>
                                            </div>
                                            <div class="field_area">
                                                <!--<ng-select [items]="qualificationlist" bindLabel="name" placeholder="MCA"
                          name="qualification" [(ngModel)]="loginModel.qualification[j]">
                        </ng-select>-->
                                                <input type="text" (keypress)="alreadyExistQualification()" class="form-control" [(ngModel)]="loginModel.qualification[k]" maxlength="25">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label-area">
                                                <label>Grade *</label>
                                            </div>
                                            <div class="field_area grade">
                                                <input type="text" class="form-control" [(ngModel)]="loginModel.grade[k]" maxlength="10">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="label-area">
                                                <label for="university">University /School *</label>
                                            </div>
                                            <div class="field_area">
                                                <input type="text" class="form-control" name="university" id="university" [(ngModel)]="loginModel.university_school[k]" maxlength="50">
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="label-area">
                                                <label for="date">Date *</label>
                                            </div>
                                            <div class="field_area time_icon">
                                                <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" class="form-control" name="ideal_start_date" [(ngModel)]="loginModel.date[k]" placeholder="mm/dd/yy">
                                                <owl-date-time [pickerType]="'calendar'" #dt></owl-date-time>

                                                <span class="icon trigger" [pickerType]="'calendar'" [owlDateTimeTrigger]="dt"><img
                            src="/assets/img/icons/clock.svg" alt=""></span>
                                                <!-- <span  class="valid-error" [ngClass]="{'validation-msg': validationdate===true}">*Please select your ideal start date</span> -->

                                            </div>
                                            <!-- <div class="field_area" *ngIf=!getId >
                        <input type="date"  class="form-control" name="date" id="date"  [(ngModel)]="loginModel.date[k]" >
                        
                      </div>
                      <div class="field_area" *ngIf=getId>   
                        <input type="date" class="form-control" id="qdate" name="qdate"
                          [ngModel]="loginModel.date[k] | date:'yyyy-MM-dd'" (ngModelChange)="loginModel.date[k] = $event"
                          [value]="loginModel.date[k] | date:'yyyy-MM-dd'" #qdate="ngModel" required>
                          </div>  -->
                                        </div>

                                        <button class="btn close_btn" *ngIf="r==k+1 && k>0" type="button" (click)="removeQualification()"><i
                        class="fas fa-times-circle"></i></button>

                                    </div>
                                    <div class="form-group">
                                        <div class="label-area"></div>
                                        <div class="field_area">
                                            <div class="btn_area mulitple d-flex justify-content-between">
                                                <button class="btn add_btn" (click)="addQualification()">Add Qualification</button>
                                                <ul>

                                                    <li>
                                                        <button class="btn btn-primary hover_effect" (click)="degreetabdatasave()" *ngIf="!getId">
                              <span class="bg"></span>
                              <span class="txt">Next</span>
                            </button>
                                                        <button class="btn-primary hover_effect blue-btn" (click)="updatedegreetabdatasave()" *ngIf="getId">
                              <span class="bg"></span>
                              <span class="txt" id="Customised" name="Customised">Update</span></button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left accor_btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" [attr.disabled]="current?'true':null" *ngIf=!getId>
                    <span class="txt">Ideal job</span>
                    <span class="icon"><i class="fas fa-angle-down"></i></span>
                  </button>
                                    <button class="btn btn-link btn-block text-left accor_btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" *ngIf=getId>
                    <span class="txt">Ideal job</span>
                    <span class="icon"><i class="fas fa-angle-down"></i></span>
                  </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" [ngClass]="{'show': current===false}" aria-labelledby="headingThree" data-parent="#detailAccordion">
                                <div class="card-body">
                                    <div class="alert alert-danger sub_msg" *ngIf="errMsg">{{message}}</div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Job title *</label>
                                        </div>
                                        <div class="field_area">
                                            <input type="text" (keypress)="idealjobvalidation()" [ngClass]="{'errormsg': validationjobtitle===true}" class="form-control" name="jobtitle" [(ngModel)]="loginModel.job_title" maxlength="35">
                                            <span class="valid-error" [ngClass]="{'validation-msg': validationjobtitle===true}">*Please enter
                        your current job title</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label for="job-title">Type of Employment *</label>
                                        </div>
                                        <div class="field_area choose-options">
                                            <label for="perm" class="radiobtns m-0">Permanent
                        <input type="radio" name="radio4" value="permanent" id="perm"
                          (change)='onRoleTypeChange("permanent")' [(ngModel)]="loginModel.type_role">
                        <span class="checkmark"></span>
                      </label>
                                            <label class="radiobtns m-0" for="contra">Contract
                        <input type="radio" name="radio4" value="contract" id="contra"
                          (change)='onRoleTypeChange("contract")' [(ngModel)]="loginModel.type_role">
                        <span class="checkmark"></span>
                      </label>
                                        </div>
                                        <!-- <div class="field_area choose-options">
                      <label class="radiobtns" for="perm">Perm
                        <input type="radio" checked="checked" name="radio1" id="perm">
                        <span class="checkmark"></span>
                      </label>
                      <label class="radiobtns" for="freelance">Freelance
                        <input type="radio" name="radio1" id="freelance">
                        <span class="checkmark"></span>
                      </label>
                      <label class="radiobtns" for="contract">Contract
                        <input type="radio" name="radio1" id="contract">
                        <span class="checkmark"></span>
                      </label>
                    </div> -->

                                    </div>
                                    <!-- <div class="form-group">
                    <div class="label-area">
                      <label>Type Of Employment </label>
                    </div>
                    <div class="field_area">
                      <ng-select [items]="employmenttypes" bindLabel="name" placeholder="Select Your Employment Type" name="employment_type"
                      [(ngModel)]="loginModel.sector">
                    </ng-select>
                    </div>
                  </div> -->
                                    <div class="form-group" *ngFor='let in of count(t); let l=index;'>
                                        <div class="label-area">
                                            <label *ngIf="l==0">Preffered Location *</label>
                                            <label *ngIf="l>0">Location {{l}}</label>
                                        </div>
                                        <div class="field_area d-flex">
                                            <input type="text" class="form-control" name="preffered_location" [(ngModel)]="this.loginModel.preffered_location[l]" maxlength="35">
                                            <button class="btn add_btn" type="button" (click)="addlocation()" *ngIf="l==0">Add more +</button>
                                            <button class="btn close_btn" *ngIf="t==l+1 && l>0" type="button" (click)="removelocation()"><i
                          class="fas fa-times-circle"></i></button>
                                            <!-- (keypress)="prefferedlocationvalidation()" [ngClass]="{'errormsg': validationpreflocation===true}"
                      <span  class="valid-error" [ngClass]="{'validation-msg': validationpreflocation===true}">*Please enter your preffered location</span>  -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Target Salary*</label>
                                        </div>
                                        <div class="field_area">
                                            <div class="form-row align-items-baseline">
                                                <div class="col">
                                                    <div class="position-relative target-list">
                                                        <ng-select [items]="currency" (change)=disableDropdown() [searchable]="false" (keypress)="currencyvalidation()" [ngClass]="{'errormsg': validationcurrency===true} " bindLabel="name" placeholder="£" name="currency_item" [(ngModel)]="loginModel.currencylist"
                                                            [disabled]="disabledrop?true:null">
                                                        </ng-select>


                                                        <input type="text" (keypress)="keyPressSalary($event)" [ngClass]="{'errormsg': validationsalary===true}" class="form-control" name="target_salary" [(ngModel)]="loginModel.target_salary" minlength="0" maxlength="10">
                                                    </div>
                                                    <div *ngIf="loginModel.currencylist == '' "></div>
                                                    <span class="valid-error" *ngIf="loginModel.currencylist == '' " [ngClass]="{'validation-msg': validationcurrency===true}">*Please select currency</span><br>
                                                    <span class="valid-error" *ngIf="loginModel.target_salary == '' " [ngClass]="{'validation-msg': validationsalary===true}">*Please enter your target
                            salary</span>

                                                </div>
                                                <div class="col">
                                                    <div class="field_area choose-options">
                                                        <label for="annualy" class="radiobtns m-0">Annualy
                              <input type="radio" name="radio2" id="annualy" (change)='onItemChange("annualy")'
                                value="annualy" [(ngModel)]="loginModel.salary_type">
                              <span class="checkmark"></span>
                            </label>
                                                        <label class="radiobtns m-0" for="monthly">Monthly
                              <input type="radio" name="radio2" id="monthly" (change)='onItemChange("monthly")'
                                value="monthly" [(ngModel)]="loginModel.salary_type">
                              <span class="checkmark"></span>
                            </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="form-group">
                    <div class="label-area">
                      <label>Current Status</label>
                    </div>
                    <div class="field_area">
                      <ng-select [items]="currentStatuslist" bindLabel="name" placeholder="Actively Looking for" name="languaage"
                        [(ngModel)]="loginModel.current_status">
                      </ng-select>
                    </div>
                  </div> -->

                                    <div class="form-group">
                                        <div class="label-area">
                                            <label for="time_date">Ideal start date *</label>
                                        </div>
                                        <div class="field_area time_icon">
                                            <input [owlDateTimeTrigger]="dt" [owlDateTime]="dt" class="form-control" name="ideal_start_date" [min]="minDate" [(ngModel)]="loginModel.ideal_start_date" placeholder="mm/dd/yy">
                                            <owl-date-time pickerType="calendar" #dt></owl-date-time>
                                            <!-- <mat-date-range-picker #picker></mat-date-range-picker> -->
                                            <!-- <span class="icon trigger" [owlDateTimeTrigger]="dt"><img src="/assets/img/icons/clock.svg" alt=""></span> -->
                                            <!-- <span  class="valid-error" [ngClass]="{'validation-msg': validationdate===true}">*Please select your ideal start date</span> -->

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Preffered Sector *</label>
                                        </div>
                                        <div class="field_area">
                                            <ng-select [items]="prefferedIndustrylist" [searchable]="false" (keypress)="industryvalidation()" [ngClass]="{'errormsg': validationindustry===true}" bindLabel="name" placeholder="Select Your Industry" name="preffered_industry" [(ngModel)]="loginModel.preffered_industry">
                                            </ng-select>
                                            <span class="valid-error" [ngClass]="{'validation-msg': validationindustry===true}">*Please select
                        your preffered industry</span>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Company Size *</label>
                                        </div>
                                        <div class="field_area">
                                            <ng-select [items]="sizelist" (keypress)="sizevalidation()" [ngClass]="{'errormsg': validationsize===true}" bindLabel="name" placeholder="Select Company Size" name="size1" [(ngModel)]="loginModel.size1">
                                            </ng-select>
                                            <span class="valid-error" [ngClass]="{'validation-msg': validationsize===true}">*Please enter
                        company size</span>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Culture*</label>

                                        </div>
                                        <div class="field_area">
                                            <ng-select [items]="culturelist" bindLabel="name" placeholder="Select Culture" name="size2" [(ngModel)]="loginModel.size2">
                                            </ng-select>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Main Drivers *</label>
                                        </div>
                                        <!-- <div class="field_area">
                      <ng-select [items]="locationlist" bindLabel="name" name="location1" [(ngModel)]="loginModel.location1">
                      </ng-select>
                    </div> -->
                                        <div class="field_area">
                                            <ng-select [items]="driverlist" bindLabel="name" placeholder="Select Main Drivers" name="size3" [(ngModel)]="loginModel.size3">
                                            </ng-select>

                                        </div>
                                    </div>
                                    <div class="btn_area mulitple">
                                        <ul>
                                            <!-- <li>
                        <a href="#" class="backbtn">Back</a>
                      </li> -->
                                            <li>
                                                <button class="btn btn-primary hover_effect" (click)="currentTabdata()" *ngIf="!getId">
                          <span class="bg"></span>
                          <span class="txt">Next</span>
                        </button>
                                                <button class="btn-primary hover_effect blue-btn" (click)="updatecurrentTabdata()" *ngIf="getId">
                          <span class="bg"></span>
                          <span class="txt" id="Customised" name="Customised">Update</span></button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div id="headingFour">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left accor_btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" [attr.disabled]="target?'true':null" *ngIf=!getId>
                    <span class="txt">About You</span>
                    <span class="icon"><i class="fas fa-angle-down"></i></span>
                  </button>
                                    <button class="btn btn-link btn-block text-left accor_btn collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" *ngIf=getId>
                    <span class="txt">About You</span>
                    <span class="icon"><i class="fas fa-angle-down"></i></span>
                  </button>
                                </h2>
                            </div>
                            <div id="collapseFour" class="collapse" [ngClass]="{'show': target===false}" aria-labelledby="headingFour" data-parent="#detailAccordion">
                                <div class="card-body">
                                    <div class="alert alert-danger sub_msg" *ngIf="errMsg">{{message}}</div>
                                    <div class="form-group position-relative comment-area">
                                        <label for="time_date">How would your friends describe you? *</label>
                                        <textarea (keyup)="bestfriendvalidation()" [ngClass]="{'errormsg': validationfriend===true}" class="form-control textarea-height mb-3" name="describe_friend" [(ngModel)]="this.loginModel.describe_friend" maxlength="500"> </textarea>
                                        <span class="valid-error" [ngClass]="{'validation-msg': validationfriend===true}">*Please enter this
                      field</span>

                                    </div>
                                    <div class="form-group position-relative comment-area">
                                        <label for="time_date">What is your greatest achievement to date? *</label>
                                        <textarea (keyup)="dowellvalidation()" [ngClass]="{'errormsg': validationdowell===true}" class="form-control textarea-height mb-3" name="do_well" [(ngModel)]="this.loginModel.do_well" maxlength="500"> </textarea>
                                        <span class="valid-error" [ngClass]="{'validation-msg': validationdowell===true}">Please enter this
                      field</span>

                                    </div>
                                    <div class="form-group position-relative comment-area">
                                        <label for="time_date">What are your main qualities? *</label>
                                        <textarea (keyup)="passionvalidation()" [ngClass]="{'errormsg': validationpassion===true}" class="form-control textarea-height mb-3" name="passion" [(ngModel)]="this.loginModel.passion" maxlength="500"> </textarea>
                                        <span class="valid-error" [ngClass]="{'validation-msg': validationpassion===true}">*Please enter
                      this field</span>

                                    </div>
                                    <div class="form-group position-relative comment-area">
                                        <label for="time_date">Your goals for the next 3 years? *</label>
                                        <textarea (keyup)="goalvalidation()" [ngClass]="{'errormsg': validationgoals===true}" class="form-control textarea-height mb-3" name="goals" [(ngModel)]="this.loginModel.goals" maxlength="500"> </textarea>
                                        <span class="valid-error" [ngClass]="{'validation-msg': validationgoals===true}">*Please enter this field</span>
                                    </div>
                                    <div class="form-group position-relative comment-area">
                                        <label for="time_date">What would the ideal job look like? *</label>
                                        <textarea (keyup)="idealvalidation()" [ngClass]="{'errormsg': validationidealjob===true}" class="form-control textarea-height mb-3" name="ideal_job" [(ngModel)]="this.loginModel.ideal_job" maxlength="50">  </textarea>
                                        <span class="valid-error" [ngClass]="{'validation-msg': validationidealjob===true}">*Please
                      enter this field</span>
                                    </div>
                                    <div class="form-group position-relative comment-area">
                                        <label for="time_date">Anything else that’s important to mention? *</label>
                                        <textarea (keyup)="anythingvalidation()" [ngClass]="{'errormsg': validationanythingelse===true}" class="form-control textarea-height mb-3" name="anything_else" [(ngModel)]="this.loginModel.anything_else" maxlength="500">  </textarea>
                                        <span class="valid-error" [ngClass]="{'validation-msg': validationanythingelse===true}">*Please
                      enter this field</span>
                                    </div>
                                    <div class="form-group flex-column align-items-start position-relative comment-area">
                                        <label for="time_date">Availability Time *
                      <span class="trigger time" [owlDateTimeTrigger]="dt1">
                        <i class="fas fa-calendar-alt"></i>
                        </span>
                    <owl-date-time #dt1></owl-date-time>
                    </label>

                                        <div class="date-section date-box" [ngClass]="{'errormsg': validationavailability===true}">
                                            <div *ngFor="let value of availabilityDate; let i = index;let last = last;" class="outer-div">{{ value }} </div>
                                        </div>
                                        <input [owlDateTime]="dt1" name="availability" [(ngModel)]="loginModel.availability" (dateTimeChange)="dateChanged($event)" hidden>
                                    </div>
                                    <span class="valid-error error-line" [ngClass]="{'validation-msg': validationavailability===true}">*Please select minimum three dates</span>
                                    <div class="form-group">
                                        <div class="intrest-queries w-100">
                                            <label for="time_date">Video Upload (Optional)</label>
                                            <div class="files-list">
                                                <div class="upload_bx" [ngClass]="{'errormsg': validationvideo===true}">
                                                    <div class="text-center" *ngIf="z==0">
                                                        <div class="icon">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </div>
                                                        <h4>Upload</h4>
                                                    </div>
                                                    <input #fileInput type="file" accept="video/*" class="file_upload" (change)=selectVideoImage($event)>
                                                    <div class="file" *ngIf="z==1">
                                                        <p>{{filename4}}</p>
                                                        <button class="btn remove_file" (click)="removevideofile(fileInput, i)"><i
                                class="fas fa-times-circle"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="field_area" *ngIf="getId">
                                                <label>Uploaded File: {{loginModel.video_upload}}</label>
                                            </div>
                                            <div class="btn_area mulitple">
                                                <ul>
                                                    <li>
                                                        <button class="btn btn-primary hover_effect" (click)="interestTabdata()" *ngIf="!getId">
                              <span class="bg"></span>
                              <span class="txt">Finish</span>
                            </button>
                                                        <button class="btn-primary hover_effect blue-btn" (click)="updateinterestTabdata()" *ngIf="getId">
                              <span class="bg"></span>
                              <span class="txt" id="Customised" name="Customised">Update</span></button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>