@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

body {
  font-family: 'Montserrat', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1230px;
  width: 100%;
}

.cstm_drop {
  position: relative;

  &:hover {
    a {
      &.txt {
        color: #D0021B !important;
      }
    }

    .drop {
      display: block;
    }
  }

  .drop {
    display: none;
    position: absolute;
    top: calc(100%);
    padding-top: 5px;
    left: 0;
    width: 100%;

    ul {
      background: #fff;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        padding: 0 !important;

        a {
          padding: 5px 15px;
          display: block;

          &:hover {
            background: #D0021B;
            color: #fff !important;
          }
        }
      }
    }
  }
}

.btn-primary {
  background-color: #D0021B;
  border-color: #D0021B;
  border-radius: 25px;
  border-width: 1px !important;
  color: #fff !important;

  &.hover_effect {
    position: relative;
    overflow: hidden;

    .bg {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      width: 0;
      height: 0;
      background-color: #fff;
      border-radius: 50%;
      opacity: .9;
      transform: translate(-50%, -50%);
      transition: 425ms cubic-bezier(.5, 0, .07, 1);
    }

    .txt {
      position: relative;
      z-index: 9;
    }

    &:hover {
      transition: color .55s cubic-bezier(.5, 0, .07, 1);
      color: #D0021B !important;
      background: #D0021B;
      border-color: #D0021B;
      border-width: 1px;

      .bg {
        width: 108%;
        height: 0;
        padding-top: 108%;
        opacity: 1;
        transition: .55s cubic-bezier(.5, 0, .07, 1);
      }
    }

    &:focus {
      border-width: 1px;
    }
  }
}

.btn-primary:not(:disabled):not(.disabled):active {
  transition: color .55s cubic-bezier(.5, 0, .07, 1);
  color: #fff;
  background: #D0021B;
  border-color: #D0021B;
  border-width: 1px;
}

.ng-select.ng-select-single .ng-select-container {
  height: 40px;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  border: none !important;
}

.ng-select .ng-arrow-wrapper {
  background-image: url('/assets/img/icons/angle.svg');
  background-position: center;
  background-repeat: no-repeat;
  padding-right: 45px;
}

.active-data {
  color: green !important;
}

.deactive-data {
  color: red !important;
}

.blue-btn {
  padding: 8px 30px;
  border-radius: 27px;
  background-color: #D0021B;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  text-align: center;

  @media (min-width: 992px) {
    padding: 10px 50px;
  }

  @media (min-width:1200px) {
    padding: 10px 45px;
    font-size: 14px;
  }

  @media (min-width:1500px) {
    padding: 8px 54px;
  }

  &:hover {
    border: 2px solid #D0021B;
  }

}

.blue-field {
  .ng-select-container {
    background-color: #cfeafb !important;
    border: none;
  }

}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #d0021b;
  color: #fff;
  padding: 0px 10px;
  border-radius: 5px;
  font-weight: 400;
  display: flex;
  align-items: center;
  height: 40px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.left {
  border-right: unset;
  font-size: 33px;
  display: inline-block;
}

.ng-select .ng-select-container {
  background-color: #f9f9f9;
  border: 0;
}

.owl-theme .owl-nav [class*=owl-],
.owl-theme .owl-nav [class*=owl-]:hover {
  font-size: 42px;
  margin: 0px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  border-radius: 0px;
}

.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  top: 0;
  left: 15%;
}

.owl-carousel .owl-nav .owl-next {
  position: absolute;
  left: 15%;

  img {
    transform: rotate(180deg);
  }
}

.owl-carousel.owl-theme.owl-loaded.owl-responsive {
  padding: 60px 0;
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #b70218 !important;
}

.my-pagination .ngx-pagination .current {
  background: #D0021B;
}

.target-list ng-select {
  position: absolute;
  top: 0;
  margin: 1px 0 1px 1px;
}

.target-list .ng-select .ng-select-container {
  border-radius: 0;
  align-items: center;
  max-width: 75px !important;
}

.target-list input {
  height: 40px !important;
  border-radius: 0;
  padding-left: 80px;
  height: 39px !important;
}

.target-list .ng-select .ng-arrow-wrapper {
  background-size: 12px;
}

.target-list .ng-select .ng-clear-wrapper {
  display: none;
}

.target-list .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 0;
}

.target-list .ng-select.ng-select-single .ng-select-container {
  height: 37px;
}

table {
  thead {
    tr {
      th {
        cursor: pointer;

        &:last-child {
          cursor: unset;
        }
      }
    }
  }
}

#cont-no {
  .ng-select {
    padding-left: 35px;
    .ng-select-container{
      max-width: 100px!important;
    }
  }
  .form-control{
    padding-left: 130px;
  }
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup{
  background-color: #D0021B;
  color: #fff;
  font-weight: 800;
}
.date-box{
  padding: .5rem;
  border-radius: 5px;
  width: 100%;
  height: 62px; 
}
.cdk-overlay-pane{
  top: 10% !important;
  left: 31% !important;
}
.buttonDisable{
  display: none;
}
.time{
  i{
    font-size: 21px;
  }
}
.owl-item{
  img{
    width: 184px !important;
    height: 137px !important;
  }
}