
.add-btn{
    padding: 8px 30px;
    border-radius: 4px;
}
.alert-msg,.err_msg{
    font-size: 13px;
    color: #e21b1b;
}
hr{
    border: 1px solid #c1baba;
    margin-bottom: 30px;
  }
  .car-detail{
    display:flex;
    align-items: center;
    h6{
      width: 100%;
      max-width: 175px;
    }
    p{
      margin-bottom:0;
    }
  }
  .sort-icon{
    transform: rotate(90deg);
  }