<div id="wrapper">
  <app-sidebar></app-sidebar>
  <div class="content-page">
    <div class="content">
      <app-header></app-header>
      <div class="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="btn-group float-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">The Pragmatic</a></li>
                    <li class="breadcrumb-item active">Religion Management</li>
                  </ol>
                </div>
                <h4 class="page-title">Religion Management</h4>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col-md-12">
              <a href="javascript:void(0)" class="btn-primary add-btn float-right" data-toggle="modal" data-target="#addreligionmodal">Add Religion</a>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-sm-4 col-md-3 mb-3" *ngFor="let religionLists of religionList; let i = index">
              <div class="card" >
                <div class="card-header text-center" data-toggle="modal" data-target="#choosereligionmodal">
                  <a href="javascript:void(0)" class="btn religion-btn" data-toggle="modal" data-target="#choosereligionmodal">{{religionLists.religion_name}}</a>
                </div>
               <div class="card-body">
                  <p class="card-text"> card title and make up the bulk of the card's content...</p>
                   <div class="show_hover_btn">
                        <a href="javascript:void(0)" data-toggle="modal" data-target="#editreligionmodal"><i class="fa fa-pencil" aria-hidden="true" (click)="editReligion(religionLists._id)"></i></a>
                        <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>

<div class="modal fade" id="addreligionmodal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addreligionmodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addreligionmodalLabel">Add Religion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closereligionModel">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="">
            <div class="form-group">
                <label>Religion Name</label>
                <input type="text" class="form-control mb-3" placeholder="Add religion name" name="religion_name" [(ngModel)]="adminModel.religion_name">
                <label>Religion Descrption</label>
                <textarea class="form-control" rows="5" id="description" name="religion_description" [(ngModel)]="adminModel.religion_description"></textarea>
            </div>
            <button type="submit" class="btn-primary add-btn" (click)="addReligion()">Add</button>
        </form>
      </div>
      
    </div>
  </div>
</div>

<div class="modal fade" id="choosereligionmodal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="choosereligionmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <h3 class="text-center">Choose One</h3>
         <div class="d-flex justify-content-center choosebtn">
            <a href="javascript:void(0)" [routerLink]='["/about_islam"]' class="btn-primary add-btn">lorem 
            </a>
            <a href="javascript:void(0)" [routerLink]='["/question_answer"]' class="btn-primary add-btn" data-toggle="modal" data-target="#questionanswer">Question/Answer</a>
         </div>
        </div>
        
      </div>
    </div>
  </div>

  <div class="modal fade" id="editreligionmodal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="editreligionmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editreligionmodalLabel">Edit Religion</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="">
              <div class="form-group">
                  <label>Religion Name</label>
                  <input type="text" class="form-control mb-3" placeholder="Add religion name">
                  <label>Religion Description</label>
                  <textarea class="form-control" rows="5" id="description"></textarea>
              </div>
              <button type="submit" class="btn-primary add-btn">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
 