.religion_names {
  ul {
    list-style: none;
    margin: 0 -5px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      padding: 0 5px 10px;
      position: relative;

      .religion-btn {
        background-color: #00649b17;
        border-radius: 10px;
        padding: 7px 20px;
        color: #00649b;
        font-size: 16px;
        font-weight: 500;

      }

      &:hover {
        .show_hover_btn {
          opacity: .6;


        }
      }

    }
  }
}

.modal {
  .modal-header {
    background: #00649b;
    padding: 10px 18px;

    h5 {
      color: #fff;
      font-size: 18px;
    }

    button {
      color: #fff;
      opacity: 1;
    }
  }

  .modal-body {
    background-color: #e3f2fb61;
    border: 1px solid #e3f2fb61;

    .choosebtn {
      padding-top: 20px;

      a {
        margin: 5px;
      }
    }

  }
}

.show_hover_btn {
  background-color: #444444;
  padding: 7px 20px;
  display: flex;
  justify-content: center;
  a {
    color: #00649b;
    margin: 0 5px;
    background: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-header {
  background-color: #00649b17;
  padding: 4px 16px;
  @media(min-width:1200px){
    padding: 2px 20px;
  }

  a {
    color: #00649b;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    @media(min-width:1200px){
      font-size: 16px;
    }
  }
}

.card-body{
  padding: 0;
  .card-text{
    padding: 6px;
    font-size: 11px;
    @media(min-width:480px){
      padding: 15px;
      font-size: 14px;
    }
  }
      
  .show_hover_btn {
    background-color: #444444;
    padding: 7px 20px;
    display: flex;
    justify-content: center;
    a {
      color: #00649b;
      margin: 0 5px;
      background: #fff;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
