<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row product-page">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/view-company-list']">Company Name</a></li>
                                        <li class="breadcrumb-item active">Car Model List</li>
                                    </ol>
                                </div>
                                <h4 class="page-title"> Car Company Model</h4>
                            </div>
                        </div>
                   </div>
                   <div class="row">
                    <div class="col-sm-12">
                        <div class="proudct_numbering">
                            <div class="btn-group float-right">
                                <a  routerLink="/add-car-model/{{id}}" class="btn-danger add-btn">Add Model Name</a>
                            </div>
                            <h5 class="total_product">Total  Car Modals {{total}}</h5>
                            
                        </div>
                    </div>
                   </div>
                   <div class="row">
                    <div class="col-md-12">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <div class="search_bar">
                                <form class="d-flex align-items-center">
                                    <input type="text" class="form-control" [(ngModel)]="loginModel.searchKey"
                                        name="searchKey" placeholder="Search...">
                                    <button class="btn btn-primary" (click)="getSearching(currentPage)">Search</button>
                                </form>
                            </div>
                        </div>
                        <div class="card m-b-30">
                            <div class="card-body">
                                <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                                    {{ successMessage }}
                                    </div>
                                    <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                                    {{ errorMessage }}
                                    </div>
                                <div class="table-responsive mt-md-0 mt-4" id="table">
                                    <table class="table table-bordered">
                                       
                                        <thead>
                                            <tr>
                                            <th (click)="sortFunction('_id')" class="sort_menu">
                                                    Sr.No
                                       <span class="fa fa-exchange sort-icon" *ngIf="key =='created_at'"
                                   [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                           </th>
                                                <th>Model Name</th>
                                                <th>Created At</th>
                                                <!-- <th>Status</th> -->
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <span *ngIf="loaderShow">
                                                <app-loader></app-loader>
                                              </span> 
                                            <tr  *ngFor="let car of record; let i=index">
                                                <th scope="row">{{i+1}}</th>
                                                <td>{{car.model_name}}</td>
                                                <td>{{car.created_at}}</td>
                                                <!-- <td *ngIf="car.status==1">Active</td>
                                                <td *ngIf="car.status!=1">In-Active</td> -->
                                                <td>
                                                    <a routerLink="/edit-model/{{car._id}}" class="btn-primary p-1"><i
                                                            class="fa fa-pencil-square-o"
                                                            aria-hidden="true"></i></a>
                                                    <!-- <a  class="btn-success mx-2 p-1"
                                                    routerLink="/edit_product/{{car._id}}"><i class="fa fa-eye"
                                                            aria-hidden="true"></i></a> -->
                                                    <a  class="btn-danger p-1"  (click)="model_delete(car._id,car.model_name)"><i class="fa fa-trash"
                                                            aria-hidden="true"></i></a>
                                                </td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                                <nav aria-label="Page navigation" class="mt-3">
                                    <ul class="pagination">
                                        <li class="page-item disabled_back" *ngIf="currentPage==1"><a
                                                class="page-link">Previous</a>
                                        <li class="page-item" *ngIf="currentPage!=1" (click)="pageChange(currentPage-1)"><a
                                                class="page-link">Previous</a>
                                        </li>
                                        <li class="page-item" *ngFor='let in of counter(totalPages) ;let m = index'>
            
                                            <a class="page-link active" *ngIf="((m+1)==currentPage )">{{m+1}}</a>
                                            <a class="page-link"
                                                *ngIf="(m+1)!==currentPage && (m+1)>=(currentPage-2) && (m+1)<=(currentPage+2)"
                                                (click)="pageChange(m+1)">{{m+1}}</a>
                                        </li>
            
                                        <li class="page-item disabled_back" *ngIf="totalPages==currentPage">
                                            <a class="page-link">Next</a></li>
                                        <li class="page-item" *ngIf="totalPages!==currentPage"
                                            (click)="pageChange(currentPage+1)">
                                            <a class="page-link">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>