<section class="email-sent">
    <div class="container h-100">
        <div class="row">
            <div class="col-md-4">
                <a href="#"><img src="./assets/img/logo.png" alt=""></a>
            </div>
            <div class="email-box d-flex flex-column align-items-center text-center align-self-center">
                <h5>Thank you</h5><br>
                <!-- <img src="/assets/img/mailImg.png" alt=""> -->
                <h6>Swiped Talent Partner will be in touch shortly</h6><br>
                <button class="btn btn-primary hover_effect" (click)="signin()">
              <span class="bg"></span>
              <span class="txt">Sign In</span>
            </button>
            </div>
        </div>
    </div>
</section>