<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item active">Teachers Listing </li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Teachers Listing</h4>
                            
                            </div>
                            <div class="content_area">
                                <!-- Success msg html -->
                                <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                                    {{ successMessage }}
                                </div>
                                <!-- Error msg html -->
                                <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                                    {{ errorMessage }}
                                </div>
                                <div class="card mb-2">
                                    <div class="card-body d-lg-flex  justify-content-lg-between  align-items-lg-center">
                                        <div class="total-count">Total Teachers: {{ total }}</div>
                                        <div class="search-box">
                                            <form #f="ngForm" novalidate>
                                                <input name="search" [(ngModel)]="teacherModel.searchKey"
                                                    placeholder="By Email or Name" class="form-control">
                                                <button type="button" (click)="searchFunction(currentPage)" class="btn btn-primary">Search</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body add_lesson">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th style="width:5%">S.No</th>
                                                        <th style="width:35%" (click)="sortFunction('name')" class="sort_menu">
                                                            Name
                                                            <span class="fa fa-exchange sort-icon" *ngIf="key =='name'"
                                                                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                        </th>
                                                        <th style="width:20%" (click)="sortFunction('email')" class="sort_menu">
                                                            Email
                                                            <span class="fa fa-exchange sort-icon" *ngIf="key =='email'"
                                                                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                        </th>
                                                        <th style="width:20%" (click)="sortFunction('sex')" class="sort_menu">
                                                            Gender
                                                            <span class="fa fa-exchange sort-icon" *ngIf="key =='sex'"
                                                                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                        </th>
                                                        <th style="width:20%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <div class="loader_area">
                                                        <span *ngIf="loaderShow">                                        
                                                            <app-loader class="table_loader"></app-loader>
                                                        </span> 
                                                    </div>
                                                    <tr *ngFor="let item of teachers; let i = index; ">
                                                        <td>{{ (currentPage-1)*10+i+1 }}</td>
                                                        <td><a [routerLink]="['/teacher-view/', item.sourcedId]">{{ item.name }}</a></td>
                                                        <td>{{ item.email }}</td>
                                                        <td>{{ item.sex }}</td>
                                                        <td>
                                                            <button class="btn btn-primary mr-2" type="button" 
                                                        data-toggle="modal" (click)="blockTeacher(item.id)"> {{ (item.status == 'active')? 'Block' : 'Active' }}</button>
                                                        </td> 
                                                    </tr>
                                                    <tr *ngIf="noRecords" style="color:red;"><td colspan="20" class="text-center">No records found </td></tr>
                                                </tbody>
                                            </table>
                                            <nav aria-label="Page navigation" class="mt-3">
                                                <ul class="pagination">
                                                    <li class="page-item disabled_back" *ngIf="currentPage==1"><a
                                                            class="page-link">Previous</a>
                                                    <li class="page-item" *ngIf="currentPage!=1"
                                                        (click)="pageChange(currentPage-1)"><a
                                                            class="page-link">Previous</a>
                                                    </li>
                                                    <li class="page-item"
                                                        *ngFor='let in of counter(totalPages) ;let m = index'>
                                                        <a class="page-link active" *ngIf="((m+1)==currentPage )">{{m+1}}</a>
                                                        <a class="page-link"
                                                            *ngIf="(m+1)!==currentPage && (m+1)>=(currentPage-2) && (m+1)<=(currentPage+2)"
                                                            (click)="pageChange(m+1)">{{m+1}}</a>
                                                    </li>

                                                    <li class="page-item disabled_back" *ngIf="totalPages==currentPage">
                                                        <a class="page-link">Next</a></li>
                                                    <li class="page-item" *ngIf="totalPages!==currentPage"
                                                        (click)="pageChange(currentPage+1)">
                                                        <a class="page-link">Next</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
