.admin-profile{
    h5{
        margin:0 0 12px;
        font-size: 18px;
    }
    .email-update{
        flex: 0 0 48%;
        box-shadow: 0 2px 12px #f7f7f7;
        background: #eff3f6;
        margin-right: 30px;
        padding:20px 20px 10px;
    }
    .pwd-update{
        flex: 0 0 49%;
        box-shadow: 0 2px 12px #f7f7f7;
        background: #eff3f6;
        margin-right: 30px;
        padding:20px 20px 10px;
    }
}