<div id="wrapper">
  <app-sidebar></app-sidebar>
  <div class="content-page">
    <div class="content">
      <app-header></app-header>
      <div class="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="btn-group float-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">The Pragmatic</a></li>
                    <li class="breadcrumb-item active">Admin Profile</li>
                  </ol>
                </div>
                <h4 class="page-title">Admin Profile</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card m-b-30">
                <div class="card-body">
                  <div class="admin-profile d-flex">
                    <div class="email-update">
                      <form method="post" name="contactForm" novalidate="novalidate">
                          <h5>Update Email</h5>
                        <div class="form-group">
                          <input type="email" class="form-control" id="email" placeholder="admin@gmail.com"
                            name="email" required="">
                          <span class="alert-msg">Please fill out this field</span>
                        </div>
                        <div class="form-group">
                          <button type="button" class="btn-primary w-50 add-btn">Update</button>
                        </div>
                      </form>
                    </div>
                    <div class="pwd-update">
                      <form method="post" name="contactForm" novalidate="novalidate">
                        <h5>Update Password</h5>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" class="form-control" name="password" minlength="6" required="" placeholder="Password">
                            <span class="alert-msg">Please fill out this field</span>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Confirm Password</label>
                            <input type="password" class="form-control" name="password" minlength="6" required="" placeholder="Password">
                            <span class="alert-msg">Please fill out this field</span>
                        </div>
                        <div class="form-group">
                          <button type="button" class="btn-primary w-50 add-btn">Update</button>
                        </div>
                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <app-loader></app-loader>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
