<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item active">Intervention Strategy List </li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Intervention Strategy List</h4>

                            </div>
                            <div class="content_area">
                                <div class="card mb-2">
                                    <div class="card-body d-lg-flex  justify-content-lg-between  align-items-lg-center">
                                        <div class="total-count">Total Intervention Strategies: {{ total }}</div>
                                        <div class="search-box">
                                            <form #f="ngForm" novalidate>
                                                <input name="search" [(ngModel)]="schoolModel.searchKey" placeholder="Intervention strategy" class="form-control">
                                                <button type="button" (click)="searchFunction(currentPage)" class="btn btn-primary">Search</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <!-- Success msg html -->
                                        <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                                            {{ successMessage }}
                                        </div>
                                        <!-- Error msg html -->
                                        <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                                            {{ errorMessage }}
                                        </div>
                                        <a class="btn btn-primary mb-3" data-toggle="modal" data-target="#add_cate" (click)="add_btn()">+ Add Intervention Strategy</a>
                                        <!-- Button trigger modal -->
                                        <a type="button" class="btn btn-primary mb-3 ml-3" data-toggle="modal" data-target="#exampleModalCenter" (click)="viewList()">
                                           View List
                                        </a>

                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <thead class="modal-title w-100" id="exampleModalLongTitle">
                                                            <tr>
                                                                <th style="width:10%" class="title">Position</th>
                                                                <th style="width:50%" class="title">Antecedent Category Name</th>
                                                                <th style="width:23%" class="title">Antecedent Unique ID</th>
                                                            </tr>
                                                        </thead>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="table-responsive">
                                                            <table class="table">

                                                                <tbody>
                                                                    <tr *ngFor="let list of listView; let i = index;">
                                                                        <td>{{ list.position }}</td>
                                                                        <td>{{ (list.strategyName != '')? (list.strategyName.length>70)? (list.strategyName | slice:0:70)+'...':(list.strategyName) : '--' }}
                                                                        </td>
                                                                        <td>{{ list.strategyId == ''? 'N/A' : list.strategyId}}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th style="width:5%">S.No</th>
                                                        <th style="width:25%" (click)="sortFunction('strategyName')" class="sort_menu">
                                                            Intervention Strategy
                                                            <span class="fa fa-exchange sort-icon" *ngIf="key =='strategyName'" [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                        </th>
                                                        <th style="width:10%">Unique Id</th>
                                                        <th style="width:10%">Description</th>
                                                        <th style="width:10%">Status</th>
                                                        <th style="width:10%">Position</th>
                                                        <th style="width:16%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <div class="loader_area">
                                                        <span *ngIf="loaderShow">
                                                            <app-loader class="table_loader"></app-loader>
                                                        </span>
                                                    </div>
                                                    <tr *ngFor="let item of ObCategories; let i = index;">
                                                        <td>{{ (currentPage-1)*10+i+1 }}</td>
                                                        <td>{{ (item.strategyName != '')? (item.strategyName.length>70)? (item.strategyName | slice:0:70)+'...':(item.strategyName) : '--' }}
                                                        </td>
                                                        <td>{{ item.strategyId == ''? 'N/A' : item.strategyId}}</td>
                                                        <td>{{ (item.strategyDescription != '')? (item.strategyDescription.length>30)? (item.strategyDescription | slice:0:30)+'...':(item.strategyDescription) : '--' }}
                                                        </td>
                                                        <td *ngIf="item.status == 1"><span (click)="changeStatus(item.id, item.status)"><i
                                                                    class="fa fa-circle active-status"
                                                                    aria-hidden="true"></i></span></td>
                                                        <td *ngIf="item.status == 0"><span (click)="changeStatus(item.id, item.status)"><i
                                                                    class="fa fa-circle deactive-status"
                                                                    aria-hidden="true"></i></span></td>
                                                        <td class="d-flex">
                                                            <input type="number" #newPosition class="number-box" value={{item.position}} name="newPosition" (keyup)="addPosition(item.id, newPosition.value, $event)">
                                                            <span class="tick-box d-flex" data-bs-toggle="tooltip" data-bs-placement="left" title="Change Position">
                                                                <img class="tick" src="./assets/images/tick.png"
                                                                    alt="tick" *ngIf="intereventionId==item.id"
                                                                    (click)="updatePosition(item.id)">
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <div class="btn_area">
                                                                <a>
                                                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit_cate" (click)="update_btn(item.strategyName, item.strategyId, item.strategyDescription, item.status, item.id)">Edit
                                                                    </button>
                                                                </a>
                                                                <button class="btn btn-primary ml-2" type="button" data-toggle="modal" data-target="#" (click)="deleteFunction(item.id,item.position)">Delete
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf='noRecords' style="color:red">
                                                        <td colspan="20" class="text-center">No records found</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <nav aria-label="Page navigation" class="mt-3">
                                                <ul class="pagination">
                                                    <li class="page-item disabled_back" *ngIf="currentPage==1"><a class="page-link">Previous</a>
                                                        <li class="page-item" *ngIf="currentPage!=1" (click)="pageChange(currentPage-1)"><a class="page-link">Previous</a>
                                                        </li>
                                                        <li class="page-item" *ngFor='let in of counter(totalPages) ;let m = index'>
                                                            <a class="page-link active" *ngIf="((m+1)==currentPage )">{{m+1}}</a>
                                                            <a class="page-link" *ngIf="(m+1)!==currentPage && (m+1)>=(currentPage-2) && (m+1)<=(currentPage+2)" (click)="pageChange(m+1)">{{m+1}}</a>
                                                        </li>
                                                        <li class="page-item disabled_back" *ngIf="totalPages==currentPage">
                                                            <a class="page-link">Next</a>
                                                        </li>
                                                        <li class="page-item active" *ngIf="totalPages!==currentPage" (click)="pageChange(currentPage+1)">
                                                            <a class="page-link">Next</a>
                                                        </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>

<!-- add start -->
<div class="modal fade" id="add_cate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Intervention Strategy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-20" action="" name="CategoryAdd" #f="ngForm" (ngSubmit)="saveFunction()" novalidate>
                    <div class="form-group">
                        <label for="#"> Intervention Strategy Name* :</label>
                        <input type="text" class="form-control" [(ngModel)]="schoolModel.strategy_name" name="strategy_name">
                        <span *ngIf="addValidationError.strategy_name" class="validation">{{addValidationError.strategy_name}}</span>
                    </div>
                    <div class="form-group">
                        <label for="#"> Intervention Strategy Unique Id :</label>
                        <input type="text" class="form-control" [(ngModel)]="schoolModel.strategy_unique_id" name="strategy_unique_id">
                        <!-- <span *ngIf="addValidationError.category_name" class="validation">{{addValidationError.category_name}}</span> -->
                    </div>
                    <div class="form-group">
                        <label for="#"> Intervention Strategy* :</label>
                        <!-- <input type="text" class="form-control" [(ngModel)]="schoolModel.strategy_name"  name="strategy_name"> -->
                        <textarea class="form-control" [(ngModel)]="schoolModel.strategy_description" name="strategy_description"> </textarea>
                        <span *ngIf="addValidationError.strategy_description" class="validation">{{addValidationError.strategy_description}}</span>
                    </div>
                    <div class="form-group">
                        <label for="#"> Status :</label>
                        <input type="radio" name="status" [(ngModel)]="schoolModel.status" value="1" checked="true">Active
                        <input type="radio" name="status" [(ngModel)]="schoolModel.status" value="0">Inactive
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- edit start -->
<div class="modal fade " id="edit_cate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Intervention Strategy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-20" action="" name="SELCategoryEdit" #f="ngForm" (ngSubmit)="updateFunction()" novalidate>
                    <div class="form-group">
                        <label for="#"> Intervention Strategy Name* :</label>
                        <input type="text" class="form-control" [(ngModel)]="schoolModel.strategy_name" name="strategy_name">
                        <span *ngIf="addValidationError.strategy_name" class="validation">{{addValidationError.strategy_name}}</span>
                    </div>
                    <div class="form-group">
                        <label for="#"> Intervention Strategy Unique Id :</label>
                        <input type="text" class="form-control" [(ngModel)]="schoolModel.strategy_unique_id" name="strategy_unique_id">
                    </div>
                    <div class="form-group">
                        <label for="#"> Intervation Strategy* :</label>
                        <!-- <input type="text" [(ngModel)]="schoolModel.strategy_name"  name="strategy_name" class="form-control"> -->
                        <textarea [(ngModel)]="schoolModel.strategy_description" name="strategy_description" class="form-control">
                        </textarea>
                        <span *ngIf="addValidationError.strategy_description" class="validation">{{addValidationError.strategy_description}}</span>
                    </div>
                    <div class="form-group">
                        <label for="#"> Status :</label>
                        <input type="radio" name="status" [(ngModel)]="schoolModel.status" [value]="1" [attr.checked]="checkStatus1"> Active
                        <input type="radio" name="status" [(ngModel)]="schoolModel.status" [value]="0" [attr.checked]="checkStatus0"> Inactive
                    </div>
                    <div class="d-flex justify-content-between">
                        <input type="hidden" [(ngModel)]="schoolModel.intervention_id" name="intervention_id" class="form-control">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" model_class>Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>