.number-box {
    width: 25px;
    height: 25px;
    font-size: 12px;
    text-align: center;
    background: lightgrey;
    border: 1px solid #777171;
    border-radius: 2px;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
}

.tick-box {
    margin-left: .3rem;
    img {
        display: flex;
        width: 25px;
        height: 25px;
    }
    .non-tick {
        display: flex;
        width: 25px;
        height: 25px;
        background: lightgrey;
        border: 1px solid #777171;
        border-radius: 2px;
    }
}

.title {
    font-size: 15px;
}

.modal-dialog {
    @media (min-width: 1024px) {
        max-width: 60%;
    }
}