.page-content-wrapper {
    h6 {
      font-size: 18px;
      margin: 0;
  
      span {
        font-size: 27px;
        color: #00649b;
      }
    }
  }
.status-show{
    text-align: center;
    .de-activate {
        display: none;
      i {
        font-size: 25px;
        color: red;
      }
    }
    
    .activate {
    i {
        font-size: 25px;
        color: green;
      }
    
    }
}

.modal{
    .modal-content{
        padding: 0 30px;
        .form-area{
            background-color: #eff3f6;
            padding: 30px 40px 10px;
            margin: 30px 0;
            position: relative;
            .form-group{
                margin-bottom:22px;
                .alert-msg {
                    font-size: 13px;
                    color: #e21b1b;
                    position: absolute;
                    display: none;
                }
            }
            
        }
        span.showonhover {
            .show-img{
                width: 75px;
                height: 75px;
                border-radius: 50%;
                position: absolute;
                top: -30px;
                left: -30px;
            }
           .user-img{
                background: #00649b;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                position: absolute;
                top: -30px;
                left: -30px;
                display: flex;
                align-items: center;
                justify-content: center;
                display: none;
                i{
                    color:#fff;
                    font-size: 30px;
                }
            }
        }
        .admin-view{
            background-color: #eff3f6;
            padding: 30px 40px 10px;
            margin: 30px 0;
            position: relative;
           p{
               span{
                   font-weight:700;
               }
           }
            
        }
    }
  
}
.content-page{
    .content{
        margin-bottom: 95px;
    }
}

.lang-work {
    flex-direction: row;
    display: flex;
  }
  span.bld-span {
    font-weight: 500;
    
  }


a.table_btn.cancel-btn.p-1 {
    background-color: red;
    color: white;
}

a.table_btn.complete-btn.p-1 {
    background-color: green;
    color: white;
}

a.table_btn.pending-btn.p-1 {
    background-color: #ffdf00;
    color: white;
}

a.table_btn.progress-btn.p-1 {
    background-color: #ec536c;
    color: white;
}