<div id="wrapper">
    <div class="content-page">
      <div class="content">
        <div class="page-content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="page-title-box">
                  <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                      <li class="breadcrumb-item"><a href="#">The Pragmatic</a></li>
                      <li class="breadcrumb-item active">Reciever Post</li>
                    </ol>
                  </div>
                  <h4 class="page-title">Reciever Post</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table_heading d-flex align-items-center justify-content-between">
                  <h6><span>{{count}} </span> Total Post</h6>
                  <!-- <a [routerLink]="['/care-reciever-management/add-post']" class="btn-primary add-btn">Add Post</a> -->
                </div>
              </div>
            </div>              
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive mt-md-0 mt-4" id="table">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th class="text-center">#</th>
                            <th>
                              <div class="text-center" style="width:110px;">My Self</div>
                            </th>
                            <th class="text-center">Religion</th>
                            <th class="text-center">Customs & Traditions</th>
                            <th class="text-center">Health Problem</th>
                            <th class="text-center">Post Stataus</th>
                            <th class="text-center">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let post of postArray | paginate : {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: count
                          }; let i = index ">
                            <th class="text-center" scope="row">{{ i + 1}}</th>
                            <td class="text-center"><a [routerLink]="['/care-reciever-management/post-details', post._id, post.receiverid]" title="View Post Details">{{post?.myself}}</a></td>
                            <td class="text-center">{{ post?.religions?.religion ? post?.religions?.religion : 'N/A'}}</td>
                            <td class="text-center">{{ post?.customsandtraditions?.custom_tradition ? post?.customsandtraditions?.custom_tradition: 'N/A'}}</td>
                            <td class="text-center">{{ post?.any_health_prob_text ? post?.any_health_prob_text : 'N/A'}}</td>

                            <td>
                              <ul class="d-flex justify-content-center">
                                <li *ngIf="post?.assignPostStatus == 4">
                                  <a  class="table_btn cancel-btn  p-1">Canceled</a>
                                </li>

                                <li *ngIf="post?.assignPostStatus == 3">
                                  <a  class="table_btn progress-btn p-1">Progress</a>
                                </li>

                                <li *ngIf="post?.assignPostStatus == 1">
                                  <a  class="table_btn complete-btn p-1">Completed</a>
                                </li>

                                <li *ngIf="post?.assignPostStatus == 0 || post?.assignPostStatus == 2 || !post?.assignPostStatus">
                                  <a  class="table_btn pending-btn p-1">Pending</a>
                                </li>
                              </ul>
                            </td>

                            <td>
                                <ul class="d-flex">
                                    <!-- <li><a href="javascript:void(0)" class="btn-primary p-1" data-toggle="modal"
                                        data-target="#editadmin" title="edit"><i class="fa fa-pencil-square-o"
                                          aria-hidden="true"></i></a></li> -->
                                    <li (click)="ViewPostDetails(post)"> 
                                      <a class="btn-success mx-2 p-1" href="javascript:void(0)" data-toggle="modal"
                                        data-target="#viewadmin" title="view">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                      </a>
                                    </li>
                                    <li (click)="deletePost(post._id, 2)">
                                      <a class="dlt_btn p-1" title="delete">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                      </a>
                                    </li>
                                  </ul>
                            </td>
                          </tr>
                          
                          <tr>
                          <td *ngIf="postArray.length == 0" class="no-data" colspan="8">No Post Found Yet.</td>
                      </tr>
                        </tbody>
                      </table>
                    </div>
                    <nav aria-label="Page navigation example">
                      <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                      </pagination-controls>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="modal fade" id="editadmin" tabindex="-1" aria-labelledby="editadminLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editadminLabel">Edit Admin</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-area">
            <form method="post" name="contactForm" novalidate="novalidate">
              <div class="admin-img">
                <span class="showonhover">
                  <img src="./assets/images/profile.png" alt="" class="show-img">
                  <div class="user-img"><i class="fa fa-camera" aria-hidden="true"></i></div>
                </span>
                <input id="selectfile" type="file" name="" style="display: none;" />
              </div>
              <div class="form-group">
                <label for="name">Name*</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Full Name" name="name" required="">
                <span class="alert-msg">Please Enter Your name</span>
              </div>
              <div class="form-group">
                <label for="name">Email*</label>
                <input type="email" class="form-control" id="" placeholder="Enter Email" name="name" required="">
                <span class="alert-msg">Please Enter Email</span>
              </div>
              <div class="form-group">
                <label for="Phone">Phone*</label>
                <input type="tel" class="form-control" id="phone" placeholder="9876543210" name="name" required="">
                <span class="alert-msg">Please Enter phone no.</span>
              </div>
              <div class="form-group">
                <label class="control-label">Password</label>
                <input type="password" class="form-control" name="password" minlength="6" required=""
                  placeholder="Password">
              </div>
              <div class="form-group">
                <button type="button" class="btn-primary w-50 add-btn">Update</button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div> -->
  <div class="modal fade" id="viewadmin" tabindex="-1" aria-labelledby="viewadminLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewadminLabel">View Post Deatils</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="admin-view">
           
            <p><span> Health Problem: </span>{{ postDetail?.any_health_prob_text ? postDetail?.any_health_prob_text: 'N/A'}}</p>
            <p><span> Allergy: </span>{{ postDetail?.any_allergies_text ? postDetail?.any_allergies_text: 'N/A'}}</p>
            <!-- <p><span>Intolerance:</span>None</p> -->
            <p><span>Religious preference: </span>{{postDetail?.religions?.religion ? postDetail?.religions?.religion :'N/A'}}</p>
            <div class="lang-work"><span class="bld-span">Languages spoken: </span><p *ngIf="postLanguage.length == 0">{{'N/A'}}</p><p *ngFor =" let language of postLanguage; last as isLast">{{language.language}} <span *ngIf="!isLast">,</span></p></div>
            <!-- <p><span>Dietary requirements:</span>None</p> -->
            <!-- <p><span>Food:</span> Kenyan cuisine</p> -->
            <p><span>Hair Type: </span>{{postDetail?.hairandgroomings?.hair ? postDetail?.hairandgroomings?.hair : 'N/A'}}</p>
            <p><span>Customs & Traditions: </span>{{postDetail?.customsandtraditions?.custom_tradition ?  postDetail?.customsandtraditions?.custom_tradition: 'N/A'}}</p>
            <p><span> Special occasions and holidays: </span> {{ postDetail?.specialoccasionholidays?.occasions_holidays ? postDetail?.specialoccasionholidays?.occasions_holidays : 'N/A'}}</p>
            <p><span>Gender preference: </span> {{postDetail?.preferences?.worker_gender_preference ? postDetail?.preferences?.worker_gender_preference : 'N/A'}}</p>
            <!-- <p><span>Ethnic preference:</span></p> -->
            <!-- <p><span>Sexual orientation preference:</span></p> -->
            <!-- <p><span>Disability:</span></p> -->
            <!-- <p><span>Age:</span>  {{postDetail?.dob ? postDetail?.dob : 'N/A'}}</p> -->
          </div>
        </div>

      </div>
    </div>
  </div>
