<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container px-3">
      <a class="navbar-brand" [routerLink]="['/employer-dashboard/']">
        <img src="./assets/img/logo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ml-auto">
          <li><a *ngIf="headerdata==true" [routerLink]="['/employer-dashboard/']">Dashboard</a></li>
          <li><a *ngIf="headerdata==true" [routerLink]="['/candidate_list']">Candidates</a></li>
          <!-- <li><a href="#">Candidates</a></li> -->
          <li><a *ngIf="headerdata==true" [routerLink]="['/job-manage']">Jobs Manage</a></li>
          <!-- <li><a [routerLink]="['/candidate_list']">Package Manage</a></li> -->
          <li><a *ngIf="headerdata==true" [routerLink]="['/candidate_list']">Payments</a></li>
          <li><a *ngIf="headerdata==true" href="javascript:void(0)"
              class="txt open-notification position-relative">Notifications <span
                class="notification-counter">0</span></a>
          </li>

          <li>
            <button class="btn btn-primary hover_effect">
              <span class="bg"></span>
              <span class="txt" *ngIf="logout" (click)="logoutclick()">Log Out</span>
              <span class="txt" *ngIf="login" (click)="loginclick()">Sign in</span>
            </button>
          </li>
        </ul>
        <div class="notfication-area" aria-labelledby="dropdownMenuButton">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h5 class="font-weight-bold">Notifications</h5>
            <span class="cross"><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>
          <ul class="list-unstyled m-0 notification-list">
            <li><a href="#">
                <h6>Job Post</h6>
                <p>Hey, You just post a job regarding Frontend developer</p>
              </a>
              <i class="fa fa-times del-noti" aria-hidden="true"></i>
            </li>
            <li><a href="#">
                <h6>Job Post</h6>
                <p>Hey, You just post a job regarding Frontend developer</p>
              </a>
              <i class="fa fa-times del-noti" aria-hidden="true"></i>
            </li>
            <li><a href="#">
                <h6>Job Post</h6>
                <p>Hey, You just post a job regarding Frontend developer</p>
              </a>
              <i class="fa fa-times del-noti" aria-hidden="true"></i>
            </li>
            <li><a href="#">
                <h6>Job Post</h6>
                <p>Hey, You just post a job regarding Frontend developer</p>
              </a>
              <i class="fa fa-times del-noti" aria-hidden="true"></i>
            </li>
            <li><a href="#">
                <h6>Job Post</h6>
                <p>Hey, You just post a job regarding Frontend developer</p>
              </a>
              <i class="fa fa-times del-noti" aria-hidden="true"></i>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
