/* Style the buttons */
.btn-post {
  border: 0ch;
  outline: none;
  padding: 10px 16px;
  background-color: white;
  cursor: pointer;
  color: #7c7475;
  border: 2px solid #d0021b;

  &:hover {
    background-color: #d0021b;
    color: #fff;
  }
}

/* Style the active class  */
.active-post {
  background-color: #d0021b;
  color: white;
}

.deactive-post {
  background-color: #fff;
  color: #d0021b;
}

.view-post-data {
  p {
    flex: 0 0 50%;
    display: flex;
    margin-bottom: 10px;

    strong {
      flex: 0 0 50%;
    }
  }
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #f5e1e3; // Choose your own color here
}

.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
  padding: 8px;
}

.table td,
.table th {
  padding: 8px;

  a {
    color: #D0021B;
  }
}

.filter_area {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;

  .entries_show {
    display: flex;
    align-items: center;

    label {
      margin: 0;
      padding-right: 10px;
      white-space: nowrap;
    }
  }
}

.pagination_area {
  padding-top: 15px;

  .page-link {
    color: #D0021B;
  }

  .active {
    a {
      color: #fff;
      background: #D0021B;
    }
  }


}

.btn_area {
  button {
    margin-left: 20px;

    &.status,
    &.viewBtn {
      color: #D0021B;
    }

    &:first-child {
      margin: 0;
    }
  }
}

table thead {
  background: #D0021B;
  color: #fff;
}

// new code

.profile_img {
  position: relative;

  .inner {
    position: relative;
  }

  img {
    max-width: 180px;
    width: 100%;
  }

  .video_btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 0;
    font-size: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 1;
    color: #D0021B;
  }
}

.user_profile {
  display: flex;

  .details {
    padding-left: 20px;
    padding-right: 20px;
    flex: 0 0 100%;
    max-width: calc(100% - 180px);

    h4 {
      font-size: 24px;
      padding-bottom: 15px;
    }

    p {
      font-size: 14px;
      padding-bottom: 8px;

      &.adderss {
        padding-bottom: 0;
      }

      .icon {
        color: #000;
        display: inline-block;
        width: 28px;
        padding-right: 10px;
      }

      a {
        color: #D0021B;
      }
    }
  }
}

.other_details {
  list-style: none;
  font-size: 16px;

  span.icon {
    width: 35px;
    display: inline-block;
    font-size: 22px;
    color: #000;
  }

  .git_link {
    color: #D0021B;
  }

  li {
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }

    h5 {
      font-size: 20px;
      padding-bottom: 5px;
    }
  }

  .sector {
    p {
      display: inline-block;
      background: #D0021B;
      color: #fff;
      line-height: 1;
      padding: 5px 10px;
      border-radius: 3px;
      font-size: 14px;
    }
  }

  .special_in {
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;

      li {
        background: #D0021B;
        color: #fff;
        line-height: 1;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 12px;
        margin: 2px;
      }
    }
  }
}

.card-title {
  background: #D0021B;
  margin: 0;
  border-radius: .25rem .25rem 0 0;
  padding: 10px 15px;

  h5 {
    margin: 0;
    color: #fff;
  }
}

.degree_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  counter-reset: card;
  padding: 20px;

  .card {
    flex: 0 0 32%;
    max-width: 32%;
    padding-left: 50px;

    &::before {
      counter-increment: card;
      content: counter(card);
      position: absolute;
      top: 10px;
      left: 10px;
      width: 40px;
      height: 40px;
      background: #D0021B;
      color: #fff;
      border-radius: 50%;
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ul {
    list-style: none;

    li {
      padding-bottom: 12px;

      &:last-child {
        padding-bottom: 0;
      }

      h6 {
        font-size: 18px;
      }
    }
  }
}

.job_card {
  ul {
    list-style: none;

    li {
      padding-bottom: 12px;

      &:last-child {
        padding-bottom: 0;
      }

      h6 {
        font-size: 18px;
      }
    }
  }
}

.add-pack {
  background-color: #D0021B;
  border-color: #D0021B;
  border-radius: 25px;
  border-width: 2px;
  color: #fff !important;

  &.hover_effect {
    position: relative;
    overflow: hidden;

    .bg {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      width: 0;
      height: 0;
      background-color: #fff;
      border-radius: 25px;
      opacity: .9;
      transform: translate(-50%, -50%);
      transition: 425ms cubic-bezier(.5, 0, .07, 1);

    }

    .txt {
      position: relative;
      z-index: 9;
    }

    &:hover {
      transition: color .55s cubic-bezier(.5, 0, .07, 1);
      color: #D0021B !important;
      background: #D0021B;
      border-color: #D0021B;

      .bg {
        border: 2px solid #D0021B;
      }

      .bg {
        width: 105%;
        height: 0;
        padding-top: 40px;
        opacity: 1;
        transition: .55s cubic-bezier(.5, 0, .07, 1);
      }
    }
  }

}

.add-pack1 {
  background-color: #13965f;
  border-color: #13965f;
  border-radius: 25px;
  border-width: 2px;
  color: #fff !important;

  &.hover_effect1 {
    position: relative;
    overflow: hidden;

    .bg1 {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      width: 0;
      height: 0;
      background-color: #fff;
      border-radius: 25px;
      opacity: .9;
      transform: translate(-50%, -50%);
      transition: 425ms cubic-bezier(.5, 0, .07, 1);

    }

    .txt1 {
      position: relative;
      z-index: 9;
    }

    &:hover1 {
      transition: color .55s cubic-bezier(.5, 0, .07, 1);
      color: #13965f !important;
      background: #13965f;
      border-color: #13965f;

      .bg1 {
        border: 2px solid #13965f;
      }

      .bg1 {
        width: 105%;
        height: 0;
        padding-top: 40px;
        opacity: 1;
        transition: .55s cubic-bezier(.5, 0, .07, 1);
      }
    }
  }

}

.add-pack2 {
  background-color: #c41633;
  border-color: #c41633;
  border-radius: 25px;
  border-width: 2px;
  color: #fff !important;

  &.hover_effect2 {
    position: relative;
    overflow: hidden;

    .bg2 {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      width: 0;
      height: 0;
      background-color: #fff;
      border-radius: 25px;
      opacity: .9;
      transform: translate(-50%, -50%);
      transition: 425ms cubic-bezier(.5, 0, .07, 1);

    }

    .txt2 {
      position: relative;
      z-index: 9;
    }

    &:hover2 {
      transition: color .55s cubic-bezier(.5, 0, .07, 1);
      color: #c41633 !important;
      background: #c41633;
      border-color: #c41633;

      .bg2 {
        border: 2px solid #c41633;
      }

      .bg2 {
        width: 105%;
        height: 0;
        padding-top: 40px;
        opacity: 1;
        transition: .55s cubic-bezier(.5, 0, .07, 1);
      }
    }
  }

}

#CandidateDetail_Modal {
  .modal-header {
    background-color: #D0021B;
    color: #fff;

    button {
      opacity: 1;

      span {
        color: #fff;
      }
    }
  }

  .modal-body {
    background: #f7f7f7;

    .card {
      margin: 10px 25px;

      h5 {
        font-size: 16px;
        font-weight: 500;
        background: #f7f7f7;
        padding: 10px;
        span{
          font-size: 15px;
          font-weight: 400;
          color: #494949;
        }
      }
      hr{
        margin: 10px 0;
      }
    }
  }

}
