
<div class="main_wrap fixed-left">
    <div id="wrapper">
      <app-admin-sidebar></app-admin-sidebar>
      <div class="content-page">
        <div class="content">
          <app-admin-header></app-admin-header>
          <div class="page-content-wrapper ">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="page-title-box">
                    <div class="btn-group float-right">
                      <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">Post Detail</li>
                      </ol>
                    </div>
                    <h4 class="page-title">Post Detail</h4> 
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card m-b-30">
                    <div class="card-body  ">
                      <td ><button class="btn-post"  [ngClass]="{'active-post': showbtn ===false , 'deactive-post' : showbtn === true }" style="margin:10px;" (click)="getPostDetails()">Post Detail</button></td>
                      <td><button class="btn-post" [ngClass]="{'active-post': showbtn ===true , 'deactive-post' : showbtn === false }" style="margin:10px;" (click)="getMatchedCandidates(campaigndetailstabdata.job_type,skillsneedtabdata[0].e_specialism)">Match Candidate</button></td>
                    </div>
                  </div>
                  <div class="card mb-3" *ngIf="!showbtn">
                    <div class="card-title">
                      <h5>Post Details</h5>
                    </div>
                    <div class="card-body  ">
                        <!-- <div style="color: #D0021B;">Post Details</div><br> -->
                            <div class="d-flex flex-wrap view-post-data">
                                <p ><strong>Post Name:</strong>  {{campaigndetailstabdata.post}}</p>
                                <p ><strong>Job Type: </strong> {{campaigndetailstabdata.job_type}}</p>
                                <p ><strong>Office Address:</strong>  {{campaigndetailstabdata.office_address}}</p>
                                <p ><strong>Salary: </strong> {{campaigndetailstabdata.salary}}</p>
                                <p ><strong>Experience Required(years):</strong>  {{campaigndetailstabdata.experience_level}}</p>
                                                  
                                
                        </div>
                    </div>
                  </div>

                  <div class="card mb-3" *ngIf="!showbtn">
                    <div class="card-title">
                      <h5>Skills Needed</h5>
                    </div>
                    <div class="card-body  ">
                        <!-- <div style="color: #D0021B;">Post Details</div><br> -->
                            <div class="d-flex flex-wrap view-post-data">
               
                              <p ><strong>Job Sector:</strong>  {{skillsneedtabdata[0].job_sector}}</p>
                              <p ><strong>Skills:</strong>  {{skillsneedtabdata[0].e_specialism}}</p>
                               
                        </div>
                    </div>
                  </div>

                  <div class="card mb-3" *ngIf="!showbtn">
                    <div class="card-title">
                      <h5>Company and Role Description</h5>
                    </div>
                    <div class="card-body  ">
                        <!-- <div style="color: #D0021B;">Post Details</div><br> -->
                            <div class="d-flex flex-wrap view-post-data">               
                             
                                <p ><strong>Website: </strong>  {{companyroledesctabdata[0].website}}</p>
                              <p ><strong>Company Description: </strong>  {{companyroledesctabdata[0].company_desc}}</p>
                              <p ><strong>Role Description: </strong>  {{companyroledesctabdata[0].role_desc}}</p>
                                                  

                              
                        </div>
                    </div>
                  </div>

                  <div class="card mb-3" *ngIf="!showbtn">
                    <div class="card-title">
                      <h5>Post Related Questions</h5>
                    </div>
                    <div class="card-body  ">
                        <!-- <div style="color: #D0021B;">Post Details</div><br> -->
                            <div class="d-flex flex-wrap view-post-data">
               
                            <p ><strong>Post Question:</strong>  {{campaignquestabdata[0].ques}}</p>
                                                           
                        </div>
                    </div>
                  </div>
                    <!-- new -->
                   

                    <!-- new --> 

                    <!---->         
                    <!-- <div  *ngIf="showbtn" class="row" >
                      <div class="col-md-12">
                          <div class="card m-b-30">
                              <div class="card-body" >
                                  <div class="table_area">
                                      
                                      <div class="table-responsive">
                                          <table class="table table-striped ">
                                              <thead>
                                                  <tr>
                                                      <th style="width: 60px;">S No.</th>
                                                      <th>Name</th>
                                                        <th>Looking for</th>
                                                         <th>skills</th> 
                                                      
                                                      <th style="width:150px">Action</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                   <tr *ngFor="let matchedCandidates of matchedCandidate;let i = index"> 
                                                       <th>{{i+1}}</th> 
                                                      
                                                      <td>{{matchedCandidates.name}}</td>
                                                      <td>{{matchedCandidates.idealjob[0].t_job_title}}</td>
                                                      
                                                       <td>{{matchedCandidates.idealskill.skills}}
                                                      
                                                      
                                                      <td>
                                                          <div class="btn_area d-flex">                                                             
                                                                                                                                                                                              
                                                              <button class="btn btn-danger" >Send</button>
                                                          </div>
                                                      </td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                      </div>
                                     
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div> -->

                  <div  *ngIf="showbtn" class="row" >
                    <div class="col-md-12">
                        <div class="card m-b-30">
                            <div class="card-body" >
                                <div class="table_area">
                                    
                                    <div class="table-responsive">
                                        <table class="table table-striped ">
                                            <thead>
                                                <tr>
                                                    <th style="width: 60px;" (click)="sort('id')">S No.</th>
                                                    <th (click)="sort('name')">Name</th>
                                                    <th (click)="sort('target')">Looking For</th>
                                                    <th (click)="sort('skills')">Skills</th>
                                                    
                                                    <th style="width:150px">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let matchedCandidates of matchedCandidate |filter:adminModel.filterString | orderBy: key : reverse | paginate : {
                                                  itemsPerPage: pageSize,
                                                  currentPage: page,
                                                  totalItems: count
                                                }; let i = index">
                                                    <th>{{i+1}}</th>
                                                    
                                                    <!-- <td>{{matchedCandidates.name}}</td> -->
                                                    <td> <a href="javascript:void(0)"  type="button"
                                                      data-toggle="modal"
                                                      data-target="#CandidateDetail_Modal" (click)="showCandidatelist(matchedCandidates._id)">{{matchedCandidates.name}}</a></td>
                                                    <td>{{matchedCandidates.idealjob[0].t_job_title}}</td>
                                                    
                                                     <td>{{matchedCandidates.idealskill.skills}}
                                                    
                                                    
                                                    <td>
                                                        <div class="btn_area d-flex">                                                             
                                                                                                                                                                                            
                                                            <button class="btn btn-danger" >Send</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="matchedCandidate.length == 0">
                                                  <td colspan = "6" style="text-align: center;" >No Record Found</td>
                                              </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls  class="my-pagination" responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                                        </pagination-controls>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                    <!---->
                 
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <footer class="footer">
          © 2020 Swipe Up.
        </footer>
  
      </div>
    </div>
  </div>

  <div class="modal fade" id="CandidateDetail_Modal" tabindex="-1" aria-labelledby="Candidate_ModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-width">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="Candidate_ModalLabel">Candidate Details</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                          <div class="row pb-5 pb-md-0">
                            <div class="col-md-12" *ngFor="let currentjobTabdatas of currentjobTabdata;">
                              <div class="card border-light">
                                <div class="card-body">
                                  
                                    <h5>Candidate Name: <span>{{candidatelist.name}}</span></h5>
                                    <!-- <h2>${{packesdetail.plan_amount}} <span>/ {{packesdetail.plan_time}}</span></h2>
                                    <p class="card-text">{{packesdetail.plan_description}}</p> -->
                                    <hr>
                                    <h5>Target Job:<span> {{currentjobTabdatas.t_job_title}}</span></h5>
                                    <hr>
                                    <h5>Target Salary:<span> {{currentjobTabdatas.target_salary}} / {{currentjobTabdatas.salary_type}}</span></h5>
                                    <hr>
                                    <h5>Preffered Industry: <span>{{currentjobTabdatas.preffered_industry}}</span> </h5>
                                    <hr>
                                    <h5>Type of Role: <span> {{currentjobTabdatas.type_role}}</span></h5>
                                    <hr> 
                                    <h5>Ideal Start Date: <span> {{currentjobTabdatas.ideal_start_date}}</span></h5>
                                    <hr> 
                                    <h5>Preffered Location: <span> {{currentjobTabdatas.preferred_location}}</span></h5>
                                </div>
                               
                              </div>
                            </div>
                           
                          </div>
                           
                        </div>

                    </div>
                </div>
            </div>

            
  
  
 
  