.profile_img {
    position: relative;
  
    .inner {
      position: relative;
    }
  
    img {
      max-width: 180px;
      width: 100%;
    }
  
    .video_btn {
      position: absolute;
      right: 10px;
      bottom: 10px;
      padding: 0;
      font-size: 40px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      line-height: 1;
      color: #D0021B;
    }
  }
  
  .user_profile {
    display: flex;
  
    .details {
      padding-left: 20px;
      padding-right: 20px;
      flex: 0 0 100%;
      max-width: calc(100% - 180px);
  
      h4 {
        font-size: 24px;
        padding-bottom: 15px;
      }
  
      p {
        font-size: 14px;
        padding-bottom: 8px;
  
        &.adderss {
          padding-bottom: 0;
        }
  
        .icon {
          color: #000;
          display: inline-block;
          width: 28px;
          padding-right: 10px;
        }
  
        a {
          color: #D0021B;
        }
      }
    }
  }
  
  .other_details {
    list-style: none;
    font-size: 16px;
  
    span.icon {
      width: 35px;
      display: inline-block;
      font-size: 22px;
      color: #000;
    }
  
    .git_link {
      color: #D0021B;
    }
  
    li {
      padding-bottom: 10px;
  
      &:last-child {
        padding-bottom: 0;
      }
  
      h5 {
        font-size: 20px;
        padding-bottom: 5px;
      }
    }
  
    .sector {
      p {
        display: inline-block;
        background:#D0021B;
        color: #fff;
        line-height: 1;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 14px;
      }
    }
  
    .special_in {
      ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
  
        li {
          background: #D0021B;
          color: #fff;
          line-height: 1;
          padding: 5px 10px;
          border-radius: 3px;
          font-size: 12px;
          margin: 2px;
        }
      }
    }
  }
  
  .card-title {
    background: #D0021B;
    margin: 0;
    border-radius: .25rem .25rem 0 0;
    padding: 10px 15px;
  
    h5 {
      margin: 0;
      color: #fff;
    }
  }
  
  .degree_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    counter-reset: card;
    padding: 20px;
  
    .card {
      flex: 0 0 32%;
      max-width: 32%;
      padding-left: 50px;
  
      &::before {
        counter-increment: card;
        content: counter(card);
        position: absolute;
        top: 10px;
        left: 10px;
        width: 40px;
        height: 40px;
        background: #D0021B;
        color: #fff;
        border-radius: 50%;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    ul {
      list-style: none;
  
      li {
        padding-bottom: 12px;
  
        &:last-child {
          padding-bottom: 0;
        }
  
        h6 {
          font-size: 18px;
        }
      }
    }
  }
  
  .job_card{
    ul {
      list-style: none;
    
      li {
        padding-bottom: 12px;
    
        &:last-child {
          padding-bottom: 0;
        }
    
        h6 {
          font-size: 18px;
        }
      }
    }
  }
  
  .add-pack{
      background-color: #D0021B;
      border-color: #D0021B;
      border-radius: 25px;
      border-width: 2px;
      color: #fff !important;
    
      &.hover_effect {
        position: relative;
        overflow: hidden;
    
        .bg {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 0;
          width: 0;
          height: 0;
          background-color: #fff;
          border-radius: 25px;
          opacity: .9;
          transform: translate(-50%, -50%);
          transition: 425ms cubic-bezier(.5, 0, .07, 1);
          
        }
    
        .txt {
          position: relative;
          z-index: 9;
        }
    
        &:hover {
          transition: color .55s cubic-bezier(.5, 0, .07, 1);
          color: #D0021B !important;
          background: #D0021B;
          border-color: #D0021B;
          .bg{
                  border: 2px solid #D0021B;
          }
    
          .bg {
              width: 105%;
              height: 0;
              padding-top: 40px;
            opacity: 1;
            transition: .55s cubic-bezier(.5, 0, .07, 1);
          }
        }
      }
     
    }
  
    .add-pack1{
      background-color: #13965f;
      border-color: #13965f;
      border-radius: 25px;
      border-width: 2px;
      color: #fff !important;
    
      &.hover_effect1 {
        position: relative;
        overflow: hidden;
    
        .bg1 {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 0;
          width: 0;
          height: 0;
          background-color: #fff;
          border-radius: 25px;
          opacity: .9;
          transform: translate(-50%, -50%);
          transition: 425ms cubic-bezier(.5, 0, .07, 1);
          
        }
    
        .txt1 {
          position: relative;
          z-index: 9;
        }
    
        &:hover1 {
          transition: color .55s cubic-bezier(.5, 0, .07, 1);
          color: #13965f !important;
          background: #13965f;
          border-color: #13965f;
          .bg1{
                  border: 2px solid #13965f;
          }
    
          .bg1 {
              width: 105%;
              height: 0;
              padding-top: 40px;
            opacity: 1;
            transition: .55s cubic-bezier(.5, 0, .07, 1);
          }
        }
      }
     
    }
  
    .add-pack2{
      background-color: #c41633;
      border-color: #c41633;
      border-radius: 25px;
      border-width: 2px;
      color: #fff !important;
    
      &.hover_effect2 {
        position: relative;
        overflow: hidden;
    
        .bg2 {
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 0;
          width: 0;
          height: 0;
          background-color: #fff;
          border-radius: 25px;
          opacity: .9;
          transform: translate(-50%, -50%);
          transition: 425ms cubic-bezier(.5, 0, .07, 1);
          
        }
    
        .txt2 {
          position: relative;
          z-index: 9;
        }
    
        &:hover2 {
          transition: color .55s cubic-bezier(.5, 0, .07, 1);
          color: #c41633 !important;
          background: #c41633;
          border-color: #c41633;
          .bg2{
                  border: 2px solid #c41633;
          }
    
          .bg2 {
              width: 105%;
              height: 0;
              padding-top: 40px;
            opacity: 1;
            transition: .55s cubic-bezier(.5, 0, .07, 1);
          }
        }
      }
     
    }
  
    

.card {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    padding: 20px 24px;
    border-radius: 10px;
    margin-top: 21px;
    @media (min-width: 899px) {
        padding: 24px;
    }
    .card-body {
        padding: 0;
        h2 {
            font-size: 20px;
            font-weight: 600;
            padding: 5px 0 10px;
            @media (min-width: 992px) {
                font-size: 20px;
            }
            span {
                font-size: 14px;
                font-weight: 500;
                color: rgb(0 0 0 / .5);
                @media (min-width: 992px) {
                    font-size: 16px;
                }
            }
        }
        h5 {
            font-size: 14px;
            font-weight: 600;
            color: #000;
            margin: 0;
            @media (min-width: 899px) {
                font-size: 16px;
            }
            @media (min-width:992px) {
                font-size: 16px;
            }
        }
        p {
            font-size: 14px;
            color: #000;
            line-height: 1.19;
            padding-bottom: 10px;
            margin: 16px 0;
            @media (min-width: 768px) {
                font-size: 13px;
            }
            @media (min-width:899px) {
                font-size: 14px;
            }
            @media (min-width:992px) {
                font-size: 14px;
            }
        }
        hr {
            border: solid 1px rgba(0, 0, 0, 0.05);
            margin: 16px 0;
            @media (min-width: 768px) {
                margin: 12px 0;
            }
        }
        .blue-btn {
            padding: 8px 54px;
            border-radius: 27px;
            background-color: #D0021B;
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            display: inline-block;
            text-align: center;
            @media (min-width: 768px) {
                padding: 10px 30px;
            }
            @media (min-width:899px) {
                padding: 10px 35px;
                font-size: 14px;
            }
            @media (min-width:992px) {
                padding: 8px 54px;
            }
        }
    }
}

.bg-blue {
    .card {
        background: #D0021B;
        .card-body {
            h2 {
                color: #fff;
                span {
                    color: rgb(255, 255, 255 / .5);
                }
            }
            h5 {
                color: #fff;
            }
            p {
                color: #fff;
            }
            hr {
                border: solid 1px rgba(255, 255, 255, 0.2);
            }
            .blue-btn {
                background-color: #fff;
                color: #D0021B;
            }
        }
    }
}

.alert-msg {
    font-size: 13px;
    color: #e21b1b;
    padding-top: 10px;
    font-weight: 500;
}

.form-control {
    height: 35px;
    border: none;
    background: #cfeafb;
    box-shadow: 0 2px 12px rgb(62 62 62 / 10%);
    font-size: 12px;
}

label {
    font-size: 14px;
}

textarea {
    min-height: 100px;
}

.modal-width {
    max-width: 1000px;
}

//----------------------------new code

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f5e1e3; // Choose your own color here
 }

.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
    padding: 8px;
}

.table td,
.table th {
    padding: 8px;
    a {
        color: #D0021B;
    }
}

.filter_area {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    .entries_show {
        display: flex;
        align-items: center;
        label {
            margin: 0;
            padding-right: 10px;
            white-space: nowrap;
        }
    }
}

.pagination_area {
    padding-top: 15px;
    .page-link {
        color: #D0021B;
    }
    .active {
        a {
            color: #fff;
            background: #D0021B;
        }
    }
}

.btn_area {
    button {
        margin-left: 20px;
        &.status,
        &.viewBtn {
            color: #D0021B;
        }
        &:first-child {
            margin: 0;
        }
    }
}

table thead {
    background: #D0021B;
    color: #fff;
}

.card {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    padding: 20px 24px;
    border-radius: 10px;
    margin-top: 21px;
    @media (min-width: 899px) {
        padding: 24px;
    }
    .card-body {
        padding: 0;
        h2 {
            font-size: 20px;
            font-weight: 600;
            padding: 5px 0 10px;
            @media (min-width: 992px) {
                font-size: 20px;
            }
            span {
                font-size: 14px;
                font-weight: 500;
                color: rgb(0 0 0 / .5);
                @media (min-width: 992px) {
                    font-size: 16px;
                }
            }
        }
        h5 {
            font-size: 14px;
            font-weight: 600;
            color: #000;
            margin: 0;
            @media (min-width: 899px) {
                font-size: 16px;
            }
            @media (min-width:992px) {
                font-size: 16px;
            }
        }
        p {
            font-size: 14px;
            color: #000;
            line-height: 1.19;
            padding-bottom: 10px;
            margin: 16px 0;
            @media (min-width: 768px) {
                font-size: 13px;
            }
            @media (min-width:899px) {
                font-size: 14px;
            }
            @media (min-width:992px) {
                font-size: 14px;
            }
        }
        hr {
            border: solid 1px rgba(0, 0, 0, 0.05);
            margin: 16px 0;
            @media (min-width: 768px) {
                margin: 12px 0;
            }
        }
        .blue-btn {
            padding: 8px 54px;
            border-radius: 27px;
            background-color: #D0021B;
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            display: inline-block;
            text-align: center;
            @media (min-width: 768px) {
                padding: 10px 30px;
            }
            @media (min-width:899px) {
                padding: 10px 35px;
                font-size: 14px;
            }
            @media (min-width:992px) {
                padding: 8px 54px;
            }
        }
    }
}

.bg-blue {
    .card {
        background: #D0021B;
        .card-body {
            h2 {
                color: #fff;
                span {
                    color: rgb(255, 255, 255 / .5);
                }
            }
            h5 {
                color: #fff;
            }
            p {
                color: #fff;
            }
            hr {
                border: solid 1px rgba(255, 255, 255, 0.2);
            }
            .blue-btn {
                background-color: #fff;
                color: #D0021B;
            }
        }
    }
}

.alert-msg {
    font-size: 13px;
    color: #e21b1b;
    padding-top: 10px;
    font-weight: 500;
}

.form-control {
    height: 35px;
    border: none;
    background: #cfeafb;
    box-shadow: 0 2px 12px rgb(62 62 62 / 10%);
    font-size: 12px;
}

label {
    font-size: 14px;
}

textarea {
    min-height: 100px;
}

.modal-width {
    max-width: 1000px;
}
.admin-alert {
  color: #FCF6F5FF;
  background-color: #62b59e;
}