<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="main_wrap fixed-left">
    <div id="wrapper">
      <app-admin-sidebar></app-admin-sidebar>
      <div class="content-page">
        <div class="content">
          <app-admin-header></app-admin-header>
          <div class="page-content-wrapper ">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="page-title-box">
                    <div class="btn-group float-right">
                      <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
                        <li class="breadcrumb-item active">Employer Detail</li>
                      </ol>
                    </div>
                    <h4 class="page-title">Employer Detail</h4> 
                  </div>
                </div>
              </div>
              <div class="alert alert-success admin-alert" role="alert" *ngIf="sucMsg==true">
                {{ message }}
            </div>
              <div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-danger" *ngIf="errMsg==true">{{message}}</div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card m-b-30">
                    <div class="card-body">
                      <div class="user_profile">
                        <div class="profile_img">
                          <!-- <div class="inner">
                            <img src="/assets/img/dummy-user.jpg" alt="">
                            <button class="btn video_btn" type="button" data-toggle="modal" data-target="#videoModal"><i
                                class="fas fa-play-circle"></i></button>
                          </div> -->
                        </div>
                        <div class="details" >
                          <div class="row">
                            <div class="col-md-5">
                              <h4>{{employerlist?.name}}</h4>  
                              <p><a href="mailto:mark_cambridge@gmail.com"><span class="icon"><i
                                      class="fas fa-envelope"></i></span>{{employerlist?.email}}</a></p>
                              <p><a href="tel:0123456789"><span class="icon"><i
                                      class="fas fa-phone-alt"></i></span>{{employerlist?.phone}}</a></p>
                             
                              <p class="adderss"><span class="icon"><i class="fas fa-location-arrow"></i></span>{{employerlist?.location}}</p>
                            </div>
                            <div class="col-md-7">
                              <ul class="other_details" >
                               
                                <!-- <li class="sector">
                                  <h5>Package Name</h5> -->
                                  <!--<p>{{employerlist.package_name}}</p>-->
                                  <!-- <a href="javascript:void(0)" type="button" data-toggle="modal" data-target="#Package_Modal">{{employerlist?.package_name}}</a>
                                </li> -->
                                <button hidden class="btn btn-primary hover_effect" (click)="changePackage()">
                                  <span class="bg"></span>
                                  <span class="txt">Change Package</span>
                                </button>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                      <!---->         
                      <div class="row" *ngIf="employerlist?.login_type_status == 4">
                        <div class="col-md-12">
                            <div class="card m-b-30">
                                <div class="card-body" >
                                    <div class="table_area">
                                        
                                        <div class="table-responsive">
                                            <table class="table table-striped ">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 60px;">S No.</th>
                                                        <th>Post</th>
                                                        <th>Job Type</th>
                                                        <th>Experience(in years)</th>
                                                        
                                                        <th style="width:150px">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let campaigndetailstabdatas of campaigndetailstabdata;let i = index">
                                                        <th>{{i+1}}</th>
                                                        
                                                        <td>Post {{i+1}}</td>
                                                        <td>{{campaigndetailstabdatas.job_type}}</td>
                                                        <td>{{campaigndetailstabdatas.experience_level}}</td>
                                                        <td>
                                                            <div class="btn_area d-flex">                     
                                                                <button class="btn btn-danger" (click)="viewPostDetails(campaigndetailstabdatas._id)">View Post</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                      <!---->
                      <div class="row pt-3" *ngIf = "employerlist?.login_type_status == 0 || employerlist?.login_type_status == 1 ">
                        <div class="col-md-6">
                            <div class="d-flex" >
                                
                                <!--<a [routerLink]="['/admin/employers/all']"
                                style="margin:5px; " class="btn-info hover_effect add-pack blue-btn ml-4">
                                <span class="bg"></span>
                                <span class="txt" id="Customised" name="Customised">Back</span></a>-->
                                
                                <!-- <button *ngIf = "employerlist.status == 0"  style="margin:5px;" class="btn-primary hover_effect blue-btn"
                                (click)="approveEmployer(employerlist._id,employerlist.status)"
                                > 
                                <span class="bg"></span>
                                <span class="txt" id="Customised"
                                    name="Customised">Approve</span></button> -->
                                    
                                <!-- <button *ngIf = "employerlist.screen_status == 1 && employerlist.status == 0"  style="margin:5px;" class="btn-primary hover_effect blue-btn"
                                (click)="sendMail(employerlist._id)"
                                > 
                                <span class="bg"></span>
                                <span class="txt" id="Customised"
                                    name="Customised">Send Mail</span></button>

      
                                <button *ngIf = "employerlist.status == 1 || employerlist.screen_status == 2"  style="margin:5px;" class="btn-success hover_effect1 blue-btn" > 
                                    <span class="bg1"></span>
                                    <span class="txt1" id="Customised"
                                        name="Customised">Approved</span></button>
      
                                
                                    
                                <button *ngIf = "employerlist?.status == 1 || employerlist?.status == 0 "  style="margin:5px;" class="btn-primary hover_effect blue-btn"
                                (click)="rejectEmployer(employerlist._id,employerlist.status)" > 
                                      <span class="bg"></span>
                                      <span class="txt" id="Customised"
                                    name="Customised">Reject</span></button> -->
                            </div>
                            
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          © 2020 Swipe Up.
        </footer>
    <div class="modal fade" id="Package_Modal" tabindex="-1" aria-labelledby="Package_ModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-width">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Package_ModalLabel">Packages</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <div class="row justify-content-center pb-5 pb-md-0">
                  <div class="row pb-5 pb-md-0">
                      <div class="col-md-4 col-sm-6 " *ngFor="let packesdetail of packesdetails">
                        <div class="card border-light">
                          <div class="card-body">
                            
                              <h5 class="card-title">{{packesdetail.plan_name}}</h5>
                              <h2>${{packesdetail.plan_amount}} <span>/ {{packesdetail.plan_time}}</span></h2>
                              <p class="card-text">{{packesdetail.plan_description}}</p>
                              <hr>
                              <h5>{{packesdetail.access_fee}}</h5>
                              <hr>
                              <h5>{{packesdetail.success_fee}}% Success fee per hire</h5>
                              <hr>
                              <h5>{{packesdetail.plan_time}}</h5>
                              <hr>
                              <h5>Standard platform support</h5>
                              <hr>
                             
                           
                          </div>
                          <div class="text-center">
                              <a class="blue-btn btn-primary hover_effect mr-2">
                                  <span class="bg"></span>
                                  <!--<span  class="txt">{{employerlistPackage.plan_name =='Customised'?"Activated":"Active"}}</span></a>-->
                                  <span *ngIf="employerlist?.package_name == packesdetail.plan_name;"  class="txt">Activated</span>
                                  <span *ngIf="employerlist?.package_name != packesdetail.plan_name;"  class="txt">Active</span></a>
                          </div>
                        </div>
                      </div>
                     
                    </div>
              
               
              </div>
          </div>

        </div>
    </div>
</div>

    <div class="modal fade" id="custom_Modal" tabindex="-1" aria-labelledby="customModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-width">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="customModalLabel">Edit Packages</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row pb-5 pb-md-0">
                                <div class="col-md-8 offset-md-2">
                                    <div class="bg-white shadow p-3">
                                        <form method="post" name="contactForm" novalidate="novalidate">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="name">Plan Name*</label>
                                                        <input type="text" class="form-control" id="name"
                                                            placeholder="Enter Plan Name" name="name" required="">
                                                        <span class="alert-msg">Enter Plan Name.</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="amount">Plan Amount*</label>
                                                        <input type="text" class="form-control" id="name"
                                                            placeholder="Enter Amount" name="name" required="">
                                                        <span class="alert-msg">Enter Amount</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="success_fee">Success Fee</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Success Fee">
                                                        <span class="alert-msg">Enter Fee</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="success_fee">Plan Time</label>
                                                        <input type="text" class="form-control" placeholder="Plan Time">
                                                        <span class="alert-msg">Enter Plan Time</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="description">Description*</label>
                                                        <textarea type="text" class="form-control" id=""
                                                            placeholder="Description..." name="name"
                                                            required=""></textarea>
                                                        <span class="alert-msg">Enter Description</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="fee">Fee*</label>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="exampleRadios" id="exampleRadios1" value="option1"
                                                            checked>
                                                        <label class="form-check-label" for="exampleRadios1">
                                                            Access Fee
                                                        </label>
                                                    </div>
                                                    <div class="form-check mt-2">
                                                        <input class="form-check-input" type="radio"
                                                            name="exampleRadios" id="exampleRadios2" value="option2">
                                                        <label class="form-check-label" for="exampleRadios2">
                                                            No Access Fee
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-md-6">
                                                    <button type="button" class="btn-primary px-5 py-1">Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


      </div>
    </div>
  </div>
  
  
  <!-- Modal -->
  <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="videoModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <video>
            <source>
          </video>
        </div>
      </div>
    </div>
  </div>
  