<div id="wrapper">
  <!-- <app-sidebar></app-sidebar> -->
  <div class="content-page">
    <div class="content">
      <!-- <app-header></app-header> -->
      <div class="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="btn-group float-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">The Pragmatic</a></li>
                    <li class="breadcrumb-item active">Post Detail</li>
                  </ol>
                </div>
                <h4 class="page-title">Post Detail</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-3">
                <div class="card-body">
                  <!-- <div class="row">
                            <div class="col-md-12">
                              <a [routerLink]="['/assign-workers']" class="btn-primary add-btn">Assign Workers</a>
                            </div>
                        </div> -->
                  <ul class="nav nav-pills" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="postData-tab" data-toggle="tab" href="#postData" role="tab"
                        aria-controls="postData" aria-selected="true">Post Data</a>
                    </li>
                    <li class="nav-item" role="presentation" *ngIf="postDetails?.newRequest !== 4">
                      <a class="nav-link" id="assignWorkers-tab" data-toggle="tab" href="#assignWorkers" role="tab"
                        aria-controls="assignWorkers" aria-selected="false">Assign Workers</a>
                    </li>

                    <li class="nav-item"  *ngIf="postDetails?.newRequest === 4">
                      <a class="nav-link" aria-selected="false">Post Canceled</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="postData" role="tabpanel" aria-labelledby="postData-tab">
                      <h5>Post Details</h5>
                      <div class="details-view">
                        <div class="details-img">
                          <img [defaultImage]="defaultImage" alt="" class="show-img" [lazyLoad]="postDetails?.profileimage" *ngIf="postDetails?.profileimage"/>
                                
                          <img src="./assets/images/profile.png" alt="" class="show-img" *ngIf="!postDetails?.profileimage">
                          <!-- <img src="./assets/images/profile.png" alt="" class="show-img"><br> -->
                          <!-- <a [routerLink]="['/care-reciever-management/edit-post-details']" class="btn-primary add-btn">Edit</a> -->
                        </div>
                        <div class="details_content">
                          <p><span>Name:</span> {{postDetails?.name}}</p>
                          <p><span>Email:</span> {{postDetails?.email}}</p>
                          <p><span>Phone Number:</span>{{postDetails?.mobileno}}</p>
                          <p><span>Health Problem</span>{{postDetails?.any_health_prob}}</p>
                          <p><span>Allergy: </span>{{postDetails?.any_allergies}}</p>
                          <!-- <p><span>Intolerance:</span>None</p> -->
                          <p><span>Religious preference:</span>{{postDetails?.religions && postDetails?.religions?.religion ? postDetails?.religions?.religion : 'N/A'}}</p>

                            <div class="lang-work"><span class="bld-span">Languages spoken: </span><p *ngIf="receiverLanguage.length == 0">{{'N/A'}}</p><div *ngFor =" let language of receiverLanguage; last as isLast">{{language.language}} <span *ngIf="!isLast">,</span></div></div>


                          <!-- <p><span>Language preference:</span> Swahili and English</p> -->
                          <!-- <p><span>Dietary requirements:</span>None</p> -->
                          <!-- <p><span>Food:</span> Kenyan cuisine</p> -->
                          <p><span>Hair Type:</span>{{ postDetails?.hairandgroomings && postDetails?.hairandgroomings?.hair ? postDetails?.hairandgroomings?.hair : 'N/A'}}</p>

                          <p><span>Customs & Traditions:</span>{{postDetails?.customsandtraditions && postDetails?.customsandtraditions?.custom_tradition ? postDetails?.customsandtraditions?.custom_tradition : 'N/A'}}</p>

                          <p><span>Special occasions and holidays:</span>{{ postDetails?.specialoccasionholidays && postDetails?.specialoccasionholidays?.occasions_holidays ? postDetails?.specialoccasionholidays?.occasions_holidays : 'N/A'}}</p>
                          <p><span>Gender preference:</span> {{ postDetails?.preferences && postDetails?.preferences?.worker_gender_preference ? postDetails?.preferences?.worker_gender_preference :'N/A'}}</p>
                          <!-- <p><span>Ethnic preference:</span></p> -->
                          <!-- <p><span>Sexual orientation preference:</span></p> -->
                          <!-- <p><span>Disability:</span></p> -->
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="assignWorkers" role="tabpanel" aria-labelledby="assignWorkers-tab">
                      <h5>Matching Workers</h5>
                      <div class="table-responsive mt-md-0 mt-4" id="table">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">#</th>
                              <th>
                                <div class="text-center" style="width: 110px;">Worker Name</div>
                              </th>
                              <th class="text-center">Worker Email</th>
                              <th class="text-center">Phone</th>
                              <!-- <th>Age</th> -->
                              <th class="text-center">Job Assigned</th>
                              <th>
                                <div style="width:100px;">Ethnic Origin</div></th>
                                <th><div class="text-center" style="width:100px;">Matching Average</div></th>
                              <th>
                                <div class="text-center" style="width: 250px;">Action</div>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor ="let workers of matchingWorkers ; let i = index">
                              <th class="text-center" scope="row">{{i + 1}}</th>
                              <td class="text-center">{{workers?.name && workers?.name != '' ? workers?.name : 'N/A'}}</td>
                              <td class="text-center">{{ workers?.email && workers?.email != '' ? workers?.email : 'N/A'}}</td>
                              <td class="text-center">{{workers?.mobileno && workers?.mobileno != '' ? workers?.mobileno : 'N/A'}}</td>
                              <!-- <td>{{ workers?.dob && workers?.dob != '' ? workers?.dob : 'N/A'}}</td> -->
                              <td class="text-center" *ngIf="workers?.countsJob==0">{{ workers?.countsJob}}</td>
                              <td class="text-center assigned" style="cursor: pointer;" title="View Post" data-toggle="modal" data-target="#jobpostdetail" *ngIf="workers?.countsJob>0">{{ workers?.countsJob}}</td>
                              <td class="text-center">{{ workers?.ethnicorigins && workers?.ethnicorigins?.black != '' ? workers?.ethnicorigins?.black : 'N/A'}}</td>

                              <td>
                                <!-- If all the criteria matched -->
                                <div class="show-avg" title="fully matched" *ngIf="workers?.hairGrooming > 0 && workers?.languageandculturalcuisines?.length > 0 && workers?.rateandavailabilities?.length > 0 && workers?.religions?.length > 0 ">
                                  100% <i class="fa fa-circle matched" aria-hidden="true"></i>
                                </div>

                                <!-- If Only 3 criteria matched -->
                                <div class="show-avg" title="Not 100% matched" *ngIf="workers?.hairGrooming > 0 && workers?.languageandculturalcuisines?.length > 0 && workers?.religions?.length > 0 && workers?.rateandavailabilities?.length === 0 || workers?.hairGrooming === 0 && workers?.languageandculturalcuisines?.length > 0 && workers?.religions?.length > 0 && workers?.rateandavailabilities?.length > 0 || workers?.hairGrooming > 0 && workers?.languageandculturalcuisines?.length > 0 && workers?.religions?.length === 0 && workers?.rateandavailabilities?.length > 0 ||  workers?.hairGrooming > 0 && workers?.languageandculturalcuisines?.length === 0 && workers?.religions?.length > 0 && workers?.rateandavailabilities?.length > 0">
                                  75% <i class="fa fa-circle half-matched" aria-hidden="true"></i>
                                </div>

                                <!-- If Only 2 criteria matched -->
                                <div class="show-avg" title="Not 100% matched" *ngIf="workers?.hairGrooming === 0 && workers?.languageandculturalcuisines?.length === 0 && workers?.religions?.length > 0 && workers?.rateandavailabilities?.length > 0 || 
                                workers?.hairGrooming > 0 && workers?.languageandculturalcuisines?.length > 0 && workers?.religions?.length === 0 && workers?.rateandavailabilities?.length === 0 || workers?.hairGrooming > 0 && workers?.languageandculturalcuisines?.length === 0 && workers?.religions?.length === 0 && workers?.rateandavailabilities?.length > 0 || workers?.hairGrooming > 0 && workers?.languageandculturalcuisines?.length === 0 && workers?.religions?.length > 0 && workers?.rateandavailabilities?.length === 0 || workers?.hairGrooming === 0 && workers?.languageandculturalcuisines?.length > 0 && workers?.religions?.length > 0 && workers?.rateandavailabilities?.length === 0">
                                  50% <i class="fa fa-circle half-matched" aria-hidden="true"></i>
                                </div>

                                <!-- If Only 1 criteria matched -->
                                <div class="show-avg" title="Not 100% matched" *ngIf="workers?.hairGrooming > 0 && workers?.languageandculturalcuisines?.length === 0 && workers?.rateandavailabilities?.length === 0 && workers?.religions?.length === 0 ||  workers?.hairGrooming === 0 && workers?.languageandculturalcuisines?.length >  0 && workers?.rateandavailabilities?.length === 0 && workers?.religions?.length === 0 || workers?.hairGrooming == 0 && workers?.languageandculturalcuisines?.length === 0 && workers?.rateandavailabilities?.length > 0 && workers?.religions?.length === 0 || workers?.hairGrooming === 0 && workers?.languageandculturalcuisines?.length === 0 && workers?.rateandavailabilities?.length === 0 && workers?.religions?.length > 0">
                                  25% <i class="fa fa-circle not-matched" aria-hidden="true"></i>
                                </div>
                              </td>

                              <td class="text-center" *ngIf ="workers?.alreadyAssignStatus != 3 && workers?.alreadyAssignStatus !== 1">
                                <ul class="d-flex justify-content-center">

                                  <li *ngIf="workers.alreadyAssign && workers.alreadyAssign.status == 0">
                                    <a  class="table_btn btn-primary p-1">Assigned</a>
                                  </li>

                                  <li (click)="assignWorker(workers, i)" *ngIf="!workers.alreadyAssign">
                                    <a  class="table_btn btn-primary p-1" data-toggle="modal" data-target="#assignmodal">Assign</a>
                                  </li>

                                  <li (click)="assignWorker(workers, i)">
                                    <a class="table_btn btn-success mx-2 p-1" data-toggle="modal" data-target="#directassignmodal">
                                      Direct Assign</a>
                                  </li>
                                </ul>
                              </td>

                              <td class="text-center" *ngIf ="workers?.alreadyAssignStatus == 1">
                                <ul class="d-flex justify-content-center">
                                  <li>
                                    <a  class="table_btn btn-success p-1">Completed</a>
                                  </li>
                                </ul>
                              </td>
                              <td class="text-center" *ngIf ="workers?.alreadyAssignStatus == 3">
                                <ul class="d-flex justify-content-center">
                                  <li>
                                    <a  class="table_btn btn-primary p-1">Assigned</a>
                                  </li>
                                </ul>
                              </td>
                            </tr>
                            <tr>
                              <td *ngIf="matchingWorkers.length == 0" class="no-data" colspan="8">No Worker Matched.</td>
                          </tr>


                          </tbody>
                        </table>
                      </div>
                      <!-- <nav aria-label="Page navigation example">
                        <ul class="pagination mt-4">
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          <li class="page-item active" aria-current="page">
                            <span class="page-link">
                              1
                              <span class="sr-only">(current)</span>
                            </span>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <app-footer></app-footer> -->
    </div>
  </div>
</div>

 <!-- Assign-modal -->
<div class="modal fade" id="assignmodal" data-backdrop="static" tabindex="-1" aria-labelledby="assignmodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
       <h5>Are you sure you want to Assign this Worker to <span>{{postDetails?.name}}</span></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="sendRequestForAssign(0)">Yes, Keep it!</button>
        <button type="button" class="btn bg-danger text-white" data-dismiss="modal">Cancel it!</button>
      </div>
    </div>
  </div>
</div>

 <!-- Directly assign-modal -->
 <div class="modal fade" id="directassignmodal" data-backdrop="static" tabindex="-1" aria-labelledby="directassignmodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
          <i class="fa fa-question-circle-o" aria-hidden="true"></i>
       <h5>Are you sure you want to Directly Assign this Worker to <span>{{postDetails?.name}}</span></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="direactAssignWorker(3)">Yes, Keep it!</button>
        <button type="button" class="btn bg-danger text-white" data-dismiss="modal">Cancel it!</button>
      </div>
    </div>
  </div>
</div>

<!-- Job Detail-model -->
<div class="modal fade" id="jobpostdetail" data-backdrop="static" tabindex="-1" aria-labelledby="directassignmodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Details</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center detail">
          <div class="title">
            <h3>Job Tiltle</h3>
            <p>My Job</p>
          </div>
          <h3>Availability</h3>
          <div class="day-detail d-flex justify-content-center">
            <ul class="mr-4">
              <li>Sunday</li>
              <li>Monday</li>
              <li>Tuesday</li>
              <li>Wednesday</li>
              <li>Thursday</li>
              <li>Friday</li>
              <li>Saturday</li>
            </ul>
            <ul>
              <li>7:00</li>
              <li>3:00</li>
              <li>7:00</li>
              <li>3:00</li>
              <li>7:00</li>
              <li>3:00</li>
              <li>7:00</li>
            </ul>
          </div>
      </div>
      <div class="modal-footer ">
        <span></span>
      </div>
    </div>
  </div>
</div>