<app-header></app-header>
<div class="title_bar">
    <div class="container">
        <div class="inner">
            <h2>{{employerlist.company_name}} Dashboard</h2>
            <div class="profile">
                <div class="detail">
                    <h5>{{employerlist.name}}</h5>
                    <a [routerLink]="['/employer-profile/',employerId]" class="edit">
                        <p>Edit Profile</p> <span class="icon"><i class="far fa-edit"></i></span>
                    </a>
                </div>
                <div class="pro_img">
                    <img src="/assets/img/pro_img.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<section class="about_candidate top-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="page_title">
                    <h4>{{poststatus}}</h4>
                </div>
                <div class="employer-content">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header active" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn-list btn-link btn-block text-left accor_btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" [attr.disabled]="campaign?'true':null">
                                       Hiring Need <span class="float-right"><i class="fa fa-chevron-up"
                                                aria-hidden="true"></i></span>
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" [ngClass]="{'show': campaign===false}" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="alert alert-danger sub_msg" *ngIf="errMsg">{{message}}</div>
                                    <div class="employer-form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Job Title *</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="text" (keypress)="postvalidation()" [ngClass]="{'errormsg': validationpost===true}" class="form-control" name="post" [(ngModel)]="loginModel.post" maxlength="40">
                                                        <span class="valid-error" [ngClass]="{'validation-msg': validationpost===true}">Please
                                                            enter job title</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Type *</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <ng-select [items]="job_type" (keypress)="postTypevalidation()" [ngClass]="{'errormsg': validationjobtype===true}" bindLabel="name" placeholder="Select Job Type" name="job_type" [(ngModel)]="loginModel.job_type" [disabled]="disabledrop?true:null">
                                                        </ng-select>
                                                        <!-- <input type="text" (keypress)="postTypevalidation()" [ngClass]="{'errormsg': validationjobtype===true}" class="form-control" name="job_type" [(ngModel)]="loginModel.job_type" maxlength="20"> -->
                                                        <span class="valid-error" [ngClass]="{'validation-msg': validationjobtype===true}">Please
                                                            enter job type</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Location *</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="text" (keypress)="officevalidation()" [ngClass]="{'errormsg': validationofficeaddress===true}" class="form-control" name="office_address" [(ngModel)]="loginModel.office_address" maxlength="70">
                                                        <span class="valid-error" [ngClass]="{'validation-msg': validationofficeaddress===true}">Please
                                                            enter location</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Salary Range *</label>
                                                    </div>
                                                    <div class="field_area job_time">
                                                        <div class="form-row">
                                                            <div class="col d-flex align-items-center">
                                                                <div class="position-relative target-list">
                                                                    <ng-select [items]="currency" (change)=disableDropdown() (keypress)="currencyvalidation()" [ngClass]="{'errormsg': validationcurrency===true}" bindLabel="name" placeholder="£" name="currency_item" [(ngModel)]="loginModel.e_currencylist" [disabled]="disabledrop?true:null">
                                                                    </ng-select>
                                                                    <input type="text" (keypress)="keyPressSalary($event)" [ngClass]="{'errormsg': validationsalary1===true}" class="form-control" name="salary" [(ngModel)]="this.loginModel.salary[0]" minlength="0" maxlength="10">
                                                                    <span class="valid-error" [ngClass]="{'validation-msg': validationsalary1===true}">Please
                                                                        enter min salary</span>
                                                                    <span class="valid-error" *ngIf="loginModel.e_currencylist == '' " [ngClass]="{'validation-msg': validationcurrency===true}">*Please
                                                                        select currency</span>
                                                                </div>
                                                            </div>
                                                            <div class="col d-flex align-items-center">
                                                                <label for="">to</label>
                                                                <div class="position-relative target-list">
                                                                    <ng-select [items]="currency" (change)=disableDropdown() bindLabel="name" placeholder="£" name="currency_item" [(ngModel)]="loginModel.e_currencylist" [disabled]="disabledrop?true:null">
                                                                    </ng-select>
                                                                    <input type="text" (keypress)="keyPressSalary($event)" [ngClass]="{'errormsg': validationsalary2===true}" class="form-control" name="salary" [(ngModel)]="this.loginModel.salary[1]" minlength="0" maxlength="10">
                                                                    <span class="valid-error" [ngClass]="{'validation-msg': validationsalary2===true}">Please
                                                                        enter max salary</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <!-- <div class="label-area">
                                                        <label>Experience Level *</label>
                                                    </div> -->
                                                    <div class="field_area">
                                                        <!-- <input type="hidden" (keypress)="keyPressExperience($event)" [ngClass]="{'errormsg': validationexperience===true}" class="form-control" name="experience_level" [(ngModel)]="loginModel.experience_level" minlength="0" maxlength="2">
                                                        <span class="valid-error" [ngClass]="{'validation-msg': validationexperience===true}">Please
                                                            enter experience </span> -->
                                                            <input type="hidden" value="beginner" class="form-control" name="experience_level" [(ngModel)]="loginModel.experience_level" minlength="0" maxlength="2">
                                                    </div>
                                                </div>
                                                <div class="next-btn text-right pt-2">
                                                    <button class="btn btn-primary hover_effect" (click)="campaigndetailsDataSave()">
                                                        <span class="bg"></span>
                                                        <span class="txt">NEXT</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header " id="headingtwo">
                                <h2 class="mb-0">
                                    <button class="btn-list btn-link btn-block text-left accor_btn collapsed" type="button" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo" [attr.disabled]="skills?'true':null">
                                        Skills<span class="float-right"><i class="fa fa-chevron-up"
                                                aria-hidden="true"></i></span>
                                    </button>
                                </h2>
                            </div>

                            <div id="collapsetwo" class="collapse" [ngClass]="{'show': skills===false}" aria-labelledby="headingtwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="alert alert-danger sub_msg" *ngIf="errMsg">{{message}}</div>
                                    <div class="employer-form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Sector *</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <ng-select [items]="sectorlists" [ngClass]="{'errormsg': validationsector===true}" (keypress)="sectorvalidation()" bindLabel="name" placeholder="Select Your Sector" name="job_sector" [(ngModel)]="loginModel.job_sector">
                                                        </ng-select>
                                                        <span class="valid-error" [ngClass]="{'validation-msg': validationsector===true}">*Please
                                                            select sector</span>
                                                    </div>
                                                </div>
                                                <div *ngIf="!loginModel.job_sector" class="invalid-feedback">
                                                    Skills are required
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Primary Skills *</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <ng-select [items]="categories" [ngClass]="{'errormsg': validationskills===true}" (keypress)="skillsvalidation()" bindLabel="name" placeholder="Select Specialisms" appendTo="body" [multiple]="true" name="e_specialism" [(ngModel)]="loginModel.e_specialism">
                                                        </ng-select>
                                                        <span class="valid-error" [ngClass]="{'validation-msg': validationskills===true}">*Please
                                                            select pecialisms</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Experience</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <ng-select [items]="experience" bindLabel="name" placeholder="Select Experience" appendTo="body" [multiple]="false" name="experience">
                                                        </ng-select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Qualification Need</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="text" class="form-control" name="qualification">
                                                        <!-- <span class="valid-error" [ngClass]="{'validation-msg': validationpost===true}">Please
                                                            enter job title</span> -->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Additional qualification / accreditation</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="text" class="form-control" name="additional_qualification">
                                                        <!-- <span class="valid-error" [ngClass]="{'validation-msg': validationpost===true}">Please
                                                            enter job title</span> -->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Any target Companies </label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="text" class="form-control" name="target_company">
                                                        <!-- <span class="valid-error" [ngClass]="{'validation-msg': validationpost===true}">Please
                                                            enter job title</span> -->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Describe the ideal candidate for the role and team?</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="text" class="form-control" name="team_role">
                                                        <!-- <span class="valid-error" [ngClass]="{'validation-msg': validationpost===true}">Please
                                                            enter job title</span> -->
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Any other deal breakers?</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="text" class="form-control" name="deals">
                                                        <!-- <span class="valid-error" [ngClass]="{'validation-msg': validationpost===true}">Please
                                                            enter job title</span> -->
                                                    </div>
                                                </div>
                                                <div class="next-btn text-right pt-2">
                                                    <!--<button type="submit" class="btn back-btn">BACK</button>-->
                                                    <button class="btn btn-primary hover_effect" (click)="skillsTabDataSave()">
                                                        <span class="bg"></span>
                                                        <span class="txt">NEXT</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header " id="headingrole">
                                <h2 class="mb-0">
                                    <button class="btn-list btn-link btn-block text-left accor_btn collapsed" type="button" data-toggle="collapse" data-target="#collapserole" aria-expanded="true" aria-controls="collapserole" [attr.disabled]="companyroledesc?'true':null">
                                        Job Description<span class="float-right center"><i
                                                class="fa fa-chevron-up" aria-hidden="true"></i></span>
                                    </button>
                                </h2>
                            </div>

                            <div id="collapserole" class="collapse" [ngClass]="{'show': companyroledesc===false}" aria-labelledby="headingrole" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="alert alert-danger sub_msg" *ngIf="errMsg">{{message}}</div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Job Description *</label>
                                        </div>
                                        <div class="field_area">
                                            <textarea (keyup)="websitevalidation()" [ngClass]="{'errormsg': validationwebsite===true}" class="form-control" name="website" [(ngModel)]="loginModel.website" maxlength="500"></textarea>
                                            <span class="valid-error" [ngClass]="{'validation-msg': validationwebsite===true}">*Please enter
                                                your job description</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area"><label>JD attachment</label></div>
                                            <div class="field_area">
                                                <div class="files-list">
                                                    <div class="upload_bx">
                                                        <div class="text-center">
                                                            <div class="icon"><i aria-hidden="true"
                                                                    class="fa fa-plus"></i></div>
                                                            <h4>Upload</h4>
                                                        </div>
                                                        <input type="file" #fileInput accept="aapplication/pdf,application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" name="referance" class="file_upload" (change)="selectFile($event)">
                                                            <div class="file" *ngIf="file==1">
                                                                <p>{{filename}}</p>
                                                                <button class="btn remove_file" (click)="removeFile(fileInput, i)"><i
                                                                    class="fas fa-times-circle"></i></button>
                                                              </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    <!-- <div class="form-group">
                                        <div class="label-area">
                                            <label>Company Description *</label>
                                        </div>
                                        <div class="field_area">
                                            <textarea (keyup)="companyDescvalidation()" [ngClass]="{'errormsg': validationcompanydesc===true}" class="form-control" name="company_desc" [(ngModel)]="loginModel.company_desc" maxlength="500"></textarea>
                                            <span class="valid-error" [ngClass]="{'validation-msg': validationcompanydesc===true}">*Please
                                                enter company description</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="label-area">
                                            <label>Role Description *</label>
                                        </div>
                                        <div class="field_area">
                                            <textarea (keyup)="roleDescvalidation()" [ngClass]="{'errormsg': validationroledesc===true}" class="form-control" name="role_desc" [(ngModel)]="loginModel.role_desc" maxlength="500"></textarea>
                                            <span class="valid-error" [ngClass]="{'validation-msg': validationroledesc===true}">*Please enter
                                                role description</span>
                                        </div>
                                    </div> -->
                                    <div class="next-btn text-right pt-2">
                                        <!-- <button type="submit" class="btn back-btn">BACK</button> -->
                                        <button class="btn btn-primary hover_effect" (click)="companyroleTabdata()">
                                            <span class="bg"></span>
                                            <span class="txt">NEXT</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header " id="headingQuest">
                                <h2 class="mb-0">
                                    <button class="btn-list btn-link btn-block text-left accor_btn collapsed" type="button" data-toggle="collapse" data-target="#collapseQuest" aria-expanded="true" aria-controls="collapseQuest" [attr.disabled]="ques?'true':null">
                                        Screening Questions <span class="float-right center"><i class="fa fa-chevron-up"
                                                aria-hidden="true"></i></span>
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseQuest" class="collapse" [ngClass]="{'show': ques===false}" aria-labelledby="headingQuest" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="alert alert-danger sub_msg" *ngIf="errMsg">{{message}}</div>

                                    <div class="form-group" *ngFor='let in of counts(s); let j=index;'>
                                        <div class="label-area">
                                            <label *ngIf="j==0">Question *</label>
                                            <label *ngIf="j>0">Question {{j}}</label>
                                        </div>
                                        <div class="field_area d-flex">
                                            <textarea class="form-control" name="ques" [(ngModel)]="this.loginModel.ques[j]" maxlength="500"></textarea>
                                            <button class="btn add_btn" type="button" (click)="addQues()" *ngIf="j==0">Add more +</button>
                                            <button class="btn close_btn" *ngIf="s==j+1 && j>0" type="button" (click)="removeQues()"><i class="fas fa-times-circle"></i></button>
                                        </div>
                                    </div>


                                    <div class="next-btn text-right pt-2">
                                        <button class="btn btn-primary hover_effect" (click)="questionTabdata()">
                                            <span class="bg"></span>
                                            <span class="txt">FINISH</span></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>