<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item active">Antecedent Category</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Antecedent Category List</h4>
                                
                            </div>
                            <div class="content_area">
                                <div class="card mb-2">
                                    <div class="card-body d-lg-flex  justify-content-lg-between  align-items-lg-center">
                                        <div class="total-count">Total Antecedent Category: {{ total }}</div>
                                        

                                        <div class="search-box">
                                            <form #f="ngForm" novalidate>
                                                <input name="search" [(ngModel)]="schoolModel.searchKey"
                                                    placeholder="Antecedent name" class="form-control">
                                                <button type="button" (click)="searchFunction(currentPage)" class="btn btn-primary">Search</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                               <div class="card">
                                    <div class="card-body">
                                        <!-- Success msg html -->
                                        <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                                            {{ successMessage }}
                                        </div>
                                        <!-- Error msg html -->
                                        <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                                            {{ errorMessage }}
                                        </div>
                                        <a class="btn btn-primary mb-3" data-toggle="modal"
                                        data-target="#add_cate" (click)="add_btn()">+ Add Antecedent Category</a>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th style="width:5%">S.No</th>
                                                        <th style="width:25%" (click)="sortFunction('category_name')" class="sort_menu">
                                                            Antecedent Category Name
                                                            <span class="fa fa-exchange sort-icon" *ngIf="key =='category_name'"
                                                                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                        </th>
                                                        <th style="width:10%">Antecedent Unique Id</th>
                                                        <th style="width:10%">Status</th>
                                                        <th style="width:16%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <div class="loader_area">
                                                        <span *ngIf="loaderShow">                                        
                                                            <app-loader class="table_loader"></app-loader>
                                                        </span> 
                                                    </div>
                                                    <tr *ngFor="let item of ObCategories; let i = index;">
                                                        <td>{{ (currentPage-1)*10+i+1 }}</td>
                                                        <td> <a [routerLink]="['/antecedent/', item.id]">{{ item.category_name }}</a></td>
                                                        <td>{{ (item.hint != '')? (item.hint.length>60)? (item.hint | slice:0:60)+'...':(item.hint) : 'N/A' }}</td>
                                                        <td *ngIf="item.status == 1"><span (click)="changeStatusOBCategory(item.id, item.status)"><i class="fa fa-circle active-status" aria-hidden="true"></i></span></td>
                                                        <td *ngIf="item.status == 0" ><span (click)="changeStatusOBCategory(item.id, item.status)"><i class="fa fa-circle deactive-status" aria-hidden="true"></i></span></td>
                                                        <td>
                                                            <div class="btn_area">
                                                                <a>
                                                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                                                    data-target="#edit_cate" (click)="update_btn(item.category_name, item.hint, item.status, item.id)">Edit
                                                                    </button>
                                                                </a>
                                                                <button class="btn btn-primary ml-2" type="button"
                                                                    data-toggle="modal" data-target="#"
                                                                    (click)="deleteOBCategory(item.id)">Delete
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf='noRecords' style="color:red"> <td colspan="20" class="text-center">No records found</td></tr>                                                 
                                                </tbody>
                                            </table>
                                            <nav aria-label="Page navigation" class="mt-3">
                                                <ul class="pagination">
                                                    <li class="page-item disabled_back" *ngIf="currentPage==1"><a
                                                            class="page-link">Previous</a>
                                                    <li class="page-item" *ngIf="currentPage!=1"
                                                        (click)="pageChange(currentPage-1)"><a
                                                            class="page-link">Previous</a>
                                                    </li>
                                                    <li class="page-item"
                                                        *ngFor='let in of counter(totalPages) ;let m = index'>
                                                        <a class="page-link active" *ngIf="((m+1)==currentPage )">{{m+1}}</a>
                                                        <a class="page-link"
                                                            *ngIf="(m+1)!==currentPage && (m+1)>=(currentPage-2) && (m+1)<=(currentPage+2)"
                                                            (click)="pageChange(m+1)">{{m+1}}</a>
                                                    </li>

                                                    <li class="page-item disabled_back" *ngIf="totalPages==currentPage">
                                                        <a class="page-link">Next</a></li>
                                                    <li class="page-item active" *ngIf="totalPages!==currentPage"
                                                        (click)="pageChange(currentPage+1)">
                                                        <a class="page-link">Next</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>

<!-- add start -->
<div class="modal fade" id="add_cate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Antecedent Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-20" action="" name="CategoryAdd" #f="ngForm" (ngSubmit)="saveFunction()" novalidate>
                    <div class="form-group">
                        <label for="#">Antecedent Category Name* :</label>
                        <input type="text" class="form-control" [(ngModel)]="schoolModel.category_name"  name="category_name">
                        <span *ngIf="addValidationError.category_name" class="validation">{{addValidationError.category_name}}</span>
                    </div>
                    <div class="form-group">
                        <label for="#"> Antecedent Unique Id :</label>
                        <!-- <textarea [(ngModel)]="schoolModel.hint"  name="hint" id="" class="form-control" cols="30" rows="5"></textarea>
                        <span *ngIf="addValidationError.hint">{{addValidationError.hint}}</span> -->
                        <input type="text" class="form-control" [(ngModel)]="schoolModel.hint"  name="hint">
                        <span *ngIf="addValidationError.hint" class="validation">{{addValidationError.hint}}</span>
                    </div>
                    <div class="form-group">
                        <label for="#"> Status :</label>
                        <input type="radio" name="status" [(ngModel)]="schoolModel.status" value="1" checked="true">Active
                        <input type="radio" name="status" [(ngModel)]="schoolModel.status" value="0">Inactive                        
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- edit start -->
 <div class="modal fade " id="edit_cate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Antecedent Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-20" action="" name="SELCategoryEdit" #f="ngForm" (ngSubmit)="updateFunction()" novalidate>
                    <div class="form-group">
                        <label for="#"> Antecedent Category Name :</label>
                        <input type="text" [(ngModel)]="schoolModel.category_name"  name="category_name" class="form-control">
                        <span *ngIf="addValidationError.category_name" class="validation">{{addValidationError.category_name}}</span>
                    </div>
                    <div class="form-group">
                        <label for="#"> Antecedent Unique Id :</label>
                        <!-- <textarea [(ngModel)]="schoolModel.hint"  name="hint" id="" class="form-control" cols="30" rows="5"></textarea> -->
                        <input type="text" [(ngModel)]="schoolModel.hint"  name="hint" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="#"> Status :</label>
                        <input type="radio" name="status" [(ngModel)]="schoolModel.status"  [value]="1" [attr.checked]="checkStatus1"> Active
                        <input type="radio" name="status" [(ngModel)]="schoolModel.status" [value]="0" [attr.checked]="checkStatus0"> Inactive               
                    </div>
                    <div class="d-flex justify-content-between">
                        <input type="hidden" [(ngModel)]="schoolModel.obCat_id" name="obCat_id" class="form-control">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" model_class >Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 