ul {
    &.category-list {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 10px;
            position: relative;
            padding: 5px;
            background-color: #e4e4e4;
            border-radius: 3px;

            a {
                color: #707070;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            &:hover {
                a {
                    color: #16b7d8;
                }
            }

            .btn-box {
                position: absolute;
                right: 0;
                top: 3px;

                button {
                    border: 0;
                    background-color: transparent;
                    margin: 0 3px;
                    font-size: 17px;


                    &.del-btn {
                        color: #c70f0f;
                    }

                    &.edit-btn {
                        color: #16b7d8;
                    }
                }
            }

        }
    }
}
.validation{
    color:red;
}