ul.category-list {
  list-style: none;
  padding: 0;
}

ul.category-list li {
  margin-bottom: 10px;
  position: relative;
  padding: 5px;
  background-color: #e4e4e4;
  border-radius: 3px;
}

ul.category-list li a {
  color: #707070;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

ul.category-list li:hover a {
  color: #022169;
}

ul.category-list li .btn-box {
  position: absolute;
  right: 0;
  top: 3px;
}

ul.category-list li .btn-box button {
  border: 0;
  background-color: transparent;
  margin: 0 3px;
  font-size: 17px;
}

ul.category-list li .btn-box button.del-btn {
  color: #c70f0f;
}

ul.category-list li .btn-box button.edit-btn {
  color: #022169;
}

.validation {
  color: red;
}
/*# sourceMappingURL=category.component.css.map */