<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>

    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item active">SEL Category</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">SEL Category</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->

                   
                     <!-- Success msg html -->
                     <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                        {{ successMessage }}
                    </div>
                    <!-- Error msg html -->
                    <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                        {{ errorMessage }}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body add_lesson">                                 
                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <a class="btn btn-primary" data-toggle="modal"
                                                data-target="#add_cate" (click)="add_SEL()">+ Add SEL Category</a>
                                        </div>
                                        <div class="col-md-6" *ngFor="let item of categories; let i = index;">
                                            <ul class="category-list">
                                                <li><a [routerLink]="['/lesson/',item.id]"><i class="mdi mdi-chevron-double-right"></i>
                                                {{ item.category_name}}                                                    
                                                    </a>
                                                    <div class="btn-box">
                                                        <button class="edit-btn" title="Edit" data-toggle="modal"
                                                            data-target="#edit_cate" (click)=getSELCategory_id(item.id)><i
                                                                class="mdi mdi-pencil"></i></button>
                                                        <button class="del-btn" title="Delete" (click)=deleteSELCategory(item.id)><i
                                                                class="mdi mdi-delete"></i></button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-12 mb-3 record_area" *ngIf="noRecords">
                                            <p class="mb-0" class=" text-center">No record found</p>
                                        </div>
                                    </div>
                                    <div class="loader_area">
                                        <span *ngIf="loaderShow">                                        
                                            <app-loader ></app-loader>
                                        </span> 
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- container -->
            </div> <!-- Page content Wrapper -->
        </div>
        <app-footer></app-footer>
    </div>
</div>

<!-- add start -->
<div class="modal fade" id="add_cate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-20" action="" name="SELCategoryAdd" #f="ngForm" (ngSubmit)="onSubmitAdd()" novalidate>
                    <div class="form-group">
                        <label for="#"> Category Name :</label>
                        <input type="text" class="form-control" [(ngModel)]="loginModel.category_name"  name="category_name">
                        <span *ngIf="addValidationError.category_name" class="validation">{{addValidationError.category_name}}</span>
                    </div>
                    <div class="form-group">
                        <label for="#"> Category Description :</label>
                        <!-- <input type="text" class="form-control" [(ngModel)]="loginModel.category_des"  name="category_des"> -->
                        <textarea [(ngModel)]="loginModel.category_des"  name="category_des" id="" class="form-control" cols="30" rows="5"></textarea>
                        <span *ngIf="addValidationError.category_des">{{addValidationError.category_des}}</span>
                    </div>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- edit start -->
<div class="modal fade " id="edit_cate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal m-t-20" action="" name="SELCategoryEdit" #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="form-group">
                        <label for="#"> Category Name :</label>
                        <input type="text" [(ngModel)]="loginModel.category_name"  name="category_name" class="form-control">
                        <span *ngIf="addValidationError.category_name" class="text-warning">{{addValidationError.category_name}}</span>
                    </div>
                    <div class="form-group">
                        <label for="#"> Category Description :</label>
                        <!-- <input type="text" [(ngModel)]="loginModel.category_des" name="category_des" class="form-control"> -->
                        <textarea [(ngModel)]="loginModel.category_des"  name="category_des" id="" class="form-control" cols="30"></textarea>
                    </div>
                    <div class="d-flex justify-content-between">
                        <input type="hidden" [(ngModel)]="loginModel.category_id" name="category_id" class="form-control">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" model_class >Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>