<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/products']">Products</a></li>
                                        <li class="breadcrumb-item active">Product View</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Product View</h4>
                            </div>
                        </div>
                    </div>
                   <div class="row">
                       <div class="col-md-12">
                           <div class="card">
                               <div class="card-body">
                                <div class="row ">
                                    <div class="col-md-6">
                                        <div id="demo" class="carousel slide" data-ride="carousel">
            
                                            <!-- Indicators -->
                                            <ul class="carousel-indicators">
                                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                                <li data-target="#demo" data-slide-to="1"></li>
                                                <li data-target="#demo" data-slide-to="2"></li>
                                            </ul>
            
                                            <!-- The slideshow -->
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <img src="/assets/images/car.jpg" alt="" class="img-fluid">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/images/car.jpg" alt="" class="img-fluid">
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="/assets/images/car.jpg" alt="" class="img-fluid">
                                                </div>
                                            </div>
            
                                            <!-- Left and right controls -->
                                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                                <span class="carousel-control-prev-icon"></span>
                                            </a>
                                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                                <span class="carousel-control-next-icon"></span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="car-detail">
                                            <h6>Name:</h6>
                                            <p>Mark</p>
                                            </div>
                                            <div class="car-detail">
                                              <h6>Company Name:</h6>
                                              <p>Otto</p>
                                              </div>
                                              <div class="car-detail">
                                                <h6>Modal:</h6>
                                                <p>@Mdo</p>
                                              </div>
                                              <div class="car-detail">
                                                <h6>Color:</h6>
                                                <p>Red</p>
                                              </div>
                                              <div class="car-detail">
                                                <h6>Year:</h6>
                                                <p>2020</p>
                                              </div>
                                              <div class="car-detail">
                                                <h6>Description:</h6>
                                                <p>Lorem Ipsum is not simply random text.</p>
                                              </div>
            
                                    </div>
                                </div>
                               </div>
                           </div>
                       </div>
                   </div>
                   <!-- <app-loader></app-loader> -->
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>