footer {
    padding: 20px 0 25px;

    @media (min-width:768px) {
        padding: 40px 0 37px;
    }

    .logo-box {
        width: 100%;
        max-width: 100%;
        text-align: center;

        @media (min-width:768px) {
            max-width: 280px;

        }

        img {
            width: 100%;
            max-width: 114px;
        }
    }

    ul.link {
        list-style: none;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        @media (min-width:768px) {
            justify-content: flex-end;
            flex-flow: row;
        }

        li {
            &:last-child {
                a {
                    margin-right: 0;
                }
            }

            a {
                margin-right: 0px;
                margin-bottom: 10px;
                color: $white;
                font-size: 16px;
                font-weight: 500;

                @media (min-width:768px) {
                    margin-right: 50px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}