header {
    nav {
        &.navbar {
            padding-top: 8px;
            transition: .2s ease;

            @media (min-width:992px) {
                padding-top: 30px;
            }

            &.scroll {
                transition: .2s ease;
                background-color: $white;
                padding-top: 5px;
                padding-bottom: 5px;
                box-shadow: 0 0 5px #3050b563;
            }

            .navbar-toggler {
                border: 0;
                padding: 0;
                outline: none;
                width: 35px;
                height: 30px;
                position: relative;
                margin-left: auto;

                &[aria-expanded="true"] {
                    span {
                        &:first-child {
                            transform: rotate(45deg);
                            top: 0;
                            left: 8px;
                        }

                        &:nth-child(2) {
                            width: 0%;
                            opacity: 0;
                        }

                        &:last-child {
                            transform: rotate(-45deg);
                            top: 24px;
                            left: 8px;
                        }
                    }
                }

                span {
                    width: 100%;
                    height: 3px;
                    background: #3050b5;
                    display: block;
                    border-radius: 20%;
                    position: absolute;
                    opacity: 1;
                    left: 0;
                    transform: rotate(0deg);
                    transition: 0.25s ease-in-out;

                    &:first-child {
                        top: 0.5px;
                        transform-origin: left center;
                    }

                    &:nth-child(2) {
                        top: 11.5px;
                        transform-origin: left center;
                    }

                    &:last-child {
                        top: 23px;
                        transform-origin: left center;
                    }
                }
            }

            a {
                &.navbar-brand {
                    img {
                        width: 100%;
                        max-width: 150px;

                        @media (min-width:575px) {
                            max-width: 250px;
                        }
                    }
                }
            }

            ul {
                &.navbar-nav {
                    li {
                        &:last-child {
                            a {
                                margin-right: 0;
                                padding-right: 0;
                            }
                        }

                        a {
                            font-size: 16px;
                            font-weight: 600;
                            color: #000000;
                            margin-right: 0px;

                            @media (min-width:992px) {
                                margin-right: 25px;
                            }

                            @media (min-width:1200px) {
                                margin-right: 44px;
                            }

                            &.active {
                                color: #3050b5;
                            }
                            &:hover {
                                color: #3050b5;
                            }
                        }
                    }
                }
            }

            .collapsing,
            .show {
                position: absolute;
                top: 100%;
                border-top: 2px solid #3050b5;
                background-color: $white;
                width: 100%;
                left: 0;
                border-bottom: 2px solid #3050b5;
                z-index: 999;

                ul {
                    &.navbar-nav {
                        li {
                            &.nav-item {
                                a {
                                    padding: 10px 15px;
                                    border-bottom: 1px solid #304fb51c;
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}