.banner-sec {
    position: relative;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 108px;

    &::before {
        @media (min-width: 768px) {
            content: " ";
            width: 50%;
            height: 100%;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            z-index: 1;
            background-color: $white;
        }
    }

    .owl-carousel {
        &.car-slider {
            @media (max-width: 767px) {
                margin-top: 25px;
            }

            .owl-stage {
                .item {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 100%;

                    @media (min-width: 768px) {
                        flex-direction: row;
                        align-items: center;
                    }


                    .text-box {
                        flex: 0 100%;

                        @media (min-width: 768px) {
                            flex: 0 43%;
                        }

                        h1 {
                            font-size: 25px;
                            font-weight: 700;
                            color: #fff;
                            margin-bottom: 10px;
                            text-align: center;


                            span {
                                color: #3050b5;
                            }

                            @media (min-width: 575px) {
                                font-size: 35px;
                            }

                            @media (min-width: 768px) {
                                text-align: left;
                            }

                            @media (min-width: 992px) {
                                font-size: 50px;
                            }
                        }
                    }

                    .car-box {
                        flex: 0 100%;
                        display: flex;
                        justify-content: flex-end;
                        margin: 30px 0 0 0;
                        align-items: flex-start;

                        @media (min-width: 768px) {
                            margin: 0;
                            flex: 0 0 57%;
                        }

                        img {
                            width: 100%;
                            max-width: 94%;
                        }
                    }
                }
            }
        }
    }

    .owl-dots {
        text-align: center;

        @media (min-width:768px) {
            text-align: left;
        }

        margin-top: 30px;

        button {
            &.owl-dot {
                width: 12px;
                height: 12px;
                background-color: #bdbdbd;
                margin: 0 7px;
                border-radius: 50px;

                &.active {
                    background-color: #3050b5;
                }
            }
        }
    }
}

.about-us {
    position: relative;
    padding: 25px 0 0;

    @media (min-width:768px) {
        padding: 67px 0 0;
    }

    .car_img {
        @media (min-width:991px) {
            background-image: url(../images/halfcar.png);
            background-repeat: no-repeat;
            background-position: -24% 90%;
            padding: 30px 0;

            @media (min-width:1200px) {
                background-position: left -10px;
            }
        }
    }


    .pad_0 {
        @media (max-width:991px) {
            padding: 0 !important;
        }
    }

    .container {
        position: relative;
        z-index: 2;
    }

    .text {
        padding: 30px 0px 30px;

        @media (max-width:991px) {
            background-color: #3050b5;
            padding: 34px 15px 30px;
        }

        @media (max-width:767px) {
            padding: 15px 15px 15px;
        }


        p {
            font-size: 14px;
            line-height: 1.69;
            color: $white;

            @media (min-width:1200px) {
                text-align: justify;
                font-size: 16px;
            }
        }
    }

    .bg_area {
        background: #3050b5;
        padding-top: 30px;
    }
}

.screenshot-sec {
    padding-top: 25px;
    max-width: 1920px;
    margin: auto;

    @media (min-width:768px) {
        padding-top: 69px;
    }

    .heading {
        padding-bottom: 15px;

        @media (min-width:768px) {
            padding-bottom: 55px;
        }
    }

    .screenshot-box {
        img {
            width: 100%;
            max-width: 100%;
        }
    }
}

.app-features-sec {
    padding: 25px 0;

    @media (min-width:768px) {
        padding: 95px 0 50px;
    }

    .heading {
        padding-bottom: 25px;

        @media (min-width:768px) {
            padding-bottom: 59px;
        }
    }

    .features-box {
        border-radius: 10px;
        box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.08);
        background-color: rgba(255, 255, 255, 0.1);
        padding: 10px 15px 0px 10px;

        @media (min-width:575px) {
            padding: 30px 24px 0px 24px;
        }

        @media (min-width:992px) {
            padding: 30px 24px 0px 39px;
        }

        .icon-box {
            display: flex;
            justify-content: flex-end;

            span {
                width: 30px;
                height: 30px;
                border-radius: 8px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
                background-color: #3050b5;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (min-width:578px) {
                    width: 60px;
                    height: 60px;
                    border-radius: 19px;
                }

                @media (max-width:567px) {
                    img {
                        width: 60%;
                    }
                }
            }
        }

        .text-box {

            height: 100%;
            min-height: 180px;
            margin-top: 15px;
            padding: 0 0px 0 0;

            @media (min-width:575px) {
                padding: 0 61px 0 0;
            }

            @media (min-width:768px) {
                margin-top: 15px;
                padding: 0 0px 0 0;
                min-height: 200px;
            }

            @media (min-width:992px) {
                margin-top: 0px;
                padding: 0 61px 0 0;
            }

            h4 {
                font-size: 22px;
                color: #fff;
                font-weight: 600;
                padding-bottom: 13px;

                @media (min-width:992px) {
                    font-size: 26px;
                }

                @media (min-width:1300px) {
                    font-size: 36px;
                }
            }

            p {
                font-size: 16px;
                // text-align: justify;
                font-weight: 400;
                opacity: 0.6;
                color: #fff;
            }
        }

        &.mt-60 {
            margin-top: 10px;

            @media (min-width:575px) {
                margin-top: 20px;
            }

            @media (min-width:768px) {
                margin-top: 41px;
            }
        }

        &.mt-50 {
            margin-top: 10px;

            @media (min-width:575px) {
                margin-top: 20px;
            }

            @media (min-width:768px) {
                margin-top: 50px;
            }
        }
    }
}

.contactus-sec {
    // padding-top: 25px;

    .container-fluid {
        max-width: 1920px;
    }

    .img-box {
        background-color: #3050b5;
        height: 100%;
        position: relative;

        &::before {
            content: " ";
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background-image: url(../images/lamb.png);
            z-index: 1;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;

            @media (max-width:767px) {
                display: none;
            }
        }
    }

    .contact-from {
        background-color: #1a1a1a;
        padding: 15px 20px 15px;

        @media (min-width:575px) {
            padding: 28px 50px 50px;
        }

        @media (min-width:992px) {
            padding: 28px 60px 50px;
        }

        @media (min-width:1200px) {
            padding: 28px 85px 50px;
        }

        .heading {
            padding-bottom: 15px;

            @media (min-width:768px) {
                padding-bottom: 19px;
            }
        }

        .form-group {
            position: relative;
            margin-bottom: 25px;

            input {
                &.error {
                    border-color: red;
                }
            }

            textarea.error {
                border-color: red;
            }
        }
    }
}

.app-benefit {
    padding: 66px 0;

    .heading {
        padding-bottom: 58px;
    }

    .position-ab {
        position: relative;
    }

    .backline {
        @media (min-width:992px) {
            background-image: url(../images/lineback.png);
            background-size: 100%;
            background-repeat: no-repeat;
            background-position-y: 50px;
        }
    }

    .benef-box {
        margin: 15px 0;

        @media (min-width:992px) {
            margin: 10px 0;
        }

        .icon-box {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            margin: 0 auto 27px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            &.blue {
                background-color: #3050b5;
            }

            img {
                width: 100%;
                max-width: 70px;
            }
        }

        .text {
            max-width: 70%;
            margin: auto;

            @media (min-width:992px) {
                max-width: 250px;
            }

            h5 {
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                color: $white;
                margin-bottom: 17px;

                small {
                    font-weight: 500;
                }
            }

            p {
                text-align: justify;
                color: $white;
                font-size: 14px;
            }
        }
    }
}

.app-download {
    padding: 25px 0;
    background-color: $white;

    @media (min-width:768px) {
        padding: 30px 0;
    }

    .app-down {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            font-size: 20px;
            font-weight: 700;
            width: 100%;
            max-width: 180px;
            text-align: left;
            margin: 25px auto 0;

            @media (min-width:575px) {
                font-size: 36px;
                max-width: 330px;
            }

            @media (min-width:1200px) {
                margin: 0 auto;
            }
        }

        .app-store-box {
            img {
                box-shadow: 0 0 5px rgba(255, 255, 255, 0.233);
                margin: 0 5px;
            }
        }

        img {
            &.img-log {
                margin: 0 0 30px;
                width: 100%;
                max-width: 170px;
            }
        }
    }

    .img-box {
        @media (max-width:768px) {
            margin: 30px 0 30px;
        }

        img {
            width: 100%;
            max-width: 150px;
        }
    }
}

.errormsg_name,
.errormsg_email,
.errormsg_msg {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    font-size: 12px;
    color: red;
}

.video_area {
    border-radius: 10px;
}

#policy-banner {
    background: url("../images/policy-banner.png") no-repeat center 0;
    background-size: cover;
    height: 70vh;


}

.all-banner {

    .container,
    .row {
        height: 100%;
    }

    h2 {
        font-size: 26px;
        color: #000000;
        padding-top: 60px;
        @media (min-width:992px) {
            font-size: 32px;
            
        }
        @media (min-width:1200px) {
            font-size: 40px;
            
        }
    }

    p {
        font-size: 16px;
        color: #000;
        margin: 0;
        padding: 12px 0 0;
    }
}

#all-content {
    background: #fff;
    padding: 40px 0;
    margin-top: -1px;

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-bottom: 10px;
        color: #494949;
    }

    .accordion {
        .card-header {
            background-color: #3050b51c;
            border-color:#3050b51c;
            padding: 0;
            button{
                color: #000000!important;
                text-decoration: none!important;
                white-space: inherit;
                font-size: 15px;
                @media (min-width:768px) {
                    font-size: 18px;
                    
                }
            }
        }
        .card-body{
            @media (max-width:768px) {
                font-size:14px;
            }
                
        }
    }
}

.data-list {
    margin: 0;

    li {
        padding-left: 10px;
        padding-bottom: 8px;

        &:before {
            content: url(../images/tick.png);
            position: relative;
            left: -8px;
        }
    }


}

#tac-banner {
    background: url("../images/tac-banner.png") no-repeat center 0;
    background-size: cover;
    height: 70vh;
}

#faq-banner {
    background: url("../images/faq-banner.png") no-repeat center 0;
    background-size: cover;
    height: 70vh;
}