@import "_variable";
@import "_header";
@import "_page";
@import "_footer";

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    font-family: $font !important;
    margin: 0;
}

body {
    font-family: $font !important;
    margin: auto;
    background-color: #000;
}

section {
    max-width: 1920px;
    margin: auto;
}

a {
    &:hover {
        text-decoration: none !important;
    }
}

button {
    cursor: pointer;

    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border: 0 !important;
    }
}

.form-control {

    &:focus {
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}


.heading {
    padding-bottom: 15px;

    @media (min-width:768px) {
        padding-bottom: 22px;
    }

    h2 {
        font-size: 25px;
        font-weight: 700;
        color: #fff;

        @media (min-width:575px) {
            font-size: 35px;
        }

        @media (min-width:768px) {
            font-size: 50px;
        }

        span {
            color: #3050b5;
        }
    }

    p {
        font-size: 16px;
        font-style: italic;
        color: #fff;
        padding-left: 15px;
        padding-right: 15px;

        @media (min-width:575px) {
            font-size: 18px;
        }

        @media (min-width:768px) {
            font-size: 24px;
        }
    }
}

.form-group {
    @media (max-width:574px) {
        margin-bottom: 0.5rem;
    }

    label {
        font-size: 12px;
        font-weight: 600;
        color: $white;

        @media (min-width:575px) {
            font-size: 14px;
        }
    }

    input {
        &.form-control {
            border-radius: 6px;
            border: 1px solid #fff2;
            background-color: #fff2;
            padding: 16px;
            color: $white;
            height: 45px;

            @media (min-width:575px) {
                height: 50px;
            }

            &::placeholder {
                font-size: 14px;
                color: $white;
            }
        }
    }

    textarea {
        &.form-control {
            border-radius: 6px;
            color: $white;
            border: 1px solid #fff2;
            background-color: #fff2;
            height: 70px;
            padding: 16px;

            @media (min-width:575px) {
                height: 100px;
            }

            &::placeholder {
                font-size: 14px;
                color: $white;
            }
        }
    }
}

.btn {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    display: block;
    border-radius: 14px;

    &.submit-btn {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        background-color: #3050b5;
        color: $white;
        padding: 14px;
        max-width: 180px;
        margin: 20px auto 0;

        @media (min-width:575px) {
            padding: 18px;
            max-width: 220px;
            margin: 40px auto 0;
        }
    }
}