<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>

    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item"><a [routerLink]="['/category']">SEL Category</a>
                                        </li>
                                        <li class="breadcrumb-item"><a [routerLink]="['/lesson', loginModel.sel_cat_id]">Lesson</a>
                                        </li>
                                        <li class="breadcrumb-item active">Edit Lesson</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Edit Lesson - {{ category_name }}</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->
                      <!-- Success msg html -->
                    <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                        {{ successMessage }}
                    </div>
                    <!-- Error msg html -->
                    <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                        {{ errorMessage }}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body add_lesson">
                                    <form class="form-horizontal m-t-20" action="" name="SELCategoryLessonUpdate" #f="ngForm" (ngSubmit)="onSubmitUpdate()" novalidate>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Lesson Name*</label>
                                                    <input type="text" class="form-control" name="lesson_name" [(ngModel)]="loginModel.lesson_name" >
                                                    <span *ngIf="addValidationError.lesson_name" class="error-validation">{{addValidationError.lesson_name }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" *ngIf="this.loginModel.type==0">
                                                    <label for="">Upload Video</label>
                                                    <input type="file" class="form-control-file" name="video"  (change)="onFileSelect($event)">
                                                    <span *ngIf='fileSelect' class="error-validation">Please Select MP4, ogg, webm file</span>
                                                    <span *ngIf='fileSelect_error' class="error-validation">Please upload video</span>
                                                </div>
                                                <div class="form-group" *ngIf="this.loginModel.type==1 || this.loginModel.type==2">
                                                    <label for="">Upload Video Link</label>
                                                    <input type="text" class="form-control" [(ngModel)]="loginModel.video_link"  name="video">
                                                    <span *ngIf="addValidationError.video_link" class="error-validation">{{addValidationError.video_link }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" *ngIf="this.loginModel.type==0 || this.loginModel.type==1 || this.loginModel.type==2">
                                                    <label for="">Upload Video Thumbnail:</label>
                                                    <input type="file" class="form-control-file" name="videoThumbnail"  (change)="onFileSelectThumbnail($event)">
                                                    <span *ngIf='fileSelectThumbnail' class="error-validation">Please select type jpg, png</span>
                                                    <span *ngIf='fileSelectThumbnail_error' class="error-validation">Please upload thumbnail</span>
                                                </div>
                                            </div> 
                                            <div class="col-md-12">
                                                <!-- <div class="video-sec mt-4" *ngIf='videoShow'>                                               
                                                    <div class="video-box">
                                                        <img [src]=thumbnail alt="">
                                                        <a data-toggle="modal" data-target="#view-video"><i
                                                                class="mdi mdi-play-circle-outline"></i></a>
                                                    </div>
                                                </div> -->
                                                <div class="row align-items-center">
                                                    <div class="col-md-6">
                                                        <div class="video-box ">
                                                            <div class="inner" [innerHTML]="videoPath | safe: 'html'"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="image-box">
                                                            <img [src]=thumbnail alt="">
                                                            <a data-toggle="modal" data-target="#view-video">
                                                                <!-- <i class="mdi mdi-play-circle-outline"></i> -->
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>   
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="">Description*</label>
                                                    <!-- <ckeditor [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic' ] }" [editor]="Editor" name="lesson" [(ngModel)]="loginModel.lesson"></ckeditor> -->
                                                    <!-- <ckeditor [config]="editorConfig" [editor]="Editor" name="lesson" [(ngModel)]="loginModel.lesson" id="editor"></ckeditor> -->

                                                    <ejs-richtexteditor id="editor"  name="lesson" [(ngModel)]="loginModel.lesson" [toolbarSettings]='tools'  [insertImageSettings]='{saveFormat: "Base64"}'></ejs-richtexteditor >
                                                    <span *ngIf="addValidationError.lesson" class="error-validation">{{addValidationError.lesson }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button class="btn btn-primary" [disabled]="buttonDisable" >Update</button>
                                            </div>
                                        </div>
                                        <div class="loader_area">
                                            <span *ngIf="noRecords">                                        
                                                <app-loader></app-loader>
                                            </span> 
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- container -->
            </div> <!-- Page content Wrapper -->
        </div>
        <app-footer></app-footer>
    </div>
</div>

<!-- edit start -->
<div class="modal fade" id="view-video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="por">
            <div class="modal-content">
                <button type="button" class="close2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="inner" [innerHTML]="videoPath | safe: 'html'"></div>
            </div>
        </div>
    </div>
</div>