.modal {
  .modal-header {
    background: #00649b;
    padding: 10px 18px;

    h5 {
      color: #fff;
      font-size: 18px;
    }

    button {
      color: #fff;
      opacity: 1;
    }
  }

  .modal-body {
    background-color: #e3f2fb61;
    border: 1px solid #e3f2fb61;

    form {
      .form-group {
        textarea {
          margin: 10px 0;
        }

      }
    }

  }
}
.modal-backdrop.show {
  opacity: 1!important;
}