   <div id="wrapper">
        <app-sidebar></app-sidebar>
        <div class="content-page">
            <div class="content">
                <app-header></app-header>
                <div class="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <div class="btn-group float-right">
                                        <ol class="breadcrumb hide-phone p-0 m-0">
                                            <li class="breadcrumb-item"><a href="#">The Pragmatic</a></li>
                                            <li class="breadcrumb-item active">Lorem</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Lorem</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12">
                              <a href="javascript:void(0)" class="btn-primary add-btn float-right" data-toggle="modal" data-target="#addislammodal">Add</a>
                            </div>
                          </div>
                        <div class="row">
                            <div class="col-md-12">
                              <div class="card m-b-30">
                                    <div class="card-body">
                                        <div class="table-responsive mt-md-0 mt-4" id="table">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Dummy Content</th>
                                                        <th>Dummy Content</th>
                                                        <th>Dummy Content</th>
                                                        <th>Dummy Content</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th scope="row">1</th>
                                                        <td>Lorem typesetting industry.</td>
                                                        <td>Lorem typesetting industry.</td>
                                                        <td>Lorem typesetting industry.</td>
                                                        <td>Lorem typesetting industry.</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">2</th>
                                                        <td>Lorem typesetting industry.</td>
                                                        <td>Lorem typesetting industry.</td>
                                                        <td>Lorem typesetting industry.</td>
                                                        <td>Lorem typesetting industry.</td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="row">3</th>
                                                        <td>Lorem typesetting industry.</td>
                                                        <td>Lorem typesetting industry.</td>
                                                        <td>Lorem typesetting industry.</td>
                                                        <td>Lorem typesetting industry.</td>
                                                    </tr>
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination mt-4">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item active" aria-current="page">
                                                    <span class="page-link">
                                                        1
                                                        <span class="sr-only">(current)</span>
                                                    </span>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-footer></app-footer>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addislammodal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addislammodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="addreligionmodalLabel">Question/Answer</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form>
                   <div class="form-group">
                        <select class="form-control">
                            <option>Choose Religion</option>
                            <option>Hinduismm</option>
                            <option>Buddhism</option>
                          </select>
                          <textarea class="form-control" rows="5" id="comment"></textarea>
                          <button type="submit" class="btn-primary add-btn w-25">Add</button>
                      </div>
                  </form>
            </div>
            
          </div>
        </div>
      </div>