.alert-msg {
    font-size: 13px;
    color: #D0021B;
    padding-top: 10px;
    font-weight: 500;
    display: block;
}

.form-control {
    height: 40px;
    border: none;
    background: #f8f6f7;
    box-shadow: 0 2px 12px rgb(62 62 62 / 10%);
    font-size: 13px;
}

.box {
    padding: 1rem;
    @media (min-width: 768px) {
        padding: 3rem;
    }
    .button-list {
        justify-content: space-around;
        flex-wrap: wrap;
        @media (min-width: 768px) {
            flex-wrap: nowrap;
        }
    }
}

.sub_msg {
    color: #D0021B;
    font-size: 12px;
    padding: 8px 15px;
}

textarea {
    min-height: 100px;
}

.number_input {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
    &.errormsg {
        border-color: red;
    }
}

.add-pack {
    background-color: #D0021B;
    border-color: #D0021B;
    border-radius: 25px;
    border-width: 2px;
    color: #fff !important;
    &.hover_effect {
        position: relative;
        overflow: hidden;
        .bg {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 0;
            width: 0;
            height: 0;
            background-color: #fff;
            border-radius: 25px;
            opacity: .9;
            transform: translate(-50%, -50%);
            transition: 425ms cubic-bezier(.5, 0, .07, 1);
        }
        .txt {
            position: relative;
            z-index: 9;
        }
        &:hover {
            transition: color .55s cubic-bezier(.5, 0, .07, 1);
            color: #D0021B !important;
            background: #D0021B;
            border-color: #D0021B;
            .bg {
                border: 2px solid #D0021B;
            }
            .bg {
                width: 105%;
                height: 0;
                padding-top: 40px;
                opacity: 1;
                transition: .55s cubic-bezier(.5, 0, .07, 1);
            }
        }
    }
}

.errormsg {
    border: 1px solid red;
}