<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="main_wrap fixed-left">
    <div id="wrapper">
        <app-admin-sidebar></app-admin-sidebar>
        <div class="content-page">
            <div class="content">
                <app-admin-header></app-admin-header>
                <div class="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <div class="btn-group float-right">
                                        <ol class="breadcrumb hide-phone p-0 m-0">
                                            <li class="breadcrumb-item">
                                                <a href="#">Dashboard</a>
                                            </li>
                                            <li class="breadcrumb-item active">{{mainheading}}</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">{{mainheading}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row pb-5 pb-md-0">
                            <div class="col-md-12">
                                <div class="bg-white shadow mb-4 box">
                                    <div class="alert alert-danger sub_msg" *ngIf="errmsg">{{message}}</div>
                                    <form method="post" name="contactForm" novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name">Plan Name*</label>
                                                    <ng-select [items]="plansname" bindLabel="name" placeholder="Select Your Plan" name="plan_name" [(ngModel)]="adminModel.plan_name" class="red-field ">
                                                    </ng-select>
                                                    <!-- <span class="alert-msg">Enter Plan Name.</span> -->
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group number_input">
                                                    <label for="amount">Plan Amount*</label>
                                                    <input type="text" [ngClass]="{'errormsg': validationplanamount===true}" (keypress)="keyPress($event)" class="form-control" id="name" placeholder="Enter Amount" name="plan_amount" [(ngModel)]="adminModel.plan_amount" minlength="0" maxlength="6">
                                                    <!-- <span class="alert-msg">Enter Amount</span> -->
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group number_input">
                                                    <label for="success_fee">Success Fee*</label>
                                                    <input type="text" [ngClass]="{'errormsg': validationsuccessfee===true}" (keypress)="keyPress($event)" class="form-control" placeholder="Success Fee" name="success_fee" [(ngModel)]="adminModel.success_fee" minlength="0" maxlength="2">
                                                    <!-- <span class="alert-msg">Enter Fee</span> -->
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="success_fee">Plan Time</label>
                                                    <ng-select [items]="plantime" bindLabel="name" placeholder="Select Your Plan Time" name="plan_time" [(ngModel)]="adminModel.plan_time" class="red-field">
                                                    </ng-select>
                                                    <!-- <span class="alert-msg">Enter Plan Time</span> -->
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="description">Description*</label>
                                                    <textarea type="text" class="form-control" id="" placeholder="Description..." name="name" name="plan_description" [(ngModel)]="adminModel.plan_description" maxlength="500"></textarea>
                                                    <!-- <span class="alert-msg">Enter Description</span> -->
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="fee">Fee*</label>
                                                <div class="d-flex">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="fee" [(ngModel)]="adminModel.fee" id="exampleRadios1" value="Access Fee" (click)="elementclick($event)">
                                                        <label class="form-check-label" for="exampleRadios1">
                                                            Access Fee
                                                        </label>
                                                    </div>
                                                    <div class="form-check ml-5">
                                                        <input class="form-check-input" type="radio" name="fee" [(ngModel)]="adminModel.fee" id="exampleRadios2" value="No Access Fee" (click)="elementclick($event)">
                                                        <label class="form-check-label" for="exampleRadios2">
                                                            No Access Fee
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="alert alert-danger sub_msg" *ngIf="errmsg">{{message}}</div> -->
                                        <div class="row pt-3">
                                            <div>
                                                <div class="d-flex button-list">
                                                    <button class="btn-primary hover_effect blue-btn ml-md-4" (click)="Addpackage()" *ngIf="!getId">
                                                    <span class="bg"></span>
                                                    <span class="txt" id="Customised"
                                                        name="Customised">Add</span></button>
                                                    <button class="btn-primary hover_effect blue-btn ml-md-4" (click)="Addpackage()" *ngIf="!getId">
                                                    <span class="bg"></span>
                                                    <span class="txt" id="Customised"
                                                        name="Customised">Add</span></button>
                                                    <button class="btn-primary hover_effect blue-btn" (click)="editpackage()" *ngIf="getId">
                                                    <span class="bg"></span>
                                                    <span class="txt" id="Customised"
                                                        name="Customised">Update</span></button>
                                                    <a [routerLink]="['/admin/show_package']" class="btn-info hover_effect add-pack blue-btn mt-1 mt-md-0 ml-md-4">
                                                        <span class="bg"></span>
                                                        <span class="txt" id="Customised" name="Customised">Back</span></a>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                © 2020 Swipe Up
            </footer>
        </div>
    </div>
</div>