section.about_candidate {
    background: #fff;
}

.page_title {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    @media (min-width: 1600px) {
        padding-top: 30px;
        padding-bottom: 45px;
    }
    h4 {
        font-size: 20px;
        font-weight: 600;
        color: #000;
    }
}

.employer-content {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    .accordion {
        .accor_btn {
            background: #D0021B;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            padding: 0 20px;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
            border-radius: 7px;
            border: 0;
            @media (min-width: 1600px) {
                height: 50px;
                padding: 0 20px;
                font-size: 20px;
            }
            &.collapsed {
                background: #d0021b1a;
                color: #000;
            }
        }
        .card {
            border: none;
            box-shadow: unset;
            .card-header {
                background-color: transparent;
                border: 0;
            }
            .card-body {
                padding: 6px 0px 30px;
                @media (min-width: 992px) {
                    padding: 1.5rem;
                    padding-right: 5rem;
                    ;
                }
                label {
                    font-size: 16px;
                    font-weight: 500;
                    margin: 0;
                    text-align: right;
                }
                .form-control {
                    height: 38px;
                    background-color: #e4e4e4;
                    border: none;
                }
                .form-fields {
                    width: 480px;
                }
                input.half-field {
                    width: 45%;
                }
                select {
                    appearance: none;
                    background-image: url(/assets/img/arrow-down.png);
                    background-repeat: no-repeat;
                    background-position: 98% center;
                    background-size: 15px;
                }
                textarea.form-control.form-field {
                    min-height: 160px;
                }
                .form-group {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    margin-bottom: 24px;
                    .label-area {
                        flex: 0 0 100%;
                        max-width: 100%;
                        padding-right: 18px;
                        @media (min-width: 768px) {
                            flex: 0 0 25%;
                            max-width: 25%;
                            text-align: right;
                        }
                        label {
                            margin: 0;
                            font-size: 14px;
                            font-weight: 500;
                            color: #000;
                            line-height: 1.3;
                            @media (min-width: 1600px) {
                                font-size: 16px;
                                line-height: 1.4;
                            }
                        }
                    }
                    .field_area {
                        flex: 0 0 100%;
                        max-width: 100%;
                        @media (min-width: 768px) {
                            flex: 0 0 75%;
                            max-width: 75%;
                        }
                        .files-list {
                            .upload_bx {
                                border: 2px dashed #979797;
                                background: #F9F9F9;
                                border-radius: 3px;
                                display: flex;
                                flex-direction: column;
                                max-width: 200px;
                                min-height: 100px;
                                text-align: center;
                                justify-content: center;
                                position: relative;
                                h4 {
                                    font-size: 16px;
                                    color: #000;
                                }
                                p {
                                    font-size: 12px;
                                    color: #000;
                                    word-break: break-all;
                                    padding: 10px;
                                }
                                .icon {
                                    i {
                                        color: #D0021B;
                                        font-size: 30px;
                                        padding-bottom: 5px;
                                    }
                                }
                                input.file_upload {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    cursor: pointer;
                                    opacity: 0;
                                    bottom: 0;
                                }
                                .file {
                                    text-align: center;
                                    width: 195px;
                                    height: 95px;
                                    position: absolute;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                                    background: #fff;
                                    button.remove_file {
                                        position: absolute;
                                        right: -12px;
                                        top: -14px;
                                        color: red;
                                        padding: 0;
                                        width: 25px;
                                        height: 25px;
                                        font-size: 20px;
                                        border-radius: 50%;
                                        background: #fff;
                                    }
                                }
                            }
                        }
                        input {
                            height: 40px;
                            background-color: #F9F9F9;
                            border: 1px solid #f9f9f9;
                            @media (min-width: 1600px) {
                                height: 50px;
                            }
                            &:focus {
                                box-shadow: none;
                                border-color: #D0021B;
                            }
                            &.errormsg {
                                border-color: red;
                            }
                        }
                        ng-select {
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        &.job_time {
                            label {
                                flex: none;
                                max-width: none;
                                color: #868686;
                                padding-right: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.blue-btn {
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    background-color: #d0021b;
    border-color: #d0021b;
    border-radius: 25px;
    border-width: 2px;
    color: #fff !important;
}

.back-btn {
    font-size: 16px;
    font-weight: 600;
    color: #949494;
    margin-right: 35px;
}

.rt-side-field {
    flex: 0 0 75%;
    max-width: 75%;
}

.left-side-name {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: right;
}

.add_btn {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    white-space: nowrap;
    margin-left: 15px;
    color: #D0021B;
}

.title_bar {
    background: #FEF7F7;
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .profile {
        display: flex;
        align-items: center;
        h5 {
            font-size: 18px;
            font-weight: 600;
            color: #D0021B;
            padding-bottom: 3px;
        }
        a.edit {
            font-size: 16px;
            font-weight: 500;
            color: #000;
            text-decoration: none;
            span.icon {
                padding-left: 5px;
                position: relative;
                top: -2px;
            }
            &:hover {
                color: #D0021B;
            }
        }
        .pro_img {
            padding-left: 12px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 12px;
                object-fit: cover;
            }
        }
    }
    h2 {
        font-size: 28px;
        font-weight: 600;
        color: #000;
    }
}

.slider {
    padding-top: 25px;
    position: relative;
    overflow: hidden;
    .up_btn {
        max-width: 380px;
        text-align: center;
        img {
            width: 66px;
        }
    }
    .down_btn {
        max-width: 380px;
        text-align: center;
    }
    .post {
        border-radius: 8px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
        padding: 15px;
        position: relative;
        .post_by {
            display: flex;
            padding-bottom: 10px;
            .img_area {
                padding-right: 10px;
                img {
                    width: 62px;
                    height: 62px;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .detail {
                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    color: #000;
                    padding-bottom: 4px;
                }
                p {
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.7);
                    padding-bottom: 2px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
        .desc {
            h5 {
                font-size: 16px;
                font-weight: 600;
            }
            p {
                font-size: 16px;
                color: rgba(0, 0, 0, 0.7);
                padding-bottom: 10px;
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
    .slide_items {
        padding: 25px 0;
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            li {
                padding-right: 30px;
                transition: all ease 1.5s;
                margin-top: 0;
                opacity: 1;
                display: block;
                &.success {
                    margin-top: -100%;
                    transition: all ease 1.5s;
                    opacity: 0;
                    position: absolute;
                }
                &.down {
                    margin-bottom: -100%;
                    transition: all ease 1.5s;
                    opacity: 0;
                    position: absolute;
                }
                &:first-child {
                    .desc {
                        min-width: 350px;
                    }
                }
                &:not(:first-child) {
                    .post {
                        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                        color: transparent !important;
                        .post_by {
                            .img_area {
                                img {
                                    filter: blur(5px);
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                            .detail {
                                h3 {
                                    color: transparent;
                                    font-size: 12px;
                                }
                                p {
                                    color: transparent;
                                    font-size: 9px;
                                }
                            }
                        }
                        .desc {
                            h5 {
                                font-size: 12px;
                            }
                            p {
                                font-size: 12px;
                                color: transparent;
                            }
                        }
                    }
                }
            }
            .post {
                width: 380px;
                //   width: 100%;
            }
        }
    }
    ul {
        li.item.success+li.item.stable,
        li.item.down+li.item.stable {
            .post {
                border-radius: 8px;
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
                padding: 15px;
                position: relative;
                text-shadow: none;
                color: #000;
                .post_by {
                    display: flex;
                    padding-bottom: 10px;
                    .img_area {
                        padding-right: 10px;
                        img {
                            width: 62px;
                            height: 62px;
                            object-fit: cover;
                            object-position: center;
                            filter: none;
                        }
                    }
                    .detail {
                        h3 {
                            font-size: 20px;
                            font-weight: 600;
                            color: #000;
                            padding-bottom: 4px;
                        }
                        p {
                            font-size: 12px;
                            color: rgba(0, 0, 0, 0.7);
                            padding-bottom: 2px;
                            &:last-child {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
                .desc {
                    h5 {
                        font-size: 16px;
                        font-weight: 600;
                        color: #000;
                    }
                    p {
                        font-size: 16px;
                        color: rgba(0, 0, 0, 0.7);
                        padding-bottom: 10px;
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.cstm_row {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    .left_area {
        flex: 0 0 30%;
        max-width: 30%;
        .inner {
            padding: 30px;
            height: 100%;
            background: #fff;
            box-shadow: 0 2px 12px #0000001f;
            ul {
                margin: 0 -30px;
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                li {
                    padding: 0 30px 30px;
                    text-align: center;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    &.wid_50 {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                    &.wid_100 {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    h5 {
                        font-size: 16px;
                        font-weight: 500;
                        color: #000;
                    }
                    a.btn {
                        font-size: 19px;
                        font-weight: 500;
                        color: #000;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #FEF7F7;
                        border-radius: 25px;
                        height: 40px;
                        margin-top: 10px;
                        span.icon {
                            padding-right: 9px;
                        }
                    }
                }
            }
        }
        .shadow_bx {
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
            padding: 15px 18px;
            border-radius: 15px;
        }
    }
    .right_area {
        flex: 0 0 70%;
        max-width: 70%;
        padding-left: 30px;
    }
    .shadow-bx {
        box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
        padding: 15px 18px;
        border-radius: 15px;
    }
}

.card-area {
    .card {
        background-color: #fff;
        border: 0;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 0 2px 12px #f7f7f7;
        .card-header {
            background-color: #fff;
            border: 0;
            padding: 15px;
            height: 230px;
        }
        .card-body {
            padding: 0 15px 15px;
            h5 {
                font-size: 16px;
                font-weight: 500;
            }
            .company-contact {
                margin-bottom: 10px;
                p {
                    font-size: 12px;
                    margin-bottom: 0;
                }
            }
            p {
                font-size: 15px;
                margin-bottom: 10px;
                color: #474747;
            }
        }
    }
}

.owl-theme .owl-nav [class*=owl-] {
    color: #d0021b;
    font-size: 42px;
    margin: 0px;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    border-radius: 0px;
}

.job-post {
    background: #d0021b;
    display: block;
    padding: 7px 20px;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

#myChart {
    height: 300px!important;
}

.validation-msg {
    color: #D0021B;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    display: block!important;
}

.valid-error {
    display: none;
}

.collapse:not(.show) {
    display: flex !important;
}

.btn-primary {
    width: 110px;
}