<app-header></app-header>
<div class="title_bar">
    <div class="container">
    </div>
</div>
<section class="about_candidate top-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 m-auto">
                <div class="page_title">
                    <!-- <h4>{{poststatus}}</h4> -->
                </div>
                <div class="employer-content">
                    <div class="accordion">
                        <div class="card">
                            <div class="card-header active" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn-list btn-link btn-block text-left accor_btn" type="button"
                                        data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        Company Details 
                                        <!-- <span class="float-right"><i class="fa fa-chevron-up"
                                                aria-hidden="true"></i></span> -->
                                    </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <!-- <div class="alert alert-danger sub_msg" *ngIf="errMsg">{{message}}</div> -->
                                    <form [formGroup]="profileEditForm" (ngSubmit)="onSubmit()">
                                    <div class="employer-form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Company Name</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="text" class="form-control" name="post" maxlength="40" formControlName="company_name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Contact Name</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="text" class="form-control" name="job_type"
                                                           maxlength="20" formControlName="contact_name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Email</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="email" class="form-control" name="email" maxlength="70" formControlName="email" [attr.disabled]="true">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Website</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="text" class="form-control" name="office_address" formControlName="website" maxlength="70">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Contact number</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="number" class="form-control" name="office_address" formControlName="contact_number" maxlength="70">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Company Address</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="text" class="form-control" name="office_address" formControlName="office_address" maxlength="70">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Invoice Email</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="email" class="form-control" name="office_address" formControlName="invoice_email" maxlength="70">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Industry/Sector</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <ng-select name="industry_sector" [items]="sectorlists" bindLabel="name" bindValue="id"  placeholder="Select Industry/Sector" formControlName="industry_sector">
                                                        </ng-select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Headcount</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="text" class="form-control" name="office_address" formControlName="headcount" maxlength="70">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="label-area">
                                                        <label>Company Linkedin</label>
                                                    </div>
                                                    <div class="field_area">
                                                        <input type="email" class="form-control" name="office_address" formControlName="company_linkdin" maxlength="70">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                <div class="label-area"><label>Company brochure / benefits</label></div>
                                                    <div class="field_area">
                                                        <div class="files-list">
                                                            <div class="upload_bx">
                                                                <div class="text-center">
                                                                    <div class="icon"><i aria-hidden="true"
                                                                            class="fa fa-plus"></i></div>
                                                                    <h4>Upload</h4>
                                                                </div>
                                                                <input type="file" #fileInput accept="aapplication/pdf,application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document" name="referance" class="file_upload" (change)="selectFile($event)">
                                                                    <div class="file" *ngIf="file==1">
                                                                        <p>{{filename}}</p>
                                                                        <button class="btn remove_file" (click)="removeFile(fileInput, i)"><i
                                                                            class="fas fa-times-circle"></i></button>
                                                                      </div>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                </div>
                                                <div class="next-btn text-center pt-2">
                                                    <button class="btn btn-primary hover_effect">
                                                    <span class="bg"></span>
                                                    <span class="txt">Submit</span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>