.title_bar {
    background: #fef7f7;
  
    .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .profile {
      display: flex;
      align-items: center;
  
      h5 {
        font-size: 18px;
        font-weight: 600;
        color: #d0021b;
        padding-bottom: 3px;
      }
  
      a.edit {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        text-decoration: none;
  
        span.icon {
          padding-left: 5px;
          position: relative;
          top: -2px;
        }
  
        &:hover {
          color: #d0021b;
        }
      }
  
      .pro_img {
        padding-left: 12px;
  
        img {
          width: 50px;
          height: 50px;
          border-radius: 12px;
          object-fit: cover;
        }
      }
    }
  
    h2 {
      font-size: 28px;
      font-weight: 600;
      color: #000;
    }
  }
  table {
    border-spacing: 0px 10px !important;
    border-collapse: separate;
    thead {
        background-color: #f7f7f7;
      tr {
        th {
          font-size: 14px;
          font-weight: 500;
          color: #000000;
          @media (min-width: 768px) {
            font-size: 16px;
          }
        }
      }
    }
    tbody {
      tr {
        border-radius: 15px;
        box-shadow: 0px 0px 7px 0 rgb(206 207 208 / 42%);
        background-color:rgba(208, 2, 27, 0.05);
        margin-bottom: 20px;
        td {
          font-size: 13px;
          font-weight: 500;
          color: #000;
          padding: 10px 12px;
          @media (min-width: 992px) {
            font-size: 16px;
          }
          img {
            padding-right: 22px;
          }
          .dropdown {
            a {
              i {
                color: #0072ba;
                font-size: 22px;
              }
            }
            .dropdown-menu {
              ul {
                li {
                  a {
                    text-align: center;
                    &:hover {
                      background-color: #0072ba;
                      padding: 10px;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .toggle-slide {
    label{
        margin:0;
    }
    input[type="checkbox"] {
      position: absolute;
      visibility: hidden;
  
      &:checked + .ball {
        background: #d0021b;
        &::before {
          background-color: #fff;
          transform: translate(20px, -50%);
        }
      }
    }
  
    .ball {
      cursor: pointer;
      position: relative;
      display: block;
      background: #707070;
      width: 35px;
      height: 18px;
      border-radius: 20px;
  
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 1px;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        background-color: #ffffff;
        transform: translate(0px, -50%);
        transition: all 0.3s;
      }
    }
  }
  .hover-img {
    display: none;
  }
  
  .show_hover_icon {
    &:hover {
      .not_hover {
        display: none;
      }
      .hover-img {
        display: block;
      }
    }
  }
  