<app-header></app-header>
<div class="title_bar">
    <div class="container">
      <div class="inner">
        <h2>Job Manage</h2>
        <div class="profile">
          <div class="detail">
            <h5>{{employerlist.name}}</h5>
            <a [routerLink]="['/employer-dashboard']" class="edit">Edit Profile <span class="icon"><i class="far fa-edit"></i></span></a>
          </div>
          <div class="pro_img">
            <img src="./assets/img/pro_img.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive pt-5">
                <table class="table  table-borderless">
                    <thead>
                        <tr>
                            <th style="width:300px">Post</th>
                            <th style="width:300px">Salary</th>
                            <th style="width:160px">Experience</th>
                            <th style="width:200px">Post Date</th>
                            <th style="width:200px">Type</th>
                            <th style="width:200px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let campaigndetailstabdatas of campaigndetailstabdata;">
                            <td>
                                <div class="candi_detail">
                                    <img src="./assets/img/ic_p1.png" alt="" class="img-fluid"> {{campaigndetailstabdatas.post}}
                                </div>
                            </td>
                            <td>
                                <div class="candi_post">
                                    <p>{{campaigndetailstabdatas.e_currencylist[0]}}{{campaigndetailstabdatas.salary[0]}} to {{campaigndetailstabdatas.e_currencylist[0]}}{{campaigndetailstabdatas.salary[1]}} </p>
                                </div>
                            </td>
                            <td>
                                <div class="candi_year">
                                    <p>{{campaigndetailstabdatas.experience_level}} year(s)</p>
                                </div>
                            </td>
                            <td>
                                <div class="candi_date">
                                    <p>22-12-2020</p>
                                </div>
                            </td>
                            <td>
                                <div class="candi_status">
                                    <p>Applied</p>
                                </div>
                            </td>
                            <td>
                                <div class="btn_area d-flex">                                                             
                                                                                                                                                                    
                                    <button class="btn btn-danger" (click)="viewPostDetails(campaigndetailstabdatas._id)">View Post</button>
                                </div>
                            </td>

                            <!-- <td>
                                <ul class="list-unstyled d-flex align-items-center">
                                    <li class="position-relative pr-3">
                                        <div class="toggle-slide d-flex">
                                            <label>
                                              <input type="checkbox" />
                                              <div class="ball"></div>
                                            </label>
                                          </div>
                                    </li>
                                    <li class=" pr-3"> 
                                        <a href="#" class="show_hover_icon"><img src="assets/img/ic_users.png" alt="" class="not_hover pr-0">
                                       <img src="assets/img/ic_users_hover.png" alt="" class="hover-img pr-0"></a> </li>
                                       <li> 
                                        <a href="#" class="show_hover_icon"><img src="assets/img/ic_edit.png" alt="" class="not_hover pr-0">
                                       <img src="assets/img/ic_edit_hover.png" alt="" class="hover-img pr-0"></a> </li>
                                </ul>
                            </td> -->
                        </tr>
                        <tr *ngIf="campaigndetailstabdata.length == 0">
                            <td colspan = "5" style="text-align: center;" >No Record Found</td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>



