.email-sent {
    height: 100vh;
    background-color: #fff;
    position: relative;
    .blur-logo {
        position: absolute;
        top: -25px;
    }
    h4 {
        font-weight: 600;
    }
    img {
        margin: 30px 0;
    }
    h6 {
        font-weight: 600;
    }
    button {
        margin: 40px 0 0;
        width: 100%;
        max-width: 40%;
        .txt {
            font-weight: 700;
        }
        @media (min-width: 768px) {
            max-width: 12%;
        }
    }
}