<section class="email-sent">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col md-12 blur-logo">
        <a href="#"><img src="./assets/img/blur-logo.png" alt=""></a>
      </div>
      <div class="col-md-12 text-center">
          <h4>Verification Email Sent!</h4>
          <img src="./assets/img/mailImg.png" alt="">
          <h6>You are getting closer to your first SwipeUp…..</h6>
          <button class="btn btn-primary hover_effect" (click)="signin()">
            <span class="bg"></span>
            <span class="txt">Sign In</span>
          </button>
      </div>
    </div>
  </div>
</section>