.car_data {
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 -10px;

        li {
            flex: 0 0 33.3%;
            max-width: 33.3%;
            list-style: none;
            padding: 0 10px 20px;
            position: relative;

            button {
                background: #ec536c;
                color: #fff;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                position: absolute;
                top: -10px;
                left: 0;
                display: flex;
                justify-content: center;

                i {
                    font-size: 20px;
                    position: relative;
                    top: -4px;
                }
            }

            img {
                width: 100%;
            }
        }

        .upload-image {
            background-color: #f7f7f7;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;

            i {
                color: #3a262642;
                font-size: 25px;
            }
        }
    }
}