<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/products']">Products</a></li>
                                        <li class="breadcrumb-item active">Edit Product</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Edit Product</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <form method="post" name="contactForm" novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name">Product Name*</label>
                                                    <input type="name" class="form-control" id="name"
                                                        placeholder="Enter Product Name" name="name" required="">
                                                    <span class="alert-msg">Please Enter Product name.</span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Company Name*</label>
                                                    <input type="name" class="form-control" id="name"
                                                        placeholder="Enter Company Name" name="name" required="">
                                                    <span class="alert-msg">Please Enter Company name.</span>
                                                </div>
                                                <div class="form-group">
                                                    <label for="message">Descriptions*</label>
                                                    <textarea type="text" class="form-control" id="message"
                                                        placeholder="Type Description..." name="msg"
                                                        required=""></textarea>
                                                    <span class="alert-msg">Please Enter Description</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                
                                                <div class="car_data pt-4">
                                                    <ul>
                                                        <li>
                                                            <img src="/assets/images/car.jpg" alt="" class="car-images">
                                                            <button class="btn" type="button"><i class="fa fa-times"
                                                                    aria-hidden="true"></i>
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <img src="/assets/images/car.jpg" alt="" class="car-images">
                                                            <button class="btn" type="button"><i class="fa fa-times"
                                                                    aria-hidden="true"></i>
                                                            </button>
                                                        </li>
                                                        <li><img src="/assets/images/car.jpg" alt="" class="car-images">
                                                            <button class="btn" type="button"><i class="fa fa-times"
                                                                    aria-hidden="true"></i>
                                                            </button>
                                                        </li>
                                                        <li>
                                                            <img src="/assets/images/car.jpg" alt="" class="car-images">
                                                            <button class="btn" type="button"><i
                                                                    class="fa fa-times" aria-hidden="true"></i>
                                                            </button>
                                                        </li>
                                                        <li >
                                                        <div class="upload-image">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                               
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <button type="button" class="btn-danger w-50 add-btn">Add</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <app-loader></app-loader>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>