<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row product-page">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Parts List</li>
                                    </ol>
                                </div>
                                <h4 class="page-title"> Parts List</h4>
                            </div>
                        </div>
                   </div>
                   <div class="row">
                    
                    <div class="col-sm-12">
                        <div class="proudct_numbering">
                            <div class="btn-group float-right">
                                <a  [routerLink]="['/add-part']" class="btn-danger add-btn">Add Part</a>
                            </div>
                            <!-- <h5 class="total_product">Total Product 3</h5> -->
                        </div>
                    </div>
                   </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <div class="card m-b-30">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h4 class="total-user">{{ total }} Car Company Found</h4>
                                    <div class="search_bar">
                                        <form class="d-flex align-items-center">
                                            <input type="text" class="form-control" [(ngModel)]="loginModel.searchKey"
                                                name="searchKey" placeholder="Search by car name">
                                            <button class="btn btn-primary" (click)="getSearching(currentPage)">Search</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                                        {{ successMessage }}
                                        </div>
                                        <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                                        {{ errorMessage }}
                                        </div>
                                    <div class="table-responsive mt-md-0 mt-4" id="table">
                                        <table class="table table-bordered">
                                           
                                            <thead>
                                                <tr>
                                        <th (click)="sortFunction('_id')" class="sort_menu">
                                                 Sr.No
                                            <span class="fa fa-exchange sort-icon" *ngIf="key =='_id'"
                                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th (click)="sortFunction('company_name')" class="sort_menu">
                                            Car Part Image
                                            <span class="fa fa-exchange sort-icon" *ngIf="key =='company_name'"
                                                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th (click)="sortFunction('car_name')" class="sort_menu">
                                            Car Part Name
                                            <span class="fa fa-exchange sort-icon" *ngIf="key =='car_name'"
                                                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                                    <th>Created At</th>
                                                    <!-- <th>Status</th> -->
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <span *ngIf="loaderShow">
                                                    <app-loader></app-loader>
                                                  </span> 
                                                <tr  *ngFor="let car of record; let i=index">
                                                    <td scope="row">{{ (currentPage-1)*10+i+1 }}</td>
                                                    <td *ngIf="car.part_image=='n/a'">N/A</td>
                                                    <td *ngIf="car.part_image!=='n/a'"><img [src]=partImagePath+car.part_image alt="" width="100" height="100"></td>
                                                    <td>{{car.car_name}}</td>
                                                    <td>{{car.created_at | formatdate:'dd MMM, yyyy'}}</td>
                                                    <!-- <td *ngIf="car.status==1">Active</td>
                                                    <td *ngIf="car.status!=1">In-Active</td> -->
                                                    <td>
                                                        <a  class="btn-danger p-1"  data-toggle="modal"
                                                        data-target="#viewModal" (click)="view(car._id)"><i class="fa fa-eye"
                                                            aria-hidden="true"></i>
                                                        </a>
                                                        <a  class="btn-danger p-1"  [routerLink]="['/edit-part/', car._id]"  ><i class="fa fa-pencil"
                                                            aria-hidden="true"></i>
                                                        </a> 
                                                        <a  class="btn-danger p-1"  (click)="delete(car._id,car.company_name)"><i class="fa fa-trash"
                                                                aria-hidden="true"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr *ngIf="recordcheck">
                                                    <td colspan="7" class="text-center" style="color:red;">
                                                        No Record Found !
                                                    </td>
                                                </tr>                                               
                                            </tbody>
                                        </table>
                                    </div>
                                    <nav aria-label="Page navigation" class="mt-3">
                                        <ul class="pagination">
                                            <li class="page-item disabled_back" *ngIf="currentPage==1"><a
                                                    class="page-link">Previous</a>
                                            <li class="page-item" *ngIf="currentPage!=1" (click)="pageChange(currentPage-1)"><a
                                                    class="page-link">Previous</a>
                                            </li>
                                            <li class="page-item" *ngFor='let in of counter(totalPages) ;let m = index'>
                
                                                <a class="page-link active" *ngIf="((m+1)==currentPage )">{{m+1}}</a>
                                                <a class="page-link"
                                                    *ngIf="(m+1)!==currentPage && (m+1)>=(currentPage-2) && (m+1)<=(currentPage+2)"
                                                    (click)="pageChange(m+1)">{{m+1}}</a>
                                            </li>                
                                            <li class="page-item disabled_back" *ngIf="totalPages==currentPage">
                                                <a class="page-link">Next</a></li>
                                            <li class="page-item" *ngIf="totalPages!==currentPage"
                                                (click)="pageChange(currentPage+1)">
                                                <a class="page-link">Next</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="schoolModalLabel">View Part Details
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="uper_box">
                    <p *ngIf="partImagePath1=='null'"> <b>Image: </b> <span> N/A </span></p><br>
                    <p *ngIf="partImagePath1!=='null'"> <b>Image: </b> <span><img [src]=partImagePath1 alt="" > </span></p><br>
                    <p> <b>Car Name: </b>  <span>{{ car_name }} </span></p><br>
                    <p> <b>Link: </b>  <span>{{ link }} </span></p><br>
                    <p> <b>Description: </b>  <span>{{ description }} </span></p><br>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <span><b>Company Name</b> </span>  
                        <div class="lower_box"  *ngFor="let car of records; let i=index">
                            <span>{{ car.company_name }} </span>  
                        </div>
                    </div>
                    <div class="col-md-6">
                        <span> <b>Model Name </b>  </span>
                        <div class="lower_box"  *ngFor="let car of records; let i=index">
                            <span>{{ car.model_name }} </span>
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</div>
