.modal{
    .modal-body{
        .uper_box{
            img{
                width:100%;
                max-width: 300px;
            }
        }
    }
}
.card-body{
    table{
        tbody{
            tr{
                td{
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}