  <div id="wrapper">
    <div class="content-page">
      <div class="content">
        <div class="page-content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="page-title-box">
                  <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                      <li class="breadcrumb-item"><a href="#">The Pragmatic</a></li>
                      <li class="breadcrumb-item active">Manage Admin</li>
                    </ol>
                  </div>
                  <h4 class="page-title">Manage Sub Admin</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive mt-md-0 mt-4" id="table">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>Sr No.</th>
                            <th style="width:15%">
                              <div style="width:140px;">Profile Image</div>
                            </th>
                            <th>
                              <div style="width:110px;">Name</div>
                            </th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let subadmins of subadmin| paginate : {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: count
                          }; let i = index ">
                            <th scope="row">{{i+1}}</th>
                            <td>
                              <img src={{imgUrl+subadmins.image}} alt="" class="user_img">
                            </td>
                            <td>{{subadmins.name}}</td>
                            <td>{{subadmins.email}}</td>
                            <td>+{{subadmins.phone}}</td>
                            <td>
                              <div class="status-show">
                                <span class="activate">
                                  <i class="fa fa-toggle-on" aria-hidden="true"></i>
                                </span>
                                <span class="de-activate">
                                  <i class="fa fa-toggle-off" aria-hidden="false"></i>
                                </span>
                              </div>
                            </td>
                            <td>
                              <ul class="d-flex">
                                <li>
                                  <a href="javascript:void(0)" class="btn-primary p-1" data-toggle="modal"
                                    data-target="#editadmin" (click)="getData(subadmins._id,subadmins.name,subadmins.email,subadmins.phone,subadmins.image)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                  </a>
                                </li>
                                <li>
                                  <a class="btn-success mx-2 p-1" href="javascript:void(0)" data-toggle="modal"
                                    data-target="#viewadmin" (click)="getData(subadmins._id,subadmins.name,subadmins.email,subadmins.phone,subadmins.image)">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                  </a>
                                </li>
                                <li>
                                  <a class="dlt_btn p-1" (click)="deleteSubadmin(subadmins._id)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </a>
                                </li>
                              </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <nav aria-label="Page navigation example">
                        <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="editadmin" tabindex="-1" aria-labelledby="editadminLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editadminLabel">Edit Admin</h5>
              <button type="button" class="close" id="editCloseBtn" data-dismiss="modal" aria-label="Close" (click)="modelClose()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-area">
                <form method="post" name="contactForm" novalidate="novalidate">
                  <div class="admin-img">
                    <span class="showonhover">
                         <img src="{{imgUrl+imageName}}" alt="" class="show-img" [ngClass]="{'user-profile_img': imageSelect===true}">
                         <img src={{urls}} alt="" class="show-img" [ngClass]="{'user-selected-img': staticImg===false}">
                          <i class="fa fa-camera" aria-hidden="true"></i></span>
                       <input id="selectfile" type="file" name="image" style="display: none;" (change)=selectImage($event)/>
                   </div>
                  <div class="form-group">
                    <label for="name">Name*</label>
                    <input type="text" class="form-control" id="name" placeholder="Enter Full Name" name="name" [(ngModel)]="adminModel.name">
                    <span class="alert-msg">Please Enter Your name</span>
                  </div>
                  <div class="form-group">
                    <label for="name">Email*</label>
                    <input type="email" class="form-control" id="" placeholder="Enter Email" name="email" [(ngModel)]="adminModel.email">
                    <span class="alert-msg">Please Enter Email</span>
                  </div>
                  <div class="form-group">
                    <label for="Phone">Phone*</label>
                    <input type="tel" class="form-control" id="phone" placeholder="9876543210" name="phoneno" [(ngModel)]="adminModel.phoneno">
                    <span class="alert-msg">Please Enter phone no.</span>
                  </div>
                    <button type="button" class="btn-primary w-50 add-btn" (click)="Update()">Update</button>
                </form>
              </div>
            </div>
    
          </div>
        </div>
      </div>
      <div class="modal fade" id="viewadmin" tabindex="-1" aria-labelledby="viewadminLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="viewadminLabel">View Admin</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="admin-view">
                <div class="admin-img">
                  <span class="showonhover">
                    <img src="{{imgUrl+imageName}}" alt="" class="show-img">
                    </span>
                </div>
                <p><span>Name:</span> {{this.adminModel.name}} </p>
                <p><span>Email:</span> {{this.adminModel.email}}</p>
                <p><span>Phone Number:</span> + {{this.adminModel.phoneno}}</p>
              </div>
            </div>
    
          </div>
        </div>
      </div>
    </div>
  </div>

  
