.status-show{
    text-align: center;
    .de-activate {
        display: none;
      i {
        font-size: 25px;
        color: red;
      }
    }
    
    .activate {
    i {
        font-size: 25px;
        color: green;
      }
    
    }
}

.modal{
    .modal-content{
        @media(min-width:576px){
            padding: 0 30px;

        }
        .modal-header{
            border-bottom: unset;
        }
        .form-area{
            background-color: #eff3f6;
            padding: 30px 40px 20px;
            margin: 10px 0;
            position: relative;
            .form-group{
                margin-bottom:22px;
                .alert-msg {
                    font-size: 13px;
                    color: #e21b1b;
                    position: absolute;
                    display: none;
                }
            }
            
        }
        .admin-img{
            span.showonhover {
                .show-img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    position: absolute;
                    top: -40px;
                    left: 0;
                    margin: auto;
                    right: 0;
                    @media(min-width:480px){
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    top: -60px;
                    }
                }
              
                i {
                    color: #fff;
                    font-size: 17px;
                    position: absolute;
                    left: 53%;
                    top: 3px;
                    background: #00649b;
                    border-radius: 50%;
                    padding: 8px;
                }
              }
        }
        .admin-view{
            background-color: #eff3f6;
            padding: 50px 40px 10px;
            margin: 30px 0;
            position: relative;
           p{
               span{
                   font-weight:700;
               }
           }
            
        }
    }
  
}
.content-page{
    .content{
        margin-bottom: 95px;
    }
}
.modal.fade .modal-dialog{
   @media(min-width:992px){
        transform: translate(19%,0%);
        &.modal-lg{
            max-width: 600px;
        }
 }
    @media(min-width:1024px){
        transform: translate(19%,0%);
        &.modal-lg{
            max-width: 600px;
        }
  }
    @media(min-width:1200px){
        transform: translate(16%,0%);
    }
}
.err {
    border: 1px solid red;
  }
  
  .user-selected-img,
  .user-profile_img {
    display: none;
  }
  