<div id="wrapper">
  <div class="content-page">
    <div class="content">
      <div class="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="btn-group float-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">The Pragmatic</a></li>
                    <li class="breadcrumb-item active">Pending Request</li>
                  </ol>
                </div>
                <h4 class="page-title">Pending Request</h4>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-between">
            <div class="col-sm-12 col-md-6">
              <div class="table_heading d-flex align-items-center justify-content-between">
                <h6><span>{{count}} </span> Total Pending Request</h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive mt-md-0 mt-4" id="table">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>
                            <div class="text-center" style="width: 110px;">Reciever Name</div>
                          </th>
                          <th class="text-center">Phone</th>
                          <th class="text-center">Minimum Rate</th>
                          <th class="text-center">My Self</th>
                          <th class="text-center">Religion</th>
                          <th class="text-center">Hair &amp; Grooming</th>
                          <th class="text-center">
                            <div class="text-center">Action</div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let pending of pendingArray | paginate : {
                          itemsPerPage: pageSize,
                          currentPage: page,
                          totalItems: count
                        }; let i = index ">
                          <td class="text-center" scope="row">{{ i + 1 }}</td>
                          <td class="text-center">{{pending?._id?.receiverName != '' ? pending?._id?.receiverName : 'N/A'}}</td>
                          <td class="text-center">{{pending?._id?.mobileno != '' ? pending?._id?.mobileno : 'N/A'}}</td>
                          <td class="text-center">${{pending?._id?.rate != '' ? pending?._id?.rate : 0}}</td>
                          <td class="text-center">{{pending?._id?.myself != '' ? pending?._id?.myself : 'N/A'}}</td>
                          <td class="text-center">{{pending?._id?.religion != '' ? pending?._id?.religion : 'N/A'}}</td>
                          <td class="text-center">{{pending?._id?.hair != '' ? pending?._id?.hair : 'N/A'}}</td>
                          <td class="text-center">
                            <ul class="d-flex justify-content-center">
                              <li (click)="pickCancel(pending._id, i)">
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#exampleModal"
                                  title="Cancel the Receiver Post" class="table_btn btn-primary p-1">Cancel</a>
                              </li>
                              <li><a class="table_btn btn-success mx-2 p-1"
                                  [routerLink]="['/post-request/pending/pending-post-detail' , pending._id.postId, pending._id.receiverId]">Direct
                                  Assign</a></li>
                            </ul>
                          </td>
                        </tr>

                        <tr>
                          <td *ngIf="pendingArray.length == 0" class="no-data" colspan="8">No Pending Request Yet.</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <nav aria-label="Page navigation example">
                    <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next"
                      (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
        <h5>Are you sure you want to Cancel</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelPost(4)">Yes, Keep
          it!</button>
        <button type="button" class="btn bg-danger text-white" data-dismiss="modal">Cancel it!</button>
      </div>
    </div>
  </div>
</div>