.page-content-wrapper {
    h6 {
      font-size: 18px;
      margin: 0;
  
      span {
        font-size: 27px;
        color: #00649b;
      }
    }
  }


  .modal {
    .modal-header{
      border:0;
      button{
        color: #00649b;
        opacity: 1;
        font-size: 26px;
      }
    }
    .modal-body {
      padding: 20px 0 70px;
      i{
        font-size: 100px;
        color: #00649b;
      }
      h5 {
        text-align: center;
        font-size: 21px;
      }
    }
    .modal-footer {
      background: #00649b;
      justify-content: center;
    }
  }
  
