.address {
  max-width: 240px;
}

.basic_details {
  display: flex;

  .user_img {
    padding-right: 20px;

    img {
      width: 180px;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
  }

  .details {
    p {
      display: flex;

      span {
        flex: 0 0 80px;
        max-width: 80px;
        font-weight: 500;
      }
    }
  }
}

.car_img {
  ul {
    padding: 0;
    display: flex;
    overflow-y: auto;
    padding-bottom: 5px;

    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(22, 0, 223);
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    li {
      list-style: none;
      padding-right: 10px;

      img {
        width: 100%;
        width: 200px;
      }
    }
  }
}

.cstm_row {
  display: flex;
  margin: 0 -15px;

  .car_img {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
  }

  .car_details {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
  }
}

