<div class="fixed-left">
  <!-- <div id="preloader">
    <div id="status">
      <div class="spinner"></div>
    </div>
  </div> -->

  <div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
      <div class="content">
        <app-header></app-header>
        <div class="page-content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="page-title-box">
                  <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                      <li class="breadcrumb-item"><a [routerLink]="['/user_list']">User List</a></li>
                      <li class="breadcrumb-item active">User Details</li>
                    </ol>
                  </div>
                  <h4 class="page-title">User Details</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card m-b-30">
                  <div class="card-body basic_details">
                    <div class="user_img">
                      <img src="/assets/images/dummy-avatar.png" alt="">
                    </div>
                    <div class="details">
                      <h3>Name : {{ records.name }} </h3>
                      <p *ngIf='records.email != ""'><span class="title">Email :</span> {{ records.email }}</p>
                      <p *ngIf='records.email == ""'><span class="title">Email :</span>N/A</p>
                      <p class="address"><span class="title">Address :</span>
                        {{ records.address }}
                        {{ records.country }}
                        {{ records.postal }} </p>

                    </div>
                  </div>
                </div>
                <div class="card m-b-30">
                  <div class="card-body">
                    <h4 class="mt-0">User Cars</h4>

                    <h6 class="pt-1">Ford Mustang</h6>

                    <div class="row pb-4" *ngFor="let obj of record;let i = index">
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <div attr.id="demo{{i}}" class="carousel slide" data-ride="carousel">
                          <!-- The slideshow -->
                          <div class="carousel-inner">
                            <div class="carousel-item" *ngFor="let property of obj.images;let k=index"
                              [ngClass]="{'active':k==0}">
                              <img src="https://realisticcarcustom.com/uploads/cars/{{property}}" alt="Los Angeles"
                                class="w-100">
                            </div>
                          </div>

                          <!-- Left and right controls -->
                          <a class="carousel-control-prev" href="#demo{{i}}" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                          </a>
                          <a class="carousel-control-next" href="#demo{{i}}" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                          </a>
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-6 col-sm-12">

                        <div class="car-detail">
                          <h6>Company Name:</h6>
                          <p>{{obj.company_details.name}}</p>
                        </div>
                        <div class="car-detail">
                          <h6>Modal:</h6>
                          <p>{{obj.models_details.model_name}}</p>
                        </div>
                        <div class="car-detail">
                          <h6>Color:</h6>
                          <p>{{obj.color}}</p>
                        </div>
                        <div class="car-detail">
                          <h6>Year:</h6>
                          <p>{{obj.year}}</p>
                        </div>
                        <div class="car-detail">
                          <h6>Description:</h6>
                          <p>{{obj.description}}</p>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <!-- <div class="row">
                      <div class="col-md-12">
                        <div class="col-md-12">
                          <nav aria-label="..." class="pt-3 pb-3">
                            <ul class="pagination mb-0">
                              <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item active">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                              </li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
