<div id="wrapper">
  <!-- <app-sidebar></app-sidebar> -->
  <div class="content-page">
    <div class="content">
      <!-- <app-header></app-header> -->
      <div class="page-content-wrapper" *ngIf="showAdmin==true">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="btn-group float-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">The Pragmatic</a></li>
                    <li class="breadcrumb-item active">Admin Profile</li>
                  </ol>
                </div>
                <h4 class="page-title">Admin Profile</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="admin_inner">
                    <div class="adminview_details" *ngIf="!isHideDivIf">
                      <div class="row align-items-center">
                        <div class="profile_img col-sm-4 col-lg-3">
                          <img src="./assets/images/profile.png" alt="img"><br>
                          <button type="button" class="desk_btn btn-primary add-btn" (click)=toggleDisplayDivIf() >Edit</button>
                        </div>
                        <div class="details_content col-sm-8 col-md-6">
                          <p><span>Name:</span> Mark</p>
                          <p><span>Email:</span> Mark@gmail.com</p>
                          <p><span>Phone Number:</span> +91 9876543210</p>
                          <button type="button" class="mobile_btn btn-primary add-btn">Edit</button>
                        </div>
                      </div>
                    </div>
                    <div class="adminedit_details" *ngIf="!isShowDivIf">
                      <form method="post" name="contactForm" novalidate="novalidate">
                        <div class="row">
                          <div class="profile_img col-sm-4 col-lg-3">
                            <span class="showonhover">
                              <img src="./assets/images/profile.png" alt="img">
                              <i class="fa fa-camera" aria-hidden="true"></i>
                            </span>
                            <input id="selectfile" type="file" name="" style="display: none;"><br>
                            <button type="button" class="desk_btn btn-primary add-btn" (click)=toggleHideDivIf()>Update</button>
                          </div>
                          <div class="details_content col-sm-8 col-md-6">
                            <div class="form-group">
                              <label for="name">Name*</label>
                              <input type="text" class="form-control" id="name" placeholder="Enter Full Name"
                                name="name">
                            </div>
                            <div class="form-group">
                              <label for="name">Email*</label>
                              <input type="email" class="form-control" id="" placeholder="Enter Email" name="email">
                            </div>
                            <div class="form-group">
                              <label for="Phone">Phone*</label>
                              <input type="number" class="form-control" id="phone" placeholder="Enter Phone Number"
                                name="phonenumber">
                            </div>
                            <button type="button" class="mobile_btn btn-primary add-btn" (click)="updateProfile()">Update</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- second Agency Tab -->
      <div class="page-content-wrapper" *ngIf="showAgency==true">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="btn-group float-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">The Pragmatic</a></li>
                    <li class="breadcrumb-item active">Agency Profile</li>
                  </ol>
                </div>
                <h4 class="page-title">Agency Profile</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="admin_inner">
                    <div class="adminview_details" *ngIf="!isHideDivIf">
                      <div class="row align-items-center">
                        <div class="profile_img col-sm-4 col-lg-3">
                          <img src="./assets/images/profile.png" alt="img" *ngIf="!profileData?.image"><br>
                          <img [src]="profileData?.image" alt="img" class="show-img" *ngIf="profileData?.image"><br>

                          <button type="button" class="desk_btn btn-primary add-btn" (click)=toggleDisplayDivIf() >Edit</button>
                        </div>
                        <div class="details_content col-sm-8 col-md-6">
                          <p><span>Agency Name :</span> {{ profileData?.agency_name }}</p>
                          <p><span>Email Id :</span> {{ profileData?.email }}</p>
                          <p><span>Phone No. :</span> {{ profileData?.phone }}</p>
                          <p><span>Website Url :</span>{{ profileData?.agency_url }}</p>
                          <p><span>Address :</span> {{ profileData?.agency_address }}</p>
                          <button type="button" class="mobile_btn btn-primary add-btn">Edit</button>
                        </div>
                      </div>
                    </div>
                    <div class="adminedit_details" *ngIf="!isShowDivIf">
                      <form [formGroup]="updateAgencyProfileForm" (ngSubmit)="onSubmit()">
                        <div class="row justify-content-md-around">
                          <div class="profile_img col-sm-4 col-lg-3">
                            <span class="showonhover">
                              <img [src]="displayImage" class="show-img-update" *ngIf="displayImage">
                              <img [src]="profileData?.image" alt="" class="show-img-update" *ngIf="!displayImage">
                              <i class="fa fa-camera" aria-hidden="true" (click)="file.click()"></i>
                            </span>
                            <input id="selectfile" type="file" accept="image/png,image/jpeg"   (change)="getImage($event)"  name="" style="display: none;" #file>
                            <button class="desk_btn btn-primary add-btn-update">Update</button>
                          </div>
                          <div class="details_content col-sm-8 col-md-6">
                            <div class="form-group">
                              <label for="name">Agency Name*</label>
                              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter Full Name"
                                name="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                  <div *ngIf="f.name.errors.required">Agency name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                              <label for="Phone">Phone*</label>
                              <input type="number" class="form-control" id="phone" formControlName="phone" placeholder="Enter Phone Number"
                                name="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" value="342345345">
                                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                                  <div *ngIf="f.phone.errors.required">Phone number is required</div>
                                  <div *ngIf="f.phone.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
                                </div>
                            </div>
                            <div class="form-group">
                              <label for="url">Url(Optional)</label>
                              <input type="text" class="form-control" id="url" formControlName="url" placeholder="Enter Phone Number"
                                name="url" [ngClass]="{ 'is-invalid': submitted && f.url.errors }">
                                <div *ngIf="submitted && f.url.errors" class="invalid-feedback">
                                  <div *ngIf="f.url.errors.pattern">Please enter Valid URL</div>
                                </div>
                            </div>
                            <div class="form-group">
                              <label for="address">Address*</label>
                              <textarea class="form-control" id="address" formControlName="address" placeholder="Enter Phone Number"
                                name="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }"></textarea>
                                <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                  <div *ngIf="f.address.errors.required">Agency address is required</div>
                                </div>
                            </div>
                            <button class="mobile_btn btn-primary add-btn" (click)="toggleHideDivIf()">Update</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <app-footer></app-footer> -->
    </div>
  </div>
</div>
