.admin_inner {
  .profile_img {
    text-align: center;

    @media (max-width: 576px) {
      text-align: left;
    }
    img {
      margin-bottom: 25px;
    }
    .showonhover {
      position: relative;
      i {
        position: absolute;
        top: 0px;
        right: -9px;
        font-size: 25px;
      }
    }

    button {
      max-width: 128px;
      width: 100%;
      margin-top: 59px;

      @media (max-width: 576px) {
        margin-bottom: 25px;
      }
    }
 
    .desk_btn {
      @media (max-width: 576px) {
        display: none;
      }
    }
    
  }
}
.mobile_btn {
    @media (min-width: 576px) {
        display: none;
    }
  }
  .invalid-feedback {
    display: block;
    width: 100%;
    font-size: 80%;
    color: #dc3545;
    position: absolute;
    // margin-left: 15px;
    /* margin-top: 35px; */

}
.err {
  border: 1px solid red;
  border-radius: 64px;
}
input[type=number] {
  -moz-appearance: textfield;
}
.show-img {
  width: 120px;
  height: 115px;
  border-radius: 50%;
  position: absolute;
  top: -26px;
  left: 0;
  margin: auto;
  right: 0;
}

.add-btn-update {
  max-width: 128px !important;
  width: 100% !important;
  margin-top: 127px !important;
  position: absolute !important;
  border-radius: 4px;
  padding: 8px 20px;
}


.admin_inner .profile_img .showonhover i {
  position: absolute !important;
  top: 48px !important;
  right: -130px !important;
  font-size: 25px !important;
}


.show-img-update {
  width: 120px;
  height: 115px;
  border-radius: 50%;
  position: absolute;
  /* top: -26px; */
  left: 0;
  margin: auto;
  right: 0;
}
// .adminedit_details{
//   display:none;
// }
// .admin-profile-detail{
//   display:none;
// }
// .profile-edit-detail {
//   display: block !important;
// }