<section class="account-create">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col md-12 blur-logo">
        <a href="#"><img src="/assets/img/blur-logo.png" alt=""></a>
      </div>
      <div class="col-md-12 text-center">
        <img src="/assets/img/hand-shake.png" alt="">
        <h4>Congratulations {{candidatelist.name}}</h4>
          <h6>You are now part of swipe up</h6>
          <button class="btn btn-primary hover_effect" (click)="dashboardCandidate()" >
            <span class="bg"></span>
            <span class="txt">Dashboard</span>
          </button>
      </div>
    </div>
  </div>
</section>