<div class="fixed-left">
  <div id="wrapper">
    <!-- <app-sidebar></app-sidebar> -->
    <div class="content-page">
      <div class="content">
        <!-- <app-header></app-header> -->
        <div class="page-content-wrapper dashboard_page">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="page-title-box">
                  <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                      <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">The Pragmatic</a></li>
                      <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                  </div>
                  <h4 class="page-title">Dashboard</h4>
                </div>
              </div>
            </div>
            <div class="row align-items-start">
              <!-- <div class="col-md-6 col-lg-6 col-xl-3 col-sm-6 mb-3 ">
                <div class="card h-100">
                  <div class="card-body py-3 px-0">
                    <div class="d-flex flex-row">
                      <div class="col-4 align-self-center">
                        <div class="round">
                          <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div class="col-8 align-self-center text-center">
                        <div class="">
                          <h5 class="mt-0 round-inner">370</h5>
                          <p class="mb-0 text-muted">Total Admin</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="col-md-6 col-lg-6 col-xl-3 col-sm-6 mb-3 ">
                <div class="card h-100">
                  <div class="card-body py-3 px-0">
                    <div class="d-flex flex-row">
                      <div class="col-4 align-self-center">
                        <div class="round">
                          <i class="fa fa-user-md" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div class="col-8 text-center align-self-center">
                        <div class=" ">
                          <h5 class="mt-0 round-inner">{{dashboardCount?.workers}}</h5>
                          <p class="mb-0 text-muted headline">Care Worker</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-3 col-sm-6 mb-3 ">
                <div class="card h-100">
                  <div class="card-body py-3 px-0">
                    <div class="d-flex flex-row">
                      <div class="col-4 align-self-center">
                        <div class="round ">
                          <i class="fa fa-male" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div class="col-8 align-self-center text-center">
                        <div class=" ">
                          <h5 class="mt-0 round-inner">{{dashboardCount?.receivers}}</h5>
                          <p class="mb-0 text-muted headline">Care Reciever</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-3 col-sm-6 mb-3 ">
                <div class="card h-100">
                  <div class="card-body py-3 px-0">
                    <div class="d-flex flex-row">
                      <div class="col-4 align-self-center">
                        <div class="round">
                          <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div class="col-8 align-self-center text-center">
                        <div class="">
                          <h5 class="mt-0 round-inner">{{dashboardCount?.newRequests}}</h5>
                          <p class="mb-0 text-muted headline">New Request</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-3 col-sm-6 ">
                <div class="card h-100">
                  <div class="card-body py-3 px-0">
                    <div class="d-flex flex-row">
                      <div class="col-4 align-self-center">
                        <div class="round">
                          <i class="fa fa-clock-o" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div class="col-8 align-self-center text-center">
                        <div class="">
                          <h5 class="mt-0 round-inner">{{dashboardCount?.pendingRequest}}</h5>
                          <p class="mb-0 text-muted headline">Pending Request</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-3 col-sm-6 ">
                <div class="card h-100">
                  <div class="card-body py-3 px-0">
                    <div class="d-flex flex-row">
                      <div class="col-4 align-self-center">
                        <div class="round">
                          <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div class="col-8 align-self-center text-center">
                        <div class="">
                          <h5 class="mt-0 round-inner">{{dashboardCount?.completedRequest}}</h5>
                          <p class="mb-0 text-muted headline">Complete Request</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-3 col-sm-6 ">
                <div class="card h-100">
                  <div class="card-body py-3 px-0">
                    <div class="d-flex flex-row">
                      <div class="col-4 align-self-center">
                        <div class="round">
                          <i class="fa fa-spinner" aria-hidden="true"></i>
                        </div>
                      </div>
                      <div class="col-8 align-self-center text-center">
                        <div class="">
                          <h5 class="mt-0 round-inner">{{dashboardCount?.inProgressRequest}}</h5>
                          <p class="mb-0 text-muted headline">In Progress Request</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- <app-footer></app-footer> -->
      </div>
    </div>
  </div>
</div>
