ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.add-btn {
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    width: fit-content;
    @media (min-width: 390px) {
        padding: 8px 20px;
    }
}
.input-group-text{
    background-color: transparent;
    padding: 0 0 0 1rem;
    img{
        width: 23px;
        height: 23px;
    }
}
.alert-msg {
    font-size: 13px;
    color: #e21b1b;
}
.assigned{
    cursor: pointer;
    &:hover{
        color:  #00649b;
    }
}
hr {
    border: 1px solid #c1baba;
    margin-bottom: 30px;
}

.car-detail {
    display: flex;
    align-items: center;
    h6 {
        width: 100%;
        max-width: 175px;
    }
    p {
        margin-bottom: 0;
    }
}
.switch{
    background-color: red;
}
.user_pic {
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 -10px;
        li {
            flex: 0 0 33.3%;
            max-width: 33.3%;
            list-style: none;
            padding: 0 10px 20px;
            position: relative;
            button {
                background: #ec536c;
                color: #fff;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                position: absolute;
                top: -10px;
                left: 0;
                display: flex;
                justify-content: center;
                i {
                    font-size: 20px;
                    position: relative;
                    top: -4px;
                }
            }
            img {
                width: 100%;
            }
        }
        .upload-image {
            background-color: #f7f7f7;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            i {
                color: #3a262642;
                font-size: 25px;
            }
        }
    }
}

.filter_bar {
    li {
        display: inline-block;
        padding-bottom: 10px;
        width: 100%;
        max-width: 100%;
        &:last-child {
            max-width: 76px!important;
            @media (max-width: 447px) {
                margin-bottom: 0px;
            }
        }
        @media (min-width:448px) {
            max-width: 140px;
            padding-right: 20px;
            padding-bottom: 0;
        }
        @media (min-width:506px) {
            max-width: 160px;
        }
        @media (max-width:768px) {
            margin-bottom: 10px;
        }
    }
}

.card {
    .card-body {
        tbody {
            tr {
                td {
                    .p-1 {
                        padding: 5px 8px !important;
                        border-radius: 8px;
                    }
                    .table_btn {
                        font-size: 14px;
                        padding: 5px 12px !important;
                    }
                    
                }
            }
        }
    }
}

.req {
    font-size: 16px;
    color: red;
}

img.user_img {
    max-width: 100px;
    width: 100%;
}

.dropdown-divider {
    margin: 0px;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent;
}

.table_heading {
    padding-bottom: 16px;

    h6{
        display: flex;
        align-items: center;
        span{
            margin-right: 5px;
        }
    }
}
.back_btn {
    color: #0062cc;
}


@media (max-width:576px) {
.form-area {
    padding: 50px 15px 10px !important;
}

.modal {
    .modal-content {
        padding: 0 0px !important;
        span.showonhover {
            .show-img{
                width: 65px !important;
                height: 65px !important;
                border-radius: 50%;
                position: absolute;
                top: -40px !important;
                left: 0px !important;
            }
            
        }

        .admin-view {
            padding: 40px 15px 5px !important;
            margin: 30px 0 20px !important;
        }
    }
    
}

.admin-img {
    span.showonhover {
        i{
            left: 64% !important;
        }
    }
}

}

