header nav.navbar {
  padding-top: 8px;
  transition: .2s ease; }
  @media (min-width: 992px) {
    header nav.navbar {
      padding-top: 30px; } }
  header nav.navbar.scroll {
    transition: .2s ease;
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 0 5px #3050b563; }
  header nav.navbar .navbar-toggler {
    border: 0;
    padding: 0;
    outline: none;
    width: 35px;
    height: 30px;
    position: relative;
    margin-left: auto; }
    header nav.navbar .navbar-toggler[aria-expanded="true"] span:first-child {
      transform: rotate(45deg);
      top: 0;
      left: 8px; }
    header nav.navbar .navbar-toggler[aria-expanded="true"] span:nth-child(2) {
      width: 0%;
      opacity: 0; }
    header nav.navbar .navbar-toggler[aria-expanded="true"] span:last-child {
      transform: rotate(-45deg);
      top: 24px;
      left: 8px; }
    header nav.navbar .navbar-toggler span {
      width: 100%;
      height: 3px;
      background: #3050b5;
      display: block;
      border-radius: 20%;
      position: absolute;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out; }
      header nav.navbar .navbar-toggler span:first-child {
        top: 0.5px;
        transform-origin: left center; }
      header nav.navbar .navbar-toggler span:nth-child(2) {
        top: 11.5px;
        transform-origin: left center; }
      header nav.navbar .navbar-toggler span:last-child {
        top: 23px;
        transform-origin: left center; }
  header nav.navbar a.navbar-brand img {
    width: 100%;
    max-width: 150px; }
    @media (min-width: 575px) {
      header nav.navbar a.navbar-brand img {
        max-width: 250px; } }
  header nav.navbar ul.navbar-nav li:last-child a {
    margin-right: 0;
    padding-right: 0; }
  header nav.navbar ul.navbar-nav li a {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin-right: 0px; }
    @media (min-width: 992px) {
      header nav.navbar ul.navbar-nav li a {
        margin-right: 25px; } }
    @media (min-width: 1200px) {
      header nav.navbar ul.navbar-nav li a {
        margin-right: 44px; } }
    header nav.navbar ul.navbar-nav li a.active {
      color: #3050b5; }
    header nav.navbar ul.navbar-nav li a:hover {
      color: #3050b5; }
  header nav.navbar .collapsing,
  header nav.navbar .show {
    position: absolute;
    top: 100%;
    border-top: 2px solid #3050b5;
    background-color: #fff;
    width: 100%;
    left: 0;
    border-bottom: 2px solid #3050b5;
    z-index: 999; }
    header nav.navbar .collapsing ul.navbar-nav li.nav-item a,
    header nav.navbar .show ul.navbar-nav li.nav-item a {
      padding: 10px 15px;
      border-bottom: 1px solid #304fb51c;
      margin-right: 0; }

.banner-sec {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 108px; }
  @media (min-width: 768px) {
    .banner-sec::before {
      content: " ";
      width: 50%;
      height: 100%;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      z-index: 1;
      background-color: #fff; } }
  @media (max-width: 767px) {
    .banner-sec .owl-carousel.car-slider {
      margin-top: 25px; } }
  .banner-sec .owl-carousel.car-slider .owl-stage .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%; }
    @media (min-width: 768px) {
      .banner-sec .owl-carousel.car-slider .owl-stage .item {
        flex-direction: row;
        align-items: center; } }
    .banner-sec .owl-carousel.car-slider .owl-stage .item .text-box {
      flex: 0 100%; }
      @media (min-width: 768px) {
        .banner-sec .owl-carousel.car-slider .owl-stage .item .text-box {
          flex: 0 43%; } }
      .banner-sec .owl-carousel.car-slider .owl-stage .item .text-box h1 {
        font-size: 25px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 10px;
        text-align: center; }
        .banner-sec .owl-carousel.car-slider .owl-stage .item .text-box h1 span {
          color: #3050b5; }
        @media (min-width: 575px) {
          .banner-sec .owl-carousel.car-slider .owl-stage .item .text-box h1 {
            font-size: 35px; } }
        @media (min-width: 768px) {
          .banner-sec .owl-carousel.car-slider .owl-stage .item .text-box h1 {
            text-align: left; } }
        @media (min-width: 992px) {
          .banner-sec .owl-carousel.car-slider .owl-stage .item .text-box h1 {
            font-size: 50px; } }
    .banner-sec .owl-carousel.car-slider .owl-stage .item .car-box {
      flex: 0 100%;
      display: flex;
      justify-content: flex-end;
      margin: 30px 0 0 0;
      align-items: flex-start; }
      @media (min-width: 768px) {
        .banner-sec .owl-carousel.car-slider .owl-stage .item .car-box {
          margin: 0;
          flex: 0 0 57%; } }
      .banner-sec .owl-carousel.car-slider .owl-stage .item .car-box img {
        width: 100%;
        max-width: 94%; }
  .banner-sec .owl-dots {
    text-align: center;
    margin-top: 30px; }
    @media (min-width: 768px) {
      .banner-sec .owl-dots {
        text-align: left; } }
    .banner-sec .owl-dots button.owl-dot {
      width: 12px;
      height: 12px;
      background-color: #bdbdbd;
      margin: 0 7px;
      border-radius: 50px; }
      .banner-sec .owl-dots button.owl-dot.active {
        background-color: #3050b5; }

.about-us {
  position: relative;
  padding: 25px 0 0; }
  @media (min-width: 768px) {
    .about-us {
      padding: 67px 0 0; } }
  @media (min-width: 991px) {
    .about-us .car_img {
      background-image: url(../images/halfcar.png);
      background-repeat: no-repeat;
      background-position: -24% 90%;
      padding: 30px 0; } }
  @media (min-width: 991px) and (min-width: 1200px) {
    .about-us .car_img {
      background-position: left -10px; } }

  @media (max-width: 991px) {
    .about-us .pad_0 {
      padding: 0 !important; } }
  .about-us .container {
    position: relative;
    z-index: 2; }
  .about-us .text {
    padding: 30px 0px 30px; }
    @media (max-width: 991px) {
      .about-us .text {
        background-color: #3050b5;
        padding: 34px 15px 30px; } }
    @media (max-width: 767px) {
      .about-us .text {
        padding: 15px 15px 15px; } }
    .about-us .text p {
      font-size: 14px;
      line-height: 1.69;
      color: #fff; }
      @media (min-width: 1200px) {
        .about-us .text p {
          text-align: justify;
          font-size: 16px; } }
  .about-us .bg_area {
    background: #3050b5;
    padding-top: 30px; }

.screenshot-sec {
  padding-top: 25px;
  max-width: 1920px;
  margin: auto; }
  @media (min-width: 768px) {
    .screenshot-sec {
      padding-top: 69px; } }
  .screenshot-sec .heading {
    padding-bottom: 15px; }
    @media (min-width: 768px) {
      .screenshot-sec .heading {
        padding-bottom: 55px; } }
  .screenshot-sec .screenshot-box img {
    width: 100%;
    max-width: 100%; }

.app-features-sec {
  padding: 25px 0; }
  @media (min-width: 768px) {
    .app-features-sec {
      padding: 95px 0 50px; } }
  .app-features-sec .heading {
    padding-bottom: 25px; }
    @media (min-width: 768px) {
      .app-features-sec .heading {
        padding-bottom: 59px; } }
  .app-features-sec .features-box {
    border-radius: 10px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.08);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 15px 0px 10px; }
    @media (min-width: 575px) {
      .app-features-sec .features-box {
        padding: 30px 24px 0px 24px; } }
    @media (min-width: 992px) {
      .app-features-sec .features-box {
        padding: 30px 24px 0px 39px; } }
    .app-features-sec .features-box .icon-box {
      display: flex;
      justify-content: flex-end; }
      .app-features-sec .features-box .icon-box span {
        width: 30px;
        height: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
        background-color: #3050b5;
        display: flex;
        align-items: center;
        justify-content: center; }
        @media (min-width: 578px) {
          .app-features-sec .features-box .icon-box span {
            width: 60px;
            height: 60px;
            border-radius: 19px; } }
        @media (max-width: 567px) {
          .app-features-sec .features-box .icon-box span img {
            width: 60%; } }
    .app-features-sec .features-box .text-box {
      height: 100%;
      min-height: 180px;
      margin-top: 15px;
      padding: 0 0px 0 0; }
      @media (min-width: 575px) {
        .app-features-sec .features-box .text-box {
          padding: 0 61px 0 0; } }
      @media (min-width: 768px) {
        .app-features-sec .features-box .text-box {
          margin-top: 15px;
          padding: 0 0px 0 0;
          min-height: 200px; } }
      @media (min-width: 992px) {
        .app-features-sec .features-box .text-box {
          margin-top: 0px;
          padding: 0 61px 0 0; } }
      .app-features-sec .features-box .text-box h4 {
        font-size: 22px;
        color: #fff;
        font-weight: 600;
        padding-bottom: 13px; }
        @media (min-width: 992px) {
          .app-features-sec .features-box .text-box h4 {
            font-size: 26px; } }
        @media (min-width: 1300px) {
          .app-features-sec .features-box .text-box h4 {
            font-size: 36px; } }
      .app-features-sec .features-box .text-box p {
        font-size: 16px;
        font-weight: 400;
        opacity: 0.6;
        color: #fff; }
    .app-features-sec .features-box.mt-60 {
      margin-top: 10px; }
      @media (min-width: 575px) {
        .app-features-sec .features-box.mt-60 {
          margin-top: 20px; } }
      @media (min-width: 768px) {
        .app-features-sec .features-box.mt-60 {
          margin-top: 41px; } }
    .app-features-sec .features-box.mt-50 {
      margin-top: 10px; }
      @media (min-width: 575px) {
        .app-features-sec .features-box.mt-50 {
          margin-top: 20px; } }
      @media (min-width: 768px) {
        .app-features-sec .features-box.mt-50 {
          margin-top: 50px; } }

.contactus-sec .container-fluid {
  max-width: 1920px; }
.contactus-sec .img-box {
  background-color: #3050b5;
  height: 100%;
  position: relative; }
  .contactus-sec .img-box::before {
    content: " ";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-image: url(../images/lamb.png);
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; }
    @media (max-width: 767px) {
      .contactus-sec .img-box::before {
        display: none; } }
.contactus-sec .contact-from {
  background-color: #1a1a1a;
  padding: 15px 20px 15px; }
  @media (min-width: 575px) {
    .contactus-sec .contact-from {
      padding: 28px 50px 50px; } }
  @media (min-width: 992px) {
    .contactus-sec .contact-from {
      padding: 28px 60px 50px; } }
  @media (min-width: 1200px) {
    .contactus-sec .contact-from {
      padding: 28px 85px 50px; } }
  .contactus-sec .contact-from .heading {
    padding-bottom: 15px; }
    @media (min-width: 768px) {
      .contactus-sec .contact-from .heading {
        padding-bottom: 19px; } }
  .contactus-sec .contact-from .form-group {
    position: relative;
    margin-bottom: 25px; }
    .contactus-sec .contact-from .form-group input.error {
      border-color: red; }
    .contactus-sec .contact-from .form-group textarea.error {
      border-color: red; }

.app-benefit {
  padding: 66px 0; }
  .app-benefit .heading {
    padding-bottom: 58px; }
  .app-benefit .position-ab {
    position: relative; }
  @media (min-width: 992px) {
    .app-benefit .backline {
      background-image: url(../images/lineback.png);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position-y: 50px; } }
  .app-benefit .benef-box {
    margin: 15px 0; }
    @media (min-width: 992px) {
      .app-benefit .benef-box {
        margin: 10px 0; } }
    .app-benefit .benef-box .icon-box {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      margin: 0 auto 27px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center; }
      .app-benefit .benef-box .icon-box.blue {
        background-color: #3050b5; }
      .app-benefit .benef-box .icon-box img {
        width: 100%;
        max-width: 70px; }
    .app-benefit .benef-box .text {
      max-width: 70%;
      margin: auto; }
      @media (min-width: 992px) {
        .app-benefit .benef-box .text {
          max-width: 250px; } }
      .app-benefit .benef-box .text h5 {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 17px; }
        .app-benefit .benef-box .text h5 small {
          font-weight: 500; }
      .app-benefit .benef-box .text p {
        text-align: justify;
        color: #fff;
        font-size: 14px; }

.app-download {
  padding: 25px 0;
  background-color: #fff; }
  @media (min-width: 768px) {
    .app-download {
      padding: 30px 0; } }
  .app-download .app-down {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .app-download .app-down h2 {
      font-size: 20px;
      font-weight: 700;
      width: 100%;
      max-width: 180px;
      text-align: left;
      margin: 25px auto 0; }
      @media (min-width: 575px) {
        .app-download .app-down h2 {
          font-size: 36px;
          max-width: 330px; } }
      @media (min-width: 1200px) {
        .app-download .app-down h2 {
          margin: 0 auto; } }
    .app-download .app-down .app-store-box img {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.233);
      margin: 0 5px; }
    .app-download .app-down img.img-log {
      margin: 0 0 30px;
      width: 100%;
      max-width: 170px; }
  @media (max-width: 768px) {
    .app-download .img-box {
      margin: 30px 0 30px; } }
  .app-download .img-box img {
    width: 100%;
    max-width: 150px; }

.errormsg_name,
.errormsg_email,
.errormsg_msg {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  font-size: 12px;
  color: red; }

.video_area {
  border-radius: 10px; }

#policy-banner {
  background: url("../images/policy-banner.png") no-repeat center 0;
  background-size: cover;
  height: 70vh; }

.all-banner .container,
.all-banner .row {
  height: 100%; }
.all-banner h2 {
  font-size: 26px;
  color: #000000;
  padding-top: 60px; }
  @media (min-width: 992px) {
    .all-banner h2 {
      font-size: 32px; } }
  @media (min-width: 1200px) {
    .all-banner h2 {
      font-size: 40px; } }
.all-banner p {
  font-size: 16px;
  color: #000;
  margin: 0;
  padding: 12px 0 0; }

#all-content {
  background: #fff;
  padding: 40px 0;
  margin-top: -1px; }
  #all-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 10px;
    color: #494949; }
  #all-content .accordion .card-header {
    background-color: #3050b51c;
    border-color: #3050b51c;
    padding: 0; }
    #all-content .accordion .card-header button {
      color: #000000 !important;
      text-decoration: none !important;
      white-space: inherit;
      font-size: 15px; }
      @media (min-width: 768px) {
        #all-content .accordion .card-header button {
          font-size: 18px; } }
  @media (max-width: 768px) {
    #all-content .accordion .card-body {
      font-size: 14px; } }

.data-list {
  margin: 0; }
  .data-list li {
    padding-left: 10px;
    padding-bottom: 8px; }
    .data-list li:before {
      content: url(../images/tick.png);
      position: relative;
      left: -8px; }

#tac-banner {
  background: url("../images/tac-banner.png") no-repeat center 0;
  background-size: cover;
  height: 70vh; }

#faq-banner {
  background: url("../images/faq-banner.png") no-repeat center 0;
  background-size: cover;
  height: 70vh; }

footer {
  padding: 20px 0 25px; }
  @media (min-width: 768px) {
    footer {
      padding: 40px 0 37px; } }
  footer .logo-box {
    width: 100%;
    max-width: 100%;
    text-align: center; }
    @media (min-width: 768px) {
      footer .logo-box {
        max-width: 280px; } }
    footer .logo-box img {
      width: 100%;
      max-width: 114px; }
  footer ul.link {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: column; }
    @media (min-width: 768px) {
      footer ul.link {
        justify-content: flex-end;
        flex-flow: row; } }
    footer ul.link li:last-child a {
      margin-right: 0; }
    footer ul.link li a {
      margin-right: 0px;
      margin-bottom: 10px;
      color: #fff;
      font-size: 16px;
      font-weight: 500; }
      @media (min-width: 768px) {
        footer ul.link li a {
          margin-right: 50px;
          margin-bottom: 0px; } }

html {
  scroll-behavior: smooth; }

* {
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  margin: 0; }

body {
  font-family: "Montserrat", sans-serif !important;
  margin: auto;
  background-color: #000; }

section {
  max-width: 1920px;
  margin: auto; }

a:hover {
  text-decoration: none !important; }

button {
  cursor: pointer; }
  button:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important; }

.form-control:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0; }

.heading {
  padding-bottom: 15px; }
  @media (min-width: 768px) {
    .heading {
      padding-bottom: 22px; } }
  .heading h2 {
    font-size: 25px;
    font-weight: 700;
    color: #fff; }
    @media (min-width: 575px) {
      .heading h2 {
        font-size: 35px; } }
    @media (min-width: 768px) {
      .heading h2 {
        font-size: 50px; } }
    .heading h2 span {
      color: #3050b5; }
  .heading p {
    font-size: 16px;
    font-style: italic;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px; }
    @media (min-width: 575px) {
      .heading p {
        font-size: 18px; } }
    @media (min-width: 768px) {
      .heading p {
        font-size: 24px; } }

@media (max-width: 574px) {
  .form-group {
    margin-bottom: 0.5rem; } }
.form-group label {
  font-size: 12px;
  font-weight: 600;
  color: #fff; }
  @media (min-width: 575px) {
    .form-group label {
      font-size: 14px; } }
.form-group input.form-control {
  border-radius: 6px;
  border: 1px solid #fff2;
  background-color: #fff2;
  padding: 16px;
  color: #fff;
  height: 45px; }
  @media (min-width: 575px) {
    .form-group input.form-control {
      height: 50px; } }
  .form-group input.form-control::placeholder {
    font-size: 14px;
    color: #fff; }
.form-group textarea.form-control {
  border-radius: 6px;
  color: #fff;
  border: 1px solid #fff2;
  background-color: #fff2;
  height: 70px;
  padding: 16px; }
  @media (min-width: 575px) {
    .form-group textarea.form-control {
      height: 100px; } }
  .form-group textarea.form-control::placeholder {
    font-size: 14px;
    color: #fff; }

.btn {
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  display: block;
  border-radius: 14px; }
  .btn.submit-btn {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #3050b5;
    color: #fff;
    padding: 14px;
    max-width: 180px;
    margin: 20px auto 0; }
    @media (min-width: 575px) {
      .btn.submit-btn {
        padding: 18px;
        max-width: 220px;
        margin: 40px auto 0; } }

/*# sourceMappingURL=base.css.map */
