<app-header></app-header>
<div class="title_bar">
  <div class="container">
    <div class="inner">
      <h2>Dashboard</h2>
      <div class="profile">
        <div class="detail">
          <h5>{{candidatelist.name}}</h5>
          <a [routerLink]="['/candidate_details/'+candidatelist._id]" class="edit">Edit Profile <span class="icon"><i class="far fa-edit"></i></span></a>
        </div>
        <div class="pro_img">
          <img src="/assets/img/pro_img.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="full_wid">
  <div class="cstm_row">
    <div class="left_area">
      <div class="inner">
        <ul>
          <li class="w-100">
            <div class="shadow_bx">
              <h5>Approved for interview</h5>
              <a [routerLink]="['/candidate_dashboard']" class="btn"><span class="icon"><img src="/assets/img/icons/thumbs-up.svg" alt=""></span>00</a>
            </div>
          </li>
          <li class="w-100">
            <div class="shadow_bx">
              <h5>Interview Requests Agreed</h5>
              <a [routerLink]="['/candidate_dashboard']" class="btn"><span class="icon"><img src="/assets/img/icons/check.svg"
                    alt=""></span>00</a>
            </div>
          </li>
          <li class="w-100">
            <div class="shadow_bx">
              <h5>Interview Requests Outstanding</h5>
              <a [routerLink]="['/candidate_dashboard']" class="btn"><span class="icon"><img src="/assets/img/icons/process.svg" alt=""></span>00</a>
            </div>
          </li>
          <!-- <li class="w-100">
            <div class="shadow_bx">
              <h5>Interview Schedule / Calander</h5>
              <a [routerLink]="['/candidate_dashboard']" class="btn"><span class="icon"><img src="/assets/img/icons/reject.png" alt=""></span>02</a>
            </div>
          </li> -->
          <!-- <li class="wid_100">
            <div class="shadow_bx">
              <h5>Approved for interview</h5>
              <a [routerLink]="['/candidate_dashboard']" class="btn"><span class="icon"><img src="/assets/img/icons/approved.svg" alt=""></span>05</a>
            </div>
          </li> -->
          <li class="wid_100">
            <div class="shadow_bx">
              <!-- <img src="/assets/img/chart.png" class="w-100" alt=""> -->
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="right_area">
      <!-- <div class="slider">
        <div class="up_btn">
          <button class="btn" type="button" >
            <img src="/assets/img/blue_logo.svg" alt="">
          </button>
        </div>
        <div class="slide_items">
          <ul>
            <li class="item" *ngFor="let item of names; let i = index;" [ngClass]="i == 0 ? checkclass : 'stable'">
              <div class="post">
                <div class="post_by">
                  <div class="img_area">
                    <img src="/assets/img/post_img.jpg" alt="">
                  </div>
                  <div class="detail">
                    <h3>{{item.company_name}}</h3>
                    <p>{{item.company_url}}</p>
                    <p>{{item.company_mail}}</p>
                  </div>
                </div>
                <div class="desc">
                  <h5>Post</h5>
                  <p>{{item.post}}</p>
                  <h5>Job Type</h5>
                  <p>{{item.job_type}}</p>
                  <h5>Function</h5>
                  <p>{{item.job_type}}</p>
                  <h5>Annual Salary range</h5>
                  <p>{{item.salary}}</p>
                  <h5>Office Address</h5>
                  <p>{{item.address}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="down_btn">
          <button class="btn" type="button">
            <img src="/assets/img/swipe_down.svg" alt="">
          </button>
        </div>
      </div> -->
      <owl-carousel-o [options]="productsOptions">
        <ng-template carouselSlide >
          <div class="card-area">
            <div class="card">
             <div class="card-header">
              <img src="/assets/img/Social-Digital.png" class="card-img-top img-fluid" alt="img">
             </div>
              <div class="card-body">
                  <!-- <h5 class="company-name">Microsoft</h5> -->
                  <!-- <div class="company-contact">
                    <p>www.microsoft.com</p>
                    <p>mail@microsoft.com</p>
                  </div> -->
                  <h5 class="post">Post</h5>
                  <p>Manager</p>
                  <h5>Job type</h5>
                  <p>Permanent</p>
                  <h5>Sector</h5>
                  <p>Accounts & Data Analytics </p>
                  <h5>Annual salary range</h5>
                  <p>$ 22,000 To $ 25,000</p>
                  <h5>Experience</h5>
                  <p>5 Years</p>
                  <button class="btn btn-primary hover_effect py-1float-right"><span class="bg"></span>
                    <span class="txt ng-star-inserted ">View Details</span>
                  </button>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="card-area">
            <div class="card">
             <div class="card-header">
              <img src="/assets/img/developers.png" class="card-img-top img-fluid" alt="img">
             </div>
              <div class="card-body">
                  <!-- <h5 class="company-name">Microsoft</h5>
                  <div class="company-contact">
                    <p>www.microsoft.com</p>
                    <p>mail@microsoft.com</p>
                  </div> -->
                  <h5 class="post">Post</h5>
                  <p>Manager</p>
                  <h5>Job type</h5>
                  <p>Permanent</p>
                  <h5>Sector</h5>
                  <p>Accounts & Data Analytics </p>
                  <h5>Annual salary range</h5>
                  <p>$ 22,000 To $ 25,000</p>
                  <h5>Experience</h5>
                  <p>5 Years</p>
                  <button class="btn btn-primary hover_effect py-1float-right"><span class="bg"></span>
                    <span class="txt ng-star-inserted ">View Details</span>
                  </button>
              </div>
            </div>
          </div>
        </ng-template>
      
        <ng-template carouselSlide>
          <div class="card-area">
            <div class="card">
             <div class="card-header">
              <img src="/assets/img/seo.jpeg" class="card-img-top img-fluid" alt="img">
             </div>
              <div class="card-body">
                  <!-- <h5 class="company-name">Microsoft</h5>
                  <div class="company-contact">
                    <p>www.microsoft.com</p>
                    <p>mail@microsoft.com</p>
                  </div> -->
                  <h5 class="post">Post</h5>
                  <p>Manager</p>
                  <h5>Job type</h5>
                  <p>Permanent</p>
                  <h5>Sector</h5>
                  <p>Accounts & Data Analytics </p>
                  <h5>Annual salary range</h5>
                  <p>$ 22,000 To $ 25,000</p>
                  <h5>Experience</h5>
                  <p>5 Years</p>
                  <button class="btn btn-primary hover_effect py-1float-right"><span class="bg"></span>
                    <span class="txt ng-star-inserted ">View Details</span>
                  </button>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="card-area">
            <div class="card">
             <!-- <div class="card-header">
              <img src="/assets/img/digipost.png" class="card-img-top img-fluid" alt="img">
             </div> -->
              <div class="card-body">
                  <h5 class="company-name">Microsoft</h5>
                  <div class="company-contact">
                    <p>www.microsoft.com</p>
                    <p>mail@microsoft.com</p>
                  </div>
                  <h5 class="post">Post</h5>
                  <p>Manager</p>
                  <h5>Job type</h5>
                  <p>Permanent</p>
                  <h5>Sector</h5>
                  <p>Accounts & Data Analytics </p>
                  <h5>Annual salary range</h5>
                  <p>$ 22,000 To $ 25,000</p>
                  <h5>Experience</h5>
                  <p>5 Years</p>
                  <button class="btn btn-primary hover_effect py-1float-right"><span class="bg"></span>
                    <span class="txt ng-star-inserted ">View Details</span>
                  </button>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="card-area">
            <div class="card">
             <!-- <div class="card-header">
              <img src="/assets/img/apple.png" class="card-img-top img-fluid" alt="img">
             </div> -->
              <div class="card-body">
                  <h5 class="company-name">Microsoft</h5>
                  <div class="company-contact">
                    <p>www.microsoft.com</p>
                    <p>mail@microsoft.com</p>
                  </div>
                  <h5 class="post">Post</h5>
                  <p>Manager</p>
                  <h5>Job type</h5>
                  <p>Permanent</p>
                  <h5>Sector</h5>
                  <p>Accounts & Data Analytics </p>
                  <h5>Annual salary range</h5>
                  <p>$ 22,000 To $ 25,000</p>
                  <h5>Experience</h5>
                  <p>5 Years</p>
                  <button class="btn btn-primary hover_effect py-1float-right"><span class="bg"></span>
                    <span class="txt ng-star-inserted ">View Details</span>
                  </button>
              </div>
            </div>
          </div>
        </ng-template>
    </owl-carousel-o>
    </div>
  </div>
</div>
