.title_bar {
    background: #FEF7F7;
    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .profile {
        display: flex;
        align-items: center;
        h5 {
            font-size: 18px;
            font-weight: 600;
            color: #D0021B;
            padding-bottom: 3px;
        }
        a.edit {
            font-size: 16px;
            font-weight: 500;
            color: #000;
            text-decoration: none;
            span.icon {
                padding-left: 5px;
                position: relative;
                top: -2px;
            }
            &:hover {
                color: #D0021B;
            }
        }
        .pro_img {
            padding-left: 12px;
            img {
                width: 50px;
                height: 50px;
                border-radius: 12px;
                object-fit: cover;
            }
        }
    }
    h2 {
        font-size: 20px;
        font-weight: 600;
        color: #000;
    }
}

.slider {
    padding-top: 25px;
    position: relative;
    overflow: hidden;
    .up_btn {
        max-width: 380px;
        text-align: center;
        img {
            width: 66px;
        }
    }
    .down_btn {
        max-width: 380px;
        text-align: center;
    }
    .post {
        border-radius: 8px;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
        padding: 15px;
        position: relative;
        .post_by {
            display: flex;
            padding-bottom: 10px;
            .img_area {
                padding-right: 10px;
                img {
                    width: 62px;
                    height: 62px;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .detail {
                h3 {
                    font-size: 20px;
                    font-weight: 600;
                    color: #000;
                    padding-bottom: 4px;
                }
                p {
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.7);
                    padding-bottom: 2px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
        .desc {
            h5 {
                font-size: 16px;
                font-weight: 600;
            }
            p {
                font-size: 16px;
                color: rgba(0, 0, 0, 0.7);
                padding-bottom: 10px;
                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
    .slide_items {
        padding: 25px 0;
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            li {
                padding-right: 30px;
                transition: all ease 1.5s;
                margin-top: 0;
                opacity: 1;
                display: block;
                &.success {
                    margin-top: -100%;
                    transition: all ease 1.5s;
                    opacity: 0;
                    position: absolute;
                }
                &.down {
                    margin-bottom: -100%;
                    transition: all ease 1.5s;
                    opacity: 0;
                    position: absolute;
                }
                &:first-child {
                    .desc {
                        min-width: 350px;
                    }
                }
                &:not(:first-child) {
                    .post {
                        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                        color: transparent !important;
                        .post_by {
                            .img_area {
                                img {
                                    filter: blur(5px);
                                    width: 50px;
                                    height: 50px;
                                }
                            }
                            .detail {
                                h3 {
                                    color: transparent;
                                    font-size: 12px;
                                }
                                p {
                                    color: transparent;
                                    font-size: 9px;
                                }
                            }
                        }
                        .desc {
                            h5 {
                                font-size: 12px;
                            }
                            p {
                                font-size: 12px;
                                color: transparent;
                            }
                        }
                    }
                }
            }
            .post {
                width: 380px;
                //   width: 100%;
            }
        }
    }
    ul {
        li.item.success+li.item.stable,
        li.item.down+li.item.stable {
            .post {
                border-radius: 8px;
                box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
                padding: 15px;
                position: relative;
                text-shadow: none;
                color: #000;
                .post_by {
                    display: flex;
                    padding-bottom: 10px;
                    .img_area {
                        padding-right: 10px;
                        img {
                            width: 62px;
                            height: 62px;
                            object-fit: cover;
                            object-position: center;
                            filter: none;
                        }
                    }
                    .detail {
                        h3 {
                            font-size: 20px;
                            font-weight: 600;
                            color: #000;
                            padding-bottom: 4px;
                        }
                        p {
                            font-size: 12px;
                            color: rgba(0, 0, 0, 0.7);
                            padding-bottom: 2px;
                            &:last-child {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
                .desc {
                    h5 {
                        font-size: 16px;
                        font-weight: 600;
                        color: #000;
                    }
                    p {
                        font-size: 16px;
                        color: rgba(0, 0, 0, 0.7);
                        padding-bottom: 10px;
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

.cstm_row {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    .left_area {
        @media (min-width: 768px) {
            flex: 0 0 33.3%;
            max-width: 33.3%;
        }
        .inner {
            padding: 30px;
            height: 100%;
            background: #fff;
            box-shadow: 0 2px 12px #0000001f;
            ul {
                margin: 0 -30px;
                display: flex;
                flex-wrap: wrap;
                list-style: none;
                li {
                    padding: 0 30px 30px;
                    text-align: center;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    &.wid_50 {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                    &.wid_100 {
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                    h5 {
                        font-size: 16px;
                        font-weight: 500;
                        color: #000;
                    }
                    a.btn {
                        font-size: 19px;
                        font-weight: 500;
                        color: #000;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #FEF7F7;
                        border-radius: 25px;
                        height: 40px;
                        margin-top: 10px;
                        span.icon {
                            padding-right: 9px;
                        }
                    }
                }
            }
        }
        .shadow_bx {
            box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
            padding: 15px 18px;
            border-radius: 15px;
            width: 207px;
            margin: auto;
        }
    }
    .right_area {
        flex: 0 0 66.6%;
        max-width: 66.6%;
        margin: auto;
        @media (min-width: 768px) {
            flex: 0 0 66.6%;
            max-width: 66.6%;
            padding-left: 30px;
        }
    }
}

.card-area {
    .card {
        background-color: #fff;
        border: 0;
        border-radius: 5px;
        margin: 10px;
        box-shadow: 0 2px 12px #f7f7f7;
        .card-header {
            background-color: #fff;
            border: 0;
            padding: 15px;
            height: 230px;
        }
        .card-body {
            padding: 0 15px 15px;
            h5 {
                font-size: 16px;
                font-weight: 500;
            }
            .company-contact {
                margin-bottom: 10px;
                p {
                    font-size: 12px;
                    margin-bottom: 0;
                }
            }
            p {
                font-size: 15px;
                margin-bottom: 10px;
                color: #474747;
            }
        }
    }
}

.owl-theme .owl-nav [class*=owl-] {
    color: #d0021b;
    font-size: 42px;
    margin: 0px;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    border-radius: 0px;
}

.owl-carousel .owl-item img {
    width: 184px !important;
    height: 137px !important;
}

.owl-item {
    img {
        width: 184px !important;
        height: 137px !important;
    }
}