<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/products']">Products</a></li>
                                        <li class="breadcrumb-item active">Edit Product</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Edit Product</h4>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-lg-3 px-0">
                            <div class="project-box">
                                <a [routerLink]="['/view-company-list']">
                                <i class="fa fa-car application_icon" aria-hidden="true"></i>
                                <p>Manage Car Company</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 px-0">
                            <div class="project-box">
                                <a [routerLink]="['/view-model-list']">
                                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                <p>Manage Company Model</p>
                                </a>
                            </div>
                        </div>
                    </div>
            

                    <!-- <app-loader></app-loader> -->
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>