        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">
                    <a href="#" class="account-logo"><img src="assets/images/ic_app_logo.png" alt=""></a>
                    <h3 class="text-center mt-0 m-b-15">
                       Login
                    </h3>
                    <div class="px-3">
                        <!-- Success msg html -->
                        <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                            {{ successMessage }}
                        </div>
                        <!-- Error msg html -->
                        <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                            {{ errorMessage }}
                        </div>
                    </div>

                    <div class="px-3">
                        <form class="form-horizontal" action="" name="adminLogin" #f="ngForm" (ngSubmit)="onSubmit()" novalidate>

                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" type="email" name="email" [(ngModel)]="loginModel.email" required="" placeholder="Email">
                                    <span *ngIf="addValidationError.email" class="error-validation">{{addValidationError.email}}</span>

                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" type="password" name="password" [(ngModel)]="loginModel.password" required="" placeholder="Password">
                                    <span *ngIf="addValidationError.password" class="error-validation">{{addValidationError.password}}</span>

                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1" name="remember" [(ngModel)]="loginModel.remember">
                                        <label class="custom-control-label" for="customCheck1">Remember me</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group text-center row m-t-20">
                                <div class="col-12">
                                    <button class="login_btn" type="submit">Log In</button>
                                </div>
                            </div>

                            <div class="form-group m-t-10 mb-0 row">
                                <!-- <div class="col-sm-7 m-t-20">
                                    <a href="" class="text-muted"><i class="mdi mdi-lock"></i> <small>Forgot your password ?</small></a>
                                </div> -->
                                <!-- <div class="col-sm-5 m-t-20">
                                    <a href="" class="text-muted"><i class="mdi mdi-account-circle"></i> <small>Create an account ?</small></a>
                                </div> -->
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>