<div class="main_wrap fixed-left">
  <div id="wrapper">
    <app-admin-sidebar></app-admin-sidebar>
    <div class="content-page">
      <div class="content">
        <app-admin-header></app-admin-header>
        <div class="page-content-wrapper ">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="page-title-box">
                  <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                      <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
                      <li class="breadcrumb-item active">Candidate Detail</li>
                    </ol>
                  </div>
                  <h4 class="page-title">Candidate Detail</h4>
                </div>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-md-12">
                <div class="d-flex shadow rounded mb-2 px-3 approval-area">

                  <!--<a [routerLink]="['/admin/candidates/all']"
                      style="margin:5px; " class="btn-info hover_effect add-pack blue-btn ml-4">
                      <span class="bg"></span>
                      <span class="txt" id="Customised" name="Customised">Back</span></a>-->

                  <button *ngIf="candidatelist?.status == 0" style="margin:5px;" class="btn btn-primary hover_effect "
                    (click)="approveCandidate(candidatelist?._id,candidatelist?.status)">
                    <span class="bg"></span>
                    <span class="txt" id="Customised" name="Customised">Approve</span></button>

                  <button *ngIf="candidatelist?.status == 1" style="margin:5px;" class="btn hover_effect approved-btn">
                    <span class="bg"></span>
                    <span class="txt" id="Customised" name="Customised">Approved</span></button>

                  <button *ngIf="candidatelist?.status == 1 || candidatelist?.status == 0 " style="margin:5px;"
                    class="btn-primary hover_effect blue-btn"
                    (click)="rejectCandidate(candidatelist?._id,candidatelist?.status)">
                    <span class="bg"></span>
                    <span class="txt" id="Customised" name="Customised">Reject</span></button>
                  <!-- <button style="margin:5px;" class="btn-primary hover_effect blue-btn">
                    <span class="bg"></span>
                    <span class="txt">Arrange Call</span></button> -->
                  <!-- Button trigger modal -->
                  <button type="button" style="margin:5px;" class="btn-primary hover_effect blue-btn" data-toggle="modal" data-target="#exampleModalCenter" *ngIf="candidatelist?.status == 0">
                    <span class="bg"></span>
                    <span class="txt">Arrange Call</span>
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Arrange call for candidate</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body d-flex" *ngIf="availabilityDate.length>0">
                          <div class="time-box d-flex align-items-center" *ngFor="let interestsTabdatas of availabilityDate; let i =index">
                            <input type="radio" class="mr-2" [value]=interestsTabdatas [(ngModel)]="adminModel.availabilitytime" (click)="check()">
                            <label for={{interestsTabdatas}} class="mb-0">{{interestsTabdatas}}</label>
                          </div>
                        </div>
                        <div class="modal-body d-flex" *ngIf="availabilityDate.length==0">
                          <p>No data found for now!!!</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-primary hover_effect blue-btn" data-dismiss="modal" *ngIf="sendmail==true" (click)="sendMail(candidatelist?.email)">Send Mail</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card m-b-30">
                  <div class="card-body">
                    <div class="user_profile">
                      <div class="profile_img">
                        <!-- <div class="inner">
                          <img src="/assets/img/dummy-user.jpg" alt="">
                          <button class="btn video_btn" type="button" data-toggle="modal" data-target="#videoModal"><i
                              class="fas fa-play-circle"></i></button>
                        </div> -->
                      </div>
                      <div class="details">
                        <div class="row">
                          <div class="col-md-5">
                            <h4>{{candidatelist?.name}}</h4>
                            <p><a href="mailto:mark_cambridge@gmail.com"><span class="icon"><i
                                    class="fas fa-envelope"></i></span>{{candidatelist?.email}}</a></p>
                            <p><a href="tel:0123456789"><span class="icon"><i
                                    class="fas fa-phone-alt"></i></span>{{candidatelist?.countrylist}}{{candidatelist?.phone}}</a>
                            </p>

                            <p class="adderss"><span class="icon"><i
                                  class="fas fa-location-arrow"></i></span>{{candidatelist?.location}}</p>
                          </div>
                          <div class="col-md-7">
                            <ul class="other_details" *ngFor="let letsgoTabdatas of letsgoTabdata">
                              <li class="git_link">
                                <span class="icon"><i class="fab fa-github"></i></span>
                                <a href="https://github.com/" target="_blank">{{letsgoTabdatas.link_github}}</a>
                              </li>
                              <li class="git_link">
                                <a href="https://linkedin.com/" target="_blank"><span class="icon"><i
                                      class="fab fa-linkedin-in"></i></span>{{letsgoTabdatas.link_linkedin}}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3" *ngIf="candidatelist?.login_type_status == 4">
                  <div class="card-title">
                    <h5>About you Details</h5>
                  </div>
                  <div class="card-body degree_card">
                    <div class="card">
                      <div class="card-body">
                        <ul *ngFor="let letsgoTabdatas of letsgoTabdata">
                          <li class="sector">
                            <h5>Current Job Title</h5>
                            <p>{{letsgoTabdatas.c_job_title}}</p>
                          </li>
                          <li class="sector">
                            <h5>For Who?</h5>
                            <p>{{letsgoTabdatas.for_who}}</p>
                          </li>
                          <li class="sector">
                            <h5>Employment Type</h5>
                            <p>{{letsgoTabdatas.job_type}}</p>
                          </li>
                          <li class="sector">
                            <h5>Sector</h5>
                            <p>{{letsgoTabdatas.sector}}</p>
                          </li>
                          <li class="special_in">
                            <h5>Skills</h5>
                            <ul>
                              <li>{{letsgoTabdatas.skills}}</li>

                            </ul>
                          </li>

                          <li class="sector">
                            <h5>Experience</h5>
                            <p>{{letsgoTabdatas.experience}}</p>
                          </li>
                          <!-- <li class="sector">
                            <h5>Specific project experience</h5>
                            <p>{{letsgoTabdatas.specific_project_experience}}</p>
                          </li> -->
                          <li class="sector">
                            <h5>Actively Looking </h5>
                            <p>{{letsgoTabdatas.current_status}}</p>
                          </li>
                          <!-- <li class="sector">
                            <h5>Your Website</h5>
                            <p>{{letsgoTabdatas.your_website}}</p>
                          </li>
                          <li class="special_in">
                            <h5>Relevant Project Work Links</h5>
                            <ul>
                              <li>{{letsgoTabdatas.relevent_project_work_links}}</li>
                             
                            </ul>
                            </li> -->
                          <li class="sector">
                            <h5>Personal Website / Relevant project Upload</h5>
                            <p>{{letsgoTabdatas.skill_assessment_upload}}</p>
                          </li>
                          <li class="sector">
                            <h5>CV Upload</h5>
                            <p>{{letsgoTabdatas.cv_upload}}</p>
                          </li>

                          <li class="sector">
                            <h5>Reference Upload</h5>
                            <p>{{letsgoTabdatas.reference_upload}}</p>
                          </li>

                        </ul>
                      </div>
                    </div>


                  </div>
                </div>

                <div class="card mb-3" *ngIf="candidatelist?.login_type_status == 4">
                  <div class="card-title">
                    <h5>Academia</h5>
                  </div>
                  <div class="card-body degree_card">
                    <div class="card">
                      <div class="card-body">
                        <ul *ngFor="let degreeTabdatas of degreeTabdata; let i = index">
                          <li>
                            <h6>Qualification {{i+1}}</h6>
                            <p>{{degreeTabdatas.candidate_qualification[i]}}</p>
                          </li>
                          <li>
                            <h6>University {{i+1}}</h6>
                            <p>{{degreeTabdatas.university[i]}}</p>
                          </li>
                          <li>
                            <h6>Grade {{i+1}}</h6>
                            <p>{{degreeTabdatas.grade[i]}}</p>
                          </li>
                          <li>
                            <h6>Date {{i+1}}</h6>
                            <p>{{degreeTabdatas.date[i]}}</p>
                          </li>

                        </ul>
                      </div>
                    </div>


                  </div>
                </div>
                <div class="card mb-3" *ngIf="candidatelist?.login_type_status == 4">
                  <div class="card-title">
                    <h5>Ideal Job</h5>
                  </div>
                  <div class="card-body degree_card">
                    <div class="card">
                      <div class="card-body">
                        <ul *ngFor="let currentjobTabdatas of currentjobTabdata">
                          <li>
                            <h6>Job Title</h6>
                            <p>{{currentjobTabdatas.t_job_title}}</p>
                          </li>
                          <li>
                            <h6>Type of Employment</h6>
                            <p>{{currentjobTabdatas.type_role}}</p>
                          </li>
                          <li>
                            <h6>Target Salary</h6>
                            <p>{{currentjobTabdatas.currencylist}}
                              {{currentjobTabdatas.target_salary}}/{{currentjobTabdatas.salary_type}}</p>
                          </li>
                          <li>
                            <h6>Preffered Locaton</h6>

                            <p>{{currentjobTabdatas.preffered_location}}</p>

                          </li>
                          <!-- <li>
                            <h6>Current status</h6>
                            <p>{{currentjobTabdatas.current_status}}</p>
                          </li> -->
                          <li>
                            <h6>Ideal Start Date</h6>
                            <p>{{currentjobTabdatas.ideal_start_date}}</p>
                          </li>
                          <li>
                            <h6>Preffered Industry</h6>
                            <p>{{currentjobTabdatas.preffered_industry}}</p>
                          </li>

                          <li>
                            <h6>Company Size</h6>
                            <p>{{currentjobTabdatas.size1}}</p>
                          </li>
                          <li>
                            <h6>Culture</h6>
                            <p>{{currentjobTabdatas.company_type}}</p>
                          </li>
                          <li>
                            <h6>Main Drivers</h6>
                            <p>{{currentjobTabdatas.main_driver}}</p>
                          </li>
                        </ul>
                      </div>
                    </div>


                  </div>
                </div>
                <div class="card mb-3" *ngIf="candidatelist?.login_type_status == 4">
                  <div class="card-title">
                    <h5>Interests/About you</h5>
                  </div>
                  <div class="card-body job_card">
                    <div class="card">
                      <div class="card-body">
                        <ul *ngFor="let interestsTabdatas of interestsTabdata">
                          <li>
                            <h6>How would your best friend describe you?</h6>
                            <p>{{interestsTabdatas.describe_friend}}</p>
                          </li>
                          <li>
                            <h6>What do you do well and what not so well?</h6>
                            <p>{{interestsTabdatas.do_well}}</p>
                          </li>
                          <li>
                            <h6>Passions outside of work?</h6>
                            <p>{{interestsTabdatas.passion}}</p>
                          </li>
                          <li>
                            <h6>Goals for the next 3 years?</h6>
                            <p>{{interestsTabdatas.goals}}</p>
                          </li>
                          <li>
                            <h6>Anything else you wish us to know?</h6>
                            <p>{{interestsTabdatas.anything_else}}</p>
                          </li>
                          <li>
                            <h6>Video Upload (Optional)</h6>
                            <p>{{interestsTabdatas.video_upload}}</p>
                          </li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="row pt-3">
                  <div class="col-md-6">
                      <div class="d-flex" >
                          
                          <a [routerLink]="['/admin/candidates/all']"
                          style="margin:5px; " class="btn-info hover_effect add-pack blue-btn ml-4">
                          <span class="bg"></span>
                          <span class="txt" id="Customised" name="Customised">Back</span></a>
                          
                          <button *ngIf = "candidatelist.status == 0"  style="margin:5px;" class="btn-primary hover_effect blue-btn"
                          (click)="approveCandidate(candidatelist._id,candidatelist.status)"
                          > 
                          <span class="bg"></span>
                          <span class="txt" id="Customised"
                              name="Customised">Approve</span></button>

                          <button *ngIf = "candidatelist.status == 1"  style="margin:5px;" class="btn-success hover_effect1 blue-btn" > 
                              <span class="bg1"></span>
                              <span class="txt1" id="Customised"
                                  name="Customised">Approved</span></button>

                          
                              
                          <button *ngIf = "candidatelist.status == 1 || candidatelist.status == 0 "  style="margin:5px;" class="btn-primary hover_effect blue-btn"
                          (click)="rejectCandidate(candidatelist._id,candidatelist.status)" > 
                                <span class="bg"></span>
                                <span class="txt" id="Customised"
                              name="Customised">Reject</span></button>
                      </div>
                      
                  </div>
              </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        © 2020 Swipe Up.
      </footer>

    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="videoModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closemodal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <video>
          <source>
        </video>
      </div>
    </div>
  </div>
</div>