.profile_img {
  position: relative;

  .inner {
    position: relative;
  }

  img {
    max-width: 180px;
    width: 100%;
  }

  .video_btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 0;
    font-size: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 1;
    color: #D0021B;
  }
}

.user_profile {
  display: flex;

  .details {
    padding-left: 20px;
    padding-right: 20px;
    flex: 0 0 100%;
    max-width: calc(100% - 180px);

    h4 {
      font-size: 24px;
      padding-bottom: 15px;
    }

    p {
      font-size: 14px;
      padding-bottom: 8px;

      &.adderss {
        padding-bottom: 0;
      }

      .icon {
        color: #000;
        display: inline-block;
        width: 28px;
        padding-right: 10px;
      }

      a {
        color: #D0021B;
      }
    }
  }
}

.other_details {
  list-style: none;
  font-size: 16px;

  span.icon {
    width: 35px;
    display: inline-block;
    font-size: 22px;
    color: #000;
  }

  .git_link {
    a {
      color: #D0021B;
    }

    color: #D0021B;
  }


  li {
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }

    h5 {
      font-size: 20px;
      padding-bottom: 5px;
    }
  }

  .sector {
    p {
      display: inline-block;
      background: #D0021B;
      color: #fff;
      line-height: 1;
      padding: 5px 10px;
      border-radius: 3px;
      font-size: 14px;
    }
  }

  .special_in {
    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;

      li {
        background: #D0021B;
        color: #fff;
        line-height: 1;
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 12px;
        margin: 2px;
      }
    }
  }
}

.card-title {
  background: #D0021B;
  margin: 0;
  border-radius: .25rem .25rem 0 0;
  padding: 10px 15px;

  h5 {
    margin: 0;
    color: #fff;
  }
}

.degree_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  counter-reset: card;
  padding: 20px;

  .card {
    flex: 0 0 32%;
    max-width: 32%;
    padding-left: 50px;

    &::before {
      counter-increment: card;
      content: counter(card);
      position: absolute;
      top: 10px;
      left: 10px;
      width: 40px;
      height: 40px;
      background: #D0021B;
      color: #fff;
      border-radius: 50%;
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ul {
    list-style: none;

    li {
      padding-bottom: 12px;

      &:last-child {
        padding-bottom: 0;
      }

      h6 {
        font-size: 18px;
      }
    }
  }
}

.job_card {
  ul {
    list-style: none;

    li {
      padding-bottom: 12px;

      &:last-child {
        padding-bottom: 0;
      }

      h6 {
        font-size: 18px;
      }
    }
  }
}

.add-pack {
  background-color: #D0021B;
  border-color: #D0021B;
  border-radius: 25px;
  border-width: 2px;
  color: #fff !important;

  &.hover_effect {
    position: relative;
    overflow: hidden;

    .bg {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      width: 0;
      height: 0;
      background-color: #fff;
      border-radius: 25px;
      opacity: .9;
      transform: translate(-50%, -50%);
      transition: 425ms cubic-bezier(.5, 0, .07, 1);

    }

    .txt {
      position: relative;
      z-index: 9;
    }

    &:hover {
      transition: color .55s cubic-bezier(.5, 0, .07, 1);
      color: #D0021B !important;
      background: #D0021B;
      border-color: #D0021B;

      .bg {
        border: 2px solid #D0021B;
      }

      .bg {
        width: 105%;
        height: 0;
        padding-top: 40px;
        opacity: 1;
        transition: .55s cubic-bezier(.5, 0, .07, 1);
      }
    }
  }

}

.add-pack1 {
  background-color: #13965f;
  border-color: #13965f;
  border-radius: 25px;
  border-width: 2px;
  color: #fff !important;

  &.hover_effect1 {
    position: relative;
    overflow: hidden;

    .bg1 {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      width: 0;
      height: 0;
      background-color: #fff;
      border-radius: 25px;
      opacity: .9;
      transform: translate(-50%, -50%);
      transition: 425ms cubic-bezier(.5, 0, .07, 1);

    }

    .txt1 {
      position: relative;
      z-index: 9;
    }

    &:hover1 {
      transition: color .55s cubic-bezier(.5, 0, .07, 1);
      color: #13965f !important;
      background: #13965f;
      border-color: #13965f;

      .bg1 {
        border: 2px solid #13965f;
      }

      .bg1 {
        width: 105%;
        height: 0;
        padding-top: 40px;
        opacity: 1;
        transition: .55s cubic-bezier(.5, 0, .07, 1);
      }
    }
  }

}

.add-pack2 {
  background-color: #c41633;
  border-color: #c41633;
  border-radius: 25px;
  border-width: 2px;
  color: #fff !important;

  &.hover_effect2 {
    position: relative;
    overflow: hidden;

    .bg2 {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      width: 0;
      height: 0;
      background-color: #fff;
      border-radius: 25px;
      opacity: .9;
      transform: translate(-50%, -50%);
      transition: 425ms cubic-bezier(.5, 0, .07, 1);

    }

    .txt2 {
      position: relative;
      z-index: 9;
    }

    &:hover {
      transition: color .55s cubic-bezier(.5, 0, .07, 1);
      color: #c41633 !important;
      background: #c41633;
      border-color: #c41633;

      .bg2 {
        border: 2px solid #c41633;
      }

      .bg2 {
        width: 105%;
        height: 0;
        padding-top: 40px;
        opacity: 1;
        transition: .55s cubic-bezier(.5, 0, .07, 1);
      }
    }
  }

}

.approval-area {
  padding: 5px 0 2px;

  button {
    width: 100%;
    max-width: 182px;
    @media (min-width: 1920px) {
      max-width: 200px;
    }
  }
}

.approved-btn {
  background-color: #1e7e34;
  border-radius: 27px;
  color: #fff;
}

.modal-content{
  .modal-header {
    position: relative;
    box-sizing: border-box;
    justify-content: center;
    width: 32em;
    max-width: 100%;
    padding: 1.25em;
    border: none;
    border-radius: 5px;
    background: #fff;
    font-family: inherit;
    font-size: 1rem;
  
    .modal-title {
      position: relative;
      max-width: 100%;
      margin: 0 0 .4em;
      padding: 0;
      color: #595959;
      font-size: 20px;
      font-weight: 600;
      text-transform: none;
      word-wrap: break-word;
    }
  
    .close {
      max-width: 20px;
      transform: translate(-27px, 2px);
    }
  }
  .modal-body{
    .time-box{
      margin-right: 1rem;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  .modal-footer{
    border-top: 0;
  }
}