.login_in {
    background: linear-gradient(122deg, rgba(49, 106, 113, 1) 0%, rgba(49, 106, 113, 1) 28%, rgba(131, 192, 201, 1) 75%);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 30px 0;
    .main-logo {
        margin: auto;
        display: flex;
    }
}

.box {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 114, 186, 0.16);
    padding-top: 20px;
    margin-top: 12%;
    @media (min-width: 1600px) {
        padding-top: 30px;
        margin-top: 30px;
        max-width: 600px;
    }
    @media (min-width:1920px) {
        margin-top: 10%;
    }
}

.logo_area {
    text-align: center;
    img {
        max-width: 50px;
        width: 100%;
        @media (min-width: 1600px) {
            max-width: 66px;
        }
    }
}

.txt_area {
    text-align: center;
    padding-bottom: 20px;
    @media (min-width: 1600px) {
        padding-bottom: 33px;
    }
    h2 {
        font-size: 25px;
        font-weight: 700;
        color: #000;
        padding-top: 20px;
        padding-bottom: 5px;
        @media (min-width: 1600px) {
            padding-top: 33px;
            padding-bottom: 22px;
        }
    }
    h3 {
        font-size: 18px;
        font-weight: 600;
        @media (min-width: 1600px) {
            font-size: 20px;
        }
    }
    h6 {
        color: #000;
        font-weight: 500;
        font-size: 16px;
        @media (min-width: 1600px) {
            font-size: 18px;
        }
    }
}

.tabs_area {
    padding: 1rem;
    background: #fff;
    @media (min-width: 768px) {
        padding: 4rem 4rem 0;
    }
    .form-group {
        position: relative;
        margin-bottom: 15px;
        @media (min-width: 1600px) {
            margin-bottom: 22px;
        }
        input {
            background: #F9F9F9;
            height: 40px;
            font-size: 14px;
            font-weight: 500;
            border-radius: 6px;
            padding-left: 45px;
            border: 1px solid #f9f9f9;
            @media (min-width: 1600px) {
                height: 50px;
                font-size: 18px;
            }
            &::placeholder {
                color: rgba(0, 0, 0, 0.3);
            }
            &:focus {
                box-shadow: none;
                border-color: #D0021B;
            }
            &.errormsg {
                border-color: red;
            }
        }
        input[type=number] {
            -moz-appearance: textfield;
        }
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        span.icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 45px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                max-width: 20px;
            }
        }
    }
    .checkbx {
        display: flex;
        justify-content: space-between;
        .left {
            padding-left: 5px;
        }
        a {
            font-size: 12px;
            font-weight: 500;
            color: #D0021B;
            @media (min-width: 1600px) {
                font-size: 14px;
            }
        }
        input {
            transform: scale(1.2);
            width: auto;
            height: auto;
            margin-right: 7px;
            margin-top: 3px;
            @media (min-width: 1600px) {
                transform: scale(1.5);
                margin-right: 14px;
                margin-top: 5px;
            }
        }
        label {
            font-size: 12px;
            color: #8F8F8F;
            font-weight: 300;
            @media (min-width: 1600px) {
                font-size: 14px;
            }
            span {
                color: #565656;
            }
            a {
                font-weight: 500;
                color: #D0021B;
            }
        }
    }
    .btn_area {
        text-align: center;
        padding-bottom: 22px;
        button {
            max-width: 200px;
            width: 100%;
            height: 40px;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 600;
            @media (min-width: 1600px) {
                font-size: 20px;
                max-width: 250px;
                height: 50px;
            }
        }
        p {
            font-size: 12px;
            font-weight: 300;
            color: #565656;
            @media (min-width: 1600px) {
                font-size: 14px;
            }
            a {
                font-weight: 500;
                color: #D0021B;
            }
        }
    }
}

.logo_area {
    position: absolute;
    top: 0;
    left: 15px;
    .inner {
        position: relative;
        margin: 0;
        background: #D0021B;
        padding: 8px 12px;
        @media (min-width: 1600px) {
            padding: 16px 17px;
        }
        &:after {
            content: "";
            width: 100%;
            height: 35px;
            background: #D0021B;
            position: absolute;
            top: 100%;
            left: 0;
            border-radius: 0 0 0 50px;
            @media (min-width: 1600px) {
                height: 50px;
            }
        }
    }
    img {
        max-width: 50px;
        width: 100%;
        @media (min-width: 1600px) {
            max-width: 66px;
        }
    }
}

.container {
    position: relative;
}