<!-- <app-header></app-header> -->
<section class="login_in">
    <div class="container">
        <img src="./assets/img/logo.png" class="main-logo" alt="">
        <div class="con_inner">
            <div class="box">
                <div class="upper">
                    <div class="txt_area">
                        <!-- <h2>HIRE DIGITAL TALENT</h2> -->
                        <h3 class="font-weight-bold">Sign In</h3>
                    </div>

                    <div class="tabs_area">
                        <div class="alert alert-danger sub_msg" *ngIf="errMsg">{{message}}</div>
                        <div class="form-group">
                            <span class="icon"><img src="./assets/img/icons/mail.png" alt=""></span>
                            <input type="text" class="form-control" placeholder="E-mail" (keyup)="checkvalidations()" name="email" [(ngModel)]="loginModel.email" [ngClass]="{'errormsg': validationemail===true}">
                        </div>
                        <div class="form-group">
                            <span class="icon"><img src="./assets/img/icons/lock.png" alt=""></span>
                            <input type="password" class="form-control" placeholder="Password" (keyup)="checkvalidations()" name="password" [(ngModel)]="loginModel.password" [ngClass]="{'errormsg': validationpassword===true}">
                        </div>
                        <div class="form-group">
                            <div class="checkbx">
                                <div class="left"><input type="checkbox" [(ngModel)]="ischecked" (change)="toggleVisibility($event)">
                                    <label>Remember me</label>
                                </div>
                                <div class="right">
                                    <a href="#" class="font-weight-bold">Forgot Password</a>
                                </div>
                            </div>
                        </div>
                        <div class="btn_area">
                            <button class="btn btn-primary hover_effect" [ngClass]="{'buttonDisable': buttonDisable===true}" (click)="logincandidate()">
                <span class="bg"></span>
                <span class="txt" >Sign In</span>
              </button>
                            <p>Create Account <a [routerLink]="['/employer']">Sign up</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>