<div class="topbar">

  <nav class="navbar-custom">

    <ul class="list-inline float-right mb-0">
      <li class="list-inline-item dropdown notification-list">
        <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
          aria-haspopup="false" aria-expanded="false">
          <i class="far fa-bell noti_icon"></i>
          <!-- <span class="badge badge-success noti-icon-badge">23</span> -->
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg">
          <div class="dropdown-item noti-title">
            <h5><!--<span class="badge badge-danger float-right">87</span>-->Notification</h5>
          </div>
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <div class="notify-icon bg-primary"><i class="mdi mdi-cart-outline"></i></div>
            <p class="notify-details"><b>Your order is placed</b><small class="text-muted">Dummy text of the printing
                and typesetting industry.</small></p>
          </a>
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <div class="notify-icon bg-success"><i class="mdi mdi-message"></i></div>
            <p class="notify-details"><b>New Message received</b><small class="text-muted">You have 0 unread
                messages</small></p>
          </a>
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            <div class="notify-icon bg-warning"><i class="mdi mdi-martini"></i></div>
            <p class="notify-details"><b>Your item is shipped</b><small class="text-muted">It is a long established fact
                that a reader will</small></p>
          </a>
          <a href="javascript:void(0);" class="dropdown-item notify-item">
            View All
          </a>

        </div>
      </li>

      <li class="list-inline-item dropdown notification-list">
        <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#"
          role="button" aria-haspopup="false" aria-expanded="false">
          <img src="/register/assets/img/pro_img.jpg" alt="user" class="rounded-circle">
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
          <!-- item-->
          <div class="dropdown-item noti-title">
            <h5>Welcome</h5>
          </div>
          <a class="dropdown-item" [routerLink]="['/admin/dashboard/']"><i class="mdi mdi-account-circle m-r-5 text-muted"></i> Profile</a>
          <!-- <a class="dropdown-item" href="#"><i class="mdi mdi-wallet m-r-5 text-muted"></i> My Wallet</a>
          <a class="dropdown-item" href="#"><span class="badge badge-success float-right">5</span><i
              class="mdi mdi-settings m-r-5 text-muted"></i> Settings</a>
          <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline m-r-5 text-muted"></i> Lock screen</a> -->
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="logoutclick()"><i class="mdi mdi-logout m-r-5 text-muted"></i> Logout</button>
        </div>
      </li>

    </ul>

    <ul class="list-inline menu-left mb-0">
      <li class="float-left">
        <button class="button-menu-mobile open-left waves-light waves-effect">
          <i class="mdi mdi-menu"></i>
        </button>
      </li>
    </ul>

    <div class="clearfix"></div>

  </nav>

</div>
