header {
    background: #fff;
    box-shadow: 0 2px 12px #0000001a;
    position: relative;
    .navbar {
        padding: 20px 0;
        ul {
            align-items: flex-end;
            @media (min-width: 1024px) {
                align-items: center;
            }
            li {
                @media (min-width: 1024px) {
                    padding-right: 50px;
                }
                &:last-child {
                    padding-right: 0;
                }
                a {
                    font-size: 14px;
                    color: #000000;
                    text-decoration: none;
                    @media (min-width: 1600px) {
                        font-size: 16px;
                    }
                    &:hover {
                        color: #D0021B;
                    }
                    &.btn {
                        padding: 9px 22px;
                        font-weight: 500;
                        @media (min-width: 1600px) {
                            padding: 9px 16px;
                        }
                    }
                }
            }
        }
        .navbar-toggler {
            padding: 0;
            span {
                background-color: #d0021b;
                width: 32px;
                height: 4px;
                display: flex;
                margin-bottom: 3px;
            }
        }
    }
    .navbar-brand {
        img {
            max-width: 150px;
            width: 100%;
        }
    }
}

.notification-counter {
    position: absolute;
    top: -5px;
    background: #d0021b;
    border-radius: 50%;
    color: #fff;
    width: 15px;
    height: 15px;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -13px;
}

.dropdown-toggle::after {
    display: none;
}

.notfication-area {
    padding: 35px 20px;
    position: fixed;
    right: -42%;
    top: 0;
    background: #fef7f7;
    z-index: 9999;
    width: 100%;
    max-width: 42%;
    height: 100%;
    transition: 0.5s all 0.2s ease-in-out;
    .cross {
        i {
            font-size: 22px;
        }
    }
    .notification-list {
        li {
            background-color: #fff;
            border-radius: 5px;
            padding: 16px !important;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:last-child {
                margin-bottom: 0px;
            }
            .del-noti {
                background: #d0021b;
                color: #fff;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 19px;
            }
        }
    }
}

.show-notification {
    right: 0%;
    transition: 0.5s all 0.2s ease-in-out;
}