<router-outlet></router-outlet>
<div class="inner" *ngIf="spinner.isLoading" style="display: flex;justify-content: center;align-items: center;z-index: 9999999999999;top: 0;
bottom: 0;left: 0;right: 0;background: #f2f2f2;position: fixed;">
    <spinner [isLoading]="true" [viewBox]="1"></spinner>
</div>
