<div id="wrapper">
  <div class="content-page">
    <div class="content">
      <div class="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="btn-group float-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">The Pragmatic</a></li>
                    <li class="breadcrumb-item active">New Request</li>
                  </ol>
                </div>
                <h4 class="page-title">New Request</h4>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-between">
            <div class="col-sm-12 col-md-6">
              <div class="table_heading d-flex align-items-center justify-content-between">
                <h6><span>{{count}} </span> Total New Request</h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive mt-md-0 mt-4" id="table">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>
                            <div class="text-center">For Whom</div>
                          </th>
                          <th class="text-center">Receiver Name</th>
                          <th class="text-center">Religion</th>
                          <th class="text-center">Customs & Traditions</th>
                          <th class="text-center">Health Problem</th>
                          <th>
                            <div class="text-center">Action</div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let newrequest of newRequestArray | paginate : {
                          itemsPerPage: pageSize,
                          currentPage: page,
                          totalItems: count
                        }; let i = index ">
                          <td class="text-center" scope="row">{{ i + 1 }}</td>
                          <td class="text-center">{{newrequest?.myself}}</td>
                          <td class="text-center">{{newrequest?.receiverDetails}}</td>
                          <td class="text-center">{{newrequest?.religions?.religion ? newrequest?.religions?.religion : 'N/A'}}</td>
                          <td class="text-center">{{ newrequest?.customsandtraditions?.custom_tradition ? newrequest?.customsandtraditions?.custom_tradition: 'N/A'}}</td>
                          <td class="text-center">{{ newrequest?.any_health_prob_text ? newrequest?.any_health_prob_text : 'N/A'}}</td>
                          <td class="text-center">
                            <ul class="d-flex justify-content-center">
                              <li><a class="table_btn btn-success mx-2 p-1"
                                [routerLink]="['/post-request/new-request/new-post-detail', newrequest._id, newrequest.receiverid]" >Details</a></li>
                            </ul>
                          </td>
                        </tr>

                        <tr>
                          <td *ngIf="newRequestArray.length == 0" class="no-data" colspan="7">No New Request Yet.</td>
                        </tr>
                      
                      </tbody>
                    </table>
                  </div>
                  <nav aria-label="Page navigation example">
                    <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
