.navbar-custom{
    a{
        &.dropdown-toggle{
            i{
                font-size: 25px;
                color: #fff;
                position: relative;
                top: 5px;
            }
        }
    }
}
.sub-dropdown{
    ul{
        padding: 0 0px 0 26px;
        li{
            a{
                font-size: 14px;
            }
        }
    }
}