<div id="wrapper">
  <div class="content-page">
    <div class="content">
      <div class="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="btn-group float-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">The Pragmatic</a></li>
                    <li class="breadcrumb-item active">Complete</li>
                  </ol>
                </div>
                <h4 class="page-title">Complete</h4>
              </div>
            </div>
          </div>
          <div class="row justify-content-md-between">
            <div class="col-sm-12 col-md-6">
              <div class="table_heading d-flex align-items-center justify-content-between">
                <h6><span>{{count}} </span> Total Complete</h6>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive mt-md-0 mt-4" id="table">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>
                            <div class="text-center" style="width: 110px;">Reciever Name</div>
                          </th>
                          <th class="text-center">Phone</th>
                          <th class="text-center">Minimum Rate</th>
                          <th class="text-center">CW Name</th>
                          <th class="text-center">CW Religion</th>
                          <th class="text-center">Hair &amp; Grooming</th>
                          <th class="text-center">
                            <div class="text-center">Action</div>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let complete of CompletedRequestArray | paginate : {
                          itemsPerPage: pageSize,
                          currentPage: page,
                          totalItems: count
                        }; let i = index ">
                        <th class="text-center" scope="row">{{ i + 1 }}</th>
                        <td>{{complete?.receiverName != '' ? complete?.receiverName : 'N/A'}}</td>
                        <td>{{complete?.receiverMobileno != '' ? complete?.receiverMobileno : 'N/A'}}</td>
                        <td>${{complete?.rate != '' ? complete?.rate : 0}}</td>
                        <td>{{complete?.workerName != '' ? complete?.workerName : 'N/A'}}</td>
                        <td>{{complete?.ethnicorigins != '' ? complete?.ethnicorigins : 'N/A'}}</td>
                        <td>{{complete?.hair != '' ? complete?.hair : 'N/A'}}</td>
                          <td class="text-center">
                            <ul class="d-flex justify-content-center">
                              <li><a  [routerLink]="['/post-request/complete/complete-post-detail', complete.postId, complete.receiverId]" class="table_btn btn-success mx-2 p-1" >Post Details</a></li>
                            </ul>
                          </td>
                        </tr>

                        <tr>
                          <td *ngIf="CompletedRequestArray.length == 0" class="no-data" colspan="8">No post completed Yet.</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <nav aria-label="Page navigation example">
                    <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
