<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row product-page">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Products</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Products</h4>
                            </div>
                        </div>
                   </div>
                   <div class="row">
                    <div class="col-sm-12">
                        <div class="proudct_numbering">
                            <div class="btn-group float-right">
                                <a  [routerLink]="['/add_product']" class="btn-danger add-btn">Add Product</a>
                            </div>
                            <h5 class="total_product">Total Product 3</h5>
                        </div>
                    </div>
                   </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <div class="table-responsive mt-md-0 mt-4" id="table">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th style="width:10%">Image</th>
                                                    <th>Name</th>
                                                    <th>Company Name</th>
                                                    <th>Descriptions</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">1</th>
                                                    <td><img src="/assets/images/car.jpg" alt="" class="w-100"></td>
                                                    <td>Mark</td>
                                                    <td>Otto</td>
                                                    <td>Lorem Ipsum is not simply random text. </td>
                                                    <td>
                                                        <a [routerLink]="['/edit_product']" class="btn-primary p-1"><i
                                                                class="fa fa-pencil-square-o"
                                                                aria-hidden="true"></i></a>
                                                        <a  class="btn-success mx-2 p-1"
                                                            [routerLink]="['/product_view']"><i class="fa fa-eye"
                                                                aria-hidden="true"></i></a>
                                                        <a  class="btn-danger p-1"><i class="fa fa-trash"
                                                                aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">2</th>
                                                    <td><img src="/assets/images/car.jpg" alt="" class="w-100"></td>
                                                    <td>Mark</td>
                                                    <td>Otto</td>
                                                    <td>Lorem Ipsum is not simply random text. </td>
                                                    <td>
                                                        <a [routerLink]="['/edit_product']" class="btn-primary p-1"><i
                                                                class="fa fa-pencil-square-o"
                                                                aria-hidden="true"></i></a>
                                                        <a  class="btn-success mx-2 p-1"
                                                            [routerLink]="['/product_view']"><i class="fa fa-eye"
                                                                aria-hidden="true"></i></a>
                                                        <a  class="btn-danger p-1"><i class="fa fa-trash"
                                                                aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">3</th>
                                                    <td><img src="/assets/images/car.jpg" alt="" class="w-100"></td>
                                                    <td>Larry the Bird</td>
                                                    <td>Otto</td>
                                                    <td>Lorem Ipsum is not simply random text. </td>
                                                    <td>
                                                        <a [routerLink]="['/edit_product']" class="btn-primary p-1"><i
                                                                class="fa fa-pencil-square-o"
                                                                aria-hidden="true"></i></a>
                                                        <a  class="btn-success mx-2 p-1"
                                                            [routerLink]="['/product_view']"><i class="fa fa-eye"
                                                                aria-hidden="true"></i></a>
                                                        <a  class="btn-danger p-1"><i class="fa fa-trash"
                                                                aria-hidden="true"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination mt-4">
                                          <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                              <span aria-hidden="true">&laquo;</span>
                                            </a>
                                          </li>
                                          <li class="page-item active" aria-current="page">
                                            <span class="page-link">
                                              1
                                              <span class="sr-only">(current)</span>
                                            </span>
                                          </li>
                                          <li class="page-item"><a class="page-link" href="#">1</a></li>
                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                          <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                              <span aria-hidden="true">&raquo;</span>
                                            </a>
                                          </li>
                                        </ul>
                                      </nav>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>