<div class="fixed-left">
    <!-- <div id="preloader">
      <div id="status">
        <div class="spinner"></div>
      </div>
    </div> -->
  
    <div id="wrapper">
      <app-sidebar></app-sidebar>
      <div class="content-page">
        <div class="content">
          <app-header></app-header>
          <div class="page-content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="page-title-box">
                    <div class="btn-group float-right">
                      <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                        <li class="breadcrumb-item active">User List</li>
                      </ol>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12">
                  <div class="card m-b-30">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h4 class="total-user">{{ total }} Users Enquiry Found</h4>
                      <div class="search_bar">
                          <form class="d-flex align-items-center">
                              <input type="text" class="form-control" [(ngModel)]="loginModel.searchKey"
                                  name="searchKey" placeholder="Search...">
                              <button class="btn btn-primary" (click)="getSearching(currentPage)">Search</button>
                          </form>
                      </div>
                  </div>
                    <div class="card-body">
                      <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                        {{ successMessage }}
                    </div>
                    <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                        {{ errorMessage }}
                    </div>
                      <h4 class="mt-0 header-title">Users List</h4>
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th (click)="sortFunction('_id')" class="sort_menu">
                                Sr.No
                            </th>
                              <th (click)="sortFunction('name')" class="sort_menu">
                               Name
                            </th>
                            <th (click)="sortFunction('email')" class="sort_menu">
                              Email
                          </th>
                            <th  (click)="sortFunction('email')" class="sort_menu">
                              Subject
                          </th>
                          <th  (click)="sortFunction('country')" class="sort_menu">
                            Enquiry
                        </th>
                        <th  >
                          Date
                      </th>
                            </tr>
                          </thead>
                          <tbody>
                              <span *ngIf="loaderShow">
                                <app-loader></app-loader>
                              </span> 
                            <tr *ngFor="let obj of record; let i=index;">
                              <td>{{ (currentPage-1)*10+i+1 }}</td>
                              <td *ngIf='obj.user_details != null'>{{obj.user_details.name}}</td>
                              <td *ngIf='obj.user_details == null || obj.user_details.name == ""'>N/A</td>
                              <td *ngIf='obj.user_details != null'>{{obj.user_details.email}}</td>
                              <td *ngIf='obj.user_details == null'>N/A</td>
                              <td *ngIf='obj.subject != ""'>{{obj.subject}}</td>
                              <td *ngIf='obj.subject == ""'>N/A</td>
                              <td *ngIf='obj.query != ""'>{{ (obj.query.length>50)? (obj.query  | slice:0:50)+'...': (obj.query)}}</td>
                              <td *ngIf='obj.query == null'>N/A</td>
                              <td>{{obj.created_at | formatdate: 'dd MMM, yyyy'}}</td>
                           
                            </tr>
                            <tr *ngIf="recordcheck">
                              <td colspan="7" class="text-center" style="color:red;">
                                  No Record Found !
                              </td>
                          </tr>
                          </tbody>
                        </table>
                        <nav aria-label="Page navigation" class="mt-3">
                          <ul class="pagination">
                              <li class="page-item disabled_back" *ngIf="currentPage==1"><a
                                      class="page-link">Previous</a>
                              <li class="page-item" *ngIf="currentPage!=1" (click)="pageChange(currentPage-1)"><a
                                      class="page-link">Previous</a>
                              </li>
                              <li class="page-item" *ngFor='let in of counter(totalPages) ;let m = index'>
  
                                  <a class="page-link active" *ngIf="((m+1)==currentPage )">{{m+1}}</a>
                                  <a class="page-link"
                                      *ngIf="(m+1)!==currentPage && (m+1)>=(currentPage-2) && (m+1)<=(currentPage+2)"
                                      (click)="pageChange(m+1)">{{m+1}}</a>
                              </li>
  
                              <li class="page-item disabled_back" *ngIf="totalPages==currentPage">
                                  <a class="page-link">Next</a></li>
                              <li class="page-item" *ngIf="totalPages!==currentPage"
                                  (click)="pageChange(currentPage+1)">
                                  <a class="page-link">Next</a>
                              </li>
                          </ul>
                      </nav>
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
  
  
  