<div class="left side-menu">
  <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
    <i class="ion-close"></i>
  </button>

  <!-- LOGO -->
  <div class="topbar-left">
    <div class="text-center">
      <!-- <a href="index.html" class="logo"><i class="mdi mdi-assistant"></i> Annex</a> -->
      <a [routerLink]="['/dashboard']" class="logo"><img src="assets/images/headlogo.png" alt="logo" class="headlogo"></a>
    </div>
  </div>

  <div class="sidebar-inner slimscrollleft">

    <div id="sidebar-menu">
      <ul>
       <!--  <li class="menu-title">Main</li> -->

        <li>
          <a [routerLink]="['/dashboard']" class="waves-effect">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <span> Dashboard <span class="badge badge-pill badge-primary float-right"></span></span>
          </a>
        </li>
         <li>
          <a [routerLink]="['/user-list']" class="waves-effect">
            <i class="fa fa-list" aria-hidden="true"></i>
            <span> User List <span class="badge badge-pill badge-primary float-right"></span></span>
          </a>
        </li>
        <!-- <li>
          <a [routerLink]="['/car-company-model']" class="waves-effect">
            <i class="fa fa-car" aria-hidden="true"></i>
            <span> Car Management <span class="badge badge-pill badge-primary float-right"></span></span>
          </a>
        </li> -->
        <li>
          <a [routerLink]="['/view-company-list']" class="waves-effect">
            <i class="fa fa-car" aria-hidden="true"></i>
            <span> Car Management <span class="badge badge-pill badge-primary float-right"></span></span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/manage-content']" class="waves-effect">
            <i class="fa fa-list-alt" aria-hidden="true"></i>
            <span>Manage Content<span class="badge badge-pill badge-primary float-right"></span></span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/enquiry']" class="waves-effect">
            <i class="fa fa-file" aria-hidden="true"></i>
            <span>Users Enquiry<span class="badge badge-pill badge-primary float-right"></span></span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/part']" class="waves-effect">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            <span>Manage Parts<span class="badge badge-pill badge-primary float-right"></span></span>
          </a>
        </li>
        
        <!-- <li>
          <a class="waves-effect">
            <iframe src="http://free.timeanddate.com/clock/i7nlszh6/n1720/szw110/szh110/hocfff/hbw0/cf100/hgr0/fas20/facfff/fdi86/mqc000/mqs2/mql3/mqw4/mqd70/mhc000/mhs2/mhl3/mhw4/mhd70/mmv0/hhs3/hms3/hsc00f" frameborder="0" width="110" height="110"></iframe>
          </a>
        </li> -->
      
        
      </ul>
    </div>
    <div class="clearfix"></div>
  </div> <!-- end sidebarinner -->
</div>