<div id="wrapper">
  <app-sidebar></app-sidebar>
  <div class="content-page">
      <div class="content">
          <app-header></app-header>
          <div class="page-content-wrapper">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="page-title-box">
                              <div class="btn-group float-right">
                                  <ol class="breadcrumb hide-phone p-0 m-0">
                                      <li class="breadcrumb-item"><a href="#">The Pragmatic</a></li>
                                      <li class="breadcrumb-item active">Assign Workers</li>
                                  </ol>
                              </div>
                              <h4 class="page-title">Assign Workers</h4>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12">
                          <div class="table_heading d-flex align-items-center justify-content-between">
                              <h6><span>3 </span> Total Assign Workers</h6>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="card">
                              <div class="card-body">
                                  <div class="table-responsive mt-md-0 mt-4" id="table">
                                      <table class="table table-bordered">
                                          <thead>
                                              <tr>
                                                  <th>#</th>
                                                  <th>
                                                      <div style="width: 110px;">Worker Name</div>
                                                  </th>
                                                  <th>Worker Email</th>
                                                  <th>Worker Phone</th>
                                                  <th class="text-center"><div style="width:250px; text-align: center;">Action</div></th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <th scope="row">1</th>
                                                  <td>Mark</td>
                                                  <td>mark@gmail.com</td>
                                                  <td>+919876543210</td>
                                                  <td class="text-center">
                                                      <ul class="d-flex justify-content-center">
                                                          <li><a href="javascript:void(0)" class="table_btn btn-primary p-1">Assign</a></li>
                                                          <li><a class="table_btn btn-success mx-2 p-1" href="javascript:void(0)">Direct Assign</a></li>
                                                      </ul>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <th scope="row">2</th>
                                                  <td>Mark</td>
                                                  <td>mark@gmail.com</td>
                                                  <td>+919876543210</td>
                                                  <td class="text-center">
                                                      <ul class="d-flex justify-content-center">
                                                          <li><a href="javascript:void(0)" class="table_btn btn-primary p-1">Assign</a></li>
                                                          <li><a class="table_btn btn-success mx-2 p-1" href="javascript:void(0)">Direct Assign</a></li>
                                                      </ul>
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <th scope="row">3</th>
                                                  <td>Mark</td>
                                                  <td>mark@gmail.com</td>
                                                  <td>+919876543210</td>
                                                  <td class="text-center">
                                                      <ul class="d-flex justify-content-center">
                                                          <li><a href="javascript:void(0)" class="table_btn btn-primary p-1">Assign</a></li>
                                                          <li><a class="table_btn btn-success mx-2 p-1" href="javascript:void(0)">Direct Assign</a></li>
                                                      </ul>
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <nav aria-label="Page navigation example">
                                      <ul class="pagination mt-4">
                                          <li class="page-item">
                                              <a class="page-link" href="#" aria-label="Previous">
                                                  <span aria-hidden="true">&laquo;</span>
                                              </a>
                                          </li>
                                          <li class="page-item active" aria-current="page">
                                              <span class="page-link">
                                                  1
                                                  <span class="sr-only">(current)</span>
                                              </span>
                                          </li>
                                          <li class="page-item"><a class="page-link" href="#">2</a></li>
                                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                                          <li class="page-item">
                                              <a class="page-link" href="#" aria-label="Next">
                                                  <span aria-hidden="true">&raquo;</span>
                                              </a>
                                          </li>
                                      </ul>
                                  </nav>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <app-footer></app-footer>
      </div>
  </div>
</div>
