<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item active">Announcement List </li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Announcement List</h4>
                            </div>
                            <div class="content_area">
                                <div class="card mb-2">
                                    <div class="card-body d-lg-flex  justify-content-lg-between  align-items-lg-center">
                                        <div class="total-count">Total Announcements: {{ total }}</div>
                                        

                                        <div class="search-box">
                                            <form #f="ngForm" novalidate>
                                                <input name="search" [(ngModel)]="schoolModel.searchKey"
                                                    placeholder="Title" class="form-control">
                                                <button type="button" (click)="searchFunction(currentPage)" class="btn btn-primary">Search</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <!-- Success msg html -->
                                        <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                                            {{ successMessage }}
                                        </div>
                                        <!-- Error msg html -->
                                        <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                                            {{ errorMessage }}
                                        </div>
                                        <div class="btn_area pb-3">
                                            <button type="button" [routerLink]="['/add-announcement']" class="btn btn-primary">Add Announcement</button>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th style="width:5%">S.No</th>
                                                        <th style="width:25%" (click)="sortFunction('title')" class="sort_menu">
                                                            Title
                                                            <span class="fa fa-exchange sort-icon" *ngIf="key =='title'"
                                                                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                        </th>
                                                        <th style="width:10%">Details</th>
                                                        <th style="width:16%;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <div class="loader_area">
                                                        <span *ngIf="loaderShow">                                        
                                                            <app-loader class="table_loader"></app-loader>
                                                        </span> 
                                                    </div>
                                                    <tr *ngFor="let item of announcements; let i = index;">
                                                        <td>{{ (currentPage-1)*10+i+1 }}</td>
                                                        <td>{{ (item.title.length>30)? (item.title | slice:0:30)+'...':(item.title) }}</td>
                                                        <td>{{ (item.details.length>60)? (item.details | slice:0:60)+'...':(item.details) }}</td>
                                                        <td>
                                                            <div class="btn_area">
                                                                <a [routerLink]="['/edit-announcement',item.id]">
                                                                    <button type="button" class="btn btn-primary">Edit
                                                                    </button>
                                                                </a>
                                                                <button class="btn btn-primary ml-2" type="button"
                                                                    data-toggle="modal" data-target="#"
                                                                    (click)="deleteAnnouncement(item.id)">Delete
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf='noRecords' style="color:red"> <td colspan="20" class="text-center">No records found</td></tr>                                                 
                                                </tbody>
                                            </table>
                                            <nav aria-label="Page navigation" class="mt-3">
                                                <ul class="pagination">
                                                    <li class="page-item disabled_back" *ngIf="currentPage==1"><a
                                                            class="page-link">Previous</a>
                                                    <li class="page-item" *ngIf="currentPage!=1"
                                                        (click)="pageChange(currentPage-1)"><a
                                                            class="page-link">Previous</a>
                                                    </li>
                                                    <li class="page-item"
                                                        *ngFor='let in of counter(totalPages) ;let m = index'>
                                                        <a class="page-link active" *ngIf="((m+1)==currentPage )">{{m+1}}</a>
                                                        <a class="page-link"
                                                            *ngIf="(m+1)!==currentPage && (m+1)>=(currentPage-2) && (m+1)<=(currentPage+2)"
                                                            (click)="pageChange(m+1)">{{m+1}}</a>
                                                    </li>

                                                    <li class="page-item disabled_back" *ngIf="totalPages==currentPage">
                                                        <a class="page-link">Next</a></li>
                                                    <li class="page-item active" *ngIf="totalPages!==currentPage"
                                                        (click)="pageChange(currentPage+1)">
                                                        <a class="page-link">Next</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>