<section class="sign_up">
  <div class="container">
    <div class="con_inner">
      <img src="./assets/img/logo.png" alt="">
      
    </div>
    <div class="box">
      <div class="upper">
        <div class="txt_area">
          <!-- <h2>HIRE DIGITAL TALENT</h2> -->
          <h3 class="font-weight-bold">Sign up for free to let employers find you!</h3>
        </div>
        <div class="tabs_area">
          <nav>
            <!-- <div class="nav nav-tabs" id="nav-tab" role="tablist">
              
              <a class="nav-link" id="employer-tab" data-toggle="tab" href="#employer" role="tab"
                aria-controls="employer" aria-selected="false">Employer</a>
            </div> -->
            <a class="nav-link active" id="candidate-tab" data-toggle="tab" href="#candidate" role="tab"
              aria-controls="candidate" aria-selected="true"></a>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="form-group">
              <span class="icon"><img src="./assets/img/icons/user.png" alt=""></span>
              <input type="text" class="form-control" [ngClass]="{'errormsg': validationname===true}"
                (keypress)="keyPressAlpha($event)" placeholder="Full Name" name="name" [(ngModel)]="loginModel.name"
                maxlength="30">
              <span class="valid-error" [ngClass]="{'validation-msg': validationname===true}">*Please enter full
                name </span>
            </div>
            <div class="form-group">
              <span class="icon"><img src="./assets/img/icons/mail.png" alt=""></span>
              <input type="email" class="form-control" [ngClass]="{'errormsg': validationemail===true}"
                (keyup)="emailvalidation()" placeholder="E-mail" name="email" [(ngModel)]="loginModel.email"
                maxlength="50">
              <span class="valid-error" [ngClass]="{'validation-msg': validationemail===true}">*Please enter email
                address</span>

            </div>
            <div class="form-group password_field">
              <span class="icon"><img src="./assets/img/icons/lock.png" alt=""></span>
              <input [type]="isTextFieldType ? 'text' : 'password'" class="form-control"
                [ngClass]="{'errormsg': validationpassword===true}" minlength="8" maxlength="15"
                (keyup)="passwordvalidation()" placeholder="Password" name="password" [(ngModel)]="loginModel.password">
              <button class="btn eye_btn" type="button" (click)="togglePasswordFieldType()">
                <span class="default " [ngClass]="{'show': isTextFieldType===false}"><img
                    src="./assets/img/icons/open_eye.svg" alt=""></span>
                <span class="active " [ngClass]="{'show': isTextFieldType===true}"><img
                    src="./assets/img/icons/close_eye.svg" alt=""></span>
              </button>
              <span class="valid-error" [ngClass]="{'validation-msg': validationpassword===true}">*Please enter
                password</span>

            </div>
            <!-- <div class="form-group">
              <span class="icon"><img src="/assets/img/icons/phone.png" alt=""></span>
              <input type="text" class="form-control" (keypress)="keyPresscontact($event)"
                [ngClass]="{'errormsg': validationnumber===true}" placeholder="Contact Number" name="number"
                [(ngModel)]="loginModel.number" minlength="10" maxlength="15">
              <span class="valid-error" [ngClass]="{'validation-msg': validationnumber===true}">*Please enter
                contact number </span>

            </div> -->
            <div class="form-group">
              <div class="position-relative target-list" id="cont-no">
                <span class="icon"><img src="./assets/img/icons/phone.png" alt=""></span>
                <ng-select [items]="countryCode" [searchable]="false" bindLabel="name" placeholder="+44"
                  name="countey_item" [(ngModel)]="loginModel.countrylist" [(ngModel)]="selected">

                </ng-select>

                <input type="text" (keypress)="keyPresscontact($event)" class="form-control"
                  placeholder="Contact Number" [ngClass]="{'errormsg': validationnumber===true}" name="number"
                  [(ngModel)]="loginModel.number" minlength="10" maxlength="15">
                <!-- <span *ngIf="validationcountrylist===true && validationnumber===true "; then thenBlock2; else elseBlock2 [ngClass]="{'validation-msg': validationcountrylist===true,'validation-msg': validationnumber===true}">
                    *Please enter currency and contact number</span>
                    <span #thenBlock2 class="valid-error" [ngClass]="{'validation-msg': validationcountrylist===true}">*Please enter
                      currency</span>
                      <span #elseBlock2 class="valid-error" [ngClass]="{'validation-msg': validationnumber===true}">*Please enter
                        contact number</span> 
                       -->

                <span class="valid-error" *ngIf="validationnumber===true"
                  [ngClass]="{'validation-msg': validationnumber===true}">*Please enter
                  contact number </span>


              </div>
            </div>

            <div class="form-group">
              <span class="icon"><img src="./assets/img/icons/location.png" alt=""></span>
              <input type="text" class="form-control" [ngClass]="{'errormsg': validationlocation===true}"
                (keypress)="locationvalidation()" placeholder="Location" name="locations"
                [(ngModel)]="loginModel.locations" maxlength="35">
              <span class="valid-error" [ngClass]="{'validation-msg': validationlocation===true}">*Please enter
                location</span>

            </div>
            <div class="form-group">
              <div class="checkbx">
                <input type="checkbox" [(ngModel)]="ischecked" (change)="toggleVisibility($event)">
                <label>By signing up you agree to <a href="#">Terms of Business</a> & <a href="#">Privacy
                    notice</a><span> of
                    SwipeUp with regards to your data processing & use of Source.</span></label>
              </div>
              <span class="warrningmsg-text"
                *ngIf="addValidationError.candidate_checked">{{addValidationError.candidate_checked}}</span>

            </div>
            <div class="alert alert-danger sub_msg" *ngIf="errMsg">{{message}}</div>
            <div class="btn_area">
              <button class="btn btn-primary hover_effect" [ngClass]="{'buttonDisable': buttonDisable===true}"
                (click)="login()">
                <span class="bg"></span>
                <span class="txt">Let's go</span>
              </button>
              <p>Already have an Account? <a [routerLink]="['/sign-in']">Sign in</a></p>
            </div>
          </div>
          <!-- <div class="tab-content" id="nav-tabContent">
           
            <div class="tab-pane fade" id="employer" role="tabpanel" aria-labelledby="employer-tab">
              <div class="form-group">
                <span class="icon"><img src="/register/assets/img/icons/user.png" alt=""></span>
                <input type="text" class="form-control" placeholder="Full Name" (keypress)="keyPressAlpha($event)"
                  [ngClass]="{'errormsg': validationname===true}" name="name" [(ngModel)]="loginModel.name"
                  maxlength="35">
                <span class="valid-error" [ngClass]="{'validation-msg': validationname===true}">*Please enter full
                  name </span>
              </div>
              <div class="form-group">
                <span class="icon"><img src="/register/assets/img/icons/user.png" alt=""></span>
                <input type="text" class="form-control" placeholder="Company website" (keypress)="companyvalidation()"
                  [ngClass]="{'errormsg': validationwebsite===true}" name="company_website"
                  [(ngModel)]="loginModel.company_website" maxlength="50">
              </div>
              <div class="form-group">
                <span class="icon"><img src="/register/assets/img/icons/mail.png" alt=""></span>
                <input type="email" class="form-control" placeholder="E-mail" (keypress)="emailvalidation()"
                  [ngClass]="{'errormsg': validationemail===true}" name="email" [(ngModel)]="loginModel.email"
                  maxlength="50">
                <span class="valid-error" [ngClass]="{'validation-msg': validationemail===true}">*Please enter email
                  address</span>
              </div>
              <div class="form-group password_field">
                <span class="icon"><img src="/register/assets/img/icons/lock.png" alt=""></span>
                <input [type]="isTextFieldType1 ? 'text' : 'password'" class="form-control"
                  (keypress)="passwordvalidation()" [ngClass]="{'errormsg': validationpassword===true}"
                  placeholder="password" name="password" [(ngModel)]="loginModel.password" minlength="8"
                  maxlength="15">
                <button class="btn eye_btn" type="button" (click)="togglePasswordFieldType1()">
                  <span class="default " [ngClass]="{'show': isTextFieldType1===false}"><img
                      src="/register/assets/img/icons/open_eye.svg" alt=""></span>
                  <span class="active " [ngClass]="{'show': isTextFieldType1===true}"><img
                      src="/register/assets/img/icons/close_eye.svg" alt=""></span>
                </button>
                <span class="valid-error" [ngClass]="{'validation-msg': validationpassword===true}">*Please enter
                  password</span>
              </div>


              <div class="form-group">
                <div class="position-relative target-list" id="cont-no">
                  <span class="icon"><img src="/register/assets/img/icons/phone.png" alt=""></span>
                  <ng-select [items]="countryCode" 
                    bindLabel="name" placeholder="+44" name="countey_item" [(ngModel)]="loginModel.countrylist" [(ngModel)]="selected">
                  </ng-select>
                  <input type="text" (keypress)="keyPresscontact($event)" class="form-control"
                    placeholder="Contact Number" [ngClass]="{'errormsg': validationnumber===true}" name="number"
                    [(ngModel)]="loginModel.number" minlength="10" maxlength="15">
                 
                   <span class="valid-error" *ngIf="validationnumber===true" [ngClass]="{'validation-msg': validationnumber===true}">*Please enter
                    contact number </span>
                    
                </div>
              </div>
              <div class="form-group">
                <span class="icon"><img src="/register/assets/img/icons/location.png" alt=""></span>
                <input type="text" class="form-control" placeholder="Location" name="locations"
                  (keypress)="locationvalidation()" [ngClass]="{'errormsg': validationlocation===true}"
                  [(ngModel)]="loginModel.locations" maxlength="35">
                <span class="valid-error" [ngClass]="{'validation-msg': validationlocation===true}">*Please enter
                  location</span>
              </div>
              <div class="form-group">
                <div class="checkbx">
                  <input type="checkbox" [(ngModel)]="ischecked" (change)="toggleVisibility($event)">
                  <label>By signing up you agree to <a href="#">Terms of Source</a> & <a href="#">Privacy
                      policy</a><span> of
                      Swipe Up with regards to your data processing & use of Source.</span></label>
                </div>
                <span class="warrningmsg-text"
                  *ngIf="addValidationError.candidate_checked">{{addValidationError.candidate_checked}}</span>
              </div>
              <div class="alert alert-danger sub_msg" *ngIf="errMsg">{{message}}</div>
              <div class="btn_area">
                <span class="alert"></span>
                <button class="btn btn-primary hover_effect" [ngClass]="{'buttonDisable': buttonDisable===true}" (click)="loginemployer()">
                  <span class="bg"></span>
                  <span class="txt">Let's go</span>
                </button>
                <p>Already have an Account? <a [routerLink]="['/sign-in']">Sign in</a></p>
              </div>
            </div>
          </div> -->
          <!-- <div class="tab-pane fade show active" id="candidate" role="tabpanel" aria-labelledby="candidate-tab">
            
          </div> -->
          
          <!-- <div class="form-group">
            <span class="icon"><img src="/assets/img/icons/phone.png" alt=""></span>
            <input type="text" class="form-control" (keypress)="keyPresscontact($event)"
              [ngClass]="{'errormsg': validationnumber===true}" placeholder="Contact Number" name="number"
              [(ngModel)]="loginModel.number" minlength="10" maxlength="15">
            <span class="valid-error" [ngClass]="{'validation-msg': validationnumber===true}">*Please enter
              contact number </span>

          </div> -->
         
        </div>
      </div>
    </div>
  </div>
</section>