<app-header></app-header>
<div class="title_bar">
    <div class="container">
        <div class="inner">
            <h3 class="dashboard">{{employerlist.company_name}} Dashboard</h3>
            <div class="profile">
                <div class="detail">
                    <h5>{{employerlist.name}}</h5>
                    <a [routerLink]="['/employer-profile/',employerId]" class="edit">Edit Profile  <span class="icon"><i class="far fa-edit"></i></span></a>
                </div>
                <div class="pro_img">
                    <img src="./assets/img/pro_img.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="full_wid">
    <div class="cstm_row">
        <div class="left_area">
            <div class="inner">
                <ul>
                    <li class="w-100"><a [routerLink]="['/campaign_details']" class="job-post">Hiring Needs</a></li>
                    <li class="w-100">
                        <div class="shadow_bx">
                            <h5>Posted Jobs</h5>
                            <a [routerLink]="['/employer-dashboard']" class="btn"><span class="icon"><img src="./assets/img/icons/check.svg"
                        alt=""></span>00</a>
                        </div>
                    </li>
                    <li class="w-100">
                        <div class="shadow_bx">
                            <h5>Jobs Completed</h5>
                            <a [routerLink]="['/employer-dashboard']" class="btn"><span class="icon"><img src="./assets/img/icons/thumbs-up.svg" alt=""></span>00</a>
                        </div>
                    </li>

                    <li class="w-100">
                        <div class="shadow_bx">
                            <h5>Jobs in Process</h5>
                            <a [routerLink]="['/employer-dashboard']" class="btn"><span class="icon"><img src="./assets/img/icons/process.svg" alt=""></span>00</a>
                        </div>
                    </li>
                    <li class="w-100">
                        <div class="shadow_bx">
                            <h5>Candidate Approved</h5>
                            <a [routerLink]="['/employer-dashboard']" class="btn"><span class="icon"><img src="./assets/img/icons/thumbs-up.svg" alt=""></span>00</a>
                        </div>
                    </li>
                    <li class="w-100">
                        <div class="shadow_bx">
                            <h5>Candidate Rejected</h5>
                            <a [routerLink]="['/employer-dashboard']" class="btn"><span class="icon"><img src="./assets/img/icons/reject.png" alt=""></span>00</a>
                        </div>
                    </li>
                    <li class="w-100">
                        <div class="shadow_bx">
                            <h5>Candidate in Process</h5>
                            <a [routerLink]="['/employer-dashboard']" class="btn"><span class="icon"><img src="./assets/img/icons/process.svg" alt=""></span>00</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right_area">
            <div class="shadow-bx">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>