.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f5e1e3; // Choose your own color here
 }
.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
    padding: 8px;
}

.table td,
.table th {
    padding: 8px;
    a {
        color: #D0021B;
    }
}

.sub_msg{
    color: #D0021B;
    font-size: 12px;
    padding: 8px 15px;
  }

.filter_area {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    .entries_show {
        display: flex;
        align-items: center;
        label {
            margin: 0;
            padding-right: 10px;
            white-space: nowrap;
        }
    }
}

.pagination_area {
    padding-top: 15px;
    .page-link {
        color: #D0021B;
    }
    .active {
        a {
            color: #fff;
            background: #D0021B;
        }
    }
}

.btn_area {
    button {
        margin-left: 20px;
        &.status,
        &.viewBtn {
            color: #D0021B;
        }
        &:first-child {
            margin: 0;
        }
    }
}


table {
    thead {
      background: #D0021B;
      color: #fff;
    }
    tbody{
      tr{
        td{
          // overflow-wrap: anywhere;
          word-break: break-all;
        }
      }
    }
  }
.card {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    padding: 20px 24px;
    border-radius: 10px;
    margin-top: 21px;
    @media (min-width: 899px) {
        padding: 24px;
    }
    .card-body {
        padding: 0;
        h2 {
            font-size: 20px;
            font-weight: 600;
            padding: 5px 0 10px;
            @media (min-width: 992px) {
                font-size: 20px;
            }
            span {
                font-size: 14px;
                font-weight: 500;
                color: rgb(0 0 0 / .5);
                @media (min-width: 992px) {
                    font-size: 16px;
                }
            }
        }
        h5 {
            font-size: 14px;
            font-weight: 600;
            color: #000;
            margin: 0;
            @media (min-width: 899px) {
                font-size: 16px;
            }
            @media (min-width:992px) {
                font-size: 16px;
            }
        }
        p {
            font-size: 14px;
            color: #000;
            line-height: 1.19;
            padding-bottom: 10px;
            margin: 16px 0;
            @media (min-width: 768px) {
                font-size: 13px;
            }
            @media (min-width:899px) {
                font-size: 14px;
            }
            @media (min-width:992px) {
                font-size: 14px;
            }
        }
        hr {
            border: solid 1px rgba(0, 0, 0, 0.05);
            margin: 16px 0;
            @media (min-width: 768px) {
                margin: 12px 0;
            }
        }
        .blue-btn {
            padding: 8px 54px;
            border-radius: 27px;
            background-color: #D0021B;
            color: #fff;
            font-size: 12px;
            font-weight: 600;
            display: inline-block;
            text-align: center;
            @media (min-width: 768px) {
                padding: 10px 30px;
            }
            @media (min-width:899px) {
                padding: 10px 35px;
                font-size: 14px;
            }
            @media (min-width:992px) {
                padding: 8px 54px;
            }
        }
    }
}

.bg-blue {
    .card {
        background: #D0021B;
        .card-body {
            h2 {
                color: #fff;
                span {
                    color: rgb(255, 255, 255 / .5);
                }
            }
            h5 {
                color: #fff;
            }
            p {
                color: #fff;
            }
            hr {
                border: solid 1px rgba(255, 255, 255, 0.2);
            }
            .blue-btn {
                background-color: #fff;
                color: #D0021B;
            }
        }
    }
}

.alert-msg {
    font-size: 13px;
    color: #e21b1b;
    padding-top: 10px;
    font-weight: 500;
}

.form-control {
    height: 35px;
    border: none;
    background: #fff;
    box-shadow: 0 2px 12px rgb(62 62 62 / 10%);
    font-size: 12px;
    border: 1px solid #ced4da;
    width: 100%;
}

label {
    font-size: 14px;
}

textarea {
    min-height: 100px;
}

.modal-width {
    max-width: 1000px;
}
.search_bar{
    width: 35%;
}
.alert-success {
    color: #22262a;
    background-color: #a2ded2;
}
