<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="main_wrap fixed-left">
    <div id="wrapper">
        <app-admin-sidebar></app-admin-sidebar>
        <div class="content-page">
            <div class="content">
                <app-admin-header></app-admin-header>
                <div class="page-content-wrapper ">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <div class="btn-group float-right">
                                        <ol class="breadcrumb hide-phone p-0 m-0">
                                            <li class="breadcrumb-item">
                                                <a [routerLink]="['/admin/dashboard']">Dashboard</a>
                                            </li>
                                            <li class="breadcrumb-item active">{{mainheading}}</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title" >{{mainheading}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-success admin-alert" role="alert" *ngIf="sucMsg==true">
                            {{ message }}
                        </div>
                          <div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-danger" *ngIf="errMsg==true">{{message}}</div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card m-b-30">
                                    <div class="card-body">
                                        <div class="table_area">
                                            <div class="filter_area">
                                                <div class="search_bar">
                                                    <input type="text" [(ngModel)]="adminModel.filterString"  class="form-control" placeholder="Search" >
                                                </div>
                                                <!-- <div class="entries_show">
                                                    <label for="">Show Entries</label>
                                                    <select class="form-control" (change)="showEntries($event)">
                                                        <option value="10" selected>10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select>
                                                </div> -->
                                            </div>
                                           
                                            <div class="table-responsive">
                                                <table class="table table-striped ">
                                                    <thead>
                                                        <tr>

                                                            <th style="width: 7%;" (click)="sort('id')">S No.</th>
                                                            <th style="width: 25%;" (click)="sort('name')">Name</th>
                                                            <th style="width: 30%;" (click)="sort('email')">Email</th>
                                                            <th style="width: 20%;" (click)="sort('phone')">Phone No.</th>
                                                            <!-- <th style="width: 20%;">Change Package</th> -->
                                                            <th style="width:15%">Action</th>

                                                            <!-- <th style="width: 60px;" (click)="sort('id')">S No.</th>
                                                            <th (click)="sort('name')" >Name</th>
                                                            <th (click)="sort('email')">Email</th>
                                                            <th (click)="sort('phone')">Phone No.</th>
                                                            <th>Change Package</th>
                                                            <th style="width:150px">Action</th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <!-- <div class="alert alert-danger sub_msg" *ngIf="errMsg">{{message}}</div> -->
                                                        <!-- <tr *ngFor="let employerslist of employerlist | paginate: { itemsPerPage: 5, currentPage: this.page, totalitems:totalLength } ;let i = index"> -->
                                                        <tr  *ngFor="let employerslist of employerlist | filter:adminModel.filterString | orderBy: key : reverse | paginate : {
                                                            itemsPerPage: pageSize,
                                                            currentPage: page,
                                                            totalItems: count
                                                          }; let i = index">
                                                           
                                                            <th>{{pageSize * (page-1)+i+1}}</th>
                                                            <td><a [routerLink]="['/admin/employer_detail/', employerslist._id]">{{employerslist.name}}</a></td>
                                                            <td>{{employerslist.email}}</td>
                                                            <td>+{{employerslist.phone}}</td>
                                                            <!-- <td>
                                                                <a href="javascript:void(0)" (click)="showPackage(employerslist._id)" type="button"
                                                                    data-toggle="modal"
                                                                    data-target="#Package_Modal">{{employerslist.package_name}}</a>
                                                            </td> -->
                                                            
                                                            <td>
                                                                <div class="btn_area d-flex">
                                                                    <button class="btn status p-0 active-data" *ngIf = "employerslist.screen_status == 1 && employerslist.status == 0"
                                                                        title="Send Mail" 
                                                                        (click)="sendMail(employerslist._id)">
                                                                        <!-- <i class="fa fa-check" aria-hidden="true"></i> -->
                                                                        <i class="fas fa-envelope-open-text" aria-hidden="true"></i>      
                                                                        </button>
                                                                        
                                                                    <button *ngIf="employerslist?.status == 1 || employerslist?.status == 0"  class="btn delete p-0" title="Reject" (click)="rejectEmployer(employerslist._id,employerslist.status)">
                                                                        <!-- <i class="fas fa-trash-alt"></i> -->
                                                                        <i class="fa fa-ban" aria-hidden="true"></i>
                                                                    </button>
                                                                    
                                                                    <button class="btn viewBtn p-0" title="Approved" *ngIf = "employerslist?.status == 1 || employerslist?.screen_status == 2">
                                                                        <!-- <i class="fas fa-eye"></i> -->
                                                                        <i class="fas fa-check"></i></button>
                                                                </div>
                                                            </td>
                                                            
                                                        </tr>
                                                        <tr *ngIf="employerlist.length == 0">
                                                            <td colspan = "6" style="text-align: center;" >No Record Found</td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                                <pagination-controls  class="my-pagination" responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                                                </pagination-controls>
                                            
                                            <!-- <pagination-controls (pageChange)="this.page = $event" pagination-template #api="paginationApi"></pagination-controls>
                                            <button (click)="api.previous()">prev</button>
                                            <button (click)="api.next()">next</button> -->
                                            <!-- <div class="pagination_area">
                                                <nav aria-label="Page navigation example">
                                                    <ul class="pagination">
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">Previous</a>
                                                        </li>
                                                        <li class="page-item active">
                                                            <a class="page-link" href="#">1</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">2</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">3</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">Next</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                © 2020 Swipe Up
            </footer>
            <div class="modal fade" id="Package_Modal" tabindex="-1" aria-labelledby="Package_ModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-width">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="Package_ModalLabel">Packages</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row justify-content-center pb-5 pb-md-0">
                                <div class="row pb-5 pb-md-0">
                                    <div class="col-md-4 col-sm-6 " *ngFor="let packesdetail of packesdetails;">
                                      <div class="card border-light">
                                        <div class="card-body">
                                          
                                            <h5 class="card-title">{{packesdetail.plan_name}}</h5>
                                            <h2>${{packesdetail.plan_amount}} <span>/ {{packesdetail.plan_time}}</span></h2>
                                            <p class="card-text">{{packesdetail.plan_description}}</p>
                                            <hr>
                                            <h5>{{packesdetail.access_fee}}</h5>
                                            <hr>
                                            <h5>{{packesdetail.success_fee}}% Success fee per hire</h5>
                                            <hr>
                                            <h5>{{packesdetail.plan_time}}</h5>
                                            <hr>
                                            <h5>Standard platform support</h5>
                                            <hr>                                         
                                        </div>
                                        <div class="text-center">
                                            <a class="blue-btn btn-primary hover_effect mr-2">
                                                <span class="bg"></span>
                                                <!--<span  class="txt">{{employerlistPackage.plan_name =='Customised'?"Activated":"Active"}}</span></a>-->
                                                <span *ngIf="employerlistPackage.plan_name == packesdetail.plan_name;"  class="txt"  >Activated</span>
                                                <span *ngIf="employerlistPackage.plan_name != packesdetail.plan_name;"  class="txt" (click)="activatePackage(employerlistPackage.user_id,packesdetail.plan_name,packesdetail.plan_amount,packesdetail.plan_description,packesdetail.access_fee,packesdetail.success_fee,packesdetail.plan_time)" >Active</span></a>
                                        </div>
                                      </div>
                                    </div>
                                   
                                  </div>
                            
                             
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal fade" id="custom_Modal" tabindex="-1" aria-labelledby="customModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-width">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="customModalLabel">Edit Packages</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row pb-5 pb-md-0">
                                <div class="col-md-8 offset-md-2">
                                    <div class="bg-white shadow p-3">
                                        <form method="post" name="contactForm" novalidate="novalidate">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="name">Plan Name*</label>
                                                        <input type="text" class="form-control" id="name"
                                                            placeholder="Enter Plan Name" name="name" required="">
                                                        <span class="alert-msg">Enter Plan Name.</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="amount">Plan Amount*</label>
                                                        <input type="text" class="form-control" id="name"
                                                            placeholder="Enter Amount" name="name" required="">
                                                        <span class="alert-msg">Enter Amount</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="success_fee">Success Fee</label>
                                                        <input type="text" class="form-control"
                                                            placeholder="Success Fee">
                                                        <span class="alert-msg">Enter Fee</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="success_fee">Plan Time</label>
                                                        <input type="text" class="form-control" placeholder="Plan Time">
                                                        <span class="alert-msg">Enter Plan Time</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="description">Description*</label>
                                                        <textarea type="text" class="form-control" id=""
                                                            placeholder="Description..." name="name"
                                                            required=""></textarea>
                                                        <span class="alert-msg">Enter Description</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="fee">Fee*</label>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="exampleRadios" id="exampleRadios1" value="option1"
                                                            checked>
                                                        <label class="form-check-label" for="exampleRadios1">
                                                            Access Fee
                                                        </label>
                                                    </div>
                                                    <div class="form-check mt-2">
                                                        <input class="form-check-input" type="radio"
                                                            name="exampleRadios" id="exampleRadios2" value="option2">
                                                        <label class="form-check-label" for="exampleRadios2">
                                                            No Access Fee
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-3">
                                                <div class="col-md-6">
                                                    <button type="button" class="btn-primary px-5 py-1">Add</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>