
.form-area{
    background-color: #eff3f6;
    padding: 30px;
    form{
        .form-control{
            background: #00649b26;
        }
        #answerfield{
            width: 100%;
        }
        a {
            i{
                font-size: 14px;
                background: #00649b70;
                color: #fff;
                padding: 6px;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                &.cross-field{
                    background: #ff1313;
                }
            }
        }
        .answer-col{
            a{
                position: absolute;
                right: 6px;
            }
        }
        #typequestion{
            height:100px;
            max-height: 100px;
            overflow-y: auto;
        }
    }
}
