 <div id="wrapper">
        <app-sidebar></app-sidebar>
        <div class="content-page">
            <div class="content">
                <app-header></app-header>
                <div class="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <div class="btn-group float-right">
                                        <ol class="breadcrumb hide-phone p-0 m-0">
                                            <li class="breadcrumb-item"><a href="#">The Pragmatic</a></li>
                                            <li class="breadcrumb-item active">Add Question Answer</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Add Question Answer</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                              <div class="card m-b-30">
                                    <div class="card-body">
                                       <div class="row align-items-center justify-content-center">
                                           <div class="col-md-8 col-xl-6 ">
                                               <div class="form-area">
                                                   <h5 class="text-center pb-3">Add your Question and Answers</h5>
                                                <form>
                                                    <div class="form-group">
                                                      <label for="forquestion">Question</label>
                                                      <textarea class="form-control" rows="5" id="typequestion"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="foranswer">Answer</label>
                                                        <div class="d-flex align-items-center mb-3 position-relative answer-col">
                                                            <input type="text" class="form-control" id="answerfield">
                                                            <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                                        </div>
                                                        <div class="d-flex align-items-center position-relative answer-col">
                                                            <input type="text" class="form-control" id="answerfield">
                                                            <a href="#"><i class="fa fa-times cross-field" aria-hidden="true"></i></a>
                                                        </div>
                                                      </div>
                                                      <button type="submit" class="btn-primary add-btn w-25">Add</button>
                                                  </form>
                                               </div>
                                           </div>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-footer></app-footer>
            </div>
        </div>
    </div>