.modal {
  .modal-header {
    background: #00649b;
    padding: 10px 18px;
    h5 {
        color: #fff;
        font-size: 18px;
      }
  
      button {
        color: #fff;
        opacity: 1;
      }
  }

  .modal-body {
    .form-area {
      background-color: #eff3f6;
      padding: 15px;

      form {
        .form-control {
          background: #00649b26;
        }

        #answerfield {
          width: 100%;
        }

        button {
            border: 0;
            outline: 0;
          i {
            font-size: 14px;
            background: #00649b70;
            color: #fff;
            padding: 6px;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.cross-field {
              background: #ff1313;
            }
          }
        }

        .answer-col {
          a {
            position: absolute;
            right: 6px;
          }
        }

        #typequestion {
          height: 100px;
          max-height: 100px;
          overflow-y: auto;
        }
      }
    }

  }
}
.modal.fade .modal-dialog{
    @media(min-width:992px){
         transform: translate(19%,0%);
         &.modal-lg{
             max-width: 600px;
         }
  }
     @media(min-width:1024px){
         transform: translate(19%,0%);
         &.modal-lg{
             max-width: 600px;
         }
   }
     @media(min-width:1200px){
         transform: translate(21%,0%);
     }
 }