<div id="wrapper">
  <div class="content-page">
    <div class="content">
      <div class="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="btn-group float-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">The Pragmatic</a></li>
                    <li class="breadcrumb-item active">Create Admin</li>
                  </ol>
                </div>
                <h4 class="page-title">Create Sub Admin</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="row align-items-center justify-content-center">
                    <div class="col-md-8 col-xl-6">                                         
                      <div class="form-area">
                        <form method="post" name="contactForm" novalidate="novalidate">
                            <div class="admin-img">
                             <span class="showonhover">
                                  <img src="./assets/images/profile.png" alt="" class="show-img" [ngClass]="{'user-profile_img': imageSelect===true}" [ngClass]="{'err': validationimage===true}">
                                  <img src={{urls}} alt="" class="show-img" [ngClass]="{'user-selected-img': staticImg===false}">
                                   <i class="fa fa-camera" aria-hidden="true"></i></span>
                                <input id="selectfile" type="file" name="" style="display: none;" (change)=selectImage($event)>
                            </div>
                           <div class="form-group">
                                <label for="name">Name*</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter Full Name" name="name"  [(ngModel)]="adminModel.name" [ngClass]="{'err': validationname===true}">
                            </div>
                            <div class="form-group">
                                <label for="name">Email*</label>
                                <input type="email" class="form-control" id="" placeholder="Enter Email" name="name" [(ngModel)]="adminModel.email" [ngClass]="{'err': validationemail===true}">
                            </div>
                            <div class="form-group">
                                <label for="Phone">Phone*</label>
                                <input type="number" class="form-control" id="phone" placeholder="Enter Phone Number" name="name" [(ngModel)]="adminModel.phoneno" [ngClass]="{'err': validationphone===true}">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <div class="pass_field">
                                  <input [type]="isTextFieldType ? 'text' : 'password'" class="form-control" name="password" [(ngModel)]="adminModel.password" minlength="6" placeholder="Password" [ngClass]="{'err': validationpassword===true}">
                                  <span class="eye_btn">
                                    <button class="btn" type="button" (click)="togglePasswordFieldType()">
                                      <span *ngIf="isTextFieldType===false"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
                                      <span *ngIf="isTextFieldType===true"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                    </button>
                                  </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn-primary w-50 add-btn" (click)="addsubadmin()">Create</button>    
                            </div>
                        </form>
                        <div class="alert alert-success" role="alert" *ngIf="sucMsg==true">
                          {{successMessage}}
                        </div>
                        <div class="alert alert-danger" role="alert" *ngIf="errMsg==true">
                          {{errorMessage}}
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <app-loader *ngIf="loaderShow==true"></app-loader>
        </div>
      </div>
    </div>
  </div>
</div>
