<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item active">Add Lesson</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Add Lesson - {{ category_name }} </h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->
                    <!-- Success msg html -->
                    <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                        {{ successMessage }}
                    </div>
                    <!-- Error msg html -->
                    <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                        {{ errorMessage }}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body add_lesson">
                                    <form class="form-horizontal m-t-20" action="" name="SELCategoryLessonAdd" #f="ngForm" (ngSubmit)="onSubmitAdd()" novalidate enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Lesson Name*</label>                                                
                                                    <input type="text" class="form-control" [(ngModel)]="loginModel.lesson_name"  name="lesson_name">
                                                    <span *ngIf="addValidationError.lesson_name" class="error-validation">{{addValidationError.lesson_name }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" *ngIf="upload==true">
                                                    <label for="">Upload Video</label>
                                                    <input type="file" class="form-control-file" name="video"  (change)="onFileSelect($event)">
                                                    <span *ngIf='fileSelect' class="error-validation">Please Select MP4, ogg, webm file</span>
                                                    <span *ngIf='fileSelect_error' class="error-validation">Please upload video</span>

                                                </div>
                                                <div class="form-group" *ngIf="upload==false">
                                                    <label for="">Upload Video Link</label>
                                                    <input type="text" class="form-control" [(ngModel)]="loginModel.video_link"  name="lesson_name">
                                                    <span *ngIf="addValidationError.video_link" class="error-validation">{{addValidationError.video_link }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="">Upload Video Thumbnail:</label>
                                                    <input type="file" class="form-control-file" name="videoThumbnail"  (change)="onFileSelectThumbnail($event)">
                                                    <span *ngIf='fileSelectThumbnail' class="error-validation">Please select type jpg, png</span>
                                                    <span *ngIf='fileSelectThumbnail_error' class="error-validation">Please upload thumbnail</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group upload d-flex flex-wrap align-items-center">
                                                    <label class="w-100" for="">Upload Video Type:</label>
                                                <input type="radio" class="with-gap mr-2"  name="type" [(ngModel)]="loginModel.type" [value]="0" (ngModelChange)="change($event)">Video
                                                <input type="radio" class="with-gap mr-2" name="type"  [(ngModel)]="loginModel.type" [value]="1" (ngModelChange)="change($event)">Link
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="">Lesson Description*</label>
                                                    <!-- <ckeditor [editor]="Editor" name="lesson" [(ngModel)]="loginModel.lesson"></ckeditor> -->
                                                    <ejs-richtexteditor id="editor"  name="lesson" [(ngModel)]="loginModel.lesson" [toolbarSettings]='tools'  [insertImageSettings]='{saveFormat: "Base64"}'></ejs-richtexteditor >
                                                   <span *ngIf="addValidationError.lesson" class="error-validation">{{addValidationError.lesson }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button class="btn btn-primary" buttonDisable>Save</button>
                                            </div>
                                        </div>
                                        <div class="loader_area">
                                            <span *ngIf="noRecords">                                        
                                                <app-loader ></app-loader>
                                            </span> 
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- container -->
            </div> <!-- Page content Wrapper -->
        </div>
        <app-footer></app-footer>
    </div>
</div>