<div class="main_wrap fixed-left">
    <div id="wrapper">
      <app-admin-sidebar></app-admin-sidebar>
      <div class="content-page">
        <div class="content">
          <app-admin-header></app-admin-header>
          <div class="page-content-wrapper ">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="page-title-box">
                    <div class="btn-group float-right">
                      <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
                      </ol>
                    </div>
                    <h4 class="page-title">Dashboard</h4>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6 mb-3 mb-xl-0">
                  <div class="card h-100">
                    <div class="card-body py-3 px-0">
                      <div class="d-flex flex-row">
                        <div class="col-4 align-self-center">
                          <div class="round">
                            <i class="fa fa-users" aria-hidden="true"></i> 
                          </div>
                        </div>
                        <div class="col-8 align-self-center text-center">
                          <div class="m-l-10">
                            <h5 class="mt-0 round-inner">00</h5>
                            <p class="mb-0 text-muted">Total Employers</p>
                          </div>
                        </div>
                     </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6 mb-3 mb-xl-0">
                  <div class="card h-100">
                    <div class="card-body py-3 px-0">
                      <div class="d-flex flex-row">
                        <div class="col-4 align-self-center">
                          <div class="round">
                            <i class="mdi mdi-account-multiple-plus"></i>
                          </div>
                        </div>
                        <div class="col-8 text-center align-self-center">
                          <div class="m-l-10 ">
                            <h5 class="mt-0 round-inner">00</h5>
                            <p class="mb-0 text-muted">Total Candidates</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-4 col-sm-6 mb-3 mb-xl-0">
                  <div class="card h-100">
                    <div class="card-body py-3 px-0">
                      <div class="d-flex flex-row">
                        <div class="col-4 align-self-center">
                          <div class="round ">
                            <i class="fa fa-users" aria-hidden="true"></i> 
                          </div>
                        </div>
                        <div class="col-8 align-self-center text-center">
                          <div class="m-l-10 ">
                            <h5 class="mt-0 round-inner">00</h5>
                            <p class="mb-0 text-muted">Total Categories</p>
                          </div>
                        </div>
                     </div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <footer class="footer">
          © 2020 Swipe Up
        </footer>
      </div>
    </div>
  </div>
  