<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item active">Add Announcement</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Add Announcement</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->
                    <!-- Success msg html -->
                    <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                        {{ successMessage }}
                    </div>
                    <!-- Error msg html -->
                    <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                        {{ errorMessage }}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body add_lesson">
                                    <form class="form-horizontal m-t-20" action="" name="announcementAdd" #f="ngForm" (ngSubmit)="onSubmit()" novalidate enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="">Title*</label>                                                
                                                    <input type="text" class="form-control" [(ngModel)]="schoolModel.title"  name="title">
                                                    <span *ngIf="addValidationError.title" class="error-validation">{{addValidationError.title }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="">Details*</label>
                                                    <textarea name="details" class="form-control" [(ngModel)]="schoolModel.details">Enter details</textarea>
                                                    <span *ngIf="addValidationError.details" class="error-validation">{{addValidationError.details }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="">Urgent</label><br>
                                                    <!-- <input type="radio" value="0" class="form-control" [(ngModel)]="schoolModel.urgent"  name="urgent">Normal
                                                    <input type="radio" value="1" class="form-control" [(ngModel)]="schoolModel.urgent"  name="urgent"> Important
                                                    <input type="radio" value="2" class="form-control" [(ngModel)]="schoolModel.urgent"  name="urgent"> Urgent -->
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label" for="radio1">
                                                          <input type="radio" class="form-check-input" id="radio1" [(ngModel)]="schoolModel.urgent" name="urgent" value="0" [checked]="schoolModel.urgent == '0'">Normal
                                                        </label>
                                                      </div>
                                                      <div class="form-check-inline">
                                                        <label class="form-check-label" for="radio2">
                                                          <input type="radio" class="form-check-input" id="radio2" [(ngModel)]="schoolModel.urgent" name="urgent" value="1">Important
                                                        </label>
                                                      </div>
                                                      <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" id="radio2" [(ngModel)]="schoolModel.urgent" name="urgent" value="2">Urgent
                                                        </label>
                                                      </div>
                                                </div>
                                            </div> 

                                            <div class="col-md-12">
                                                <button class="btn btn-primary" buttonDisable>Save</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div><!-- container -->
            </div> <!-- Page content Wrapper -->
        </div>
        <app-footer></app-footer>
    </div>
</div>