.headlogo {
    width: 95%;
}
.rotate{
    transition: all .2s ease .1s;
}
.open {
    
    .waves-effect {
        .rotate {
            transform: rotate(90deg);
            transition: all .2s ease .1s;
        }
    }
}

.cross {
    font-size: 24px;
}



.showmenu {
    ul.list-unstyled {
        display: block !important;
    }
}
