<div class="left side-menu">
  <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
    <i class="fa fa-times cross" aria-hidden="true"></i>
  </button>

  <!-- LOGO -->
  <div class="topbar-left">
    <div class="text-center">
      <!-- <a href="index.html" class="logo"><i class="mdi mdi-assistant"></i> Annex</a> -->
      <a [routerLink]="['/dashboard']"class="logo"><img src="./assets/images/logo.png" alt="logo" class="headlogo"></a>
    </div>
  </div>

  <div class="sidebar-inner slimscrollleft">

    <div id="sidebar-menu">
      <ul>
        <!-- <li class="menu-title">Main</li> -->

        <li class="" [routerLinkActive]="['active']" *ngIf="showAgency==true">
          <a [routerLink]="['/dashboard']" class="waves-effect">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <span> Dashboard</span>
          </a>
        </li>
        <!-- <li class="has_sub" [routerLinkActive]="['active']" *ngIf="showSubadmin==false">
          <a href="javascript:void(0);" class="waves-effect">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>Sub Admin </span> 
            <span class="float-right">
              <i class="fa fa-angle-right rotate" aria-hidden="true"></i>
            </span>
          </a>
          <ul class="list-unstyled">
            <li [routerLinkActive]="['active']">
              <a [routerLink]="['/sub-admin/create-sub-admin']">
                <i class="fa fa-user-plus" aria-hidden="true"></i> 
                Create Sub Admin
              </a>
            </li>
            <li [routerLinkActive]="['active']">
              <a [routerLink]="['/sub-admin/manage-admin']">
                <i class="fa fa-users" aria-hidden="true"></i> 
                Manage Sub Admin
              </a>
            </li>
          </ul>
        </li> -->
        <li class="has_sub" [routerLinkActive]="['active']" *ngIf="showAgency==false">
          <a href="javascript:void(0);" class="waves-effect">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>Agency</span>
            <span class="float-right">
              <i class="fa fa-angle-right rotate" aria-hidden="true"></i>
            </span>
          </a>
          <ul class="list-unstyled">
            <li [routerLinkActive]="['active']">
              <a [routerLink]="['/agency/create-agency']">
                <i class="fa fa-user-plus" aria-hidden="true"></i> 
                Create Agency
              </a>
            </li>
            <li [routerLinkActive]="['active']">
              <a [routerLink]="['/agency/manage-agency']">
                <i class="fa fa-users" aria-hidden="true"></i> 
                Manage Agency
              </a>
            </li>
          </ul>
        </li>
        <li [routerLinkActive]="['active']" *ngIf="showAgency==true">
          <a [routerLink]="['/care-worker-management']" class="waves-effect">
            <i class="fa fa-user-md" aria-hidden="true"></i>
            <span>Care Worker Management</span>
          </a>
        </li>
        <li [routerLinkActive]="['active']">
          <a [routerLink]="['/care-reciever-management']" class="waves-effect" *ngIf="showAgency==true">
            <i class="fa fa-address-card-o" aria-hidden="true"></i>
            <span>Care Reciever Management</span>
          </a>
        </li>
        <li class="has_sub" [routerLinkActive]="['active']" *ngIf="showAgency==true"> 
          <a href="javascript:void(0);" class="waves-effect">
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
            <span>Post Request
              <span class="float-right">
                <i class="fa fa-angle-right rotate" aria-hidden="true"></i>
              </span>
            </span>
          </a>
          <ul class="list-unstyled">
            <li>
              <a [routerLink]="['/post-request/new-request']" [ngClass]="{'active': newrequest===true}" [routerLinkActive]="['active']">
                <i class="fa fa-file-text" aria-hidden="true"></i> 
                New Request
              </a>
              <a [routerLink]="['/post-request/pending']" [ngClass]="{'active': pending===true}" [routerLinkActive]="['active']">
                <i class="fa fa-exclamation-circle" aria-hidden="true" ></i> 
                Pending
              </a>
              <a [routerLink]="['/post-request/complete']"  [ngClass]="{'active': complete===true}" [routerLinkActive]="['active']">
                <i class="fa fa-list" aria-hidden="true"></i> 
                Complete
              </a>
              <a [routerLink]="['/post-request/in-progress']" [ngClass]="{'active': inprogress===true}" [routerLinkActive]="['active']">
                <i class="fa fa-spinner" aria-hidden="true"></i> 
                In Progress
              </a>
            </li>
          </ul>
        </li>
        <!-- <li [ngClass]="{'active': religion===true}">
          <a [routerLink]="['/religion-management']" class="waves-effect">
            <i class="fa fa-address-card-o" aria-hidden="true"></i>
            <span>Religion Management</span>
          </a>
        </li> -->

      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- end sidebarinner -->
</div>
