<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-header></app-header>
          
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/admin-profile']">Admin Profile</a></li>
                                        <li class="breadcrumb-item active">Edit Profile</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Edit Profile</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                          <div class="card">
                            <div class="card-body">
                              <div class="profiel_img_box">
                                <div class="edit_img_box">
                                    <label for="img-upload">Upload Image </label>
                                   <input type="file" name="imgFile" (change)="onFileChange($event)" accept="image/x-png,image/gif,image/jpeg" />
                                </div>
                                
                              </div>
                              
                            </div>
                          </div>
                        </div>
                
                        <div class="col-lg-8  mt-lg-0 mt-3">
                          <form>
                          <div class="card">
                            <div class="card-body">
                              <div class="about_profile_box">
                                <div class="field_box">
                                    <label><strong>Name:</strong></label>
                                    <input type="text" class="form-control edit-field" [(ngModel)]="loginModel.name" name="name" >
                                  </div>
                                <div class="field_box">
                                  <label><strong>Email:</strong></label>
                                  <input type="email" class="form-control edit-field" [(ngModel)]="loginModel.email" name="email" >
                                </div>
                               
                                <div class="field_box">
                                  <label><strong>Phone Number:</strong></label>
                                  <input type="number" class="form-control edit-field" [(ngModel)]="loginModel.phone" name="phone">
                                </div>
                              </div>
                              <div class="edit_btn_box">
                                <button class="btn btn-primary mt-3" (click)="UpdateProfile()" type="button">Update</button>
                                <!-- <a href="profile-edit.html" class="btn btn-primary mt-3">Update</a> -->
                              </div>
                            </div>
                          </div>
                        </form>
                        </div>
                      </div>
                    <!-- <app-loader></app-loader> -->
                    
                </div>
            </div>
           
            <app-footer></app-footer>
        </div>
    </div>
</div>

