.profiel_img_box{
 
    .prof-name {
        h5{
            color: #707070;
        }
    }

}
.edit_btn_box{
    text-align: right;
    a{
        width: 100%;
        max-width: 200px;
    }
}
.about_profile_box{
    .field_box{
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
    }
}
.modal{
    .modal-title{
        font-size:16px;
    }
}
.card{
    height: 100%;
}

.edit-field{
    width: 100%;
    max-width: 50%;
 
}
