<div class="fixed-left">


  <div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
      <div class="content">
        <app-header></app-header>
        <div class="page-content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="page-title-box">
                  <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                      <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                  </div>
                  <h4 class="page-title">Dashboard</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="card m-b-30">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="col-3 align-self-center">
                        <div class="round">
                          <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                      </div>

                      <div class="col-9 align-self-center text-center">
                        <a [routerLink]="['/user-list']">
                        <div class="m-l-10">
                          <p class="mb-0 text-muted">View Users</p>
                          <h5 class="mt-0 round-inner">{{ record }}</h5>
                        </div>
                        </a>
                      </div>
                      

                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="card m-b-30">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="col-3 align-self-center">
                        <div class="round">
                          <i class="fa fa-building" aria-hidden="true"></i>
                        </div>
                      </div>

                  
                      <div class="col-9 align-self-center text-center">
                        <a [routerLink]="['/view-company-list']">
                        <div class="m-l-10">
                          <p class="mb-0 text-muted">View Cars Company</p>
                          <h5 class="mt-0 round-inner">{{ record }}</h5>
                        </div>
                        </a>
                      </div>
                      

                      
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="card m-b-30">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="col-3 align-self-center">
                        <div class="round">
                          <i class="mdi mdi-account-multiple-plus"></i>
                        </div>
                      </div>
                      <div class="col-6 text-center align-self-center">
                        <div class="m-l-10 ">
                          <h5 class="mt-0 round-inner">450</h5>
                          <p class="mb-0 text-muted">Total Products</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="card m-b-30">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="col-3 align-self-center">
                        <div class="round ">
                          <i class="mdi mdi-basket"></i>
                        </div>
                      </div>
                      <div class="col-6 align-self-center text-center">
                        <div class="m-l-10 ">
                          <h5 class="mt-0 round-inner">7514</h5>
                          <p class="mb-0 text-muted">New Orders</p>
                        </div>
                      </div>
                      <div class="col-3 align-self-end align-self-center">
                        <h6 class="m-0 float-right text-center text-danger"> <i class="mdi mdi-arrow-down"></i>
                          <span>2.35%</span></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="card m-b-30">
                  <div class="card-body">
                    <div class="d-flex flex-row">
                      <div class="col-3 align-self-center">
                        <div class="round">
                          <i class="mdi mdi-rocket"></i>
                        </div>
                      </div>
                      <div class="col-6 align-self-center text-center">
                        <div class="m-l-10">
                          <h5 class="mt-0 round-inner">$32874</h5>
                          <p class="mb-0 text-muted">Total Sales</p>
                        </div>
                      </div>
                      <div class="col-3 align-self-end align-self-center">
                        <h6 class="m-0 float-right text-center text-success"> <i class="mdi mdi-arrow-up"></i>
                          <span>2.35%</span></h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
            <!-- <app-loader></app-loader> -->
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>