.sign_up {
    background: linear-gradient(122deg, rgba(49, 106, 113, 1) 0%, rgba(49, 106, 113, 1) 28%, rgba(131, 192, 201, 1) 75%);
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    padding: 3rem 0;
    @media (min-width: 1024px) {
        height: 100vh;
    }
}

.con_inner {
    display: flex;
    flex-direction: column;
    .main-logo {
        width: 207px;
        margin: auto;
        @media (min-width: 768px) {
            margin: initial;
        }
    }
}

.box {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 114, 186, 0.16);
    padding-top: 20px;
    margin-top: 55px;
    @media (min-width: 1600px) {
        padding-top: 30px;
        margin-top: 30px;
        max-width: 600px;
    }
    @media (min-width:1920px) {
        margin-top: 10%;
    }
}

.logo_area {
    text-align: center;
    img {
        max-width: 50px;
        width: 100%;
        @media (min-width: 1600px) {
            max-width: 66px;
        }
    }
}

.txt_area {
    text-align: center;
    @media (min-width: 1600px) {
        padding-bottom: 33px;
    }
    h2 {
        font-size: 20px;
        font-weight: 700;
        color: #000;
        padding-bottom: 0;
        @media (min-width: 1600px) {
            font-size: 25px;
            padding-top: 33px;
            padding-bottom: 22px;
        }
    }
    h3 {
        font-size: 19px;
        font-weight: 600;
        @media (min-width: 1600px) {
            font-size: 20px;
        }
    }
    h6 {
        font-size: 15px;
        color: #000;
        font-weight: 500;
        @media (min-width: 1600px) {
            font-size: 18px;
        }
    }
}

.tabs_area {
    .nav-link {
        flex: 0 0 50%;
        max-width: 50%;
        border: none;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        color: #000;
        @media (min-width: 1600px) {
            font-size: 20px;
        }
        // &.active {
        //   color: #D0021B;
        // }
    }
    .tab-content {
        padding: 1rem;
        background: #fff;
        @media (min-width: 768px) {
            padding: 2rem;
        }
        @media (min-width: 1024px) {
            padding: 22px 50px 0;
        }
    }
    .form-group {
        position: relative;
        margin-bottom: 15px;
        @media (min-width: 1600px) {
            margin-bottom: 22px;
        }
        input {
            background: #F9F9F9;
            height: 38px;
            font-size: 14px;
            font-weight: 500;
            border-radius: 6px;
            padding-left: 35px;
            border: 1px solid #f9f9f9!important;
            @media (min-width: 1600px) {
                padding-left: 45px;
                font-size: 18px;
                height: 50px;
            }
            &::placeholder {
                color: rgba(0, 0, 0, 0.3);
            }
            &:focus {
                box-shadow: none;
                border-color: #D0021B;
            }
            &.errormsg {
                border-color: red!important;
            }
        }
        .validation-msg {
            color: #D0021B;
            font-size: 10px;
            font-weight: 600;
            position: absolute;
            display: block!important;
        }
        .valid-error {
            display: none;
        }
        input[type=number] {
            -moz-appearance: textfield;
        }
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        span.icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (min-width: 1600px) {
                width: 45px;
            }
            img {
                max-width: 14px;
                @media (min-width: 1600px) {
                    max-width: 20px;
                }
            }
        }
    }
    .checkbx {
        display: flex;
        input {
            transform: scale(1.2);
            width: auto;
            height: auto;
            margin-right: 8px;
            margin-top: 5px;
            @media (min-width: 1600px) {
                transform: scale(1.5);
                margin-right: 14px;
            }
        }
        label {
            font-size: 12px;
            color: #8F8F8F;
            font-weight: 300;
            @media (min-width: 1600px) {
                font-size: 14px;
            }
            span {
                color: #565656;
            }
            a {
                font-weight: 600;
                color: #D0021B;
            }
        }
    }
    .btn_area {
        text-align: center;
        padding-bottom: 15px;
        button {
            max-width: 200px;
            width: 100%;
            height: 40px;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 600;
            @media (min-width: 1600px) {
                max-width: 250px;
                font-size: 20px;
                height: 50px;
            }
        }
        p {
            font-size: 12px;
            font-weight: 300;
            color: #565656;
            @media (min-width: 1600px) {
                font-size: 14px;
            }
            a {
                font-weight: 500;
                color: #D0021B;
            }
        }
    }
}

.password_field {
    .eye_btn {
        position: absolute;
        top: 0;
        right: 0;
        .active {
            display: none;
            &.show {
                display: block;
            }
        }
        .default {
            display: none;
            &.show {
                display: block;
            }
        }
    }
}

.warrningmsg-text {
    color: #D0021B;
}

.sub_msg {
    color: #D0021B;
    font-size: 12px;
    padding: 8px 15px;
}

.container {
    position: relative;
}

.logo_area {
    position: absolute;
    top: 0;
    left: 15px;
    .inner {
        position: relative;
        margin: 0;
        background: #D0021B;
        padding: 8px 12px;
        @media (min-width: 1600px) {
            padding: 16px 17px;
        }
        &:after {
            content: "";
            width: 100%;
            height: 35px;
            background: #D0021B;
            position: absolute;
            top: 100%;
            left: 0;
            border-radius: 0 0 0 50px;
            @media (min-width: 1600px) {
                height: 50px;
            }
        }
    }
    img {
        max-width: 50px;
        width: 100%;
        @media (min-width: 1600px) {
            max-width: 66px;
        }
    }
}