.profiel_img_box{
    .p_img_box{
        width: 130px;
        height: 130px;
        margin: auto;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        border: 5px solid #dddddd73;
    }
    .prof-name {
        h5{
            color: #707070;
        }
    }

}
.edit_btn_box{
    display: flex;
    justify-content: center;
    a{
        width: 100%;
        max-width: 200px;
    }
}
.about_profile_box{
    .field_box{
        display: flex;
        justify-content: space-between;
        margin: 5px 0;
    }
}
.modal{
    .modal-title{
        font-size:16px;
    }
}
.card{
    height: 100%;
}