<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                                        <li class="breadcrumb-item active">Admin Profile</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Admin Profile</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                          <div class="card">
                            <div class="card-body">
                              <div class="profiel_img_box">
                                <div class="p_img_box">
                                  <img src="https://realisticcarcustom.com/uploads/images/admin/{{loginModel.image}} " class="img-fluid">
                                
                                </div>
                                <div class="prof-name text-center mt-3">
                                  <h5>{{ loginModel.name }}   </h5>
                                </div>
                              </div>
                              <div class="edit_btn_box">
                                <a [routerLink]="['/edit-profile']" class="btn btn-primary mt-3">Edit</a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-8  mt-lg-0 mt-3">
                          <div class="card">
                            <div class="card-body">
                              <div class="about_profile_box">
                                <div class="field_box">
                                  <label><strong>Email:</strong></label>
                                  <p>{{ loginModel.email }} </p>
                                </div>
                                <div class="field_box">
                                  <label><strong>Password:</strong></label>
                                  <p>************* <span data-toggle="modal" data-target="#editPwd"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span> </p>
                                </div>
                                <div class="field_box">
                                  <label><strong>Phone Number:</strong></label>
                                  <p>{{ loginModel.phone }} </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- <app-loader></app-loader> -->
                    
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>

  <div class="modal" id="editPwd" tabindex="-1" aria-labelledby="editPwdLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPwdLabel">Edit Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <span *ngIf="addValidationError.success">{{addValidationError.success}}</span>
            <form autocomplete="off" class="form" role="form">
                <div class="form-group">
                  <label for="inputPasswordNew">New Password</label> 
                <input class="form-control"  [(ngModel)]="loginModel.password" name="password" id="inputPasswordNew" required="" type="password"> 
                <span *ngIf="addValidationError.password">{{addValidationError.password}}</span>
              </div>
                <div class="form-group">
                  <label for="inputPasswordNewVerify">Confirm Password</label> 
              <input class="form-control"  [(ngModel)]="loginModel.c_password" name="c_password" id="inputPasswordNewVerify" required="" type="password"> 
              <span *ngIf="addValidationError.c_password">{{addValidationError.c_password}}</span>
            </div>
                <div class="form-group">
                  <button class="btn btn-primary mt-3" (click)="update_password()" type="button">Update</button>
                  <!-- <button class="btn btn-primary btn-lg float-right" type="submit" (click)="update_password()">Save Changes</button> -->
                </div>
                <span class="errMsg" *ngIf="errMsg">{{ errMsg }}</span>
              </form>
        </div>
        
      </div>
    </div>
  </div>