<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="main_wrap fixed-left">
    <div id="wrapper">
        <app-admin-sidebar></app-admin-sidebar>
        <div class="content-page">
            <div class="content">
                <app-admin-header></app-admin-header>
                <div class="page-content-wrapper ">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="page-title-box">
                                    <div class="btn-group float-right">
                                        <ol class="breadcrumb hide-phone p-0 m-0">
                                            <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
                                            <li class="breadcrumb-item active">{{mainheading}}</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">{{mainheading}}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card m-b-30">
                                    <div class="card-body">
                                        <div class="table_area">
                                            <div class="filter_area">
                                                <div class="search_bar">
                                                    <input type="text" [(ngModel)]="adminModel.filterString" class="form-control" placeholder="Search">
                                                </div>
                                                <!-- <div class="entries_show">
                            <label for="">Show Entries</label>
                            <select class="form-control">
                                <option value="" selected>10</option>
                                <option value="">25</option>
                                <option value="">50</option>
                                <option value="">100</option>
                            </select>
                        </div> -->
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>

                                                        <tr>
                                                            <th style="width: 6%;" (click)="sort('id')">S No.</th>
                                                            <th style="width: 24%;" (click)="sort('name')">Name</th>
                                                            <th style="width: 30%;" (click)="sort('email')">Email</th>
                                                            <th style="width: 20%;" (click)="sort('phone')">Phone No.</th>
                                                            <th style="width:15%">Action</th>

                                                            <!-- <th style="width: 60px;" (click)="sort('id')">S No.</th>
                              <th (click)="sort('name')">Name</th>
                              <th (click)="sort('email')">Email</th>
                              <th (click)="sort('phone')">Phone No.</th>
                              <th style="width:150px">Action</th> -->
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let candidateslist of candidatelist |filter:adminModel.filterString|  orderBy: key : reverse| paginate : {
                              itemsPerPage: pageSize,
                              currentPage: page,
                              totalItems: count
                            }; let i = index">
                                                            <th>{{pageSize * (page-1)+i+1}}</th>
                                                            <td>{{candidateslist.name}}</td>
                                                            <td><a href="mailto:mark_cambridge@gmail.com">{{candidateslist.email}}</a></td>
                                                            <td>
                                                                +{{candidateslist.phone}}
                                                                <!-- <a href="#" class="linkedIn_link" target="_blank"><i class="fab fa-linkedin-in"></i></a> -->
                                                            </td>
                                                            <td>
                                                                <div class="btn_area">
                                                                    <button class="btn status p-0 active-data" title="Click for Active" *ngIf="candidateslist.status==0 || candidateslist.status==2 " (click)="changeStatus(candidateslist._id,candidateslist.status)"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                                    <button class="btn status p-0 deactive-data" title="Click for De-Active" *ngIf="candidateslist.status==1 " (click)="changeStatus(candidateslist._id,candidateslist.status)"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                                    <button class="btn delete p-0" title="Delete" (click)="deleteCandidate(candidateslist._id)"><i class="fas fa-trash-alt"></i></button>
                                                                    <button class="btn viewBtn p-0" title="View" (click)="viewCandidate(candidateslist._id)"><i class="fas fa-eye"></i></button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr *ngIf="candidatelist.length == 0">
                                                            <td colspan="6" style="text-align: center;">No Record Found</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <pagination-controls class="my-pagination" responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                                            </pagination-controls>

                                            <!-- <div class="pagination_area">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item"><a class="page-link" [routerLink]="['/admin/candidates/'+getType]">Previous</a></li>
                              <li class="page-item active"><a class="page-link"  [routerLink]="['/admin/candidates/'+getType]">1</a></li>
                              <li class="page-item"><a class="page-link"  [routerLink]="['/admin/candidates/'+getType]">2</a></li>
                              <li class="page-item"><a class="page-link"  [routerLink]="['/admin/candidates/'+getType]">3</a></li>
                              <li class="page-item"><a class="page-link"  [routerLink]="['/admin/candidates/'+getType]">Next</a></li>
                            </ul>
                          </nav>
                      </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                © 2020 Swipe Up
            </footer>

        </div>
    </div>
</div>