.linkedIn_link {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D0021B;
  color: #D0021B;
  border-radius: 50%;
  transition: all ease 0.3s;

  &:hover {
    color: #fff !important;
    background: #D0021B;
    transition: all ease 0.3s;
  }
}
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #f5e1e3; // Choose your own color here
 }
.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
  padding: 8px;
}

.table td,
.table th {
  padding: 8px;

  a {
    color: #D0021B;
  }
}

.filter_area {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;

  .entries_show {
    display: flex;
    align-items: center;

    label {
      margin: 0;
      padding-right: 10px;
      white-space: nowrap;
    }
  }
}

.pagination_area {
  padding-top: 15px;

  .page-link {
    color: #D0021B;

  }

  .active {
    a {
      color: #fff;
      background: #D0021B;
    }
  }
}

.btn_area {
  button {
    margin-left: 20px;

    &.status,
    &.viewBtn {
      color: #D0021B;
    }

    &:first-child {
      margin: 0;
    }
  }
}



table {
  thead {
    background: #D0021B;
    color: #fff;
  }
  tbody{
    tr{
      td{
        // overflow-wrap: anywhere;
        word-break: break-all;
      }
    }
  }
}