<div class="left side-menu">
    <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
        <i class="ion-close"></i>
    </button>

    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <a [routerLink]="['/dashboard']" class="logo"><img src="assets/images/ic_app_logo.png"></a>
        </div>
    </div>

    <div class="sidebar-inner slimscrollleft">

        <div id="sidebar-menu">
            <ul>
                <li class="menu-title"></li>

                <li>
                    <a [routerLink]="['/dashboard']" class="waves-effect" [className]="dashboardActive? 'active' : '' ">
                        <i class="mdi mdi-airplay"></i>
                        <span> Dashboard <!--span class="badge badge-pill badge-primary float-right">7</span--></span>
                    </a>
                </li>

                <!-- <li>
                    <a [routerLink]="['/school-list']" class="waves-effect" [className]="schoolActive? 'active' : '' ">
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                        <span> Manage Schools </span>
                    </a>
                </li> -->
                <!-- <li>
                    <a (click)="redirect('courses-list')" [routerLink]="['/courses-list']" class="waves-effect" [className]="courseActive? 'active' : '' ">
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                        <span> Manage Courses </span>
                    </a>
                </li>    -->
                <li *ngIf="!menuShow">
                    <a [routerLink]="['/announcement-list']" class="waves-effect" [className]="announcementActive? 'active' : '' ">
                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                        <span> Manage Announcements </span>
                    </a>
                </li>                    
                <li *ngIf="menuShow || adminShow" >
                    <a [routerLink]="['/abuse-words-list']" class="waves-effect" [className]="abuseActive? 'active' : '' ">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                        <span> Manage Abuse Words </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/category']" class="waves-effect" [className]="selActive? 'active' : '' ">
                        <i class="mdi mdi-file-document"></i>
                        <span> Manage SEL  </span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/recommendations']" class="waves-effect" [className]="recommendActive? 'active' : '' ">
                        <i class="mdi mdi-archive"></i>
                        <span> SEL Recommendations </span>
                    </a>
                </li> 
                <li *ngIf="menuShow">
                    <a [routerLink]="['/list-feedback']" class="waves-effect" [className]="contactsActive? 'active' : '' ">
                        <!-- <i class="mdi mdi-comments-alt"></i> -->
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                        <span> Feedback </span>
                    </a>
                </li> 
                <!-- <li *ngIf="!menuShow">
                    <a [routerLink]="['/student-iep']" class="waves-effect" [className]="IEPActive? 'active' : '' ">
                        <i class="mdi mdi-school"></i>
                        <span> Student IEP  </span>
                    </a>
                </li> -->
                <li *ngIf="menuShow">
                    <a [routerLink]="['/list-content']" class="waves-effect" [className]="contentActive ? 'active' : '' ">
                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                        <span> Manage Content  </span>
                    </a>
                </li>
                <li *ngIf="menuShow || adminShow">
                    <a [routerLink]="['/antecedent-category']" class="waves-effect" [className]="observationActive ? 'active' : '' ">
                        <i class="fa fa-th-large" aria-hidden="true"></i>
                        <span> Antecedent Category  </span>
                    </a>
                </li>
                <li *ngIf="menuShow || adminShow">
                    <a [routerLink]="['/observations-list']" class="waves-effect" [className]="observationsActive ? 'active' : '' ">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        <span> Observations Category </span>
                    </a>
                </li>
                <li *ngIf="menuShow || adminShow">
                    <a [routerLink]="['/list-intervention']" class="waves-effect" [className]="interventionActive ? 'active' : '' ">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        <span> Intervention Strategy </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div> <!-- end sidebarinner -->
</div>