<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>

    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">

                <div class="container-fluid">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Dashboard</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->


                    <div class="row">
                        <div class="col-md-6 col-xl-3"  *ngIf="menuShow">
                            <div class="dash-box">
                                <a [routerLink]="['/school-list']"> 
                                    <div class="heading">
                                    <h5>
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                            style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                            <g>
                                                <g>
                                                    <path d="M241.492,231.348h-32.426c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.821,8.534,8.534,8.534h32.426
                                            c4.714,0,8.534-3.821,8.534-8.534v-52.907C250.026,235.169,246.206,231.348,241.492,231.348z M232.958,284.255H217.6v-35.839
                                            h15.358V284.255z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M302.933,231.348h-32.427c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.821,8.534,8.534,8.534h32.427
                                            c4.714,0,8.534-3.821,8.534-8.534v-52.907C311.466,235.169,307.647,231.348,302.933,231.348z M294.399,284.255h-15.36v-35.839
                                            h15.36V284.255z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M241.492,309.854h-32.426c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534h32.426
                                            c4.714,0,8.534-3.821,8.534-8.534v-52.907C250.026,313.674,246.206,309.854,241.492,309.854z M232.958,362.762H217.6v-35.839
                                            h15.358V362.762z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M302.933,309.854h-32.427c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.821,8.534,8.534,8.534h32.427
                                            c4.714,0,8.534-3.821,8.534-8.534v-52.907C311.466,313.674,307.647,309.854,302.933,309.854z M294.399,362.762h-15.36v-35.839
                                            h15.36V362.762z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M92.16,301.89H59.734c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534H92.16
                                            c4.714,0,8.534-3.821,8.534-8.534v-52.907C100.693,305.711,96.874,301.89,92.16,301.89z M83.626,354.797H68.268v-35.839h15.358
                                            V354.797z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M153.599,301.89h-32.426c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534h32.426
                                            c4.714,0,8.534-3.821,8.534-8.534v-52.907C162.133,305.711,158.313,301.89,153.599,301.89z M145.065,354.797h-15.358v-35.839
                                            h15.358V354.797z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M92.16,383.81H59.734c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534H92.16
                                            c4.714,0,8.534-3.821,8.534-8.534v-52.907C100.693,387.631,96.874,383.81,92.16,383.81z M83.626,436.716H68.268v-35.839h15.358
                                            V436.716z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M153.599,383.81h-32.426c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534h32.426
                                            c4.714,0,8.534-3.821,8.534-8.534v-52.907C162.133,387.631,158.313,383.81,153.599,383.81z M145.065,436.716h-15.358v-35.839
                                            h15.358V436.716z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M391.963,301.89h-32.427c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534h32.427
                                            c4.714,0,8.534-3.821,8.534-8.534v-52.907C400.497,305.711,396.677,301.89,391.963,301.89z M383.43,354.797h-15.36v-35.839h15.36
                                            V354.797z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M453.403,301.89h-32.427c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534h32.427
                                            c4.714,0,8.534-3.821,8.534-8.534v-52.907C461.937,305.711,458.117,301.89,453.403,301.89z M444.869,354.797h-15.36v-35.839h15.36
                                            V354.797z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M391.963,383.81h-32.427c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534h32.427
                                            c4.714,0,8.534-3.821,8.534-8.534v-52.907C400.497,387.631,396.677,383.81,391.963,383.81z M383.43,436.716h-15.36v-35.839h15.36
                                            V436.716z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M453.403,383.81h-32.427c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534h32.427
                                            c4.714,0,8.534-3.821,8.534-8.534v-52.907C461.937,387.631,458.117,383.81,453.403,383.81z M444.869,436.716h-15.36v-35.839h15.36
                                            V436.716z" />
                                                </g>
                                            </g>
                                            <g>
                                                <g>
                                                    <path d="M503.466,464.603h-15.073V264.607c0-4.143-2.975-7.687-7.056-8.405l-140.004-24.62v-19.566
                                            c0-4.713-3.82-8.534-8.534-8.534h-15.166v-50.885h0.465h10.531c4.714,0,8.534-3.821,8.534-8.534s-3.82-8.534-8.534-8.534h-7.683
                                            l-56.409-42.383v-9.98l31.136-15.627c2.795-1.403,4.598-4.221,4.702-7.346c0.102-3.126-1.511-6.057-4.208-7.639l-35.842-21.05
                                            c-2.636-1.549-5.903-1.567-8.56-0.048c-2.656,1.52-4.294,4.346-4.294,7.406v54.28l-56.416,42.388h-7.684
                                            c-4.714,0-8.534,3.821-8.534,8.534s3.82,8.534,8.534,8.534h10.532h0.464v50.885h-15.166c-4.714,0-8.534,3.821-8.534,8.534v19.566
                                            l-140,24.619c-4.08,0.718-7.056,4.262-7.056,8.405v199.997H8.534c-4.714,0-8.534,3.821-8.534,8.534s3.82,8.534,8.534,8.534
                                            h494.932c4.714,0,8.534-3.821,8.534-8.534S508.179,464.603,503.466,464.603z M170.666,464.603H40.68V289.946h129.986V464.603z
                                                M170.666,272.877H40.68v-1.108l129.986-22.86V272.877z M264.537,53.77l9.457,5.554l-9.457,4.746V53.77z M255.999,108.08
                                            l36.533,27.449h-73.068L255.999,108.08z M211.433,152.596h89.132v50.885h-17.259v-34.915c0-4.713-3.82-8.534-8.534-8.534h-37.546
                                            c-4.714,0-8.534,3.821-8.534,8.534v34.915h-17.26V152.596z M266.239,177.099v26.382H245.76v-26.382H266.239z M276.478,464.6
                                            H235.52v-55.169h40.958V464.6z M324.265,464.601h-30.719v-63.703c0-4.713-3.82-8.534-8.534-8.534h-58.026
                                            c-4.714,0-8.534,3.821-8.534,8.534v63.703h-30.719V220.549h136.532V464.601z M471.325,464.603H341.332V289.946h129.993V464.603z
                                                M471.325,272.879H341.332V248.91l129.993,22.86V272.879z" />
                                                </g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                        </svg> Schools</h5>
                                    </div>
                                    <div class="numb-box">
                                        <div class="numb-count">
                                            <h2>{{ schools }}</h2>
                                            <!-- <p class="outof">of 10</p> -->
                                        </div>
                                    </div>
                                </a>    
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="dash-box">
                                <a [routerLink]="['/teachers-list']"> 
                                    <div class="heading">
                                    <h5>
                                        <svg id="_x33_0" enable-background="new 0 0 64 64" height="512" viewBox="0 0 64 64" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m29 23h6v2h-6z"/><path d="m58 27h-1v-3c0-1.654-1.346-3-3-3s-3 1.346-3 3v3.184c-1.161.414-2 1.514-2 2.816v2.343c0 1.336.521 2.592 1.465 3.536l.464.464-.76 4.559c-2.482-5.475-7.382-9.452-13.349-10.746l-.4-1.597c2.367-.876 4.13-2.993 4.5-5.56h.08c2.206 0 4-1.794 4-4 0-.816-.248-1.573-.668-2.206l.319-1.275c.232-.927.35-1.88.35-2.834-.001-6.443-5.242-11.684-11.686-11.684h-2.631c-6.443 0-11.684 5.241-11.684 11.685 0 .954.117 1.907.35 2.834l.319 1.276c-.421.632-.669 1.39-.669 2.205 0 2.206 1.794 4 4 4h.08c.37 2.567 2.133 4.683 4.5 5.56l-.395 1.578c-8.13 1.497-14.185 8.677-14.185 17.005v4.857c0 6.065 4.935 11 11 11h9c1.984 0 3.622-1.454 3.934-3.35 1.18-.423 2.411-.65 3.671-.65h4.395v-2.237l1.394 1.672c1.359 1.63 3.355 2.565 5.477 2.565 3.931 0 7.129-3.198 7.129-7.129v-17.457l.535-.535c.944-.944 1.465-2.2 1.465-3.536v-2.343c0-1.654-1.346-3-3-3zm-4-4c.552 0 1 .448 1 1v3.184c-.374.133-.711.336-1 .596-.289-.261-.626-.463-1-.596v-3.184c0-.552.448-1 1-1zm-21.131 32c-.363-1.158-1.447-2-2.724-2-1.088 0-2.065.604-2.553 1.578l-.21.422h-2.382v-10h2.395c1.985 0 3.911.541 5.605 1.558v8.442zm-2.715-21.805-2.727 2.181-1.189-2.973c.528-.146 1.065-.269 1.615-.359zm1.601 5.805h.491l1.645 5.758c-1.064-.621-2.204-1.079-3.389-1.373zm.627-2h-.764l-.862-1.724 1.244-.995 1.244.995zm1.464-3.805 2.288-1.144c.546.11 1.081.246 1.607.404l-1.169 2.921zm5.154-16.195c0 1.103-.897 2-2 2s-2-.897-2-2 .897-2 2-2 2 .897 2 2zm2 4v-4c1.103 0 2 .897 2 2s-.897 2-2 2zm-10.315-18h2.631c5.339 0 9.684 4.345 9.684 9.685 0 .79-.098 1.581-.289 2.35l-.08.321c-.5-.225-1.049-.356-1.631-.356h-.049c-.245-2.277-2.013-4.141-4.33-4.43l-.528-.066c-1.764-.221-3.093-1.727-3.093-3.504h-2c0 2.784 2.083 5.144 4.844 5.488l.528.066c.491.062.936.249 1.322.515-.227-.039-.456-.069-.694-.069-1.859 0-3.411 1.279-3.858 3h-2.284c-.447-1.721-1.999-3-3.858-3-.713 0-1.372.203-1.953.53.222-1.397 1.403-2.47 2.85-2.52.592 1.12 1.458 2.095 2.548 2.822l1.109-1.664c-1.599-1.066-2.554-2.851-2.554-4.773v-.395h-2v.395c0 .575.073 1.138.195 1.687-2.373.387-4.195 2.437-4.195 4.918v1c-.582 0-1.131.131-1.631.356l-.08-.321c-.191-.769-.289-1.56-.289-2.35 0-5.34 4.345-9.685 9.685-9.685zm-3.685 12c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .897-2 2-2zm-6 4c0-1.103.897-2 2-2v4c-1.103 0-2-.897-2-2zm4 3v-1.556c.591.344 1.268.556 2 .556 1.859 0 3.411-1.279 3.858-3h2.284c.447 1.721 1.999 3 3.858 3 .732 0 1.409-.212 2-.556v1.556c0 2.757-2.243 5-5 5h-4c-2.757 0-5-2.243-5-5zm5 7h4c.156 0 .31-.013.463-.023l.372 1.487-2.835 1.418-2.835-1.418.372-1.487c.153.01.307.023.463.023zm-15 23v-4.857c0-6.223 3.823-11.726 9.347-14.083l2.226 5.564 2.587-2.069.773 1.545-1.416 4.955c-.373-.033-.746-.055-1.122-.055h-4.395v11.816c-1.161-.414-2-1.514-2-2.816v-11h-2v11c0 2.757 2.243 5 5 5h3v4h-3c-4.963 0-9-4.037-9-9zm18 9h-4v-4.764l.382-.764c.145-.291.438-.472.764-.472.47 0 .854.384.854.854v1.146h2c1.103 0 2 .897 2 2s-.897 2-2 2zm10-4h-2.395c-1.324 0-2.621.203-3.872.598-.326-.866-.943-1.581-1.733-2.042v-8.998c1.695-1.017 3.62-1.558 5.605-1.558h2.395zm8.871 2c-1.526 0-2.963-.673-3.94-1.846l-2.931-3.517v-10.637h-4.395c-1.682 0-3.328.33-4.864.956l-1.673-5.857.773-1.545 2.587 2.069 2.192-5.479c4.591 1.994 8.118 5.909 9.575 10.864l.291.989-1.473 8.839 1.973.328 2.861-17.164h4.153v16.871c0 2.828-2.301 5.129-5.129 5.129zm6.25-24.535-.535.535h-5.172l-.535-.535c-.566-.567-.879-1.32-.879-2.122v-2.343c0-.552.448-1 1-1s1 .448 1 1c0 1.654 1.346 3 3 3h2.929c-.123.551-.4 1.057-.808 1.465zm.879-3.465h-3c-.552 0-1-.448-1-1s.448-1 1-1h2c.552 0 1 .448 1 1z"/></g></svg> Teachers</h5>
                                    </div>
                                    <div class="numb-box">
                                        <div class="numb-count">
                                            <h2>{{ teachers }}</h2>
                                            <!-- <p class="outof">of 20,000</p> -->
                                        </div>
                                    </div>
                                </a>    
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="dash-box">
                                <a [routerLink]="['/student-list']"> 
                                    <div class="heading">
                                    <h5>
                                        <svg id="Layer_1" enable-background="new 0 0 512 512" height="512"
                                            viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
                                            <g>
                                                <path
                                                    d="m307.393 300.861c21.199-12.383 37.564-32.175 45.514-55.802.352.009.704.027 1.056.027 21.554 0 39.09-17.536 39.09-39.09 0-20.118-15.279-36.73-34.841-38.855v-16.951c7.172-7.223 24.637-29.412 21.09-71.552-1.438-17.09-7.749-30.412-18.759-39.597-14.114-11.775-31.87-13.029-39.427-13.011-9.321-8.71-42.93-35.781-88.365-22.363-8.786 2.596-17.188 5.987-25.683 10.368-3.689 1.903-5.137 6.434-3.235 10.122 1.903 3.688 6.434 5.137 10.122 3.235 7.644-3.942 15.185-6.989 23.052-9.312 43.537-12.861 74.366 19.332 75.644 20.696 1.583 1.704 3.893 2.577 6.204 2.37.186-.019 18.973-1.559 32.149 9.511 7.755 6.515 12.237 16.354 13.321 29.243 2.721 32.335-8.474 50.18-14.563 57.339-14.983-11.636-28.53-35.748-28.677-36.013-2.622-5.143-10.703-5.055-13.221.163-10.992 20.965-31.191 29.292-42.743 32.449-1.24-16.068-11.486-28.817-12.014-29.463-2.781-3.58-8.639-3.659-11.509-.156-31.659 36.693-72.973 36.738-77.572 36.631-.926-.023-1.854-.176-2.758-.452-13.076-4.003-26.035-15.496-34.501-24.295 28.068-4.837 38.368-24.237 38.86-25.196 2.689-4.851-1.393-11.285-6.912-10.94-12.182.377-20.802-4.117-26.332-13.714-1.385-2.403-2.403-4.852-3.148-7.088 26.947 1.332 43.469-7.084 59.235-16.663 3.547-2.155 4.675-6.777 2.52-10.323-2.154-3.547-6.776-4.675-10.323-2.52-15.914 9.67-31.407 17.372-59.926 13.652-4.543-.708-8.887 3.37-8.469 7.948.03.455.808 11.27 6.777 21.943 4.276 7.648 11.777 16.304 24.622 19.993-8.468 6.327-19.329 9.333-32.314 8.929-6.125-.387-10.088 7.311-6.207 12.067.966 1.268 23.122 30.016 48.638 39.519v13.433c-19.562 2.125-34.841 18.737-34.841 38.855 0 21.554 17.536 39.09 39.09 39.09.352 0 .704-.018 1.056-.027 7.949 23.627 24.314 43.419 45.514 55.802-60.573 8.216-107.415 60.264-107.415 123.054v15.61c0 4.15 3.364 7.514 7.514 7.514s7.514-3.364 7.514-7.514v-15.61c0-29.3 11.606-55.938 30.458-75.566l96.64 106.337c8.48 9.747 24.885 9.747 33.364 0l31.585-34.754c2.791-3.071 2.564-7.823-.507-10.614-3.07-2.792-7.823-2.564-10.614.507l-31.585 34.754c-2.822 3.259-8.3 3.259-11.121 0l-96.636-106.333c4.375-3.459 9.021-6.587 13.899-9.353l82.738 91.04c2.826 3.251 8.296 3.25 11.121 0l82.738-91.04c4.878 2.767 9.524 5.895 13.899 9.353l-44.827 49.326c-2.791 3.071-2.564 7.823.507 10.614 3.062 2.785 7.817 2.571 10.614-.507l44.83-49.329c18.853 19.628 30.458 46.266 30.458 75.566v73.057h-44.741v-58.633c0-4.15-3.364-7.514-7.514-7.514s-7.514 3.364-7.514 7.514v58.633h-168.023v-58.633c0-4.15-3.364-7.514-7.514-7.514s-7.514 3.364-7.514 7.514v58.633h-44.741v-27.391c0-4.15-3.364-7.514-7.514-7.514s-7.514 3.364-7.514 7.514v34.905c0 4.15 3.364 7.514 7.514 7.514h302.589c4.15 0 7.514-3.364 7.514-7.514v-80.571c-.001-62.793-46.843-114.841-107.416-123.057zm-39.847 32.78h-23.092l-4.264-18.889h31.62zm110.478-127.645c0 12.331-9.325 22.52-21.293 23.898.969-5.642 1.48-11.438 1.48-17.353v-30.224c11.248 2.014 19.813 11.861 19.813 23.679zm-244.048 0c0-11.817 8.566-21.665 19.813-23.679v30.224c0 5.914.511 11.711 1.48 17.353-11.968-1.379-21.293-11.567-21.293-23.898zm34.84 6.545v-56.769c13.328-.687 47.859-5.381 77.288-34.389 2.658 5.316 5.186 12.789 3.652 20.214-.482 2.334.172 4.759 1.763 6.535 1.591 1.775 3.93 2.683 6.303 2.466 1.588-.15 35.383-3.68 56.597-31.594 6.438 9.703 17.022 23.79 28.764 32.007v61.53c0 48.073-39.111 87.183-87.184 87.183s-87.183-39.11-87.183-87.183zm52.566 102.211h3.401l5.996 26.562-5.264 28.85-43.635-48.013c12.257-4.774 25.578-7.399 39.502-7.399zm34.618 88.954-17.761-19.544 6.476-35.494h22.571l6.476 35.494zm30.484-33.542-5.264-28.85 5.996-26.562h3.401c13.924 0 27.245 2.625 39.501 7.399z" />
                                                <path
                                                    d="m256 260.779c26.662 0 34.723-18.737 35.074-19.588.001-.002.002-.004.003-.006 2.124-4.773-1.652-10.532-6.913-10.414-3.125 0-5.802 1.913-6.929 4.631-.379.803-5.247 10.377-21.235 10.377-15.983 0-20.853-9.57-21.235-10.377-1.127-2.718-3.804-4.631-6.929-4.631-5.261-.118-9.036 5.642-6.912 10.414.001.001.002.004.003.006.35.851 8.411 19.588 35.073 19.588z" />
                                                <path
                                                    d="m210.199 176.049c-4.142 0-7.5 3.358-7.5 7.5v21.19c0 4.142 3.358 7.5 7.5 7.5s7.5-3.358 7.5-7.5v-21.19c0-4.142-3.358-7.5-7.5-7.5z" />
                                                <path
                                                    d="m301.801 212.24c4.142 0 7.5-3.358 7.5-7.5v-21.19c0-4.142-3.358-7.5-7.5-7.5s-7.5 3.358-7.5 7.5v21.19c0 4.142 3.358 7.5 7.5 7.5z" />
                                            </g>
                                        </svg>
                                        Students</h5>
                                    </div>
                                    <div class="numb-box">
                                        <div class="numb-count">
                                            <h2>{{ students }}</h2>
                                            <!-- <p class="outof">of 2000</p> --> 
                                        </div>
                                    </div>
                                </a>    
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="dash-box">
                                <a [routerLink]="['/courses-list']"> 
                                    <div class="heading">
                                    <h5>
                                        <!-- <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
    <g>
        <g>
            <circle cx="75" cy="316" r="45"/>
        </g>
    </g>
    <g>
        <g>
            <circle cx="256" cy="316" r="45"/>
        </g>
    </g>
    <g>
        <g>
            <circle cx="437" cy="316" r="45"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M481.562,375.978C469.067,385.291,453.745,391,437,391s-32.067-5.709-44.562-15.022C374.063,389.649,362,411.338,362,436
                v15h-31v-15c0-24.662-12.063-46.351-30.438-60.022C288.067,385.291,272.745,391,256,391s-32.067-5.709-44.562-15.022
                C193.063,389.649,181,411.338,181,436v15h-31v-15c0-24.662-12.063-46.351-30.438-60.022C107.067,385.291,91.745,391,75,391
                s-32.067-5.709-44.562-15.022C12.063,389.649,0,411.338,0,436v76h30v-30h452v30h30v-76
                C512,411.338,499.937,389.649,481.562,375.978z"/>
        </g>
    </g>
    <g>
        <g>
            <circle cx="75" cy="45" r="45"/>
        </g>
    </g>
    <g>
        <g>
            <circle cx="256" cy="45" r="45"/>
        </g>
    </g>
    <g>
        <g>
            <circle cx="437" cy="45" r="45"/>
        </g>
    </g>
    <g>
        <g>
            <path d="M481.562,104.978C469.067,114.291,453.745,120,437,120s-32.067-5.709-44.562-15.022C374.063,118.649,362,140.338,362,165
                v15h-31v-15c0-24.662-12.063-46.351-30.438-60.022C288.067,114.291,272.745,120,256,120s-32.067-5.709-44.562-15.022
                C193.063,118.649,181,140.338,181,165v15h-31v-15c0-24.662-12.063-46.351-30.438-60.022C107.067,114.291,91.745,120,75,120
                s-32.067-5.709-44.562-15.022C12.063,118.649,0,141.338,0,166v75h30v-30h452v30h30v-76
                C512,140.338,499.937,118.649,481.562,104.978z"/>
        </g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
    <g>
    </g>
                                        </svg> -->
                                        <img src="assets/images/courses.svg" alt="" class="dashboard-icon">
                                        Courses</h5>
                                    </div> 
                                    <div class="numb-box">
                                        <div class="numb-count">
                                            <h2>{{ courses}}</h2>
                                            <!-- <p class="outof">of 120</p> -->
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="dash-box">
                                <a [routerLink]="['/class-list']"> 
                                    <div class="heading">
                                    <h5>
                                        <img src="assets/images/classes.svg" alt="" class="dashboard-icon">
                                        Classes</h5>
                                    </div> 
                                    <div class="numb-box">
                                        <div class="numb-count">
                                            <h2>{{ classes}}</h2>
                                            <!-- <p class="outof">of 120</p> -->
                                        </div>
                                    </div>
                                </a>    
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="dash-box">
                                <a [routerLink]="['/staff-list']"> 
                                    <div class="heading">
                                    <h5>
                                        <img src="assets/images/staff.svg" alt="" class="dashboard-icon">
                                        Staff</h5>
                                    </div> 
                                    <div class="numb-box">
                                        <div class="numb-count">
                                            <h2>{{ staff}}</h2>
                                            <!-- <p class="outof">of 120</p> -->
                                        </div>
                                    </div>
                                </a>    
                            </div>
                        </div>

                    </div>
                </div><!-- container -->


            </div> <!-- Page content Wrapper -->
        </div>
        <app-footer></app-footer>
    </div>
</div>