<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item active">School View </li>
                                    </ol>
                                </div>
                                <h4 class="page-title"> <span>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                    style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path d="M241.492,231.348h-32.426c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.821,8.534,8.534,8.534h32.426
                                       c4.714,0,8.534-3.821,8.534-8.534v-52.907C250.026,235.169,246.206,231.348,241.492,231.348z M232.958,284.255H217.6v-35.839
                                       h15.358V284.255z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M302.933,231.348h-32.427c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.821,8.534,8.534,8.534h32.427
                                       c4.714,0,8.534-3.821,8.534-8.534v-52.907C311.466,235.169,307.647,231.348,302.933,231.348z M294.399,284.255h-15.36v-35.839
                                       h15.36V284.255z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M241.492,309.854h-32.426c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534h32.426
                                       c4.714,0,8.534-3.821,8.534-8.534v-52.907C250.026,313.674,246.206,309.854,241.492,309.854z M232.958,362.762H217.6v-35.839
                                       h15.358V362.762z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M302.933,309.854h-32.427c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.821,8.534,8.534,8.534h32.427
                                       c4.714,0,8.534-3.821,8.534-8.534v-52.907C311.466,313.674,307.647,309.854,302.933,309.854z M294.399,362.762h-15.36v-35.839
                                       h15.36V362.762z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M92.16,301.89H59.734c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534H92.16
                                       c4.714,0,8.534-3.821,8.534-8.534v-52.907C100.693,305.711,96.874,301.89,92.16,301.89z M83.626,354.797H68.268v-35.839h15.358
                                       V354.797z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M153.599,301.89h-32.426c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534h32.426
                                       c4.714,0,8.534-3.821,8.534-8.534v-52.907C162.133,305.711,158.313,301.89,153.599,301.89z M145.065,354.797h-15.358v-35.839
                                       h15.358V354.797z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M92.16,383.81H59.734c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534H92.16
                                       c4.714,0,8.534-3.821,8.534-8.534v-52.907C100.693,387.631,96.874,383.81,92.16,383.81z M83.626,436.716H68.268v-35.839h15.358
                                       V436.716z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M153.599,383.81h-32.426c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534h32.426
                                       c4.714,0,8.534-3.821,8.534-8.534v-52.907C162.133,387.631,158.313,383.81,153.599,383.81z M145.065,436.716h-15.358v-35.839
                                       h15.358V436.716z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M391.963,301.89h-32.427c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534h32.427
                                       c4.714,0,8.534-3.821,8.534-8.534v-52.907C400.497,305.711,396.677,301.89,391.963,301.89z M383.43,354.797h-15.36v-35.839h15.36
                                       V354.797z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M453.403,301.89h-32.427c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534h32.427
                                       c4.714,0,8.534-3.821,8.534-8.534v-52.907C461.937,305.711,458.117,301.89,453.403,301.89z M444.869,354.797h-15.36v-35.839h15.36
                                       V354.797z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M391.963,383.81h-32.427c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534h32.427
                                       c4.714,0,8.534-3.821,8.534-8.534v-52.907C400.497,387.631,396.677,383.81,391.963,383.81z M383.43,436.716h-15.36v-35.839h15.36
                                       V436.716z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M453.403,383.81h-32.427c-4.714,0-8.534,3.821-8.534,8.534v52.907c0,4.713,3.82,8.534,8.534,8.534h32.427
                                       c4.714,0,8.534-3.821,8.534-8.534v-52.907C461.937,387.631,458.117,383.81,453.403,383.81z M444.869,436.716h-15.36v-35.839h15.36
                                       V436.716z" />
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M503.466,464.603h-15.073V264.607c0-4.143-2.975-7.687-7.056-8.405l-140.004-24.62v-19.566
                                       c0-4.713-3.82-8.534-8.534-8.534h-15.166v-50.885h0.465h10.531c4.714,0,8.534-3.821,8.534-8.534s-3.82-8.534-8.534-8.534h-7.683
                                       l-56.409-42.383v-9.98l31.136-15.627c2.795-1.403,4.598-4.221,4.702-7.346c0.102-3.126-1.511-6.057-4.208-7.639l-35.842-21.05
                                       c-2.636-1.549-5.903-1.567-8.56-0.048c-2.656,1.52-4.294,4.346-4.294,7.406v54.28l-56.416,42.388h-7.684
                                       c-4.714,0-8.534,3.821-8.534,8.534s3.82,8.534,8.534,8.534h10.532h0.464v50.885h-15.166c-4.714,0-8.534,3.821-8.534,8.534v19.566
                                       l-140,24.619c-4.08,0.718-7.056,4.262-7.056,8.405v199.997H8.534c-4.714,0-8.534,3.821-8.534,8.534s3.82,8.534,8.534,8.534
                                       h494.932c4.714,0,8.534-3.821,8.534-8.534S508.179,464.603,503.466,464.603z M170.666,464.603H40.68V289.946h129.986V464.603z
                                        M170.666,272.877H40.68v-1.108l129.986-22.86V272.877z M264.537,53.77l9.457,5.554l-9.457,4.746V53.77z M255.999,108.08
                                       l36.533,27.449h-73.068L255.999,108.08z M211.433,152.596h89.132v50.885h-17.259v-34.915c0-4.713-3.82-8.534-8.534-8.534h-37.546
                                       c-4.714,0-8.534,3.821-8.534,8.534v34.915h-17.26V152.596z M266.239,177.099v26.382H245.76v-26.382H266.239z M276.478,464.6
                                       H235.52v-55.169h40.958V464.6z M324.265,464.601h-30.719v-63.703c0-4.713-3.82-8.534-8.534-8.534h-58.026
                                       c-4.714,0-8.534,3.821-8.534,8.534v63.703h-30.719V220.549h136.532V464.601z M471.325,464.603H341.332V289.946h129.993V464.603z
                                        M471.325,272.879H341.332V248.91l129.993,22.86V272.879z" />
                                        </g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                </svg> 
                                School </span> - {{ schoolModel.name }}<br>
                                    <!-- <small> Rutherford High School District </small> -->
                                </h4>
                            </div>
                            <div class="content_area">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h6>Main Information</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>School Number:</b> <br><span>{{ schoolModel.schoolNumber }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Identifier:</b> <br><span>{{ schoolModel.identifier }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Source ID:</b> <br><span>{{ schoolModel.school_sourcedId }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Email:</b> <br><span>n/a</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="card mb-3">
                                    <div class="card-header">
                                        <h6>Contact Information</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>School Number:</b> <br><span>fvhbxghxg</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Grades:</b> <br><span>xhxshg</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Principal:</b> <br><span>xsglcxjvn</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Email:</b> <br><span>jbkjfvbjk</span></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>School Number:</b> <br><span>fvhbxghxg</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Grades:</b> <br><span>xhxshg</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Principal:</b> <br><span>xsglcxjvn</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Email:</b> <br><span>jbkjfvbjk</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>