<div id="wrapper">
    <div class="content-page">
      <div class="content">
        <div class="page-content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="page-title-box">
                  <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                      <li class="breadcrumb-item"><a href="#">The Pragmatic</a></li>
                      <li class="breadcrumb-item active">Agency Management</li>
                    </ol>
                  </div>
                  <h4 class="page-title">Agency Management</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="table_heading d-flex align-items-center justify-content-between">
                  <h6><span>{{count}} </span> Total Agencies</h6>
                </div>
              </div>
            </div>              
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive mt-md-0 mt-4" id="table">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th style="width:15%">
                              <div style="width:140px;">Image/Logo</div>
                            </th>
                            <th>
                              <div style="width:110px;">Agency Name</div>
                            </th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let agency of agencyArray | paginate : {
                            itemsPerPage: pageSize,
                            currentPage: page,
                            totalItems: count
                          }; let i = index ">
                            <th scope="row">{{i + 1}}</th>
                            <td>
                              <img [defaultImage]="defaultImage" alt="" class="user_img" [lazyLoad]="agency.image" *ngIf="agency.image"/>
                              
                              <img src="./assets/images/profile.png" alt="" class="user_img" *ngIf="!agency.image"> 
                            </td>
                            <td>
                                {{ agency.agency_name && agency.agency_name != '' ? agency.agency_name : 'N/A'}}
                            </td>
                            <td>{{agency.email && agency.email != '' ? agency.email : 'N/A'}}</td>
                            <td>{{agency.phone && agency.phone != '' ? agency.phone : 'N/A'}}</td>
                            <td>{{agency.agency_address && agency.agency_address != '' ? agency.agency_address : 'N/A'}}</td>
                            <td>
                              <div class="status-show">
                                <ui-switch [(ngModel)]="agency.status" (changeEvent)="onChangeEvent(agency)" title="active/deactive"></ui-switch>
                              </div>
                            </td>
                            <td>
                              <ul class="d-flex">
                                <li (click)="viewAgency(agency)">
                                  <a class="btn-success mx-2 p-1" href="javascript:void(0)" data-toggle="modal" data-target="#viewadmin" title="view">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                  </a>
                                </li>
                                <li (click)="deleteAgency(agency._id, 2)">
                                  <a class="dlt_btn p-1" title="delete">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                  </a>
                                </li>
                              </ul>
                            </td>
                          </tr>

                          <tr>
                            <td *ngIf="agencyArray.length == 0" class="no-data" colspan="7">No data found</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <nav aria-label="Page navigation example">
                      <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                      </pagination-controls>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 
  <div class="modal fade" id="viewadmin" tabindex="-1" aria-labelledby="viewadminLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="viewadminLabel">View Agency Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="admin-view">
            <div class="admin-img">
              <span class="showonhover">
                <img [defaultImage]="defaultImage" alt="" class="show-img" [lazyLoad]="agencyDetail.image" *ngIf="agencyDetail.image"/>
                              
                <img src="./assets/images/profile.png" alt="" class="show-img" *ngIf="!agencyDetail.image">
                </span>
            </div>
            <p><span>Agency Name: </span> {{agencyDetail?.agency_name ? agencyDetail?.agency_name : 'N/A'}}</p>
            <p><span>Email: </span> {{agencyDetail?.email ? agencyDetail?.email : 'N/A'}}</p>
            <p><span>Phone Number: </span> {{agencyDetail?.phone ? agencyDetail?.phone : 'N/A'}}</p>
            <p><span>Address: </span> {{agencyDetail?.agency_address ? agencyDetail?.agency_address : 'N/A'}}</p>
            <p><span>Website URL: </span> {{agencyDetail?.agency_url ? agencyDetail?.agency_url : 'N/A'}}</p>
            <!-- <p><span>Intolerance:</span>None</p> -->
          </div>
        </div>

      </div>
    </div>
  </div>
