<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  <div class="main_wrap fixed-left">
    <div id="wrapper">
      <app-admin-sidebar></app-admin-sidebar>
      <div class="content-page">
        <div class="content">
          <app-admin-header></app-admin-header>
          <div class="page-content-wrapper pb-5 ">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="page-title-box">
                    <div class="btn-group float-right">
                      <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                        <li class="breadcrumb-item active">View Candidate</li>
                      </ol>
                    </div>
                    <h4 class="page-title">Show Candidate Details</h4>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 60px;">S No.</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Phone No.</th>
                      <th>location</th>
                      <th>Password</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let candidateslist of candidatelist;let i = index">
                      <th>{{pageSize * (page-1)+i+1}}</th>
                      <td>{{candidatelist.name}}</td>
                      <td><a href="mailto:mark_cambridge@gmail.com">{{candidatelist.email}}</a></td>
                      <td>
                        +{{candidatelist.phone}}
                        <!-- <a href="#" class="linkedIn_link" target="_blank"><i class="fab fa-linkedin-in"></i></a> -->
                      </td>
                      <td>{{candidatelist.location}}</td>
                      <td>{{candidateslist.password}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
            </div>
          </div>
        </div>
        <footer class="footer">
          © 2020 Swipe Up
        </footer>
      </div>
    </div>
  </div>
  
