<section class="email-sent">
    <div class="container h-100">
        <div class="row justify-content-center">
            <div class="col-12 mb-4 d-flex">
                <a><img src="./assets/img/logo.png" alt=""></a>
            </div>
            <div class="email-box d-flex flex-column align-items-center text-center align-self-center">
                <h4>Please go to your inbox to verify your email address</h4>
                <img src="./assets/img/open-envelope.png" class="email-img my-3" alt="open-envelope">
                <h6>You're one step closer to getting Swiped.</h6>
                <button class="btn btn-primary hover_effect mt-5" (click)="move()">
          <span class="bg"></span>
          <span class="txt">Sign In</span>
        </button>
            </div>
        </div>
    </div>
</section>