.email-sent {
    background: linear-gradient(122deg, rgba(49, 106, 113, 1) 0%, rgba(49, 106, 113, 1) 28%, rgba(131, 192, 201, 1) 75%);
    background-repeat: no-repeat;
    padding: 2rem;
    height: 100vh;
    @media (min-width: 1366px) {
        padding: 4rem;
    }
    .row {
        @media (min-width: 1366px) {
            height: 100%;
        }
    }
    .email-box {
        background-color: white;
        box-shadow: 0 0 10px lightgrey;
        border-radius: 5px;
        padding: 1rem;
        margin-top: 4rem;
        @media (min-width: 1366px) {
            width: 46%;
            padding: 4rem;
            margin-top: 0;
        }
        .email-img {
            width: 75px;
            height: 75px;
        }
        h4 {
            font-size: 17px;
        }
        .btn-primary {
            min-width: 160px;
        }
    }
}