<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-header></app-header>
            <div class="page-content-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item active">Update Model</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Update Model Name </h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card m-b-30">
                                <div class="card-body">
                                    <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                                        {{ successMessage }}
                                        </div>
                                        <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                                        {{ errorMessage }}
                                        </div>
                                    <form method="post" name="contactForm" action="">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="name">Model Name*</label>
                                                    <input type="hidden" [(ngModel)]="loginModel.company_id" name="company_id" required=""
                                        class="form-control">
                                                    <input type="name" class="form-control" [(ngModel)]="loginModel.model_name" id="model_name"
                                                        placeholder="Enter Model Name"  name="model_name" required="">
                                                  <span class="alert-msg" *ngIf="addValidationError.model_name">{{addValidationError.model_name}}</span>
                                                </div>
                                            </div>
                                        </div>  
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!-- <button type="button" (click)="add_company()" class="btn-danger w-50 add-btn">Add</button> -->
                                                <button class="btn btn-primary" (click)="update_model()" type="button">Update
                                                    </button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <app-loader></app-loader> -->
                    
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>