.navbar-custom {
  a {
    &.dropdown-toggle {
      i {
        font-size: 25px;
        color: #fff;
        position: relative;
        top: 5px;
      }
    }
  }
}

.header-list {
  display: flex;
  align-items: center;
}

.all-notifacations {
  background: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover{
    background: #00649b;
    i{
      color: #fff !important;
    }
  }

  i {
    font-size: 18px !important;
    color: #00649b !important;
    top: 0px !important;
  }
}

.notification-dropdown {
  width: 340px;
  padding: 8px 20px 20px;
  transform: translate3d(-309px, 35px, 0px) !important;

  @media (max-width:576px){
    width: 300px;
    transform: translate3d(-209px, 37px, 0px) !important;
  }

  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    color: #494949;
    width: 95%;
    margin-right: 20px;
    margin-bottom: 5px;
  }
  i{
    color: #fff;
    background: #00649b7a;
    width: 20px;
    font-size: 14px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
