<div class="topbar">
  <nav class="navbar-custom">
    <ul class="list-inline menu-left mb-0">
      <li class="float-left">
        <button class="button-menu-mobile open-left waves-light waves-effect">
          <i class="mdi mdi-menu"></i>
        </button>
      </li>
    </ul>
    <ul class="list-inline float-right mb-0 header-list">
      <li class="list-inline-item dropdown notification-list">
        <!-- <a class="nav-link dropdown-toggle arrow-none waves-effect all-notifacations" data-toggle="dropdown" href="#"
          role="button" aria-haspopup="false" aria-expanded="false">
          <i class="fa fa-bell" aria-hidden="true"></i>
        </a> -->
        <div class="dropdown-menu dropdown-menu-right notification-dropdown">
            <h5>Notifications</h5>
            <div class="d-flex align-items-center">
                <p>when an unknown printer took a galley of type and scrambled it to make</p>
                <span><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="d-flex align-items-center">
                <p>when an unknown printer took a galley of type and scrambled it to make</p>
                <span><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="d-flex align-items-center">
                <p>when an unknown printer took a galley of type and scrambled it to make</p>
                <span><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="d-flex align-items-center">
                <p>when an unknown printer took a galley of type and scrambled it to make</p>
                <span><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
        </div>
      </li>
      <li class="list-inline-item dropdown notification-list">
        <a class="nav-link dropdown-toggle arrow-none waves-effect nav-user" data-toggle="dropdown" href="#"
          role="button" aria-haspopup="false" aria-expanded="false">
          <img src="./assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
        </a>
        <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
        
          <div class="dropdown-item noti-title">
            <h5>Welcome</h5>
          </div>
          <a class="dropdown-item" [routerLink]="['/admin-profile']" *ngIf="agencyShow==true"><i class="fa fa-user-circle" aria-hidden="true"></i>Profile</a>
          <a class="dropdown-item" [routerLink]="['/admin-profile']" *ngIf="agencyShow==false"><i class="fa fa-user-circle" aria-hidden="true"></i>Admin Profile</a>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</button>
        </div>
      </li>
    </ul>
    <div class="clearfix"></div>
  </nav>
</div>
