<div id="wrapper">
      <!-- <app-sidebar></app-sidebar> -->
      <div class="content-page">
        <div class="content">
          <!-- <app-header></app-header> -->
          <div class="page-content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="page-title-box">
                    <div class="btn-group float-right">
                      <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item">
                          <a [routerLink]="['/dashboard']">The Pragmatic</a>
                        </li>
                        <li class="breadcrumb-item active">
                          Care Worker Management
                        </li>
                      </ol>
                    </div>
                    <h4 class="page-title">
                      Care Worker Management
                    </h4>
                  </div>
                </div>
              </div>
              <div class="row justify-content-md-between">
                <div class="col-sm-12 col-md-6">
                  <div class="table_heading d-flex align-items-center justify-content-between">
                    <h6>
                      <span>{{count}} </span> 
                      Total Workers
                    </h6>
                    <!-- <a [routerLink]="['/care-worker-management/add-worker']" class="btn-primary add-btn">
                      Add worker
                    </a> -->
                  </div>
                </div>
                <div class="col-sm-12 col-md-5 pb-4">
                  <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                      aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                     <img src="./assets/images/search.png" alt="search">
                    </span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive mt-md-0 mt-4" id="table">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th style="width:15%">
                                <div class="text-center" style="width:140px;">Profile Image</div>
                              </th>
                              <th>
                                <div class="text-center" style="width:100px;">Name</div>
                              </th>
                              <th class="text-center">Email</th>
                              <th class="text-center">Phone</th>
                              <!-- <th>Age</th> -->
                              <th>
                                <div class="text-center" style="width:100px;">Ethnic Origin</div></th>
                              <th class="text-center">Status</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let worker of workerArray | paginate : {
                              itemsPerPage: pageSize,
                              currentPage: page,
                              totalItems: count
                            }; let i = index ">
                              <th class="text-center" scope="row">{{ i + 1}}</th>
                              <td>
                                <img [defaultImage]="defaultImage" alt="" class="user_img" [lazyLoad]="worker.profileimage" *ngIf="worker.profileimage"/>
                               
                                <img src="./assets/images/profile.png" alt="" class="user_img d-flex mx-auto" *ngIf="!worker.profileimage"> 
                              </td>
                              <td class="text-center">{{ worker.name && worker.name != '' ? worker.name : 'N/A'}}</td>
                              <td class="text-center">{{ worker.email && worker.email != '' ? worker.email : 'N/A'}}</td>
                              <td class="text-center">{{ worker.mobileno && worker.mobileno != '' ? worker.mobileno : 'N/A'}}</td>
                              <!-- <td>{{ worker.dob && worker.dob != '' ? worker.dob :'N/A' }}</td> -->
                              <td class="text-center">{{worker.ethnicorigins && worker.ethnicorigins.black != '' ? worker.ethnicorigins.black : 'N/A'}}</td>
                              <!-- <td *ngIf="!worker.ethnicorigins">N/A</td> -->

                              <td>
                                <div class="status-show">
                                  <ui-switch [(ngModel)]="worker.status" (changeEvent)="onChangeEvent(worker)" title="active/deactive"></ui-switch>
                                  
                                </div>
                              </td>
                              <td>
                                <ul class="d-flex justify-content-center">
                                  <li (click)="editCareWorker(worker, i)">
                                    <a href="javascript:void(0)" class="btn-primary p-1" data-toggle="modal"
                                      data-target="#editadmin" title="edit">
                                      <i class="fa fa-pencil-square-o"  aria-hidden="true"></i>
                                    </a>
                                  </li>
                                  <li (click)="viewWorker(worker)">
                                    <a class="btn-success mx-2 p-1" href="javascript:void(0)" data-toggle="modal"
                                      data-target="#viewadmin" title="view">
                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                  </li>
                                </ul>
                              </td>
                            </tr>

                            <tr>
                              <td *ngIf="workerArray.length == 0" class="no-data" colspan="10">No data found</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <nav aria-label="Page navigation example">
                        <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <app-footer></app-footer> -->
        </div>
      </div>
    </div>
  
    <div class="modal fade" id="editadmin" tabindex="-1" aria-labelledby="editadminLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editadminLabel">Edit Care Worker</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-area">
              <form [formGroup]="editCareWorkerForm" (ngSubmit)="onSubmit()">

                <div class="admin-img">
                  <span class="showonhover">
                    <img [defaultImage]="defaultImage" alt="" class="show-img" [lazyLoad]="editCareWorkerForm.controls['profileimage'].value" *ngIf="editCareWorkerForm.controls['profileimage'].value"/>
                                
                    <img src="./assets/images/profile.png" alt="" class="show-img" *ngIf="!editCareWorkerForm.controls['profileimage'].value">
                    <div class="user-img"><i class="fa fa-camera" aria-hidden="true"></i></div>
                  </span>
                  <input id="selectfile" type="file" name="" style="display: none;" />
                </div>
                <div class="form-group">
                  <label for="name">Name <span class="red-clr">*</span></label>
                  <input type="text" class="form-control" id="name" placeholder="Enter Full Name" name="name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" >
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Email <span class="red-clr">*</span></label>
                  <input class="form-control" type="text"  placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Phone">Phone <span class="red-clr">*</span></label>
                  <input type="tel" class="form-control" id="phone" placeholder="9876543210"  formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                  <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">Phone is required</div>
                    <div *ngIf="f.phone.errors.pattern">Please, Enter 10 digit Mobile Number.</div>

                  </div>
                </div>
                <!-- <div class="form-group">
                  <label class="control-label">Password</label>
                  <input type="password" class="form-control" name="password" minlength="6" required=""
                    placeholder="Password">
                </div> -->
                <div class="form-group">
                  <button class="btn-primary w-50 add-btn" id="closeModal">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="viewadmin" tabindex="-1" aria-labelledby="viewadminLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewadminLabel">View Care Worker</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="admin-view">
              <div class="admin-img">
                <span class="showonhover">
                   <!-- <img src="./assets/images/profile.png" alt="" class="show-img">  -->
                   <img [defaultImage]="defaultImage" alt="" class="show-img" [lazyLoad]="workerDetail.profileimage" *ngIf="workerDetail.profileimage"/>
                                
                  <img src="./assets/images/profile.png" alt="" class="show-img" *ngIf="!workerDetail.profileimage">
                  </span>
              </div>
              <p><span>Name:</span> {{workerDetail?.name ? workerDetail?.name : 'N/A'}}</p>
              <p><span>Email:</span> {{workerDetail?.email ? workerDetail?.email : 'N/A'}}</p>
              <p><span>Phone Number:</span>{{workerDetail.mobileno ? workerDetail.mobileno : 'N/A'}}</p>
              <p><span>Verified religion:</span>{{workerDetail?.religions ? workerDetail?.religions?.get_Verified_for : 'N/A'}}</p>
              <div class="lang-work"><span class="bld-span">Languages spoken: </span><p *ngIf="workerLanguage.length == 0">{{'N/A'}}</p><p *ngFor =" let language of workerLanguage; last as isLast">{{language.language}} <span *ngIf="!isLast">,</span></p></div>
              <!-- <p><span>Dietary requirements:</span>Verified</p> -->
              <!-- <p><span>Food:</span>Kenyan, Ugandan and British cuisine</p> -->
              <!-- <p><span>Hair Type:</span>{{workerDetail?.hairandgroomings ? workerDetail?.hairandgroomings?.type_of_hair :  'N/A'}}</p> -->
              <!-- <p><span>Gender at birth:</span> {{workerDetail?.gender ? workerDetail?.gender : 'N/A'}}</p> -->
              <p><span>Ethnic origin:</span> {{workerDetail?.ethnicorigins ? workerDetail?.ethnicorigins?.black : 'N/A'}}</p>
              <p><span>Disability:</span>{{workerDetail?.ageanddisabilitie ? workerDetail?.ageanddisabilitie?.equality_act_2010 : 'N/A'}}</p>
              <!-- <p><span>Customs & traditions</span>Willing to follow reasonable Customs and Traditions</p>
              <p><span> Special occasions and holidays:</span>Willing to accommodate to such occasions</p> -->
            </div>
          </div>
  
        </div>
      </div>
    </div> 
    <!-- <div class="modal fade" id="viewadmin1" tabindex="-1" aria-labelledby="viewadminLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewadminLabel">View Admin</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="admin-view">
              <div class="admin-img">
                <span class="showonhover">
                  <!-- <img src="./assets/images/profile.png" alt="" class="show-img"> -->
                  <!-- <img src="./assets/images/user-img1.jpg" alt="" class="show-img">
                  </span>
              </div>
              <p><span>Name:</span> Care Worker 2</p>
              <p><span>Email:</span> careworker2@gmail.com</p>
              <p><span>Phone Number:</span>+6176543210</p>
              <p><span>Verified religion:</span>Christianity, Islam & Judaism</p>
              <p><span>Languages spoken:</span>Native Swahili and basic English</p>
              <p><span>Dietary requirements:</span>Verified</p>
              <p><span>Food:</span>Kenyan and British cuisine</p>
              <p><span>Hair Type:</span>4C hair and braids</p>
              <p><span>Gender at birth:</span> Male</p>
              <p><span>Ethnic origin:</span> Black African</p>
              <p><span>Sexual orientation:</span>Heterosexual/Straight</p>
              <p><span>Disability:</span>Hard of hearing</p>
              <p><span>Age:</span>53</p>
              <p><span>Customs & traditions</span>Willing to follow reasonable Customs and Traditions</p>
              <p><span> Special occasions and holidays:</span>Willing to accommodate to such occasions</p>
            </div>
          </div>
  
        </div>
      </div>
    </div> 
    <!-- <div class="modal fade" id="viewadmin2" tabindex="-1" aria-labelledby="viewadminLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewadminLabel">View Admin</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="admin-view">
              <div class="admin-img">
                <span class="showonhover">
                  <img src="./assets/images/user-img2.jpg" alt="" class="show-img">
                  </span>
              </div>
              <p><span>Name:</span> Care Worker 3</p>
              <p><span>Email:</span> careworker3@gmail.com</p>
              <p><span>Phone Number:</span>+6576543210</p>
              <p><span>Verified religion:</span>Christianity</p>
              <p><span>Languages spoken:</span>Native English</p>
              <p><span>Dietary requirements:</span>Verified</p>
              <p><span>Food:</span>British cuisine</p>
              <p><span>Hair Type:</span>Straight Hair</p>
              <p><span>Gender at birth:</span> Female</p>
              <p><span>Ethnic origin:</span> White British</p>
              <p><span>Sexual orientation:</span>Heterosexual/Straight</p>
              <p><span>Disability:</span>None</p>
              <p><span>Age:</span>33</p>
              <p><span>Customs & traditions</span>Willing to follow reasonable Customs and Traditions</p>
              <p><span> Special occasions and holidays:</span>Willing to accommodate to such occasions</p>
            </div>
          </div>
  
        </div>
      </div>
    </div>
   -->