.card {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  padding: 20px 24px;
  border-radius: 10px;
  height: 100%;

  @media (min-width: 1500px) {
    padding: 34px 24px;
  }

  .card-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-size: 20px;
      font-weight: 600;
      padding: 5px 0 10px;

      @media (min-width: 1500px) {
        font-size: 24px;
      }

      span {
        font-size: 14px;
        font-weight: 500;
        color: rgb(0 0 0 / .5);

        @media (min-width: 992px) {
          font-size: 16px;
        }

        @media (min-width: 1500px) {
          font-size: 18px;
        }
      }
    }

    h5 {
      font-size: 14px;
      font-weight: 600;
      color: #000;
      margin: 0;

      @media (min-width: 899px) {
        font-size: 16px;
      }

      @media (min-width:1500px) {
        font-size: 18px;
      }
    }

    p {
      font-size: 14px;
      color: #000;
      line-height: 1.19;
      padding-bottom: 10px;
      margin: 16px 0;

      @media (min-width: 768px) {
        font-size: 13px;
      }

      @media (min-width:899px) {
        font-size: 14px;
      }

      @media (min-width:1500px) {
        font-size: 16px;
      }
    }

    hr {
      border: solid 1px rgba(0, 0, 0, 0.05);
      margin: 12px 0;

      @media (min-width: 1500px) {
        margin: 16px 0;
      }
    }
  }

  .feature_list {
    list-style: none;
    border-top: solid 2px rgba(0, 0, 0, 0.05);
    padding-top: 12px;

    li {
      font-size: 14px;
      font-weight: 600;
      color: #000;
      margin: 0;
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-bottom: solid 2px rgba(0, 0, 0, 0.05);

      @media (min-width: 899px) {
        font-size: 16px;
      }

      @media (min-width:1500px) {
        font-size: 18px;
      }
    }
  }
}

.bg-blue {
  &.card {
    background: #D0021B;

    .card-body {
      h2 {
        color: #fff;

        span {
          color: rgb(255, 255, 255 / .5);
        }
      }

      h5 {
        color: #fff;
      }

      p {
        color: #fff;
      }

      hr {
        border: solid 1px rgba(255, 255, 255, 0.2);
      }

      .blue-btn {
        background-color: #fff;
        color: #D0021B;
      }
    }
    .feature_list{
        border-color: rgb(255 255 255 / .5);
        li{
            color: #fff;
            border-color: rgb(255 255 255 / .5);
        }
    }
    a.blue-btn{
        color: #D0021B !important;
        border-color: #fff !important;
        &.btn-primary{
            &:hover{
                color: #fff !important;
                .bg{
                    background: #D0021B;
                }
            }
        }
    }
  }
}

.add-pack {
  &:hover {
    border: 2px solid #D0021B;
  }
}

.btn-info {
  padding: 8px 30px;
  border-radius: 27px;
  background-color: #D0021B;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  text-align: center;

  @media (min-width: 992px) {
    padding: 10px 50px;
  }

  @media (min-width:1200px) {
    padding: 10px 45px;
    font-size: 14px;
  }

  @media (min-width:1500px) {
    padding: 8px 54px;
  }

  &:hover {
    border: 2px solid #D0021B;
  }

}

.btn-info {
  background-color: #D0021B;
  border-color: #D0021B;
  border-radius: 25px;
  border-width: 2px;
  color: #fff !important;

  &.hover_effect {
    position: relative;
    overflow: hidden;

    .bg {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      width: 0;
      height: 0;
      background-color: #fff;
      border-radius: 50%;
      opacity: .9;
      transform: translate(-50%, -50%);
      transition: 425ms cubic-bezier(.5, 0, .07, 1);
    }

    .txt {
      position: relative;
      z-index: 9;
    }

    &:hover {
      transition: color .55s cubic-bezier(.5, 0, .07, 1);
      color: #D0021B !important;
      background: #D0021B;
      border-color: #D0021B;

      .bg {
        width: 108%;
        height: 0;
        padding-top: 108%;
        opacity: 1;
        transition: .55s cubic-bezier(.5, 0, .07, 1);
      }
    }
  }
}

.add-pack {
  background-color: #D0021B;
  border-color: #D0021B;
  border-radius: 25px;
  border-width: 2px;
  color: #fff !important;

  &.hover_effect {
    position: relative;
    overflow: hidden;

    .bg {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 0;
      width: 0;
      height: 0;
      background-color: #fff;
      border-radius: 25px;
      opacity: .9;
      transform: translate(-50%, -50%);
      transition: 425ms cubic-bezier(.5, 0, .07, 1);

    }

    .txt {
      position: relative;
      z-index: 9;
    }

    &:hover {
      transition: color .55s cubic-bezier(.5, 0, .07, 1);
      color: #D0021B !important;
      background: #D0021B;
      border-color: #D0021B;

      .bg {
        border: 2px solid #D0021B;
      }

      .bg {
        width: 105%;
        height: 0;
        padding-top: 40px;
        opacity: 1;
        transition: .55s cubic-bezier(.5, 0, .07, 1);
      }
    }
  }

}

.add-box {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  background: rgb(0 114 186 / 6%);
  padding: 20px 24px;
  border-radius: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 40px;
    color: rgb(0 0 0 / 15%);
  }
}
.card-text{
    min-height: 58px;
    line-height: 1.3;
}