<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="main_wrap fixed-left">
  <div id="wrapper">
    <app-admin-sidebar></app-admin-sidebar>
    <div class="content-page">
      <div class="content">
        <app-admin-header></app-admin-header>
        <div class="page-content-wrapper pb-5 ">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="page-title-box">
                  <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                      <li class="breadcrumb-item"><a [routerLink]="['/admin/dashboard']">Dashboard</a></li>
                      <li class="breadcrumb-item active">Show Package</li>
                    </ol>
                    
                     </div>
                 
                  <h4 class="page-title">Show Package</h4>
                </div>
               
              </div>
            </div>
            <!-- <div class="text-center d-flex justify-content-end edit-btn">
              <a class="blue-btn btn-primary hover_effect mr-2"
                [routerLink]="['/admin/edit_package']">
                <span class="bg"></span>
                <span class="txt" id="Customised" name="Customised">Add Package</span></a>
            </div><br/>
             -->

            <div class="row pb-5 pb-md-0">
              <div class="col-md-6 col-xl-4 " *ngFor="let packesdetail of packesdetails">
                <div class="card border-light">
                  <div class="card-body">
                    <div class="upper">
                      <h5 class="card-title">{{packesdetail.plan_name}}</h5>
                      <h2>€{{packesdetail.plan_amount}} <span>/ {{packesdetail.plan_time}}</span></h2>
                      <p class="card-text">{{packesdetail.plan_description}}</p>
                      <ul class="feature_list">
                        <li>{{packesdetail.access_fee}}</li>
                        <li>{{packesdetail.success_fee}}% Success fee per hire</li>
                        <li>{{packesdetail.plan_time}}</li>
                        <li>Standard platform support</li>
                      </ul>
                    </div>
                    <div class="text-center d-flex justify-content-center edit-btn">
                      <a class="blue-btn btn-primary hover_effect mr-2"
                        [routerLink]="['/admin/edit_package/'+packesdetail._id]">
                        <span class="bg"></span>
                        <span class="txt" id="Customised" name="Customised">Edit</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-xl-4" *ngIf="hideshow">
                <a class="add-box" [routerLink]="['/admin/edit_package']">
                  <i class="fa fa-plus"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        © 2020 Swipe Up
      </footer>
    </div>
  </div>
</div>



