@media (max-width: 991px) {
  .total-count {
    padding-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .search-box input {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=school-listing.component.css.map */