<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item"><a [routerLink]="['/category']">SEL Category</a>
                                        </li>
                                        <li class="breadcrumb-item active">SEL Lesson</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">SEL Lesson - {{ category_name }}</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->
                   
                     <!-- Success msg html -->
                     <div class="alert alert-success" role="alert" *ngIf="sucMsg">
                        {{ successMessage }}
                    </div>
                    <!-- Error msg html -->
                    <div class="alert alert-danger" role="alert" *ngIf="errMsg">
                        {{ errorMessage }}
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card mb-2">
                                <div class="card-body d-lg-flex  justify-content-lg-between  align-items-lg-center">
                                    <div class="total-count">Total Lessons: {{ total }}</div>
                                    <div class="search-box">
                                        <form #f="ngForm" novalidate>
                                            <input name="search" [(ngModel)]="loginModel.searchKey"
                                                placeholder="Lesson name" class="form-control">
                                                <button type="button" (click)="searchFunction(currentPage)" class="btn btn-primary">Search</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="bread-crumb d-sm-flex justify-content-between mb-3 align-items-center">
                                        <a [routerLink]="['/add-lesson', this.loginModel.sel_cat_id]" class="btn btn-primary mb-2 mb-sm-0 ">+ Add Lesson</a>

                                    <!-- <p class="mb-0"><b> {{ category_name }}</b></p> -->
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="width:5%">S.No</th>
                                                    <th style="width:75%" (click)="sortFunction('lesson_name')" class="sort_menu">
                                                        Lesson  Name
                                                        <span class="fa fa-exchange sort-icon" *ngIf="key =='lesson_name'"
                                                                [ngClass]="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>            
                                                    <th style="width:20%;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <div class="loader_area">
                                                    <span *ngIf="loaderShow">                                        
                                                        <app-loader class="table_loader"></app-loader>
                                                    </span> 
                                                </div>
                                                <tr class="col-md-6" *ngFor="let item of lessons; let i = index;">
                                                    <td>{{ (currentPage-1)*10+i+1 }}</td>
                                                    <td>{{ item.lesson_name }}</td>
                                                    <td>  
                                                        <div class="btn_area">
                                                            <a [routerLink]="['/edit-lesson',item.id]">
                                                                <button type="button" class="btn btn-primary">Edit
                                                                </button>
                                                            </a>
                                                            <a [routerLink]="['/view-lesson',item.id]" class="mx-1">
                                                                <button type="button" class="btn btn-primary">View
                                                                </button>
                                                            </a>
                                                            <a>
                                                                <button type="button" class="btn btn-primary" (click)=deleteSELCategoryLessons(item.id)>Delete
                                                                </button>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr *ngIf='noRecordsShow' style="color:red"> <td colspan="20" class="text-center">No records found</td></tr>                                                 
                                            </tbody>
                                        </table>
                                        <nav aria-label="Page navigation" class="mt-3">
                                            <ul class="pagination">
                                                <li class="page-item disabled_back" *ngIf="currentPage==1"><a
                                                        class="page-link">Previous</a>
                                                <li class="page-item" *ngIf="currentPage!=1"
                                                    (click)="pageChange(currentPage-1)"><a
                                                        class="page-link">Previous</a>
                                                </li>
                                                <li class="page-item"
                                                    *ngFor='let in of counter(totalPages) ;let m = index'>
                                                    <a class="page-link active" *ngIf="((m+1)==currentPage )">{{m+1}}</a>
                                                    <a class="page-link"
                                                        *ngIf="(m+1)!==currentPage && (m+1)>=(currentPage-2) && (m+1)<=(currentPage+2)"
                                                        (click)="pageChange(m+1)">{{m+1}}</a>
                                                </li>

                                                <li class="page-item disabled_back" *ngIf="totalPages==currentPage">
                                                    <a class="page-link">Next</a></li>
                                                <li class="page-item" *ngIf="totalPages!==currentPage"
                                                    (click)="pageChange(currentPage+1)">
                                                    <a class="page-link">Next</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- container -->
            </div> <!-- Page content Wrapper -->
        </div>
        <app-footer></app-footer>
    </div>
</div>


