#login-page {
  background: url("/assets/images/login-bg.jpg") no-repeat center;
  background-size: cover;
  min-height: 100vh;
  padding: 50px 0;
  display: flex;
  align-items: center;

  &:before {
    background-color: #00080078;
    content: "";
    top: 0;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
  }

  .container,
  .row {
    height: 100%;
  }

  .card {
    border-color: transparent;

    .logo {
      width: 100%;
      max-width: 300px;
    }

    form {
      .form-group {
        margin-bottom: 25px;
        position: relative;

        input {
          border-radius: 7px;
        }

        .submit-btn {
          background-color: #00649b;
          color: #fff;

          &:hover {
            background-color: #3693c6;
          }
        }
      }

    }
  }
}

.err-msg {
  color: red;
  font-size: 12px;
  position: absolute;
}

.err {
  border-color: red;
}

.alert-info {
  width: 100%;
  margin: 0 0 10px;
}
