<section id="login-page">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <a href="#" class="text-center"><img src="./assets/images/logo.png" alt="logo" class="logo"></a>
            </div>
            <form class="form-horizontal mt-4">
              <div class="form-group">
                <input class="form-control" type="text" name="email" [(ngModel)]="adminModel.email" placeholder="Username" [ngClass]="{'err': validationemail===true}">
                <span class="err-msg" *ngIf="addValidationError.email">{{addValidationError.email}}</span>
              </div>
              <div class="form-group">
                <input class="form-control" type="password" name="password" [(ngModel)]="adminModel.password" placeholder="Password" [ngClass]="{'err': validationpassword===true}">
                <span class="err-msg" *ngIf="addValidationError.password">{{addValidationError.password}}</span>
              </div>
              <div class="alert alert-info" role="alert" *ngIf="errMsg==true">{{errorMsg}}</div>
              <div class="form-group row pt-2">
                <div class="col-12 col-sm-6">
                  <div class="custom-control custom-checkbox d-flex align-items-center">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" (click)="toggleVisibility($event)">
                    <label class="custom-control-label text-muted" for="customCheck1">Remember me</label>
                  </div>
                </div>
                <!-- <div class="col-12 col-sm-6 text-sm-right pt-2 pt-sm-0">
                  <a [routerLink]="['/forgotpassword']" class="text-muted "><i class="mdi mdi-lock"></i>
                    Forgot your password ?</a>
                </div> -->
              </div>
              <div class="form-group text-center row m-t-20">
                <div class="col-12">
                  <button class="btn btn-block submit-btn" (click)="checkValidation()">Log
                    In</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
