<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0">
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item"><a [routerLink]="['/category']">SEL Category</a>
                                        </li>
                                        <li class="breadcrumb-item"><a [routerLink]="['/lesson', loginModel.sel_cat_id]">Lesson</a>
                                        </li>
                                        <li class="breadcrumb-item active">View Lesson</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">View Lesson</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body add_lesson">
                                    <div class="lesson-name">
                                        <h4>{{ lesson_name }}</h4>
                                    </div>

                                    <div class="video-sec mt-4" *ngIf='videoShow'>
                                        <h6>Video </h6>
                                        <div class="row align-items-center">
                                            <div class="col-md-6">
                                                <div class="video-box ">
                                                    <div class="inner" [innerHTML]="videoPath | safe: 'html'"></div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="image-box">
                                                    <img [src]=thumbnail alt="">
                                                    <a data-toggle="modal" data-target="#view-video">
                                                        <!-- <i class="mdi mdi-play-circle-outline"></i> -->
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="description-box mt-4">
                                        <h6>Description</h6>
                                        <div [innerHTML]="lesson | safe: 'html'"></div>
                                    </div>
                                    <div class="loader_area">
                                        <span *ngIf="noRecords">
                                            <app-loader></app-loader>
                                        </span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- container -->
            </div> <!-- Page content Wrapper -->
        </div>
        <app-footer></app-footer>
    </div>
</div>



<!-- edit start -->
<!-- <div class="modal fade" id="view-video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="por">
            <div class="modal-content">
                <button type="button" class="close2" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="inner" [innerHTML]="videoPath | safe: 'html'"></div>
            </div>
        </div>
    </div>
</div> -->