.video-box {
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 400px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;


    a {
        position: absolute;
        top: 50%;
        z-index: 2;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 50px;
        text-shadow: 0 0 4px #0000008f;
    }
}
.image-box{

    img {
        width: 100%;
        max-width: 300px;
        
    }
}