<section class="email-sent">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-md-8">
                <a href="#"><img src="./assets/img/logo.png" alt=""></a>
            </div>
            <div class="email-box d-flex flex-column align-items-center text-center align-self-center">
                <h5>WELCOME TO SWIPED<strong>.</strong></h5><br>
                <!-- <img src="/assets/img/mailImg.png" alt=""> -->
                <h6>Swiped Talent Partner will be in touch shortly</h6><br>
                <p class="mb-2">You will now be directed to build your profile – please ensure you include all information that you
                    would like potential employees to know! The more detail you can share on the company, the role, the
                    culture and the benefits, the better! </p>
                    <p class="mb-2">Of course, if at any point you need help, please feel free to contact your Swiped Talent Partner.</p>
                    <p class="mb-2">Intelligent hiring for the digital World.</p>
                <button class="btn btn-primary hover_effect mt-3" (click)="signin()">
                    <span class="bg"></span>
                    <span class="txt">Build Profile</span>
                </button>
            </div>
        </div>
    </div>
</section>