.email-sent {
    // background-image: url('/assets/img/login-bg.png');
    background: linear-gradient(122deg, rgba(49, 106, 113, 1) 0%, rgba(49, 106, 113, 1) 28%, rgba(131, 192, 201, 1) 75%);
    background-size: cover;
    background-position: center 0;
    background-repeat: no-repeat;
    padding: 2rem;
    height: 100vh;
    .email-box {
        background-color: white;
        box-shadow: 0 0 10px lightgrey;
        border-radius: 5px;
        padding: 2rem;
        margin: 0 auto auto;
        margin-top: 4rem;
        h5 {
            strong {
                color: #D0021B;
            }
        }
        @media (min-width: 768px) {
            width: 70%;
            margin-top: 0rem;
        }
        @media (min-width: 1024px) {
            width: 50%;
        }
    }
}