<!-- <app-loader></app-loader> -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-topbar></app-topbar>
            <div class="page-content-wrapper ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="btn-group float-right">
                                    <ol class="breadcrumb hide-phone p-0 m-0" >
                                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">See Me For Me</a>
                                        </li>
                                        <li class="breadcrumb-item" *ngIf="breadcrumb_teacher">
                                            <a [routerLink]="['/teachers-list']">Teacher listing</a>
                                        </li>
                                        <li class="breadcrumb-item" *ngIf="breadcrumb_class">
                                            <a [routerLink]="['/class-view', class_id]">Class View</a>
                                        </li>
                                        <li class="breadcrumb-item active">Teacher View </li>
                                    </ol>                                    
                                </div>
                                <h4 class="page-title"> <span>
                                   <svg id="_x33_0" enable-background="new 0 0 64 64" height="512" viewBox="0 0 64 64" width="512" xmlns="http://www.w3.org/2000/svg"><g><path d="m29 23h6v2h-6z"/><path d="m58 27h-1v-3c0-1.654-1.346-3-3-3s-3 1.346-3 3v3.184c-1.161.414-2 1.514-2 2.816v2.343c0 1.336.521 2.592 1.465 3.536l.464.464-.76 4.559c-2.482-5.475-7.382-9.452-13.349-10.746l-.4-1.597c2.367-.876 4.13-2.993 4.5-5.56h.08c2.206 0 4-1.794 4-4 0-.816-.248-1.573-.668-2.206l.319-1.275c.232-.927.35-1.88.35-2.834-.001-6.443-5.242-11.684-11.686-11.684h-2.631c-6.443 0-11.684 5.241-11.684 11.685 0 .954.117 1.907.35 2.834l.319 1.276c-.421.632-.669 1.39-.669 2.205 0 2.206 1.794 4 4 4h.08c.37 2.567 2.133 4.683 4.5 5.56l-.395 1.578c-8.13 1.497-14.185 8.677-14.185 17.005v4.857c0 6.065 4.935 11 11 11h9c1.984 0 3.622-1.454 3.934-3.35 1.18-.423 2.411-.65 3.671-.65h4.395v-2.237l1.394 1.672c1.359 1.63 3.355 2.565 5.477 2.565 3.931 0 7.129-3.198 7.129-7.129v-17.457l.535-.535c.944-.944 1.465-2.2 1.465-3.536v-2.343c0-1.654-1.346-3-3-3zm-4-4c.552 0 1 .448 1 1v3.184c-.374.133-.711.336-1 .596-.289-.261-.626-.463-1-.596v-3.184c0-.552.448-1 1-1zm-21.131 32c-.363-1.158-1.447-2-2.724-2-1.088 0-2.065.604-2.553 1.578l-.21.422h-2.382v-10h2.395c1.985 0 3.911.541 5.605 1.558v8.442zm-2.715-21.805-2.727 2.181-1.189-2.973c.528-.146 1.065-.269 1.615-.359zm1.601 5.805h.491l1.645 5.758c-1.064-.621-2.204-1.079-3.389-1.373zm.627-2h-.764l-.862-1.724 1.244-.995 1.244.995zm1.464-3.805 2.288-1.144c.546.11 1.081.246 1.607.404l-1.169 2.921zm5.154-16.195c0 1.103-.897 2-2 2s-2-.897-2-2 .897-2 2-2 2 .897 2 2zm2 4v-4c1.103 0 2 .897 2 2s-.897 2-2 2zm-10.315-18h2.631c5.339 0 9.684 4.345 9.684 9.685 0 .79-.098 1.581-.289 2.35l-.08.321c-.5-.225-1.049-.356-1.631-.356h-.049c-.245-2.277-2.013-4.141-4.33-4.43l-.528-.066c-1.764-.221-3.093-1.727-3.093-3.504h-2c0 2.784 2.083 5.144 4.844 5.488l.528.066c.491.062.936.249 1.322.515-.227-.039-.456-.069-.694-.069-1.859 0-3.411 1.279-3.858 3h-2.284c-.447-1.721-1.999-3-3.858-3-.713 0-1.372.203-1.953.53.222-1.397 1.403-2.47 2.85-2.52.592 1.12 1.458 2.095 2.548 2.822l1.109-1.664c-1.599-1.066-2.554-2.851-2.554-4.773v-.395h-2v.395c0 .575.073 1.138.195 1.687-2.373.387-4.195 2.437-4.195 4.918v1c-.582 0-1.131.131-1.631.356l-.08-.321c-.191-.769-.289-1.56-.289-2.35 0-5.34 4.345-9.685 9.685-9.685zm-3.685 12c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .897-2 2-2zm-6 4c0-1.103.897-2 2-2v4c-1.103 0-2-.897-2-2zm4 3v-1.556c.591.344 1.268.556 2 .556 1.859 0 3.411-1.279 3.858-3h2.284c.447 1.721 1.999 3 3.858 3 .732 0 1.409-.212 2-.556v1.556c0 2.757-2.243 5-5 5h-4c-2.757 0-5-2.243-5-5zm5 7h4c.156 0 .31-.013.463-.023l.372 1.487-2.835 1.418-2.835-1.418.372-1.487c.153.01.307.023.463.023zm-15 23v-4.857c0-6.223 3.823-11.726 9.347-14.083l2.226 5.564 2.587-2.069.773 1.545-1.416 4.955c-.373-.033-.746-.055-1.122-.055h-4.395v11.816c-1.161-.414-2-1.514-2-2.816v-11h-2v11c0 2.757 2.243 5 5 5h3v4h-3c-4.963 0-9-4.037-9-9zm18 9h-4v-4.764l.382-.764c.145-.291.438-.472.764-.472.47 0 .854.384.854.854v1.146h2c1.103 0 2 .897 2 2s-.897 2-2 2zm10-4h-2.395c-1.324 0-2.621.203-3.872.598-.326-.866-.943-1.581-1.733-2.042v-8.998c1.695-1.017 3.62-1.558 5.605-1.558h2.395zm8.871 2c-1.526 0-2.963-.673-3.94-1.846l-2.931-3.517v-10.637h-4.395c-1.682 0-3.328.33-4.864.956l-1.673-5.857.773-1.545 2.587 2.069 2.192-5.479c4.591 1.994 8.118 5.909 9.575 10.864l.291.989-1.473 8.839 1.973.328 2.861-17.164h4.153v16.871c0 2.828-2.301 5.129-5.129 5.129zm6.25-24.535-.535.535h-5.172l-.535-.535c-.566-.567-.879-1.32-.879-2.122v-2.343c0-.552.448-1 1-1s1 .448 1 1c0 1.654 1.346 3 3 3h2.929c-.123.551-.4 1.057-.808 1.465zm.879-3.465h-3c-.552 0-1-.448-1-1s.448-1 1-1h2c.552 0 1 .448 1 1z"/></g></svg> 
                                Teacher </span> - {{ teacherModel.name }}<br>
                                    <!-- <small> Rutherford High School District </small> -->
                                </h4>
                            </div>
                            <div class="content_area">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h6>Main Information</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Name:</b> <br><span>{{ teacherModel.name }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Username:</b> <br><span>{{ teacherModel.username }}</span></p>
                                            </div>                                          
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Email:</b> <br><span>{{ teacherModel.email }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Phone:</b> <br><span>{{ (teacherModel.phone != '')? teacherModel.phone : 'n/a' }}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h6>Additional Information</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Birth Date:</b> <br><span>{{ teacherModel.birthDate }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Gender:</b> <br><span>{{ teacherModel.sex }}</span></p>
                                            </div>
                                            <div class="col-md-6 col-lg-3">
                                                <p><b>Place of Birth:</b> <br><span>{{ teacherModel.cityOfBirth+', '+teacherModel.stateOfBirthAbbreviation+', '+teacherModel.countryOfBirthCode }}</span></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-3">
                                    <div class="card-header">
                                        <h6>Classes({{ classes_count }})</h6>
                                    </div>
                                    <div class="card-body pos-r">
                                        <span *ngIf="noRecords">                                        
                                            <app-loader ></app-loader>
                                        </span> 
                                        <div class="row">
                                            <div class="col-md-6 col-lg-3" *ngFor="let item of classes; let i = index;">
                                                <p><b><a [routerLink]="['/class-view/', item.sourcedId]">{{ item.title}}</a></b></p>
                                            </div>
                                            <div *ngIf="noRecords"> No Classes</div>
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>