.page-content-wrapper {
    h6 {
      font-size: 18px;
      margin: 0;
  
      span {
        font-size: 27px;
        color: #00649b;
      }
    }
  }
.status-show{
    text-align: center;
    .de-activate {
        display: none;
      i {
        font-size: 25px;
        color: red;
      }
    }
    
    .activate {
    i {
        font-size: 25px;
        color: green;
      }
    
    }
}

.modal{
    &.show {
        display: flex !important;
        align-items: center;
        justify-content: center;
      }
      .modal-dialog {
        width: 674px;
        max-width: 674px;
        min-height: 500px;
        position: relative;
      }
      .modal-content {
        position: static;
        border-radius: 10px;
        padding: 20px 30px 30px;
        height: 500px;
        overflow: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 5px;
      }
    
      &::-webkit-scrollbar-track {
          background-color: #f3f3f3;
          border-radius: 0 10px 10px 0;
      }
    
      &::-webkit-scrollbar-thumb {
          background: #00649b;
          border-radius: 10px;
      }
    
      &::-webkit-scrollbar-thumb:hover {
          background: #00649b;
      }
      
        .form-area{
            background-color: #eff3f6;
            padding: 30px 40px 10px;
            margin: 30px 0;
            position: relative;
            .form-group{
                margin-bottom:22px;
                .alert-msg {
                    font-size: 13px;
                    color: #e21b1b;
                    position: absolute;
                    display: none;
                }
            }
            
        }
        span.showonhover {
            .show-img{
                width: 75px;
                height: 75px;
                border-radius: 50%;
                position: absolute;
                top: -30px;
                left: -30px;
                object-fit: cover;
            }
           .user-img{
                background: #00649b;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                position: absolute;
                top: -30px;
                left: -30px;
                display: flex;
                align-items: center;
                justify-content: center;
                display: none;
                i{
                    color:#fff;
                    font-size: 30px;
                }
            }
        }
        .admin-view{
            background-color: #eff3f6;
            padding: 30px 40px 10px;
            margin: 30px 0;
            position: relative;
           p{
               span{
                   font-weight:500;
               }
           }
            
        }
    }
  
}
.content-page{
    .content{
        margin-bottom: 95px;
    }
}

.invalid-feedback {
    display: block;
    width: 100%;
    font-size: 80%;
    color: #dc3545;
    position: absolute;
    // margin-left: 15px;
    /* margin-top: 35px; */

}

.red-clr {
    color: red
}

.lang-work {
    flex-direction: row;
    display: flex;
  }
  span.bld-span {
    font-weight: 500;
    
  }