<div id="wrapper">
      <div class="content-page">
        <div class="content">
          <div class="page-content-wrapper">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-12">
                  <div class="page-title-box">
                    <div class="btn-group float-right">
                      <ol class="breadcrumb hide-phone p-0 m-0">
                        <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">The Pragmatic</a></li>
                        <li class="breadcrumb-item active">Care Reciever Management</li>
                      </ol>
                    </div>
                    <h4 class="page-title">Care Reciever Management</h4>
                  </div>
                </div>
              </div>
              <div class="row justify-content-md-between align-items-md-center">
                <div class="col-sm-12 col-md-6">
                  <div class="table_heading d-flex flex-column">
                    <h6 class="pb-3"><span>{{count}} </span> Total Recievers</h6>
                    <a [routerLink]="['/care-reciever-management/add-reciever']" class="btn-primary add-btn">Add
                      Reciever</a>
                  </div>
                </div>
                <div class="col-sm-12 col-md-5 pb-4">
                  <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                      aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                      <img src="./assets/images/search.png" alt="search">
                    </span>
                  </div>
                </div>
              </div>             
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive mt-md-0 mt-4" id="table">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="text-center">#</th>
                              <th style="width:15%">
                                <div class="text-center" style="width:140px;">Profile Image</div>
                              </th>
                              <th>
                                <div class="text-center" style="width:110px;">Name</div>
                              </th>
                              <th class="text-center">Email</th>
                              <th class="text-center">Phone</th>
                              <th class="text-center">Status</th>
                              <th class="text-center">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let receiver of receiverArray | paginate : {
                              itemsPerPage: pageSize,
                              currentPage: page,
                              totalItems: count
                            }; let i = index ">
                              <th class="text-center" scope="row">{{i + 1}}</th>
                              <td>
                                <img [defaultImage]="defaultImage" alt="" class="user_img" [lazyLoad]="receiver.profileimage" *ngIf="receiver.profileimage"/>
                                
                                <img src="./assets/images/profile.png" alt="" class="user_img d-flex mx-auto" *ngIf="!receiver.profileimage"> 
                              </td>
                              <td class="text-center">
                                <a [routerLink]="['/care-reciever-management/post-list', receiver._id]" title="View Post">
                                  {{ receiver.name && receiver.name != '' ? receiver.name : 'N/A'}}
                                </a>
                              </td>
                              <td class="text-center">{{receiver.email && receiver.email != '' ? receiver.email : 'N/A'}}</td>
                              <td class="text-center">{{receiver.mobileno && receiver.mobileno != '' ? receiver.mobileno : 'N/A'}}</td>
                              <td class="text-center">
                                <div class="status-show">
                                  <ui-switch [(ngModel)]="receiver.status" (changeEvent)="onChangeEvent(receiver)" title="active/deactive"></ui-switch>
                                </div>
                              </td>
                              <td>
                                <ul class="d-flex justify-content-center">
                                  <li (click)="editCareReceiver(receiver, i)">
                                    <a href="javascript:void(0)" class="btn-primary p-1" data-toggle="modal"
                                      data-target="#editadmin" title="edit">
                                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                  </li>
                                  <li (click)="ViewReceiver(receiver)">
                                    <a class="btn-success mx-2 p-1" href="javascript:void(0)" data-toggle="modal" data-target="#viewadmin" title="view">
                                      <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                  </li>
                                </ul>
                              </td>
                            </tr>

                            <tr>
                              <td *ngIf="receiverArray.length == 0" class="no-data" colspan="7">No data found</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <nav aria-label="Page navigation example">
                        <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="modal fade" id="editadmin" aria-labelledby="editadminLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editadminLabel">Edit Care Receiver</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closebutton>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-area">
              <form [formGroup]="editCareReceiverForm" (ngSubmit)="onSubmit()">
                <div class="admin-img">
                  <span class="showonhover">
                    <img [defaultImage]="defaultImage" alt="" class="show-img" [lazyLoad]="editCareReceiverForm.controls['profileimage'].value" *ngIf="editCareReceiverForm.controls['profileimage'].value"/>
                                
                    <img src="./assets/images/profile.png" alt="" class="show-img" *ngIf="!editCareReceiverForm.controls['profileimage'].value">
                    <div class="user-img"><i class="fa fa-camera" aria-hidden="true"></i></div>
                  </span>
                  <input id="selectfile" type="file" name="" style="display: none;" />
                </div>
                <div class="form-group">
                  <label for="name">Name <span class="red-clr">*</span></label>
                  <input type="text" class="form-control" id="name" placeholder="Enter Full Name" name="name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" >
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="name">Email <span class="red-clr">*</span></label>
                  <input class="form-control" type="text"  placeholder="Email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                      <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Phone">Phone <span class="red-clr">*</span></label>
                  <input type="tel" class="form-control" id="phone" placeholder="9876543210"  formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                  <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">Phone is required</div>
                    <div *ngIf="f.phone.errors.pattern">Please, Enter 10 digit Mobile Number.</div>

                  </div>
                </div>
                
                <div class="form-group">
                  <button type="submit" class="btn-primary w-50 add-btn" id="closeModal">Update</button>
                </div>
              </form>
            </div>
          </div>
  
        </div>
      </div>
    </div>

    <div class="modal fade" id="viewadmin" tabindex="-1" aria-labelledby="viewadminLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="viewadminLabel">View Care Receiver</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="admin-view">
              <div class="admin-img">
                <span class="showonhover">
                  <img [defaultImage]="defaultImage" alt="" class="show-img" [lazyLoad]="receiverDetail.profileimage" *ngIf="receiverDetail.profileimage"/>
                                
                  <img src="./assets/images/profile.png" alt="" class="show-img" *ngIf="!receiverDetail.profileimage">
                  </span>
              </div>
              <p><span>Name: </span> {{receiverDetail?.name ? receiverDetail?.name : 'N/A'}}</p>
              <p><span>Email: </span> {{receiverDetail?.email ? receiverDetail?.email : 'N/A'}}</p>
              <p><span>Phone Number: </span> {{receiverDetail?.mobileno ? receiverDetail?.mobileno : 'N/A'}}</p>
              <p><span> Health Problem: </span>{{ receiverDetail?.healthanddetails ? receiverDetail?.healthanddetails?.any_health_prob : 'N/A'}}</p>
              <!-- <p><span> Allergy: </span>{{ receiverDetail?.healthanddetails ? receiverDetail?.healthanddetails?.any_allergies_text: 'N/A'}}</p> -->
              <!-- <p><span>Intolerance:</span>None</p> -->
              <p><span>Religious preference: </span>{{receiverDetail?.religions ? receiverDetail?.religions?.religion :'N/A'}}</p>
              <div class="lang-work"><span class="bld-span">Languages spoken: </span><p *ngIf="receiverLanguage.length == 0">{{'N/A'}}</p><p *ngFor =" let language of receiverLanguage; last as isLast">{{language.language}} <span *ngIf="!isLast">,</span></p></div>
              <!-- <p><span>Dietary requirements:</span>None</p> -->
              <!-- <p><span>Food:</span> Kenyan cuisine</p> -->
              <!-- <p><span>Hair Type: </span>{{receiverDetail?.hairandgroomings ? receiverDetail?.hairandgroomings?.hair : 'N/A'}}</p> -->
              <p><span>Customs & Traditions: </span>{{receiverDetail?.customsandtraditions ?  receiverDetail?.customsandtraditions?.custom_tradition: 'N/A'}}</p>
              <p><span> Special occasions and holidays: </span> {{ receiverDetail?.specialoccasionholidays ? receiverDetail?.specialoccasionholidays?.occasions_holidays : 'N/A'}}</p>
              <!-- <p><span>Gender preference: </span> {{receiverDetail?.gender ? receiverDetail?.gender : 'N/A'}}</p> -->
              <!-- <p><span>Ethnic preference:</span></p> -->
              <!-- <p><span>Sexual orientation preference:</span></p> -->
              <!-- <p><span>Disability:</span></p> -->
            </div>
          </div>
  
        </div>
      </div>
    </div>
  