ul.car_company_model {
    list-style: none;
    padding: 0;
    margin: 10px 0px;
}

.car_company_model li{
    width: 100%;
    display: inline-block;
}
.car_company_model span{
    margin: 0px 5px;
}