.project-box{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px hsl(0deg 0% 87% / 46%);
    transition: .2s ease;
    position: relative;
    margin: 15px;
    flex: 0 25%;
    text-align: center;
    padding: 20px;
    i{
        line-height: 50px;
        color: #e1e4fb;
        width: 40px;
        height: 40px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #5b6be8;
        text-align: center;
        border-radius: 50%;
        margin: 0 auto 20px;
        background: #5b6be8;
    }

}