<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
      <div class="content">
        <app-header></app-header>
        <div class="page-content-wrapper">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="page-title-box">
                  <div class="btn-group float-right">
                    <ol class="breadcrumb hide-phone p-0 m-0">
                      <li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Dashboard</a></li>
                      <li class="breadcrumb-item active">Manage Content</li>
                    </ol>
                  </div>
                  <h4 class="page-title">Manage Content</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-lg-3 px-0">
                <div class="project-box"> <a [routerLink]="['/content']">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  <p>About Us</p></a>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3 px-0">
                <div class="project-box"> <a [routerLink]="['/term-conditions']">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                  <p>Terms and Privacy Policy</p></a>
                </div>
              </div>
  
            </div>
  
  
  
  
            <!-- <app-loader></app-loader> -->
          </div>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
  